openapi: 3.2.0
info:
  title: Viator API Documentation & Specification – Merchant…
  description: 'code { white-space: nowrap; }

    a { font-weight: bold; }


    figure {

    width: 100%;

    text-align: center;

    font-style: italic;

    font-size: smaller;

    text-indent: 0;

    border: thin silver solid;

    margin: 0.5em;

    padding: 0.5em;

    }


    ## Updates


    ### Latest update:


    | Date | Description |

    |------|-------------|

    | 23 Feb 2023 | Modified ''Building in the sandbox environment'' section of the Selling on-request products section |

    | 16 Nov 2022 | Mentioned need to verify whether a particular tour grade offers pickup…'
  version: 1.0.0
  contact:
    name: Viator Partner Support Team
    url: https://docs.viator.com/partner-api/merchant/#support-procedures-merchant/
    email: affiliateapi@tripadvisor.com
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au
servers:
- url: https://viatorapi.viator.com/service
  description: Production server (uses live data)
- url: https://viatorapi.sandbox.viator.com/service
  description: Sandbox server (uses test data)
security:
- API-key: []
- Legacy-API-key: []
tags:
- name: Booking services
  description: Booking services
paths:
  /booking/availability:
    post:
      tags:
      - Booking services
      summary: /booking/availability
      operationId: bookingAvailability
      description: 'Get the tour-grade with the lowest price that is available for a product on each day of the specified month


        This service:

        - returns the tour grade with the lowest price that is available for each day

        - is useful when displaying a calendar of available tours


        For more information, see: Availability services


        **Notes:**

        - /booking/availability/dates provides all availability in one call and is more suitable for calendars, etc.

        - Availability data is limited to a period of **12 months** into the future from the present time on the production server and **6 months** on the sandbox server.'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            example:
              productCode: 5010SYDNEY
              currencyCode: AUD
              month: '12'
              year: '2020'
              ageBands:
              - bandId: 1
                count: 1
            schema:
              type: object
              properties:
                productCode:
                  type: string
                  description: '**unique alphanumeric identifier** of the product for which you wish to retrieve tour grade availability information'
                currencyCode:
                  type: string
                  description: '**currency code** for the currency in which to display tour grade pricing information'
                month:
                  type: string
                  description: '**month component** (text format) of the start of the date range for which to retrieve tour grade availability information (must be in the future)'
                year:
                  type: string
                  description: '**year component** (text format) of the start of the date range for which to retrieve tour grade availability information (must be in the future)'
                ageBands:
                  type: array
                  description: '**array of objects** specifying the age bands by which to to filter search results'
                  items:
                    type: object
                    properties:
                      bandId:
                        $ref: '#/components/schemas/ageBandId'
                      count:
                        type: integer
                        description: '**number of people** in *this* age band'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      description: '**object** detailing available tourgrades for the specified age bands and date range for this product'
                      properties:
                        productCode:
                          type: string
                          description: '**unique alphanumeric identifer** of the product that was specified in the request'
                        firstAvailableDate:
                          type: string
                          description: '**first available date** (in plain text format) for the tour grade'
                        lastAvailableDate:
                          type: string
                          description: '**last available date** for the tour grade'
                        availability:
                          type: array
                          description: '**array** of tour grade availability objects'
                          items:
                            type: object
                            properties:
                              sortOrder:
                                type: integer
                                description: '**sort order** of this tour grade availability object'
                              bookingDate:
                                type: string
                                description: '**date** on which *this* tour grade is available to be booked'
                              available:
                                type: boolean
                                description: '**indicator** - `true` if *this* tour grade is available to book'
                              currencyCode:
                                type: string
                                description: '**currency code** of the currency in which product pricing is displayed'
                              retailPrice:
                                type: number
                                description: '**numeric suggested retail price** for *this* tour grade

                                  - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                  '
                              gradeCode:
                                type: string
                                description: '**alphanumeric identifier** for *this* tour grade'
                              unavailableReason:
                                type: string
                                description: '**natural-language explanation** as to why *this* tour grade is not available to be booked'
                              retailPriceFormatted:
                                type: string
                                description: '**currency-formatted suggested retail price** for *this* tour grade

                                  - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                  '
                              merchantNetPrice:
                                type: number
                                description: '**numeric merchant net rate** for *this* tour grade

                                  - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                  '
                              merchantNetPriceFormatted:
                                type: string
                                description: '**currency-formatted merchant net rate** for *this* tour grade

                                  - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                  '
              examples:
                '1':
                  $ref: '#/components/examples/booking-availability-example'
  /booking/availability/dates:
    get:
      tags:
      - Booking services
      summary: /booking/availability/dates
      operationId: bookingAvailabilityDates
      description: 'Get dates on which a product is available


        This service:

        - retrieves all available dates for a product, excluding days it does not operate and blocked-out dates

        - returns a multi-dimensional array of year-month -> days that have any availabile tour grade or traveler mix

        - useful to present the user with a list of dates for selection on which *this* product is available for booking

        - **Notes**:


        - The user''s desired traveler mix may not be eligible for booking; these details can be displayed when you retrieve its list of tour grades

        - Availability data is limited to a period of **12 months** into the future from the present time on the production server and **6 months** on the sandbox server.'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/productCode'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      description: '**dictionary** of month identifiers (e.g., `''2018-12''`) to an array of days-of-the-month (text) specifying which days of the specified month *this* product is available to be booked"

                        - **Note**: see response sample for object structure

                        '
                      additionalProperties:
                        type: array
                        items:
                          type: string
              examples:
                '1':
                  $ref: '#/components/examples/booking-availability-dates-example'
  /booking/availability/tourgrades:
    post:
      tags:
      - Booking services
      summary: /booking/availability/tourgrades
      operationId: bookingAvailabilityTourgrades
      description: 'Get the tour grades of a product that are currently available


        This service reports:

        - all tour grades for the specified product, on the specified day, that are available for the specified age bands

        - the pricing breakdown and the total depending on the travel date and traveler mix


        **Note**: Availability data is limited to a period of **12 months** into the future from the present time on the production server and **6 months** on the sandbox server.'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            example:
              productCode: 5010SYDNEY
              currencyCode: AUD
              bookingDate: '2020-12-28'
              ageBands:
              - bandId: 1
                count: 1
            schema:
              type: object
              properties:
                productCode:
                  type: string
                currencyCode:
                  type: string
                  description: '**currency code** for the currency in which to display pricing information'
                bookingDate:
                  type: string
                  description: '**date** to enquire about available tour grades for *this* product (must be in the future)'
                ageBands:
                  type: array
                  description: '**array** of ageBand objects'
                  items:
                    type: object
                    properties:
                      bandId:
                        $ref: '#/components/schemas/bandId'
                      count:
                        type: integer
                        description: '**numeric count** of number of travelers in *this* age band'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          sortOrder:
                            type: integer
                            description: '**sort order** for *this* tour grade availability object'
                          bookingDate:
                            type: string
                            description: '**date** on which *this* tour grade operates'
                          ageBands:
                            type: array
                            description: '**array** of age band objects describing the age bands and respective passenger counts allowed to book *this* tour grade; `null` if `ageBandsRequired` is filled and `available` is `false`'
                            items:
                              type: object
                              properties:
                                bandId:
                                  $ref: '#/components/schemas/bandId'
                                count:
                                  type: integer
                                  description: numeric count of number of travelers in this age band
                                bandTotal:
                                  type: number
                                  description: total price (numeric) for all travelers in this age band
                                pricePerTravelerFormatted:
                                  type: string
                                  description: total price (currency-formatted) per traveler in this age band
                                pricePerTraveler:
                                  type: number
                                  description: total price (numeric) per traveler in this age band
                                bandTotalFormatted:
                                  type: string
                                  description: total price (currency-formatted) for all travelers in this age band
                                currencyCode:
                                  type: string
                                  description: currency code for the currency in which the prices in this object are denominated
                          ageBandsRequired:
                            type: array
                            description: '**array of arrays** of age band objects describing the traveler mixes eligible to book *this* tour grade; `null` if `ageBands` is filled and `available` is `true`

                              - **note**: multiple objects; structure will depend on available tour grades – see response sample for an example, but the exact result you receive will differ

                              '
                            items:
                              type: array
                              items:
                                type: object
                                properties:
                                  bandId:
                                    $ref: '#/components/schemas/bandId'
                                  minimumCountRequired:
                                    description: '**minimum number** of passengers from *this* age band required for *this* tour grade'
                                    type: integer
                                  maximumCountRequired:
                                    type: integer
                                    description: '**maximum number** of passengers from *this* age band allowable for *this* tour grade'
                          langServices:
                            description: '**object** detailing language services available for *this* product (will be `null` if `available` is `false`)'
                            type: object
                          gradeCode:
                            type: string
                            description: '**alphanumeric identifier** of *this* tour grade'
                          unavailableReason:
                            type: string
                            description: '**enum specifier of reason for product unavailability** (will be `null` if `available` is `true`)'
                          gradeTitle:
                            type: string
                            description: '**natural-language title** of the tour grade'
                          gradeDepartureTime:
                            type: string
                            description: '**time** of *this* product'
                          gradeDescription:
                            type: string
                            description: '**natural-language description** of the tour grade'
                          defaultLanguageCode:
                            type: string
                            description: '**language code for standard language** for *this* product'
                          available:
                            type: boolean
                            description: '**indicator** - `true` if this tour grade is available to be booked according to the traveler mix specified'
                          retailPrice:
                            type: number
                            description: '**numeric suggested retail price** for *this* tour grade

                              **Note**: will be `0` if `available` is `false`

                              - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                              '
                          retailPriceFormatted:
                            type: string
                            description: '**currency-formatted suggested retail price** for *this* tour grade

                              **Note**: (will be '''' if `available` is `false`)

                              - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                              '
                          merchantNetPrice:
                            type: number
                            description: '**numeric merchant net rate** for *this* tour grade

                              **Note**: will be `0` if `available` is `false`

                              - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                              '
                          merchantNetPriceFormatted:
                            type: string
                            description: '**currency-formatted merchant net rate** for *this* tour grade

                              **Note**: will be empty if `available` is `false`

                              - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                              '
                          currencyCode:
                            type: string
                            description: '**currency code for the specified currency** (will be `''ERROR''` if `available` is `false`)'
              examples:
                '1':
                  $ref: '#/components/examples/booking-availability-tourgrades-example'
  /booking/availability/tourgrades/pricingmatrix:
    post:
      tags:
      - Booking services
      summary: /booking/availability/tourgrades/pricingmatrix
      operationId: bookingAvailabilityTourgradesPricingmatrix
      description: 'Get a pricing matrix that includes availability and tour-grades for a product


        Given a month, this service returns days with available tour grades only (i.e., days which have at least one tourgrade available), and the pricing matrix for that tour grade for that day.


        - **Note**: Availability data is limited to a period of **12 months** into the future from the present time on the production server and **6 months** on the sandbox server.'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            example:
              productCode: 2280AAHT
              currenctCode: USD
              month: '12'
              year: '2020'
            schema:
              type: object
              properties:
                productCode:
                  type: string
                  description: '**alphanumeric identifier** of product about which to retrieve tour grade and pricing information'
                currencyCode:
                  type: string
                  description: '**currency code** for the currency in which to display pricing details'
                month:
                  type: string
                  description: '**month of year** (as text) by which to filter results (must be in the future)'
                year:
                  type: string
                  description: '**year** (as text) by which to filter results (must be in the future)'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        bookingMonth:
                          type: string
                          description: '**month of year** (as text) by which to filter results'
                        pricingUnit:
                          type: string
                          description: '**natural-language label** for the pricing terms of this tour grade

                            - see [Understanding the pricingUnit field](#section/Using-the-API/Understanding-the-pricingUnit-field) for more information

                            '
                        dates:
                          type: array
                          description: '**array of tour grade pricing objects** each detailing availability on a single day'
                          items:
                            type: object
                            properties:
                              sortOrder:
                                type: integer
                                description: '**sort order** for *this* tour grade pricing object'
                              bookingDate:
                                type: string
                                description: '**date** on which *this* product operates'
                              tourGrades:
                                type: array
                                description: '**array** of tour grade pricing information objects'
                                items:
                                  type: object
                                  properties:
                                    sortOrder:
                                      description: '**sort order** for *this* tour grade pricing object'
                                      type: integer
                                    gradeCode:
                                      type: string
                                      description: '**alphanumeric identifier** of the tour grade'
                                    gradeTitle:
                                      type: string
                                      description: '**title of tour grade**'
                                    pricingMatrix:
                                      type: array
                                      description: '**array of pricing objects** for *this* tour grade'
                                      items:
                                        type: object
                                        properties:
                                          sortOrder:
                                            type: integer
                                            description: '**sort order** for *this* pricing object'
                                          pricingUnit:
                                            type: string
                                            description: '**natural-language description** of the pricing mode

                                              - see [Understanding the pricingUnit field](#section/Using-the-API/Understanding-the-pricingUnit-field) for more information

                                              '
                                          bookingDate:
                                            type: string
                                            description: '**date** on which *this* product operates'
                                          ageBandPrices:
                                            type: array
                                            description: '**array** of pricing objects by age band'
                                            items:
                                              type: object
                                              properties:
                                                bandId:
                                                  $ref: '#/components/schemas/bandId'
                                                prices:
                                                  type: array
                                                  description: '**array** of pricing detail objects'
                                                  items:
                                                    type: object
                                                    properties:
                                                      sortOrder:
                                                        type: integer
                                                        description: '**sort order** *this* pricing detail object'
                                                      currencyCode:
                                                        type: string
                                                        description: '**currency code** of the currency in which pricing details are displayed'
                                                      price:
                                                        description: '**numeric suggested retail price** for *this* age band

                                                          - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                                          '
                                                        type: number
                                                      minNoOfTravellersRequiredForPrice:
                                                        type: integer
                                                      priceFormatted:
                                                        type: string
                                                        description: '**currency-formatted suggested retail price** for *this* age band

                                                          - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                                          '
                                                        example: '799'
                                                      merchantNetPrice:
                                                        type: number
                                                        description: '**numeric merchant net rate** for *this* age band

                                                          - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                                          '
                                                      merchantNetPriceFormatted:
                                                        type: string
                                                        description: '**currency-formatted merchant net rate** for *this* age band

                                                          - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                                          '
                                                sortOrder:
                                                  type: integer
                                                  description: '**sort order** for *this* tour grade'
                                                minimumCountRequired:
                                                  description: '**minimum number** of participants required for *this* tour grade'
                                                  type: integer
                                                maximumCountRequired:
                                                  type: integer
                                                  description: '**maximum number** of participants allowed for *this* tour grade'
                              callForLastMinAvailability:
                                type: boolean
                                description: ignore (Viator only)
              examples:
                '1':
                  $ref: '#/components/examples/booking-availablility-tourgrades-pricingmatrix-example'
  /booking/calculateprice:
    post:
      tags:
      - Booking services
      summary: /booking/calculateprice
      operationId: bookingCalculateprice
      description: 'Confirm the price of a tour / activity prior to booking


        For more information, see: Calculating prices


        - **Note**: Availability and pricing data is limited to a period of **six months** into the future from the present time'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            example:
              currencyCode: USD
              items:
              - travelDate: 2022-6-28
                productCode: 75659P1
                tourGradeCode: TG1~05:30
                travellers:
                - bandId: 1
                - bandId: 1
            schema:
              type: object
              properties:
                currencyCode:
                  type: string
                  description: '**currency code** for the currency in which to display pricing details'
                items:
                  type: array
                  description: '**array** of travel detail objects'
                  items:
                    type: object
                    properties:
                      travelDate:
                        type: string
                        description: '**date** for which to calculate the total price (must be in the future)'
                      productCode:
                        type: string
                        description: '**unique alphanumeric identifier** of the product the total price for which you which to calculate'
                      tourGradeCode:
                        type: string
                        description: '**alphanumeric identifier** for the tour grade for which to calculate the total price'
                      travellers:
                        type: array
                        description: '**array of objects** detailing the age bands for which to calculate the total price'
                        items:
                          type: object
                          properties:
                            bandId:
                              $ref: '#/components/schemas/bandId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        rulesApplied:
                          description: ignore (Viator only)
                          type: array
                          items:
                            type: string
                        promoCode:
                          type: string
                          description: ignore (Viator only)
                        itinerary:
                          type: object
                          description: '**summary results** for all itinerary items'
                          properties:
                            sortOrder:
                              type: integer
                              description: '**sort order** for *this* itinerary'
                            rulesApplied:
                              type: array
                              description: ignore (Viator only)
                              items:
                                type: string
                            omniPreRuleList:
                              type: integer
                              description: ignore (Viator only)
                            bookingStatus:
                              $ref: '#/components/schemas/bookingStatus_itinerary'
                            itemSummaries:
                              type: array
                              description: '**array** of item summaries'
                              items:
                                type: object
                                properties:
                                  sortOrder:
                                    type: integer
                                    description: '**sort-order** of *this* item summary'
                                  rulesApplied:
                                    type: array
                                    description: '**array** of rules applied to *this* item'
                                    items:
                                      type: string
                                  bookingStatus:
                                    $ref: '#/components/schemas/bookingStatus_item'
                                  travellerAgeBands:
                                    type: array
                                    description: '**array** of age-band objects'
                                    items:
                                      type: object
                                      properties:
                                        sortOrder:
                                          type: integer
                                          description: '**sort order** for *this* age band'
                                        count:
                                          type: integer
                                          description: '**number of travelers in *this* age band'
                                        description:
                                          type: string
                                          description: '**natural-language** description (singular) of *this* age band'
                                        pluralDescription:
                                          type: string
                                          description: '**natural-language** description (plural) of *this* age band'
                                        ageBandId:
                                          $ref: '#/components/schemas/ageBandId'
                                  voucherKey:
                                    type: string
                                    description: Unique reference for the voucher for this booking that can be used as a request parameter to search for existing bookings using the [/booking/mybookings](#operation/bookingMybookings) and [/booking/pastbooking](#operation/bookingPastbooking) endpoints
                                  voucherURL:
                                    type: string
                                    description: '**URL of the voucher** for *this* product (if available). The customer can access this URL to retrieve their voucher.'
                                  voucherRequirements:
                                    type: string
                                    description: '**natural-language description** of the voucher requirements for this tour (**note:** Should agree with value in `voucherOption` field)'
                                  productPulledDown:
                                    description: ignore (Viator only)
                                    type: boolean
                                  merchantCancellable:
                                    type: boolean
                                    description: 'ignore (Viator only)


                                      For cancellation information regarding the booking, please refer to the `merchantTermsAndConditions` object

                                      '
                                  productWidgetList:
                                    description: ignore (Viator only)
                                    type: string
                                  savingAmount:
                                    $ref: '#/components/schemas/savingAmount'
                                  applePassSupported:
                                    type: boolean
                                    description: ignore (Viator only)
                                  supplierName:
                                    type: string
                                    description: '**natural-language name** of *this* product''s supplier'
                                  supplierPhoneNumber:
                                    type: string
                                    description: '**telephone number** of the supplier'
                                  vouchers:
                                    type: string
                                    description: ignore (Viator only)
                                  passbooks:
                                    type: string
                                    description: ignore (Viator only)
                                  termsAndConditions:
                                    description: ignore (Viator only)
                                    type: string
                                  distributorItemRef:
                                    type: string
                                    description: ignore (Viator only)
                                  startingTime:
                                    type: string
                                    description: '**starting time** of the tour in the supplier''s local time zone'
                                  languageServicesLanguageCode:
                                    type: string
                                    description: ignore (Viator only)
                                  price:
                                    description: '**numeric suggested retail price** for *this* product

                                      - For more information, see: [Merchant pricing](#section/Key-concepts/Merchant-pricing)

                                      '
                                    type: number
                                  productCode:
                                    type: string
                                    description: '**unique alphanumeric identifier** of *this* product'
                                  travelDate:
                                    type: string
                                    description: '**date** on which *this* product will operate (in the supplier''s local time zone)'
                                  leadTravellerFirstname:
                                    type: string
                                    description: ignore (Viator only)
                                  tourGradeCode:
                                    type: string
                                    description: '**alphanumeric specifier** of the tour grade'
                                  leadTravellerSurname:
                                    type: string
                                    description: ignore (Viator only)
                                  lastRetailPrice:
                                    type: number
                                    description: ignore (Viator only)
                                  leadTravellerTitle:
                                    type: string
                                    description: '**title** of the lead traveler''s name'
                                  itineraryId:
                                    type: integer
                                    description: ignore (Viator only)
                                  productTitle:
                                    type: string
                                    description: '**natural-language title** of *this* product'
                                  itemId:
                                    type: integer
                                    description: ignore (Viator only)
                                  priceFormatted:
                                    type: string
                                    description: '**currency-formatted suggested retail price** for *this* product

                                      - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                      '
                                  destId:
                                    type: integer
                                    description: '**unique numeric id** of the destination associated with *this* product'
                                  voucherOption:
                                    type: string
                                    description: '**alphanumeric specifier** of the relevant voucher option'
                                  barcodeOption:
                                    type: string
                                    description: Indicates whether a voucher is required for each passenger; or, whether the requirement is one voucher per group booking.
                                  barcodeType:
                                    type: string
                                    description: '**alphanumeric specifier** of the barcode type'
                                  departurePoint:
                                    type: string
                                    description: '**HTML-formatted description** of *this* product''s departure location(s)'
                                  departurePointAddress:
                                    type: string
                                    description: '**HTML-formatted description** of *this* product''s departure address'
                                  departurePointDirections:
                                    type: string
                                    description: '**HTML-formatted descriptive notes** about *this* product''s departure location'
                                  obfsId:
                                    type: integer
                                    description: ignore (Viator only)
                                  savingAmountFormated:
                                    $ref: '#/components/schemas/savingAmountFormated'
                                  bookingEngineId:
                                    $ref: '#/components/schemas/bookingEngineId-response'
                                  merchantNetPrice:
                                    type: number
                                    description: '**numeric merchant net rate** for *this* product

                                      - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                      '
                                  merchantNetPriceFormatted:
                                    type: string
                                    description: '**currency-formatted merchant net rate** for *this* product

                                      - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                      '
                                  lastRetailPriceFormatted:
                                    type: string
                                    description: '**currency-formatted most recent retail price** for *this* item'
                                  departsFrom:
                                    type: string
                                    description: '**natural-language description** of *this* item''s general departure location'
                                  tourGradeDescription:
                                    type: string
                                    description: '**natural-language description** of *this* item''s tour grade'
                                  pickupHotelId:
                                    type: integer
                                    description: ignore (Viator only)
                                  pickupHotelName:
                                    type: string
                                    description: ignore (Viator only)
                                  hoursConfirmed:
                                    type: integer
                                    description: 'The `hoursConfirmed` field also indicates if the product is freesale or on request. The `hoursConfirmed` value is the approximate window for confirmation in hours, which can be presented to the customer. A value of `0` means that the product is **freesale**, and a value greater than `0` means that the product is **on-request**.

                                      '
                                  priceUSD:
                                    type: number
                                    description: '**numeric price of *this* product** in USD'
                                  currencyCode:
                                    type: string
                                    description: '**currency code** for the currency in which pricing details are displayed'
                            voucherURL:
                              type: string
                              description: '**URL of the voucher** for *this* product (if available). The customer can access this URL to retrieve their voucher.'
                            securityToken:
                              type: string
                              description: ignore (Viator only)
                            paypalRedirectURL:
                              type: string
                              description: ignore (Viator only)
                            userId:
                              type: integer
                              description: ignore (Viator only)
                            itineraryId:
                              type: integer
                              description: '**numeric identifier** for *this* order'
                            exchangeRate:
                              type: integer
                              description: ignore (Viator only)
                            bookingDate:
                              type: string
                              description: '**date** of *this* booking'
                            voucherKey:
                              type: string
                              description: Unique reference for the voucher for this booking that can be used as a request parameter to search for existing bookings using the [/booking/mybookings](#operation/bookingMybookings) and [/booking/pastbooking](#operation/bookingPastbooking) endpoints
                            bookerEmail:
                              type: string
                              description: ignore (Viator only)
                            distributorRef:
                              type: string
                              description: ignore (Viator only)
                            totalPrice:
                              type: number
                              description: '**numeric total price (total)** for *this* order

                                - For more information, see: [Merchant pricing](#section/Key-concepts/Merchant-pricing)

                                '
                            totalPriceFormatted:
                              type: string
                              description: '**currency-formatted total price (including transaction fee)** for *this* order

                                - For more information, see: [Merchant pricing](#section/Key-concepts/Merchant-pricing)

                                '
                            totalPriceUSD:
                              type: number
                              description: '**numeric total price** of *this* order in USD'
                            hasVoucher:
                              type: boolean
                              description: ignore (Viator only)
                            currencyCode:
                              type: string
                              description: '**specifier** of the currency in which pricing details are displayed'
                        paymentGatewayInfo:
                          type: string
                          description: ignore (Viator only)
                        promoCodeValid:
                          type: boolean
                          description: ignore (Viator only)
                        promoCodeExpired:
                          type: boolean
                          description: ignore (Viator only)
                        itineraryFromPrice:
                          type: number
                          description: ignore (Viator only)
                        itineraryFromPriceFormatted:
                          type: string
                          description: ignore (Viator only)
                        itineraryNewPrice:
                          type: number
                          description: ignore (Viator only)
                        itineraryNewPriceFormatted:
                          type: string
                          description: ignore (Viator only)
                        itinerarySaving:
                          type: integer
                          description: ignore (Viator only)
                        itinerarySavingFormatted:
                          type: string
                          description: ignore (Viator only)
                        hasPromoCode:
                          type: boolean
                          description: ignore (Viator only)
                        currencyCode:
                          type: string
                          description: '**specifier of the currency** in which pricing details are displayed'
              examples:
                '1':
                  $ref: '#/components/examples/booking-calculateprice-example'
  /booking/hotels:
    get:
      tags:
      - Booking services
      summary: /booking/hotels
      operationId: bookingHotels
      description: 'Get hotel pick-ups

        Lists the hotel pickups available for either a product or a destination'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/productCode'
      - $ref: '#/components/parameters/destId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      description: '**array** of hotel pick-up objects'
                      items:
                        type: object
                        properties:
                          address:
                            type: string
                            description: '**natural-language address** of hotel pick-up point'
                          name:
                            type: string
                            description: '**natural-language name** of hotel pick-up point'
                          id:
                            type: string
                            description: '**identifier** of *this* hotel pick-up point`'
                          phone:
                            type: string
                            description: '**phone number** of *this* hotel pick-up point'
                          productCodes:
                            type: array
                            description: '**array** of product codes pertaining to *this* hotel pick-up point'
                            items:
                              type: string
                          destinationId:
                            type: integer
                            description: '**unique numeric identifer** of the destination that *this* hotel pick-up point pertains to'
                          city:
                            type: string
                            description: '**natural-language name** of the destination that *this* hotel pick-up point pertains to'
                          notes:
                            type: string
                            description: '**natural-language notes** about *this* hotel pick-up point'
                          latitude:
                            type: number
                            description: '**numeric latitude component** of *this* hotel pick-up point''s geolocation'
                          longitude:
                            type: number
                            description: '**numeric longitude component** of *this* hotel pick-up point''s geolocation'
                          postcode:
                            type: string
                            description: '**post code** of *this* hotel pick-up point'
                          brand:
                            type: string
                            description: ignore (Viator only)
                          hotelString:
                            type: string
                            description: ignore (Viator only)
                          sortOrder:
                            type: integer
                            description: '**sort-order** of *this* hotel pick-up point'
              examples:
                '1':
                  $ref: '#/components/examples/booking-hotels-example-1'
                '2':
                  $ref: '#/components/examples/booking-hotels-example-2'
  /booking/book:
    post:
      tags:
      - Booking services
      summary: /booking/book
      operationId: bookingBook
      description: 'Make a booking


        **Note**:

        - This endpoint is only available to merchant partners.

        - The amount that you will be invoiced for the sale of this tour (in the specified currency) is given in the `totalPrice` element in the response from this endpoint.

        - As some products are booked on external supplier systems, it may take > 90s to receive a response from this endpoint. For this reason, we recommend setting your internal time-out for this service to **120s**. In the event that this service does time-out, or you receive a HTTP 500 error, you should check the status of the booking using the /booking/status endpoint to ensure the booking was not created before you attempt to make the booking again.


        For more information, see:


        - Cancellation policy

        - Booking concepts

        - Booking process flow

        - Making a booking

        - Supplier communications'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            examples:
              single_traveler:
                value:
                  demo: true
                  currencyCode: USD
                  partnerDetail:
                    distributorRef: distributorRef100000
                  booker:
                    email: apitest@viator.com
                    homePhone: +61 8 83798517
                    firstname: Homer test
                    surname: Simpson test
                    title: Mr
                    cellPhoneCountryCode: '+61'
                    cellPhone: '0411041041'
                  items:
                  - partnerItemDetail:
                      distributorItemRef: itemRef1000000
                    hotelId: '1091770'
                    pickupPoint: null
                    travelDate: '2020-12-31'
                    productCode: 2280AAHT
                    tourGradeCode: TG1~08:00
                    languageOptionCode: en/SERVICE_GUIDE
                    bookingQuestionAnswers:
                    - questionId: 23
                      answer: 70 kgs
                    specialRequirements: ''
                    travellers:
                    - bandId: 1
                      firstname: Homer test
                      surname: Simpson test
                      title: Mr
                      leadTraveller: true
              per_person_booking_questions:
                value:
                  demo: true
                  currencyCode: USD
                  partnerDetail:
                    distributorRef: distroRef34398534535
                  booker:
                    email: apitest@viator.com
                    firstname: Homer Test
                    surname: Simpson Test
                    title: Mr
                  items:
                  - partnerItemDetail:
                      distributorItemRef: distroItemRef8348234535_1
                    hotelId: null
                    pickupPoint: null
                    travelDate: '2020-12-30'
                    productCode: 100022P1
                    tourGradeCode: TG1
                    languageOptionCode: en/SERVICE_GUIDE
                    bookingQuestionAnswers:
                    - questionId: 5
                      answer: 0123456789, 9876543210
                    - questionId: 4
                      answer: Australia, Fiji
                    - questionId: 3
                      answer: 01 July 2022, 31 May 2022
                    specialRequirements: ''
                    travellers:
                    - bandId: 1
                      firstname: Homer1
                      surname: Simpson Test
                      title: Mr
                      leadTraveller: true
                    - bandId: 1
                      firstname: Homer2
                      surname: Simpson Test
                      title: Mr
                      leadTraveller: true
            schema:
              type: object
              properties:
                demo:
                  type: boolean
                  description: '**specifier**: `true` if this is a *demo* booking only (demos do not send any notifications, are automatically confirmed and OnRequest products become freesale products. Default value is true. Production must have `demo` set to `false`.'
                currencyCode:
                  type: string
                  description: '**currency code** for the currency the booking will be submitted in (you will be billed in this currency)'
                partnerDetail:
                  type: object
                  description: 'Applicable only for extra partner detail for either partner or merchant partner for sending partner specific information

                    '
                  properties:
                    distributorRef:
                      type: string
                      description: '**unique alphanumeric reference code** for the distributor

                        - Merchant API partners must pass a `distributorRef` at the order (A.K.A. ''itinerary'') level in the `partnerDetail` object. The `distributorRef` passed must be alphanumeric and unique to bookings made by the merchant.

                        - Passing an existing `distributorRef`: If an existing `distributorRef` is passed, the booking with the matching `distributorRef` will be returned in the response and a new booking will not be made. The fields in the response are identical to the response for a new booking.

                        '
                booker:
                  type: object
                  description: '**object** containing details about the primary contact (**note**: this contact needn''t be a traveller)'
                  required:
                  - firstname
                  - surname
                  properties:
                    email:
                      type: string
                      description: '**email address** of the primary contact'
                    homePhone:
                      type: string
                      format: ^[+](?s).*[\S].*
                      description: "**phone number** (home) of the primary contact\n**Note**: \n\n  - Must be included to enable CLC communications\n  - You must perform some additional validation to ensure that this field is correctly formatted prior to sending the booking request. It is essential that this string include the plus (`+`) symbol at the beginning, followed by the country code, followed by the remaining numerals. Spaces, hyphens and parentheses can be included or omitted, but the string must start with the plus symbol and country code; e.g. `+61 400 580 860`\n  - See [Supplier communications](#section/Key-concepts/Supplier-communications) for more information\n"
                    firstname:
                      type: string
                      minLength: 1
                      maxLength: 50
                      description: '**first name** of the primary contact

                        '
                    surname:
                      type: string
                      minLength: 1
                      maxLength: 50
                      description: '**surname** of the primary contact'
                    title:
                      type: string
                      description: '**title** of the primary contact'
                    cellPhoneCountryCode:
                      type: string
                      format: ^[+](\d[^A-z]*?)$
                      description: "**country code** for the telephone number of the lead traveler\n\n**Note**: \n\n  - Must be included to enable CLC communications \n  - This string **must** include the plus (`+`) symbol at the beginning, followed by the remaining numerals.\n  - See [Supplier communications](#section/Key-concepts/Supplier-communications) for more information\n"
                    cellPhone:
                      type: string
                      description: "**telephone number** of the lead traveler\n\n**Note**:\n\n  * Must be included to enable CLC communications\n  * See [Supplier communications](#section/Key-concepts/Supplier-communications) for more information\n"
                items:
                  type: array
                  description: '**array** of items to be booked'
                  items:
                    type: object
                    properties:
                      partnerItemDetail:
                        type: object
                        description: '**object** containing partner details at a per-item level'
                        properties:
                          distributorItemRef:
                            type: string
                            description: '**unique alphanumeric code** for the order (''itinerary'') (merchant API partners must pass a `distributorItemRef` into the `partnerItemDetails` object for each item in *this* object

                              - this code can be any alphanumeric string and is defined by the distributor

                              '
                      hotelId:
                        type: string
                        description: "**specifer** of the hotel\nIf [/product](#operation/product) returns `hotelPickup`: `true` and a list of hotels is available for *this* product in [/booking/hotels](#operation/bookingHotels), a `hotelId` must be captured (as per the hotel service id field); or, use an alternative `hotelId`, such as:\n \n - `\"notBooked\"`: the customer has not yet booked their hotel\n - `\"notListed\"`: the customer's hotel is not listed\n\n If the customer chooses one of these options, the product supplier may need to correspond with the user to find out their pick-up location. The best way to do this is by enabling [Closed-Loop-Communication (CLC)](#section/Merchant-APIs/Supplier-communications).\n"
                      pickupPoint:
                        type: string
                        description: '**details** about the hotel pick-up point (must be provided if the `hotelId` selected by the user is `''notListed''` or if no hotels are returned for *this* product in [/booking/hotels](#operation/bookingHotels) where `hotelPickup` is `true`.'
                      travelDate:
                        type: string
                        description: '**date** of travel for the item in format yyyy-mm-dd'
                      productCode:
                        type: string
                        description: '**unique alphanumeric identifier** of the product to be booked'
                      tourGradeCode:
                        type: string
                        description: '**specifier** of the tour grade to be booked (if tour grades are supplied in [/product](#operation/product), you must allow the customer to select a tour grade code. If no tour grades are available for *this* product, set this to `''DEFAULT''`.)'
                      languageOptionCode:
                        type: string
                        description: '**specifier** of language service provided for this product that has been chosen for this booking (usually in the format langcode/Service eg en/SERVICE_GUIDE. If the product details service [/product](#operation/product) for the product returns a langService, this must be provided.)'
                      bookingQuestionAnswers:
                        type: array
                        description: "**array** of objects containing booking questions and the answers provided for them for *this* product\n- If a booking question is available in the `bookingQuestions` array in the response from [/product](#operation/product) for *this* product, the matching `bookingQuestionAnswers` must be passed to *this* service. \n- If a product does not have any booking questions, you can omit the `bookingQuestionAnswers` array in your request. \n- Any invalid or unrequired booking-question answers that are passed to *this* service will be ignored (and, no exceptions will be raised) \n- You will need to include this array if [/product](#operation/product) returns any questions in the `bookingQuestions` array.\n"
                        items:
                          type: object
                          properties:
                            questionId:
                              type: integer
                              description: '**numeric identifier** for the question (**note**: `questionId` can be retrieved from the [/product](#operation/product) service)'
                            answer:
                              type: string
                              description: '**answer** to the question for the `questionId` listed (recommended length for the answer is 500 characters)


                                **Note**: To specify answers for each traveler, separate the values with a comma as in the per_person_booking_questions request example

                                '
                      specialRequirements:
                        type: string
                        description: '**text field** to capture any additional requirements for the booking, such as dietary requirements or if a wheelchair is required'
                      travellers:
                        type: array
                        description: '**array** of traveler names, details and whether they are the lead traveller'
                        items:
                          type: object
                          properties:
                            bandId:
                              $ref: '#/components/schemas/bandId'
                            firstname:
                              type: string
                              description: '**first name** of *this* traveller'
                            surname:
                              type: string
                              description: '**surname** of *this* traveler'
                            title:
                              type: string
                              description: '**title** of the traveler (e.g `''Mr''`, `''Mrs''`, `''Ms''`, `''Miss''`, `''Mstr''`, `''Dr''`)'
                            leadTraveller:
                              type: boolean
                              description: '**indicator**: `true` if this traveler is the lead traveler'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        sortOrder:
                          type: integer
                          description: '**sort order** for *this* object'
                        rulesApplied:
                          type: string
                          description: ignore (Viator only)
                        omniPreRuleList:
                          type: string
                          description: ignore (Viator only)
                        bookingStatus:
                          $ref: '#/components/schemas/bookingStatus_itinerary'
                        itemSummaries:
                          type: array
                          description: '**array** of item summaries'
                          items:
                            type: object
                            properties:
                              sortOrder:
                                type: integer
                                description: '**sort order** of *this* item summary'
                              rulesApplied:
                                type: string
                                description: ignore (Viator only)
                              bookingStatus:
                                $ref: '#/components/schemas/bookingStatus_item'
                              travellerAgeBands:
                                type: array
                                description: '**array** of objects detailing the traveler age bands'
                                items:
                                  type: object
                                  properties:
                                    sortOrder:
                                      type: integer
                                      description: '**sort order** for *this* age band'
                                    count:
                                      type: integer
                                      description: '**numeric** number of travelers in *this* age band'
                                    pluralDescription:
                                      type: string
                                      description: '**natural-language description** (plural) of *this* age band'
                                    description:
                                      type: string
                                      description: '**natural-language description** (singular) of *this* age band'
                                    ageBandId:
                                      $ref: '#/components/schemas/ageBandId'
                              voucherKey:
                                type: string
                                description: Unique reference for the voucher for this booking that can be used as a request parameter to search for existing bookings using the [/booking/mybookings](#operation/bookingMybookings) and [/booking/pastbooking](#operation/bookingPastbooking) endpoints
                              voucherURL:
                                type: string
                                description: '**URL of the voucher** for *this* product (if available). The customer can access this URL to retrieve their voucher.'
                              voucherRequirements:
                                type: string
                                description: '**natural-language description** of the requirements pertaining to this voucher'
                              productPulledDown:
                                type: boolean
                                description: ignore (Viator only)
                              merchantCancellable:
                                type: boolean
                                description: 'ignore (Viator only)


                                  For cancellation information regarding the booking, please refer to the `merchantTermsAndConditions` object

                                  '
                              productWidgetList:
                                type: string
                                description: ignore (Viator only)
                              savingAmount:
                                $ref: '#/components/schemas/savingAmount'
                              applePassSupported:
                                type: boolean
                                description: ''
                              supplierName:
                                type: string
                                description: '**natural-language name** of *this* product''s supplier'
                              supplierPhoneNumber:
                                type: string
                                description: '**telephone number** of *this* product''s supplier'
                              vouchers:
                                type: string
                                description: ignore (Viator only)
                              passbooks:
                                type: string
                                description: ignore (Viator only)
                              termsAndConditions:
                                type: object
                                description: ignore (Viator only)
                              merchantTermsAndConditions:
                                type: object
                                properties:
                                  termsAndConditions:
                                    type: string
                                    description: '**natural-language description** of the terms and conditions for *this* product'
                                  amountRefundable:
                                    type: string
                                    description: '**currency-formatted** amount that will be refunded if the cancellation is processed now.'
                                  cancellationFromTourDate:
                                    type: array
                                    description: '**array** of cancellation policy objects'
                                    items:
                                      type: object
                                      properties:
                                        dayRangeMin:
                                          description: '**number** of days prior to the tour start date that *this* policy window ends'
                                          type: integer
                                        dayRangeMax:
                                          description: '**number** of days prior to the tour start date that *this* policy window begins. `null` signifies open-endedness'
                                          type: integer
                                        percentageRefundable:
                                          type: integer
                                          description: '**percentage** of total price refundable if cancelled within *this* time window'
                                        policyStartTimestamp:
                                          type: integer
                                          description: '**Unix timestamp** giving the exact time the policy commences'
                                        policyEndTimestamp:
                                          type: integer
                                          description: '**Unix timestamp** giving the exact time the policy ends'
                              itineraryId:
                                type: integer
                                description: Ignore (Viator only)
                              productCode:
                                type: string
                                description: '**unique alphanumeric identifier** of *this* product'
                              travelDate:
                                type: string
                                description: '**date** of travel'
                              distributorItemRef:
                                type: string
                                description: ignore (Viator only)
                              startingTime:
                                type: string
                                description: '**starting time** of this product'
                              languageServicesCode:
                                type: string
                                description: '**code** for the language that this product operates in'
                              price:
                                description: '**numeric merchant total price** for *this* item

                                  - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                  '
                                type: number
                              tourGradeCode:
                                type: string
                                description: '**identifer** of *this* tour grade'
                              leadTravellerSurname:
                                type: string
                                description: '**surname** of the lead traveler'
                              productTitle:
                                type: string
                                description: '**natural-language title** of *this* product'
                              voucherOption:
                                type: string
                                description: ignore (Viator only)
                              priceFormatted:
                                type: string
                                description: '**currency-formatted merchant total price** for *this* item

                                  - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                  '
                              itemId:
                                type: integer
                                description: '**numeric identifer** of *this* item'
                              destId:
                                type: integer
                                description: '**unique numeric identifer** of the destination of *this* item'
                              barcodeOption:
                                type: string
                                description: Indicates whether a voucher is required for each passenger; or, whether the requirement is one voucher per group booking.
                              barcodeType:
                                type: string
                                description: '**alphanumeric code** specifying the type of barcode'
                              obfsId:
                                type: integer
                                description: ignore (Viator only)
                              departurePoint:
                                type: string
                                description: '**natural-language description** of *this* item''s departure point'
                              departurePointAddress:
                                type: string
                                description: '**HTML-formatted address** of *this* item''s departure point'
                              departurePointDirections:
                                type: string
                                description: '**natural-language description** of directions regarding *this* item''s departure point'
                              merchantNetPrice:
                                type: number
                                description: '**numeric merchant net rate** for *this* item"

                                  - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                  '
                              merchantNetPriceFormatted:
                                type: string
                                description: '**currency-formatted merchant net rate** for *this* item

                                  - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                                  '
                              lastRetailPriceFormatted:
                                type: string
                                description: '**currency-formatted merchant net rate** of *this* item'
                              departsFrom:
                                type: string
                                description: '**natural-language description** of *this* item''s departure location'
                              tourGradeDescription:
                                type: string
                                description: '**natural-language description** of *this* tour grade'
                              pickupHotelId:
                                type: string
                                description: '**identifer** for the pick-up hotel'
                              pickupHotelName:
                                type: string
                                description: '**natural-language name** of the pick-up hotel'
                              hoursConfirmed:
                                type: string
                                description: 'The `hoursConfirmed` field also indicates if the product is freesale or on request. The `hoursConfirmed` value is the approximate window for confirmation in hours, which can be presented to the customer. A value of `0` means that the product is **freesale**, and a value greater than `0` means that the product is **on-request**.

                                  '
                              priceUSD:
                                type: number
                                description: '**numeric merchant total price** in USD'
                              savingAmountFormated:
                                $ref: '#/components/schemas/savingAmountFormated'
                              bookingEngineId:
                                $ref: '#/components/schemas/bookingEngineId-response'
                              leadTravellerFirstname:
                                type: string
                                description: '**first name** of the lead traveler'
                              leadTravellerTitle:
                                type: string
                                description: '**title** of the lead traveler''s name'
                              lastRetailPrice:
                                type: number
                                description: '**numeric merchant net rate** of *this* item'
                              currencyCode:
                                type: string
                                description: '**currency code** for the currency in which pricing is displayed for *this* item'
                        voucherURL:
                          type: string
                          description: '**URL of the voucher** for *this* product (if available). The customer can access this URL to retrieve their voucher.'
                        securityToken:
                          type: string
                          description: ignore (Viator only)
                        paypalRedirectURL:
                          type: string
                          description: ignore (Viator only)
                        userId:
                          type: string
                          description: ignore (Viator only)
                        itineraryId:
                          type: integer
                          description: ignore (Viator only)
                        exchangeRate:
                          type: integer
                          description: ignore (Viator only)
                        bookingDate:
                          type: string
                          description: '**date** of *this* booking'
                        voucherKey:
                          type: string
                          description: Unique reference for the voucher for this booking that can be used as a request parameter to search for existing bookings using the [/booking/mybookings](#operation/bookingMybookings) and [/booking/pastbooking](#operation/bookingPastbooking) endpoints
                        bookerEmail:
                          type: string
                          description: '**email address** of the entity that made *this* booking'
                        distributorRef:
                          type: string
                          description: ignore (Viator only)
                        totalPrice:
                          type: number
                          description: '**numeric merchant total price** for *this* booking

                            - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                            '
                        totalPriceFormatted:
                          type: string
                          description: '**currency-formatted merchant total price** for *this* booking

                            - For more information, see: [Merchant pricing](#section/Merchant-APIs/Merchant-pricing)

                            '
                        totalPriceUSD:
                          type: number
                          description: '**numeric merchant total price** of *this* booking in USD'
                        hasVoucher:
                          type: boolean
                          description: ignore (Viator only)
                        currencyCode:
                          type: string
                          description: '**currency code** of the currency in which *this* booking was made'
              examples:
                '1':
                  $ref: '#/components/examples/booking-book-example'
  /booking/status:
    post:
      tags:
      - Booking services
      summary: /booking/status
      operationId: bookingStatus
      description: 'Get the booking status for multiple items based on different criteria


        This service:

        - is ideally be used in software for bulk updates of pending bookings

        - returns a maximum of 1000 bookings (narrow your search if you expect a greater number of results)

        - will return both live and test bookings

        - rate limited to one request every 30 minutes

        - For more information, see: Get the bookiing status for multiple items


        **Exceeding the rate limit**

        - You will receive the following error message if you exceed the rate limit allowed for this service. Set `test` to `true` to bypass this limit:

        ```javascript

        {

        "data": null

        "vmid": 221002

        "errorMessage": ["Access allowed every 30 minutes"]

        "errorType": "EXCEPTION"

        "dateStamp": "2013-03-26T10:28:51+0000"

        "errorReference": 55315512721712161381352771

        "errorMessageText": ["Access allowed every 30 minutes"]

        "success": false

        "totalCount": 1

        "errorName": "PollingDeniedException"

        }

        ```'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            examples:
              booking_date:
                value:
                  bookingDateFrom: '2020-12-21'
                  bookingDateTo: '2020-12-31'
                  test: true
              itemIds:
                value:
                  itemIds:
                  - 580669678
                  test: true
              distributorItemRefs:
                value:
                  distributorItemRefs:
                  - itemRef1000000
                  test: true
              lead_name:
                value:
                  leadFirstName: Homer test
                  leadSurname: Simpson test
                  test: true
              all:
                value:
                  bookingDateFrom: '2020-12-21'
                  bookingDateTo: '2020-12-31'
                  itemIds:
                  - 580669678
                  distributorItemRefs:
                  - itemRef1000000
                  leadFirstName: Homer test
                  leadSurname: Simpson test
                  test: true
            schema:
              type: object
              description: '**note**: all items are optional, but at least one needs to be included'
              properties:
                bookingDateFrom:
                  type: string
                  description: '**earliest date** for *this* booking (must be in the future)'
                bookingDateTo:
                  type: string
                  description: '**latest date** for *this* booking (must be in the future)'
                itemIds:
                  type: array
                  description: '**array** of item identifiers to check'
                  items:
                    type: integer
                    description: '**numeric item identifier**'
                distributorRefs:
                  type: array
                  description: '**array** of partner-defined distributor reference identifiers'
                  items:
                    type: string
                distributorItemRefs:
                  type: array
                  description: '**array** of partner-defined distributor item reference identifiers e.g. `[''refItem1'',''refItem2'',''refItem3'']`'
                  items:
                    type: string
                leadFirstName:
                  type: string
                  description: '**first name** of the lead traveler'
                leadSurname:
                  type: string
                  description: '**surname** of the lead traveler'
                test:
                  type: boolean
                  description: '**specifier**:

                    - `true`: bypass the poll limit in the prelive environment only (recommended for testing)

                    - `false`: (default)

                    '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      description: '**object** containing booking status and details'
                      type: object
                      properties:
                        itineraryId:
                          type: integer
                          description: ignore (Viator only)
                        bookingStatus:
                          $ref: '#/components/schemas/bookingStatus_itinerary'
                        bookingDate:
                          type: string
                          description: '**date**: of *this* booking'
                        distributorRef:
                          type: string
                          description: '**alphanumeric identifer** of the distributor for *this* booking'
                        itemSummaries:
                          type: array
                          description: '**array** of item summary objects'
                          items:
                            type: object
                            properties:
                              itineraryId:
                                type: integer
                                description: ignore (Viator only)
                              itemId:
                                type: integer
                                description: 'Booking-reference number generated by Viator

                                  - **Note**: For more information, see: [Booking references](#section/Key-concepts/Booking-references)

                                  '
                              bookingStatus:
                                $ref: '#/components/schemas/bookingStatus_item'
                              travelDate:
                                type: string
                                description: '**date** of the booking'
                              distributorItemRef:
                                type: string
                                description: '**partner-defined distributor item reference identifier**'
                              sortOrder:
                                type: integer
                                description: '**sort order** for *this* item'
                        sortOrder:
                          type: integer
                          description: '**sort order** for *this* response'
                          example: null
              examples:
                '1':
                  $ref: '#/components/examples/booking-status-example'
  /booking/status/items:
    post:
      tags:
      - Booking services
      summary: /booking/status/items
      operationId: bookingStatusItems
      description: 'Get brief booking statuses


        This service is similar to /booking/status in that it:

        - retrieves the booking status for multiple items based on different criteria

        - has the same request parameters as /booking/status


        However, it differs in that it returns a multi-item array of booking items with less detail than what would be received from /booking/status.'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            examples:
              booking_date:
                value:
                  bookingDateFrom: '2020-12-21'
                  bookingDateTo: '2020-12-31'
                  test: true
              itemIds:
                value:
                  itemIds:
                  - 580669678
                  test: true
              distributorItemRefs:
                value:
                  distributorItemRefs:
                  - itemRef1000000
                  test: true
              lead_name:
                value:
                  leadFirstName: Homer test
                  leadSurname: Simpson test
                  test: true
              all:
                value:
                  bookingDateFrom: '2020-12-21'
                  bookingDateTo: '2020-12-31'
                  itemIds:
                  - 580669678
                  distributorItemRefs:
                  - itemRef1000000
                  leadFirstName: Homer test
                  leadSurname: Simpson test
                  test: true
            schema:
              type: object
              description: '**note**: all items are optional, but at least one needs to be included'
              properties:
                bookingDateFrom:
                  type: string
                  description: '**earliest date** for when the booking(s) in question were made (must be in the future)'
                bookingDateTo:
                  type: string
                  description: '**latest date** for when the booking(s) in question were made (must be in the future)'
                itemIds:
                  type: array
                  description: "**array** of booking-reference numbers to check\n\n `itemId` (booking-reference provided by Viator). For more information, see [Booking references](#section/Key-concepts/Booking-references)\n"
                  items:
                    type: integer
                    description: '**numeric item identifier**'
                distributorRefs:
                  type: array
                  description: '**array** of partner-defined distributor reference identifiers'
                  items:
                    type: string
                distributorItemRefs:
                  type: array
                  description: '**array** of partner-defined distributor item reference identifiers e.g. `[''refItem1'',''refItem2'',''refItem3'']`'
                  items:
                    type: string
                leadFirstName:
                  type: string
                  description: '**first name** of the lead traveler'
                leadSurname:
                  type: string
                  description: '**surname** of the lead traveler'
                test:
                  type: boolean
                  description: '**specifier**:

                    - `true`: bypass the poll limit in the prelive environment only

                    - `false`: (default) make a *real* booking, not a test

                    '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      description: '**array** containing item ids and their associated booking status object'
                      type: array
                      items:
                        type: object
                        properties:
                          itemId:
                            type: integer
                            description: 'Booking-reference number generated by Viator

                              - **Note**: For more information, see: [Booking references](#section/Key-concepts/Booking-references)

                              '
                          bookingStatus:
                            $ref: '#/components/schemas/bookingStatus_item'
                          distributorItemRef:
                            type: string
                            description: '**partner-defined distributor item reference identifier**'
              examples:
                '1':
                  $ref: '#/components/examples/booking-status-items-example'
  /booking/pricingmatrix:
    post:
      tags:
      - Booking services
      summary: /booking/pricingmatrix
      operationId: bookingPricingmatrix
      description: 'Get the pricing matrix for tour-grades, product age bands and pax mixes


        For more information, see: Get the tour-grade pricing matrix'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
[...]
