openapi: 3.2.0
info:
  title: Viator Product services API
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au
  version: '1.0'
  description: 'Operations tagged Product services across 2 of this provider''s published API definitions: viator-affiliate-api-v1-openapi.json, viator-merchant-api-v1-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://viatorapi.viator.com/service
  description: Production server
- url: https://viatorapi.sandbox.viator.com/service
  description: Sandbox server (uses test data)
security:
- API-key: []
- Legacy-API-key: []
tags:
- name: Product services
  description: Product services
paths:
  /search/products:
    post:
      tags:
      - Product services
      summary: /search/products
      operationId: searchProducts
      description: "\nThis service is used to search for products based on various criteria; such as:\n* the destination (locale) in which it operates\n* its association with a tourist attraction\n* its category and/or subcategory\n* the time period during which it operates\n\nThe fields you include in the request body for this service determine the kind of search that will be performed.\n\n**<u>Note</u>**: \n\n* You can search **EITHER** by destination (`destId`) **OR** by attraction-link (`seoId`), but not both.\n* The destination identifier (`destId`) can be retrieved from the [/taxonomy/destinations](#operation/taxonomyDestinations) service.\n* The category (`catId`) and subcategory (`subCatId`) identifiers can be retrieved from the [/taxonomy/categories](#operation/taxonomyCategories) service.\n* The attraction identifier (`seoId`) can be retrieved from the [/taxonomy/attractions](#operation/taxonomyAttractions) service.\n\n**<u>Examples</u>**:\n\n**Search by destination**:\n\n* E.g., \"Top ten highest-rated yoga classes operating in Las Vegas:\n```javascript\n{\n    \"destId\": 684,\n    \"subCatId\": 26052,\n    \"sortOrder\": \"REVIEW_AVG_RATING_D\",\n    \"topX\": \"1-3\"\n}\n```\n\n**Search by attraction-link**:\n\n* E.g., \"Products related to Everglades National Park operating 21-26 May 2019 in order of descending price\":\n```javascript\n{\n    \"seoId\": 1115,\n    \"startDate\": \"2019-05-21\",\n    \"endDate\": \"2019-05-26\",\n    \"sortOrder\": \"PRICE_FROM_D\"\n    \"topX\": \"1-3\"\n}\n```\n"
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destId:
                  type: integer
                  description: '**unique numeric identifier** of the destination in which to search for products

                    - `destinationId` is available from the [/taxonomy/destinations](#operation/taxonomyDestinations) service

                    - use **EITHER** `destId` **OR** `seoId`, but not both

                    '
                seoId:
                  type: string
                  description: '**search restriction specifier** for products associated with an attraction uniquely identified by `seoId`

                    - use **EITHER** `destId` **OR** `seoId`, but not both

                    '
                catId:
                  type: integer
                  description: '**unique numeric identifier** of *this* product category to search within

                    - `categoryId` can be retrieved from the [/taxonomy/categories](#operation/taxonomyCategories) service

                    - at present, it is not possible to use `catId` in conjunction with `seoId`

                    '
                subCatId:
                  type: integer
                  description: '**unique numeric identifier** of *this* product subcategory to search within

                    - `subcategoryId` can be retrieved from the [/taxonomy/categories](#operation/taxonomyCategories) service

                    - at present, it is not possible to use `subCatId` in conjunction with `seoId`

                    '
                startDate:
                  type: string
                  description: '**start date delimiter** for the search (must be in the future)

                    - e.g., `''2018-10-21''`

                    '
                endDate:
                  type: string
                  description: '**end date delimiter** for the search (must be in the future)

                    - e.g., `''2019-10-21''`

                    '
                currencyCode:
                  type: string
                  description: '**currency** in which to display product prices'
                topX:
                  $ref: '#/components/schemas/topX'
                sortOrder:
                  $ref: '#/components/schemas/sortOrder'
            examples:
              By destination:
                value:
                  destId: 684
                  subCatId: 26052
                  sortOrder: REVIEW_AVG_RATING_A
                  topX: 1-3
              By attraction link:
                value:
                  seoId: 1115
                  startDate: '2020-12-21'
                  endDate: '2020-12-31'
                  sortOrder: PRICE_FROM_D
                  topX: 1-3
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      description: '**array** of product objects'
                      items:
                        type: object
                        properties:
                          sortOrder:
                            type: integer
                            description: '**sort order** for *this* product'
                          supplierName:
                            type: string
                            description: '**natural-language name** of *this* product''s supplier'
                          currencyCode:
                            $ref: '#/components/schemas/currencyCode'
                          catIds:
                            type: array
                            description: '**list** of unique numeric category identifiers for *this* product

                              - the `categoryId` for the destination is available from the [/taxonomy/categories](#operation/taxonomyCategories) service

                              '
                            items:
                              type: integer
                          subCatIds:
                            type: array
                            description: '**list** of unique numeric subcategory identifiers for *this* product

                              - the `subcategoryId` for the destination is available from the [/taxonomy/categories](#operation/taxonomyCategories) service

                              '
                            items:
                              type: integer
                          webURL:
                            $ref: '#/components/schemas/webURL'
                          specialReservationDetails:
                            type: string
                            description: ignore (Viator only)
                          sslSupported:
                            description: ignore (Viator only)
                          panoramaCount:
                            type: integer
                            description: '**number** of panoramic images available for *this* product'
                          merchantCancellable:
                            type: boolean
                            description: "ignore (Viator only)\n\n    \nFor cancellation information regarding the booking, please refer to the `merchantTermsAndConditions` object\n"
                          bookingEngineId:
                            $ref: '#/components/schemas/bookingEngineId'
                          onRequestPeriod:
                            $ref: '#/components/schemas/onRequestPeriod'
                          primaryGroupId:
                            type: integer
                            description: ignore (Viator only)
                          pas:
                            type: object
                            description: '**object** detailing product availability

                              - `pas` stands for Product Availability Schema

                              '
                          available:
                            type: boolean
                            description: ignore (Viator only)
                          productUrlName:
                            type: string
                            description: '**URL-formatted name** of *this* product'
                          primaryDestinationUrlName:
                            type: string
                            description: '**URL-formatted name** of *this* product''s primary destination'
                          title:
                            type: string
                            description: '**natural-language title** of *this* product'
                          shortDescription:
                            type: string
                            description: '**HTML-formatted natural-language description** of *this* product'
                          supplierCode:
                            type: string
                            description: '**unique identifier** of *this* product''s supplier in text string format'
                          uniqueShortDescription:
                            type: string
                            description: ignore (Viator only)
                          merchantNetPriceFrom:
                            type: number
                            description: ignore (Viator only)
                          merchantNetPriceFromFormatted:
                            type: string
                            description: ignore (Viator only)
                          essential:
                            type: string
                            description: ignore (Viator only)
                          admission:
                            type: string
                            description: ignore (Viator only)
                          translationLevel:
                            $ref: '#/components/schemas/translationLevel'
                          thumbnailHiResURL:
                            type: string
                            description: '**URL** for the high resolution thumbnail for *this* product'
                          price:
                            $ref: '#/components/schemas/price'
                          priceFormatted:
                            $ref: '#/components/schemas/priceFormatted'
                          rrp:
                            $ref: '#/components/schemas/rrp'
                          rrpformatted:
                            $ref: '#/components/schemas/rrpFormatted'
                          savingAmount:
                            $ref: '#/components/schemas/savingAmount'
                          savingAmountFormated:
                            $ref: '#/components/schemas/savingAmountFormated'
                          onSale:
                            $ref: '#/components/schemas/onSale'
                          specialOfferAvailable:
                            $ref: '#/components/schemas/specialOfferAvailable'
                          photoCount:
                            type: integer
                            description: '**number** of user photos published for *this* product'
                          reviewCount:
                            $ref: '#/components/schemas/reviewCount'
                          primaryDestinationId:
                            type: integer
                            description: '**unique numeric identifier** of *this* product''s primary destination'
                          primaryDestinationName:
                            description: '**natural-language name** of *this* product''s primary destination'
                            type: string
                          thumbnailURL:
                            type: string
                            description: '**URL** for *this* product''s thumbnail image'
                          videoCount:
                            type: integer
                            description: ignore (Viator only) – videos are not available to partners
                          rating:
                            $ref: '#/components/schemas/rating'
                          shortTitle:
                            type: string
                            description: '**short natural-language title** of *this* product (for use when there is a need to conserve space)'
                          specialReservation:
                            type: boolean
                            description: ignore (Viator only)
                          duration:
                            type: string
                            description: '**natural-language description** of the duration of *this* product'
                          code:
                            type: string
                            description: '**unique alphanumeric identifier** of *this* product'
              examples:
                By destination:
                  $ref: '#/components/examples/search-products-example1'
                By attraction link:
                  $ref: '#/components/examples/search-products-example2'
    servers:
    - url: https://viatorapi.viator.com/service
      description: Production server
  /search/products/codes:
    post:
      tags:
      - Product services
      summary: /search/products/codes
      operationId: searchProductsCodes
      description: "- This service returns an array of products given an array of product identifiers that is useful for wishlist / shopping cart / user account display \n- **Note**: requesting an inactive or non-existent product code will return `0`, `null` and blank values (as per the example below).\n"
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currencyCode:
                  $ref: '#/components/schemas/currencyCode'
                productCodes:
                  type: array
                  description: '**array** of product codes to search for'
                  items:
                    type: string
            example:
              currencyCode: USD
              productCodes:
              - 2280SUN
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      description: '**array** of product objects'
                      items:
                        type: object
                        properties:
                          sortOrder:
                            type: integer
                            description: '**sort order** for *this* search result'
                          supplierName:
                            type: string
                            description: '**natural-language name** of *this* product''s supplier'
                          currencyCode:
                            $ref: '#/components/schemas/currencyCode'
                          catIds:
                            type: array
                            description: '**list** of category identifiers *this* product falls under

                              - `categoryId` is available from the [/taxonomy/categories](#operation/taxonomyCategories) service

                              '
                            items:
                              type: integer
                          subCatIds:
                            type: array
                            description: "**list** of subcategory identifiers that *this* product falls under \n- `subcategoryId` is available from the [/taxonomy/categories](#operation/taxonomyCategories) service\n"
                            items:
                              type: integer
                          webURL:
                            $ref: '#/components/schemas/webURL'
                          specialReservationDetails:
                            type: string
                            description: ignore (Viator only)
                          panoramaCount:
                            type: integer
                            description: '**number** of panoramic images available for *this* product'
                          merchantCancellable:
                            type: boolean
                            description: 'ignore (Viator only)

                              '
                          bookingEngineId:
                            $ref: '#/components/schemas/bookingEngineId'
                          onRequestPeriod:
                            $ref: '#/components/schemas/onRequestPeriod'
                          primaryGroupId:
                            type: string
                            description: ignore (Viator only)
                          shortDescription:
                            type: string
                            description: '**natural-language description** of *this* product (short)'
                          specialReservation:
                            type: boolean
                            description: ignore (Viator only)
                          rating:
                            $ref: '#/components/schemas/rating'
                          thumbnailURL:
                            type: string
                            description: '**URL** for *this* product''s thumbnail image'
                          photoCount:
                            type: integer
                            description: '**number** of user photos published for *this* product'
                          reviewCount:
                            $ref: '#/components/schemas/reviewCount'
                          supplierCode:
                            type: string
                            description: '**unique identifier** of *this* product''s supplier'
                          price:
                            $ref: '#/components/schemas/price'
                          priceFormatted:
                            $ref: '#/components/schemas/priceFormatted'
                          rrp:
                            $ref: '#/components/schemas/rrp'
                          rrpformatted:
                            $ref: '#/components/schemas/rrpFormatted'
                          onSale:
                            $ref: '#/components/schemas/onSale'
                          savingAmount:
                            $ref: '#/components/schemas/savingAmount'
                          savingAmountFormated:
                            $ref: '#/components/schemas/savingAmountFormated'
                          translationLevel:
                            $ref: '#/components/schemas/translationLevel'
                          primaryDestinationId:
                            type: integer
                            description: '**unique numeric identifier** of *this* product''s primary destination'
                          primaryDestinationName:
                            description: '**natural-language name** of *this* product''s primary destination'
                            type: string
                          merchantNetPriceFrom:
                            type: number
                            description: ignore (Viator only)
                          merchantNetPriceFromFormatted:
                            type: string
                            description: ignore (Viator only)
                          specialOfferAvailable:
                            type: boolean
                            description: '**indicator**: `true` if a special offer is available for *this* product'
                          thumbnailHiResURL:
                            type: string
                            description: '**URL** for *this* product''s high-resolution thumbnail image'
                          shortTitle:
                            type: string
                            description: '**natural-language title** (shortened) of *this* product'
                          videoCount:
                            type: integer
                            description: ignore (Viator only) – videos are not available to partners
                          title:
                            type: string
                            description: '**natural-language title** of *this* product'
                          duration:
                            type: string
                            description: '**natural-language description** of *this* product''s duration'
                          code:
                            type: string
                            description: '**unique alphanumeric identifier** of *this* product'
              examples:
                '1':
                  $ref: '#/components/examples/search-products-codes-example'
    servers:
    - url: https://viatorapi.viator.com/service
      description: Production server
  /search/freetext:
    post:
      tags:
      - Product services
      summary: /search/freetext
      operationId: searchFreetext
      description: '- This service provides a **free text search across all products destinations, attractions and recommendations**

        - The `text` parameter is required

        - **Note:** results include a type indicator (`type`) that you can use to display each result appropriately based on its content

        '
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destId:
                  type: integer
                  description: "**unique numeric identifier** of the destination to search within \n- `destinationId` can be retrieved from the [/taxonomy/destinations](#operation/taxonomyDestinations) service\n"
                topX:
                  $ref: '#/components/schemas/topX'
                currencyCode:
                  $ref: '#/components/schemas/currencyCode'
                text:
                  type: string
                  description: '**text** to search for'
                searchTypes:
                  type: array
                  description: "**array** of search domain specifiers where each item is *one of*:\n  - `'PRODUCT'`: a tour / activity\n  - `'DESTINATION'`: continent, country, city, region\n  - `'ATTRACTION'`: an attraction within a destination (only available to partners with SEO access)\n  - `'RECOMMENDATION'`: an attraction within a destination (only available to partners with SEO access)\n"
                  items:
                    type: string
                    enum:
                    - PRODUCT
                    - DESTINATION
                    - ATTRACTION
                    - RECOMMENDATION
                sortOrder:
                  $ref: '#/components/schemas/sortOrder'
            example:
              destId: 684
              topX: 1-3
              currencyCode: USD
              text: helicopter
              searchTypes:
              - PRODUCT
              - DESTINATION
              sortOrder: TOP_SELLERS
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      description: '**array** of search results'
                      items:
                        type: object
                        properties:
                          sortOrder:
                            type: integer
                            description: '**sort order** for *this* data object'
                          searchType:
                            type: string
                            enum:
                            - PRODUCT
                            - DESTINATION
                            - ATTRACTION
                            - RECOMMENDATION
                            description: "**indicator** of the entity type for *this* result that is *one of*:\n  - `'PRODUCT'`: a tour / activity\n  - `'DESTINATION'`: continent, country, city, region\n  - `'ATTRACTION'`: an attraction within a destination (only available to partners with SEO access)\n  - `'RECOMMENDATION'`: an attraction within a destination (only available to partners with SEO access)\n"
                          data:
                            type: object
                            description: '**object** detailing a product that matches the search criteria'
                            properties:
                              supplierName:
                                type: string
                                description: '**natural-language name** of *this* product''s supplier'
                              currencyCode:
                                $ref: '#/components/schemas/currencyCode'
                              catIds:
                                type: array
                                description: "**list** of unique numeric product category identifiers \n- `categoryId` is available for the destination from the [/taxonomy/categories](#operation/taxonomyCategories) service\n"
                                items:
                                  type: integer
                              subCatIds:
                                type: array
                                description: '**list** of unique numeric subcategory identifiers that *this* product falls under

                                  - `subcategoryId` is available from [/taxonomy/categories](#operation/taxonomyCategories) service"

                                  '
                                items:
                                  type: integer
                              webURL:
                                $ref: '#/components/schemas/webURL'
                              specialReservationDetails:
                                type: string
                                description: ignore (Viator only)
                              sslSupported:
                                type: boolean
                                description: ignore (Viator only)
                              panoramaCount:
                                type: integer
                                description: '**number** of panoramic images available for *this* product'
                              merchantCancellable:
                                type: boolean
                                description: ignore (Viator only)
                              bookingEngineId:
                                $ref: '#/components/schemas/bookingEngineId'
                              onRequestPeriod:
                                $ref: '#/components/schemas/onRequestPeriod'
                              primaryGroupId:
                                type: string
                                description: ignore (Viator only)
                              pas:
                                type: object
                                description: '**object** detailing product availability

                                  - `pas` stands for Product Availability Schema

                                  '
                              available:
                                type: boolean
                                description: ignore (Viator only)
                              productURLName:
                                type: string
                                description: '**URL-formatted name** of *this* product'
                              primaryDestinationUrlName:
                                type: string
                                description: '**URL-formatted name** of *this* product''s primary destination'
                              supplierCode:
                                type: string
                                description: '**unique identifier** of *this* product''s supplier'
                              translationLevel:
                                $ref: '#/components/schemas/translationLevel'
                              thumbnailHiResURL:
                                type: string
                                description: '**high-resolution thumbnail image URL** for *this* product'
                              primaryDestinationName:
                                type: string
                                description: '**natural-language name** of *this* product''s primary destination'
                              thumbnailURL:
                                type: string
                                description: '**URL** of *this* product''s thumbnail image'
                              price:
                                $ref: '#/components/schemas/price'
                              priceFormatted:
                                $ref: '#/components/schemas/priceFormatted'
                              rrp:
                                $ref: '#/components/schemas/rrp'
                              rrpformatted:
                                $ref: '#/components/schemas/rrpFormatted'
                              onSale:
                                $ref: '#/components/schemas/onSale'
                              savingAmount:
                                $ref: '#/components/schemas/savingAmount'
                              savingAmountFormated:
                                $ref: '#/components/schemas/savingAmountFormated'
                              photoCount:
                                type: integer
                                description: '**number** of user photos published for *this* product'
                              reviewCount:
                                $ref: '#/components/schemas/reviewCount'
                              primaryDestinationId:
                                description: '**unique numeric identifier** of *this* product''s primary destination'
                                type: integer
                              videoCount:
                                type: integer
                                description: ignore (Viator only) – videos are not available to partners
                              rating:
                                $ref: '#/components/schemas/rating'
                              shortTitle:
                                type: string
                                description: '**natural-language title** (shortened) of *this* product'
                              specialOfferAvailable:
                                type: boolean
                                description: '**indicator**: `true` if a special offer is available for *this* product'
                              specialReservation:
                                description: ignore (Viator only)
                                type: boolean
                              uniqueShortDescription:
                                type: string
                                description: ignore (Viator only)
                              merchantNetPriceFrom:
                                type: number
                                description: ignore (Viator only)
                              merchantNetPriceFromFormatted:
                                type: string
                                description: ignore (Viator only)
                              essential:
                                type: string
                                description: ignore (Viator only)
                              admission:
                                type: string
                                description: ignore (Viator only)
                              shortDescription:
                                type: string
                                description: '**natural-language description** (shortened) of *this* product'
                              title:
                                type: string
                                description: '**natural-language title** of *this* product'
                              duration:
                                type: string
                                description: '**natural-language duration** of *this* product'
                              code:
                                type: string
                                description: '**unique alphanumeric identifier** of *this* product'
              examples:
                '1':
                  $ref: '#/components/examples/search-freetext-example'
    servers:
    - url: https://viatorapi.viator.com/service
      description: Production server
  /product:
    get:
      tags:
      - Product services
      summary: /product
      operationId: product
      description: "This service provides all product details required for a product display page, as well as information required for price checks and booking, such as: \n- age bands\n- tour grades (product options)\n- language options \n- booking questions\n- hotel pickup flags\n\n**currencyCode (in query):** \n- <mark>**<u>Update: 9 Jun 2020</u>**: Multiple currencies are now enabled by default. Partners can choose to have the pricing displayed in any of the [supported currencies](#section/Appendices/Supported-currency-codes).</mark>\n- **Note**: Regardless of the currency specified here, commissions will always be paid to affiliates in the main currency configured for their acccount.\n\n**Product photos**\n\n**<u>Update 13 Feb 2020</u>**: All supplier-provided photos for the selected product are now available in the `productPhotos` array in this endpoint's response. Previously, only two supplier-provided photos were available – one in the `productPhotos` array and one in `thumbnailHiResURL`.\n\n**Videos**\n\n- Videos are no longer available\n"
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/currencyCode'
      - $ref: '#/components/parameters/sortOrder_REVIEW'
      - in: query
        name: voucherOption
        schema:
          type: string
          enum:
          - VOUCHER_PAPER_ONLY
          - VOUCHER_E
          - VOUCHER_ID_ONLY
        description: '- `"VOUCHER_PAPER_ONLY"`: Paper Vouchers only accepted

          - `"VOUCHER_E"`: EVouchers + Paper Vouchers accepted

          - `"VOUCHER_ID_ONLY"`: ID + Evouchers + Paper vouchers accepted

          '
      - $ref: '#/components/parameters/code'
      - $ref: '#/components/parameters/showUnavailable'
      - in: query
        name: excludeTourGradeAvailability
        schema:
          type: boolean
        description: "**specifier:** \n- `true`: return **all** tour grades, including those that are not available\n- `false`: only display tour grades that *are* available\n"
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      description: '**object** containing product details'
                      properties:
                        supplierName:
                          type: string
                          description: '**name** of *this* product''s supplier'
                        currencyCode:
                          type: string
                          description: '**currency** in which to display *this* product''s pricing details'
                        catIds:
                          type: array
                          description: '**list** of unique numeric category identifiers that *this* product falls under

                            - `categoryId` is available from the [/taxonomy/categories](#operation/taxonomyCategories) service

                            '
                          items:
                            type: integer
                        subCatIds:
                          type: array
                          items:
                            type: integer
                          description: '**list** of unique numeric subcategory identifiers that *this* product falls under

                            - `subcategoryId` is available from the [/taxonomy/categories](#operation/taxonomyCategories) service

                            '
                        webURL:
                          $ref: '#/components/schemas/webURL'
                        panoramaCount:
                          type: integer
                          description: '**number** of panoramic images available for *this* product'
                        merchantCancellable:
                          type: boolean
                          description: ignore (Viator only)
                        bookingEngineId:
                          $ref: '#/components/schemas/bookingEngineId'
                        onRequestPeriod:
                          $ref: '#/components/schemas/onRequestPeriod'
                        primaryGroupId:
                          type: string
                          description: ignore (Viator only)
                        pas:
                          type: object
                          description: "**object** detailing product availability \n- `pas` stands for Product Availability Schema\n"
                        available:
                          type: boolean
                          description: ignore (Viator only)
                        productUrlName:
                          type: string
                          description: '**URL-formatted name** of *this* product'
                        primaryDestinationUrlName:
                          type: string
                          description: '**URL-formatted name** of the destination in which *this* product is located'
                        voucherRequirements:
                          description: '**natural-language description** of any requirements pertaining to the use of the voucher'
                        tourGradesAvailable:
                          type: boolean
                          description: "**indicator**: \n- `true`: tour grades are available for this product, meaning you will need to display these tour grades to the user and include a tour grade when booking *this* product\n- `false`: only a default tour grade is available for *this* product\n"
                        hotelPickup:
                          type: boolean
                          description: '**indicator**: `true` if *this* product offers hotel pick-up; if so, you will need to collect the user''s hotel details'
                        userPhotos:
                          type: array
                          description: '**array** of user photo objects'
                          items:
                            $ref: '#/components/schemas/photoObject'
                        reviews:
                          $ref: '#/components/schemas/reviews'
                        videos:
                          type: string
                          description: ignore (Viator only) – videos are no longer available
                        tourGrades:
                          type: array
                          description: '**array** of tour grade objects available for *this* product'
                          items:
                            type: object
                            properties:
                              sortOrder:
                                type: integer
                                description: '**sort order** of *this* tour grade'
                              currencyCode:
                                type: string
                                description: '**currency code** of the currency *this* product''s tour grades prices are shown in'
                              langServices:
                                type: object
                                description: '**dictionary** of language service codes and their natural-language descriptors'
                                additionalProperties:
                                  type: string
                              gradeCode:
                                type: string
                                description: '**unique alphanumeric identifier** of *this* tour grade'
                              gradeTitle:
                                type: string
                                description: '**natural-language description** of *this* tour grade'
                              gradeDepartureTime:
                                type: string
                                description: '**departure time** for *this* tour grade if available'
                              gradeDescription:
                                type: string
                                description: '**natural-language description** of *this* tour grade'
                              defaultLanguageCode:
                                type: string
                                description: '**language code** of the standard language for *this* tour grade'
                              merchantNetPriceFrom:
                                type: number
                                description: ignore (Viator only)
                              merchantNetPriceFromFormatted:
                                description: ignore (Viator only)
                                type: string
                              priceFrom:
                                type: number
                                description: '**numeric suggested retail price** for *this* tour grade

                                  '
                              priceFromFormatted:
                                type: string
                                description: '**currency-formatted suggested retail price** for *this* tour grade

                                  '
                        ageBands:
                          type: array
                          description: '**array** of ageband objects detailing the age bands

                            '
                          items:
                            type: object
                            properties:
                              sortOrder:
                                type: integer
                                description: '**sort order** for *this* age band object'
                              ageFrom:
                                type: integer
                                description: '**numeric lower age limit** of the age range defined by *this* age band'
                              ageTo:
                                type: integer
                                description: '**numeric upper age limit** of the age range included in *this* age band'
                              adult:
                                type: boolean
                                description: '**indicator**: `true` if *this* age band describes adults (not children)'
                              bandId:
                                $ref: '#/components/schemas/bandId'
                              pluralDescription:
                                type: string
                                description: '**natural-language description** (plural) of *this* age band'
                              treatAsAdult:
                                type: boolean
                                description: '**indicator**: `true` if members of this age band are considered to be adults'
                              count:
                                type: integer
                                description: '**number** of participants in *this* age band required to book the product'
                              description:
                                type: string
                                description: '**natural-language description** (singular) of *this* age band'
                        bookingQuestions:
                          type: array
                          description: Ignore (merchant partners only)
                          items:
                            type: object
                            properties:
                              sortOrder:
                                description: Ignore (merchant partners only)
                                type: integer
                              questionId:
                                type: integer
                                description: Ignore (merchant partners only)
                              stringQuestionId:
                                type: string
                                description: Ignore (merchant partners only)
                              subTitle:
                                type: string
                                description: Ignore (merchant partners only)
                              title:
                                type: string
                                description: Ignore (merchant partners only)
                              required:
                                type: boolean
                                description: Ignore (merchant partners only)
                              message:
                                type: string
                                description: Ignore (merchant partners only)
                        passengerAttributes:
                          type: array
                          description: ignore (Viator only)
                          items:
                            type: object
                            properties:
                              required:
                                type: boolean
                                description: ignore (Viator only)
                              questionId:
                                type: string
                                description: ignore (Viator only)
                              title:
                                type: string
                                description: ignore (Viator only)
                              errorMissingMessage:
                                type: string
                                description: ignore (Viator only)
                              errorValidationMessage:
                                type: string
                                description: ignore (Viator only)
                              validateType:
                                type: string
                                description: ignore (Viator only)
                              customAttribute_kgs:
                                type: string
                                description: ignore (Viator only)
                              customAttribute_lbs:
                                type: string
                                description: ignore (Viator only)
                        highlights:
                          type: integer
                          description: ignore (Viator only)
                        salesPoints:
                          type: array
                          description: ignore (Viator only)
                          items:
                            type: string
                        ratingCounts:
                          $ref: '#/components/schemas/ratingCounts'
                        maxTravellerCount:
                          type: integer
                          description: '**maximum number of travelers** allowed per-booking for *this* product'
                        itinerary:
                          type: string
                          description: '**HTML-formatted description** of the itinerary of *this* tour if available

                            - may contain basic HTML tags; e.g., br, li, b, u, p, i, ul and ol

                            '
                        destinationId:
                          type: integer
                          description: '**unique numeric identifier** of the destination in which *this* product is located

                            - `destinationId` is available from the [/taxonomy/destinations](#operation/taxonomyDestinations) service

                            '
                        translationLevel:
                          $ref: '#/components/schemas/translationLevel'
                        additionalInfo:
                          type: array
                          description: '**array** of HTML-formatted clauses providing additional information about *this* product, such as:

                            - when the confirmation will be received (i.e. at time of booking, or within 48 hours of booking etc)

                            - accessibility options; such as whether wheelchair access is available

                            - particulars about the pick-up location and process

                            - **Note**: may contain basic HTML mark-up tags – e.g., br, li, b, u, p, i, ul and ol

                            '
                          items:
                            type: string
                        voucherOption:
                          type: string
                          description: "**specifier** of the type(s) of vouchers that can be used:\n\n  - `VOUCHER_PAPER_ONLY` - *only* printed paper vouchers accepted\n  - `VOUCHER_E` - e-vouchers + printed paper vouchers accepted\n  - `VOUCHER_ID_ONLY` - ID + e-vouchers + printed paper vouchers accepted\n"
                        applePassSupported:
                          type: boolean
                          description: '**indicator**: `true` if Apple Wallet is supported'
                        productPhotos:
                          type: array
                          description: '**array** of image objects detailing images available for *this* product'
                          items:
                            type: object
                            properties:
                              photoURL:
                                type: string
                                description: '**URL** of *this* photo'
                              supplier:
                                type: string
                                description: '**natural-language name** of the supplier of *this* photo'
                              caption:
                                type: string
                                description: '**natural-language caption** for *this* photo'
                        inclusions:
                          type: array
                          description: '**array** of HTML-formatted features included in *this* product

                            - may contain basic HTML mark-up tags; e.g., br, li, b, u, p, i, ul and ol

                            '
                          items:
                            type: string
                        city:
                          type: string
                          description: '**name** of city or destination that *this* product operates in'
                        departureTime:
                          type: string
                          description: '**HTML-formatted natural-language description** of *this* product''s departure times

                            - may contain basic HTML mark-up tags; e.g., br, li, b, u, p, i, ul and ol

                            '
                        departurePoint:
                          type: string
                          description: '**HTML-formatted natural-language description** of *this* product''s departure location'
                        departureTimeComments:
                          type: string
                          description: '**HTML-formatted natural-language description** of extra information pertaining to product departure times'
                        returnDetails:
                          type: string
                          description: '**HTML-formatted natural-language description** of *this* product''s drop-off details (if available)'
                        allTravellerNamesRequired:
                          type: boolean
                          description: '**indicator**: `true` if all traveler names are required.<br />**Note**: if set to `true`, then all passenger names must be included in the booking request, and all must be unique. Placeholder names cannot be used.'
                        operates:
                          type: string
                          description: '**HTML-formatted natural-language description** of *this* product''s operation frequency'
                        mapURL:
                          type: string
                          description: '**URL** of this product''s map (usually an image)'
                        exclusions:
                          type: array
                          description: '**array** of HTML-formatted natural-language exclusions for *this* product

                            - may contain basic HTML mark-up - e.g., br, li, b, u, p, i, ul and ol

                            '
                          items:
                            type: string
                        description:
                          type: string
                          description: '**HTML-formatted natural-language description** of *this* product (extended)'
                        location:
                          type: string
                          description: '**natural-language description** of *this* product''s location

                            -  can be a combination of the country and city, or a custom location

                            '
                        country:
                          type: string
                          description: '**natural-language name** of the country in which *this* product operates'
                        region:
                          type: string
                          description: '**natural-language name** of the region in which *this* product operates'
                        supplierCode:
                          type: string
                          description: '**unique identification code** of *this* product''s supplier'
                        thumbnailHiResURL:
                          type: string
                          description: '**URL** of *this* product''s high-resolution thumbnail image'
                        primaryDestinationName:
                          type: string
                          description: '**natural-language name** of *this* product''s primary destination'
                        thumbnailURL:
                          type: string
                          description: '**URL** for *this* product''s thumbnail image'
                        photoCount:
                          description: '**number** of user photos available for *this* product'
                          type: integer
                        reviewCount:
                          $ref: '#/components/schemas/reviewCount'
                        primaryDestinationId:
                          description: '**unique numeric identifier** of *this* product''s primary destination'
                          type: integer
                        rating:
                          $ref: '#/components/schemas/rating'
                        price:
                          $ref: '#/components/schemas/price'
                        priceFormatted:
                          $ref: '#/components/schemas/priceFormatted'
                        onSale:
                          $ref: '#/components/schemas/onSale'
                        rrp:
                          $ref: '#/components/schemas/rrp'
                        rrpFormatted:
                          $ref: '#/components/schemas/rrpFormatted'
                        savingAmount:
                          $ref: '#/components/schemas/savingAmount'
                        savingAmountFormated:
                          $ref: '#/components/schemas/savingAmountFormated'
                        shortTitle:
                          type: string
                          description: '**natural-language title** (shortened) of *this* product'
                        specialOfferAvailable:
                          $ref: '#/components/schemas/specialOfferAvailable'
                        specialOffer:
                          $ref: '#/components/schemas/specialOffer'
                        shortDescription:
                          type: string
                          description: '**natural-language description** (shortened) of *this* product'
                        title:
                          type: string
                          description: '**natural-language title** of *this* product'
                        duration:
                          type: string
                          description: '**natural-language description** of *this* product''s duration'
                        code:
                          type: string
                          description: '**unique alphanumeric identifier** of *this* product'
                        specialReservationDetails:
                          type: string
                          description: ignore (Viator only)
                        sslSupported:
                          type: boolean
                          description: ignore (Viator only)
                        merchantNetPriceFrom:
                          type: number
                          description: ignore (Viator only)
                        merchantNetPriceFromFormatted:
                          type: string
                          description: ignore (Viator only)
                        specialReservation:
                          type: boolean
                          description: ignore (Viator only)
                        essential:
                          type: string
                          description: ignore (Viator only)
                        admission:
                          type: string
                          description: ignore (Viator only)
                        videoCount:
                          type: integer
                          description: ignore (Viator only) – videos are no longer available
              examples:
                '1':
                  $ref: '#/components/examples/product-example'
    servers:
    - url: https://viatorapi.viator.com/service
      description: Production server
  /product/reviews:
    get:
      tags:
      - Product services
      summary: /product/reviews
      operationId: productReviews
      description: "Get reviews of a product submitted by users\n\n**Note**: \n\n- The number of reviews that you can obtain via this service will depend on\nwhether your account is limited in terms of the number of reviews you are\nentitled to receive. \n\n- The number of reviews available through this service is given in the\n`reviewCount` element in the response from [/product](#operation/product)\n\n- Please speak to your account manager if you wish to receive more reviews.\nIf your account is not limited, you will be able to receive all available\nreviews for this product.\n\n- Only reviews in the language specified in the Accept-Language request\nheader will be returned\n\n**Viator performs checks on reviews**\n\n- For more information, see [Key concepts - Review authenticity](#section/Key-concepts/Review-authenticity)\n\n\n**Example:** \"Get the first three reviews for product `5010SYDNEY` sorted by\nrating in ascending order\":\n\n\n```javascript\n\nhttps://viatorapi.viator.com/service/product/reviews?sortOrder=REVIEW_RATING_A&topX=1-3&code=5010SYDNEY&showUnavailable=false\n\n```\n"
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/sortOrder_REVIEW'
      - $ref: '#/components/parameters/topX'
      - $ref: '#/components/parameters/code'
      - $ref: '#/components/parameters/showUnavailable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      description: '**array** of review objects'
                      items:
                        $ref: '#/components/schemas/reviewObject'
              examples:
                '1':
                  $ref: '#/components/examples/product-reviews-example'
    servers:
    - url: https://viatorapi.viator.com/service
      description: Production server
  /product/photos:
    get:
      tags:
      - Product services
      summary: /product/photos
      operationId: productPhotos
      description: Get photos of a product submitted by users
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/topX'
      - $ref: '#/components/parameters/code'
      - $ref: '#/components/parameters/showUnavailable'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      description: '**array** of photo objects'
                      items:
                        $ref: '#/components/schemas/photoObject'
              examples:
                '1':
                  $ref: '#/components/examples/product-photos-example'
    servers:
    - url: https://viatorapi.viator.com/service
      description: Production server
  /available/products:
    post:
      tags:
      - Product services
      summary: /available/products
      operationId: availableProducts
      description: 'Gets available products by product code, date range or number of adult travelers

        '
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                currencyCode:
                  $ref: '#/components/schemas/currencyCode'
                startDate:
                  type: string
                  example: '2020-12-21'
                  description: '**start date** of the date range to search within (must be in the future)'
                endDate:
                  type: string
                  example: 202-12-31
                  description: '**end date** of the date range to search within (must be in the future)'
                numAdults:
                  type: integer
                  example: 1
                  description: '**number of adult travelers** who wish to participate

                    - default: `1`

                    '
                productCodes:
                  type: array
                  description: '**array of unique alphanumeric product identifiers** specifying which products to find the availability of

                    - maximum: `50`

                    '
                  example:
                  - 5010SYDNEY
                  - 2280SUN
                  - 9169P50
                  items:
                    type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      description: '**array** of product objects'
                      items:
                        type: object
                        properties:
                          sortOrder:
                            type: integer
                            description: '**sort order** of this result object'
                          supplierName:
                            type: string
                            description: '**natural-language name** of *this* product''s supplier'
                          currencyCode:
                            $ref: '#/components/schemas/currencyCode'
                          catIds:
                            type: array
                            description: '**list** of unique numeric category identifiers that this product falls under

                              - `categoryId` is available from the [/taxonomy/categories](#operation/taxonomyCategories) service

                              '
                            items:
                              type: integer
                          subCatIds:
                            type: array
                            description: '**list** of unique numeric subcategory identifiers that this product falls under

                              - `subcategoryId` is available from the [/taxonomy/categories](#operation/taxonomyCategories) service

                              '
                            items:
                              type: integer
                          webURL:
                            $ref: '#/components/schemas/webURL'
                          specialReservationDetails:
                            type: string
                            description: ignore (Viator only)
                          sslSupported:
                            type: boolean
                            description: ignore (Viator only)
                          panoramaCount:
                            type: integer
                            description: '**number** of panoramic images available for *this* product'
                          merchantCancellable:
                            type: boolean
                            description: ignore (Viator only)
                          bookingEngineId:
                            $ref: '#/components/schemas/bookingEngineId'
                          onRequestPeriod:
                            $ref: '#/components/schemas/onRequestPeriod'
                          primaryGroupId:
                            type: string
                            description: ignore (Viator only)
                          pas:
                            type: object
                            description: '**object** detailing product availability

                              - `pas` stands for Product Availability Schema

                              '
                            properties:
                              productCode:
                                type: string
                                description: '**unique alphanumeric identifier** of *this* product'
                              travellerMix:
                                type: string
                                description: '**alphanumeric code** indicating the combination of adults and children being enquired about'
                              tourGrades:
                                type: object
                                description: '**dictionary** of tour grade alphanumeric codes to tour grade objects'
                                additionalProperties:
                                  type: object
                                  properties:
                                    tourGradeCode:
                                      type: string
                                      description: '**alphanumeric identifier** for *this* tour grade'
                                    title:
                                      type: string
                                      description: '**natural-language title** of *this* tour grade'
                                    description:
                                      type: string
                                      description: '**natural-language description** of *this* tour grade'
                                    bookingEngine:
                                      type: string
                                      description: '**booking modality specifier** for *this* tour grade'
                                    sapi:
                                      type: boolean
                                      description: ignore (Viator only)
                                    languageServices:
                                      type: object
                                      description: '**dictionary** of language codes to array of textual language service descriptors available for *this* tour grade'
                                      additionalProperties:
                                        type: array
                                    availDates:
                                      type: array
                                      description: '**array of objects** with availability and pricing information for *this* tour grade'
                                      items:
                                        type: object
                                        properties:
                                          priceFrom:
                                            type: string
                                            description: '**lowest sale price** for *this* tour grade formatted according to the example'
                                          priceQuote:
                                            type: object
                                            description: '**pricing object** for *this* tour grade'
                                            properties:
                                              retailPrice:
                                                type: string
                                                description: '**retail price** of *this* tour grade formatted according to the example'
                                              generalRetailPrice:
                                                type: string
                                                description: '**general retail price** of *this* tour grade formatted according to the example'
                                              merchantNetPrice:
                                                type: string
                                                description: ignore (Viator only)
                                          dateList:
                                            type: string
                                            description: '**list of dates** on which *this* tour grade is available formatted according to the example'
                              incompleteQuote:
                                type: boolean
                                description: ignore (Viator only)
                              removedChildAges:
                                type: array
                                description: ignore (Viator only)
                                items:
                                  type: string
                          available:
                            type: boolean
                            description: ignore (Viator only)
                          productUrlName:
                            type: string
                            description: '**URL-formatted name** of *this* product'
                          primaryDestinationUrlName:
                            type: string
                            description: '**URL-formatted name** of *this* product''s primary destination'
                          price:
                            $ref: '#/components/schemas/price'
                          priceFormatted:
                            $ref: '#/components/schemas/priceFormatted'
                          rrp:
                            $ref: '#/components/schemas/rrp'
                          rrpFormatted:
                            $ref: '#/components/schemas/rrpFormatted'
                          savingAmount:
                            $ref: '#/components/schemas/savingAmount'
                          savingAmountFormated:
                            $ref: '#/components/schemas/savingAmountFormated'
                          specialOfferAvailable:
                            $ref: '#/components/schemas/specialOfferAvailable'
                          onSale:
                            $ref: '#/components/schemas/onSale'
                          supplierCode:
                            type: string
                            description: '**unique identifier** of *this* product''s supplier'
                          translationLevel:
                            $ref: '#/components/schemas/translationLevel'
                          photoCount:
                            description: '**number** of user photos published for *this* product'
                            type: integer
                          reviewCount:
                            $ref: '#/components/schemas/reviewCount'
                          primaryDestinationId:
                            description: '**unique numeric identifier** of *this* product''s primary destination'
                            type: integer
                          thumbnailHiResURL:
                            type: string
                            description: '**URL** of *this* product''s high resolution thumbnail image'
                          videoCount:
                            type: integer
                            description: 'ignore (Viator only) – videos are not available to partners

                              '
                          rating:
                            $ref: '#/components/schemas/rating'
                          primaryDestinationName:
                            description: '**natural-language name** of *this* product''s primary destination'
                            type: string
                          thumbnailURL:
                            type: string
                            description: '**URL** of *this* product''s thumbnail image'
                          specialReservation:
                            type: boolean
                            description: ignore (Viator only)
                          shortTitle:
                            type: string
                            description: '**natural-language title (shortened)** of *this* product'
                          uniqueShortDescription:
                            description: '**natural-language description** of *this* product'
                            type: string
                          merchantNetPriceFrom:
                            type: number
                            description: ignore (Viator only)
                          merchantNetPriceFromFormatted:
                            type: string
                            description: ignore (Viator only)
                          essential:
                            type: string
                            description: ignore (Viator only)
                          admission:
                            type: string
                            description: ignore (Viator only)
                          title:
                            type: string
                            description: '**natural-language title** of *this* product'
                          shortDescription:
                            type: string
                            description: '**natural-language description** (short) of *this* product'
                          duration:
                            type: string
                            description: '**natural-language description** of *this* product''s duration'
                          code:
                            type: string
                            description: '**unique alphanumeric identifier** of *this* product'
              examples:
                '1':
                  $ref: '#/components/examples/available-products-example'
    servers:
    - url: https://viatorapi.viator.com/service
      description: Production server
components:
  examples:
    product-photos-example:
      summary: /product/photos
      value:
        errorReference: null
        data:
        - sortOrder: 1
          ownerName: Husker1k
          ownerCountry: null
          productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
          productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
          ownerAvatarURL: null
          sslSupported: false
          timeUploaded: '2012-02-07'
          productCode: 5010SYDNEY
          caption: <p>Carl and Karen meeting a new friend at the Wildlife park.</p>
          thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/e4/dsc00471-photo_1909732-133sq.jpg
          ownerId: 1755909
          editorsPick: true
          photoURL: http://cache-graphicslib.viator.com/graphicslib/media/e4/dsc00471-photo_1909732-770tall.jpg
          photoId: 1909732
          photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/e4/dsc00471-photo_1909732-1536tall.jpg
          photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/e4/dsc00471-photo_1909732-260tall.jpg
          title: DSC00471
        - sortOrder: 2
          ownerName: Kylie G
          ownerCountry: Australia
          productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
          productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
          ownerAvatarURL: null
          sslSupported: false
          timeUploaded: '2009-07-22'
          productCode: 5010SYDNEY
          caption: Sydney Opera House
          thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/f2/sydney-opera-house-photo_997106-133sq.jpg
          ownerId: 288013
          editorsPick: true
          photoURL: http://cache-graphicslib.viator.com/graphicslib/media/f2/sydney-opera-house-photo_997106-770tall.jpg
          photoId: 997106
          photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/f2/sydney-opera-house-photo_997106-1536tall.jpg
          photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/f2/sydney-opera-house-photo_997106-260tall.jpg
          title: Sydney Opera House
        - sortOrder: 3
          ownerName: Sheila T
          ownerCountry: null
          productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
          productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
          ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/d7/sheila-t-account_1327319-45sq.jpg
          sslSupported: false
          timeUploaded: '2018-03-28'
          productCode: 5010SYDNEY
          caption: <p>This was taken from a water taxi</p>
          thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/8a/-photo_31376266-133sq.jpg
          ownerId: 1327319
          editorsPick: false
          photoURL: http://cache-graphicslib.viator.com/graphicslib/media/8a/-photo_31376266-770tall.jpg
          photoId: 31376266
          photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/8a/-photo_31376266-1536tall.jpg
          photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/8a/-photo_31376266-260tall.jpg
          title: ''
        dateStamp: 2020-04-20T21:51:23+0000
        errorType: null
        errorCodes: []
        errorMessage: null
        errorName: null
        extraInfo: {}
        extraObject: null
        success: true
        totalCount: 118
        errorMessageText: null
        vmid: '331004'
    search-products-example1:
      summary: /search/products
      value:
        errorReference: null
        data:
        - sortOrder: 1
          supplierName: null
          currencyCode: USD
          catIds:
          - 26051
          - 6
          subCatIds:
          - 19
          - 26052
          - 21
          - 40293
          webURL: http://shop.live.rc.viator.com/tours/Las-Vegas/Yoga-Uncorked-Artisan-Hotel/d684-73492P17?eap=brand-subbrand-17895&aid=vba17895en
          specialReservationDetails: null
          sslSupported: false
          panoramaCount: 0
          merchantCancellable: false
          bookingEngineId: FreesaleBE
          onRequestPeriod: null
          primaryGroupId: 6
          pas: null
          available: true
          productUrlName: Yoga-Uncorked-Artisan-Hotel
          primaryDestinationUrlName: Las-Vegas
          shortDescription: Sip your wine and unwind with wine yoga! This gentle yoga class combines sipping your wine and practicing fun yoga basics in a rad environment. A tad unconventional, this class is filled with laughter, fun, and cheers-ing your neighbor.<br><br>Private parties are available upon request.<br><br>Ticket includes one glass of wine, a souvenir adult sippy (to help prevent the spillage of the wine!), and a gentle quirky yoga class.<br><br>
          price: 55
          supplierCode: '73492'
          translationLevel: 0
          thumbnailHiResURL: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/0a/8a/a8/44.jpg
          primaryDestinationName: Las Vegas
          thumbnailURL: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/0a/8a/a8/44.jpg
          onSale: false
          photoCount: 0
          reviewCount: 0
          primaryDestinationId: 684
          merchantNetPriceFrom: 0
          priceFormatted: $55.00
          rrp: 0
          rrpformatted: ''
          videoCount: 0
          rating: 0
          specialReservation: false
          shortTitle: Yoga Uncorked-Artisan Hotel
          specialOfferAvailable: false
          uniqueShortDescription: null
          merchantNetPriceFromFormatted: ''
          savingAmount: 0
          savingAmountFormated: ''
          essential: null
          admission: null
          duration: 1 hour
          title: Yoga Uncorked-Artisan Hotel
          code: 73492P17
        - sortOrder: 2
          supplierName: null
          currencyCode: USD
          catIds:
          - 26051
          - 50127
          subCatIds:
          - 50128
          - 26052
          - 40293
          webURL: http://shop.live.rc.viator.com/tours/Nevada/Sunset-Yoga-in-Las-Vegas/d22171-73458P1?eap=brand-subbrand-17895&aid=vba17895en
          specialReservationDetails: null
          sslSupported: false
          panoramaCount: 0
          merchantCancellable: false
          bookingEngineId: DeferredCRMBE
          onRequestPeriod: null
          primaryGroupId: 26051
          pas: null
          available: true
          productUrlName: Sunset-Yoga-in-Las-Vegas
          primaryDestinationUrlName: Nevada
          shortDescription: Enjoy a quiet, beautiful short walk to a secluded and breathtaking scene in Las Vegas. Travelers can choose to visit Calico Basin, Mt. Charleston, Wetlands, Seven Magic Mountains, or Lake Las Vegas for a private or group yoga session. Each session will provide the freedom from day-to-day distractions and allow you to immerse yourself in a unique and awe-inspiring locale. Each yoga session will be tailored to the individual and/or group in order to ensure the proper tone and intention is set. This is an all-inclusive experience. Guided walking tour, customized yoga session, yoga mats and water will be provided.
          price: 256.42
          supplierCode: '73458'
          translationLevel: 0
          thumbnailHiResURL: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/07/3b/bc/78.jpg
          primaryDestinationName: Nevada
          thumbnailURL: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/07/3b/bc/78.jpg
          onSale: false
          photoCount: 0
          reviewCount: 0
          primaryDestinationId: 22171
          merchantNetPriceFrom: 0
          priceFormatted: $256.42
          rrp: 0
          rrpformatted: ''
          videoCount: 0
          rating: 0
          specialReservation: false
          shortTitle: Explore the Beauty of Las Vegas with Private and Group Yoga Classes
          specialOfferAvailable: false
          uniqueShortDescription: null
          merchantNetPriceFromFormatted: ''
          savingAmount: 0
          savingAmountFormated: ''
          essential: null
          admission: null
          duration: 1 to 2 hours
          title: Explore the Beauty of Las Vegas with Private and Group Yoga Classes
          code: 73458P1
        - sortOrder: 3
          supplierName: null
          currencyCode: USD
          catIds:
          - 26051
          - 6
          - 50127
          subCatIds:
          - 50128
          - 19
          - 26052
          - 21
          - 40293
          webURL: http://shop.live.rc.viator.com/tours/Las-Vegas/Viva-Las-Vinos-Wine-Yoga/d684-73492P4?eap=brand-subbrand-17895&aid=vba17895en
          specialReservationDetails: null
          sslSupported: false
          panoramaCount: 0
          merchantCancellable: false
          bookingEngineId: FreesaleBE
          onRequestPeriod: null
          primaryGroupId: 26051
          pas: null
          available: true
          productUrlName: Viva-Las-Vinos-Wine-Yoga
          primaryDestinationUrlName: Las-Vegas
          shortDescription: Sip your wine and unwind with wine yoga! This gentle yoga class combines sipping your wine and practicing fun yoga basics in a rad environment. A tad unconventional, this class is filled with laughter, fun, and cheers-ing your neighbor.<br><br>Private parties are available upon request.<br><br>Ticket includes one glass of wine, a souvenir adult sippy (to help prevent the spillage of the wine!), and a gentle quirky yoga class.<br><br>
          price: 55
          supplierCode: '73492'
          translationLevel: 0
          thumbnailHiResURL: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/09/27/7e/88.jpg
          primaryDestinationName: Las Vegas
          thumbnailURL: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/09/27/7e/88.jpg
          onSale: false
          photoCount: 0
          reviewCount: 0
          primaryDestinationId: 684
          merchantNetPriceFrom: 0
          priceFormatted: $55.00
          rrp: 0
          rrpformatted: ''
          videoCount: 0
          rating: 0
          specialReservation: false
          shortTitle: Yoga Uncorked at The Gramercy
          specialOfferAvailable: false
          uniqueShortDescription: null
          merchantNetPriceFromFormatted: ''
          savingAmount: 0
          savingAmountFormated: ''
          essential: null
          admission: null
          duration: 1 hour
          title: Yoga Uncorked at The Gramercy
          code: 73492P4
        dateStamp: 2020-04-20T19:24:12+0000
        errorType: null
        errorCodes: []
        errorMessage: null
        errorName: null
        extraInfo: {}
        extraObject: null
        success: true
        totalCount: 3
        errorMessageText: null
        vmid: '331001'
    product-example:
      summary: 5010SYDNEY
      value:
        errorReference: null
        data:
          supplierName: null
          currencyCode: USD
          catIds:
          - 6
          - 12
          subCatIds:
          - 97
          - 98
          - 5330
          - 26963
          - 32024
          - 45
          webURL: http://shop.live.rc.viator.com/tours/Sydney/Sydney-and-Bondi-Hop-on-Hop-off-Tour/d357-5010SYDNEY?eap=brand-subbrand-17895&aid=vba17895en
          specialReservationDetails: null
          sslSupported: false
          panoramaCount: 0
          merchantCancellable: false
          bookingEngineId: UnconditionalBE
          onRequestPeriod: null
          primaryGroupId: null
          pas: null
          available: true
          productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
          primaryDestinationUrlName: Sydney
          voucherRequirements: You can present either a paper or an electronic voucher for this activity.
          tourGradesAvailable: true
          hotelPickup: false
          userPhotos:
          - sortOrder: 1
            ownerName: Husker1k
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: null
            sslSupported: false
            timeUploaded: '2012-02-07'
            productCode: 5010SYDNEY
            caption: <p>Carl and Karen meeting a new friend at the Wildlife park.</p>
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/e4/dsc00471-photo_1909732-133sq.jpg
            ownerId: 1755909
            editorsPick: true
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/e4/dsc00471-photo_1909732-770tall.jpg
            photoId: 1909732
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/e4/dsc00471-photo_1909732-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/e4/dsc00471-photo_1909732-260tall.jpg
            title: DSC00471
          - sortOrder: 2
            ownerName: Kylie G
            ownerCountry: Australia
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: null
            sslSupported: false
            timeUploaded: '2009-07-22'
            productCode: 5010SYDNEY
            caption: Sydney Opera House
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/f2/sydney-opera-house-photo_997106-133sq.jpg
            ownerId: 288013
            editorsPick: true
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/f2/sydney-opera-house-photo_997106-770tall.jpg
            photoId: 997106
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/f2/sydney-opera-house-photo_997106-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/f2/sydney-opera-house-photo_997106-260tall.jpg
            title: Sydney Opera House
          - sortOrder: 3
            ownerName: Sheila T
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/d7/sheila-t-account_1327319-45sq.jpg
            sslSupported: false
            timeUploaded: '2018-03-28'
            productCode: 5010SYDNEY
            caption: <p>This was taken from a water taxi</p>
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/8a/-photo_31376266-133sq.jpg
            ownerId: 1327319
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/8a/-photo_31376266-770tall.jpg
            photoId: 31376266
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/8a/-photo_31376266-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/8a/-photo_31376266-260tall.jpg
            title: ''
          - sortOrder: 4
            ownerName: Sheila T
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/d7/sheila-t-account_1327319-45sq.jpg
            sslSupported: false
            timeUploaded: '2018-03-28'
            productCode: 5010SYDNEY
            caption: <p>Tell us who is in the photo, what you were doing, etc.</p>
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/87/-photo_31376263-133sq.jpg
            ownerId: 1327319
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/87/-photo_31376263-770tall.jpg
            photoId: 31376263
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/87/-photo_31376263-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/87/-photo_31376263-260tall.jpg
            title: ''
          - sortOrder: 5
            ownerName: Sheila T
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/d7/sheila-t-account_1327319-45sq.jpg
            sslSupported: false
            timeUploaded: '2018-03-28'
            productCode: 5010SYDNEY
            caption: <p>Tell us who is in the photo, what you were doing, etc.</p>
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/88/-photo_31376264-133sq.jpg
            ownerId: 1327319
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/88/-photo_31376264-770tall.jpg
            photoId: 31376264
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/88/-photo_31376264-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/88/-photo_31376264-260tall.jpg
            title: ''
          - sortOrder: 6
            ownerName: Sheila T
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/d7/sheila-t-account_1327319-45sq.jpg
            sslSupported: false
            timeUploaded: '2018-03-28'
            productCode: 5010SYDNEY
            caption: <p>Tell us who is in the photo, what you were doing, etc.</p>
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/89/-photo_31376265-133sq.jpg
            ownerId: 1327319
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/89/-photo_31376265-770tall.jpg
            photoId: 31376265
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/89/-photo_31376265-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/89/-photo_31376265-260tall.jpg
            title: ''
          - sortOrder: 7
            ownerName: Sheila T
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/d7/sheila-t-account_1327319-45sq.jpg
            sslSupported: false
            timeUploaded: '2018-03-28'
            productCode: 5010SYDNEY
            caption: <p>Tell us who is in the photo, what you were doing, etc.</p>
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/86/-photo_31376262-133sq.jpg
            ownerId: 1327319
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/86/-photo_31376262-770tall.jpg
            photoId: 31376262
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/86/-photo_31376262-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/86/-photo_31376262-260tall.jpg
            title: ''
          - sortOrder: 8
            ownerName: hmyou
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: null
            sslSupported: false
            timeUploaded: '2018-02-17'
            productCode: 5010SYDNEY
            caption: <p>open top deck  on a good day.</p>
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/1e/-photo_30550814-133sq.jpg
            ownerId: 7208378
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/1e/-photo_30550814-770tall.jpg
            photoId: 30550814
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/1e/-photo_30550814-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/1e/-photo_30550814-260tall.jpg
            title: ''
          - sortOrder: 9
            ownerName: hmyou
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: null
            sslSupported: false
            timeUploaded: '2018-02-17'
            productCode: 5010SYDNEY
            caption: <p>Sydney bus</p>
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/1d/-photo_30550813-133sq.jpg
            ownerId: 7208378
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/1d/-photo_30550813-770tall.jpg
            photoId: 30550813
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/1d/-photo_30550813-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/1d/-photo_30550813-260tall.jpg
            title: ''
          - sortOrder: 10
            ownerName: Sandra L
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: null
            sslSupported: false
            timeUploaded: '2018-01-24'
            productCode: 5010SYDNEY
            caption: <p>The Sydney Harbour Bridge from Opera House.</p>
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/80/-photo_30156160-133sq.jpg
            ownerId: 29870783
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/80/-photo_30156160-770tall.jpg
            photoId: 30156160
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/80/-photo_30156160-1536tall.jpg
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/80/-photo_30156160-260tall.jpg
            title: ''
          - sortOrder: 11
            ownerName: Sandra L
            ownerCountry: null
            productTitle: Big Bus Sydney and Bondi Hop-on Hop-off Tour
            productUrlName: Sydney-and-Bondi-Hop-on-Hop-off-Tour
            ownerAvatarURL: null
[...]
