openapi: 3.2.0
info:
  title: Viator API Documentation & Specification - Affiliate…
  description: 'code { white-space: nowrap; }

    a { font-weight: bold; }


    figure {

    width: 100%;

    text-align: center;

    font-style: italic;

    font-size: smaller;

    text-indent: 0;

    border: thin silver solid;

    margin: 0.5em;

    padding: 0.5em;

    }


    ## Updates


    | Date | Description |

    |------|-------------|

    | 26 May 2022 | Added advice about review authenticity: Key concepts - Review authenticity |

    | 11 Feb 2022 | Added note about no-index policy to /attraction, /attraction/photos, /attraction/reviews and /search/attractions…'
  version: '1.0'
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au
  contact:
    name: Viator Partner Support Team
    email: affiliateapi@tripadvisor.com
servers:
- url: https://viatorapi.viator.com/service
  description: Production server
security:
- API-key: []
- Legacy-API-key: []
tags:
- name: Attraction services
  description: Attraction services
paths:
  /search/attractions:
    post:
      tags:
      - Attraction services
      summary: /search/attractions
      operationId: searchAttractions
      description: 'This service retrieves a list of attractions associated with the given

        destination


        **Note**:


        - Pages generated using data from this endpoint are subject to a **strict no-index policy**. If you are unsure about whether you are correctly following this rule, please reach out to your account manager for advice.


        **Aliases**:


        - /search/recommendations


        - /search/seo'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destId:
                  type: integer
                  description: '**unique numeric identifier** of the destination in which to search for attractions'
                topX:
                  $ref: '#/components/schemas/topX'
                seoType:
                  description: '**search specifier**: one of `''ATTRACTION''` or `''RECOMMENDATION''`'
                  enum:
                  - ATTRACTION
                  - RECOMMENDATION
                sortOrder:
                  type: string
                  description: 'Sort order for the results; one of:

                    - `''RECOMMENDED''` – sorted in order of recommendation (**Note**: What Viator gets paid impacts this sort order)

                    - `''SEO_ALPHABETICAL''` – Alphabetical (A->Z)

                    '
            example:
              destId: 684
              topX: 1-3
              seoType: ATTRACTION
              sortOrder: RECOMMENDED
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          sortOrder:
                            type: integer
                            description: '**sort-order* for *this* search result'
                          panoramaCount:
                            type: integer
                            description: '**number** of panoramic images available for *this* attraction'
                          webURL:
                            $ref: '#/components/schemas/webURL'
                          pageUrlName:
                            description: '**URL-formatted title** of the attraction page'
                            type: string
                          primaryDestinationUrlName:
                            type: string
                            description: '**URL-formatted name** of the primary destination'
                          publishedDate:
                            type: string
                            description: '**date** on which *this* review was published'
                          userName:
                            type: string
                            description: ignore (Viator only)
                          seoId:
                            type: integer
                            description: '**unique numeric identifier** for *this* attraction'
                          productCount:
                            type: integer
                            description: '**number of products** available at *this* attraction'
                          title:
                            type: string
                            description: '**natural-language title** of *this* attraction'
                          thumbnailURL:
                            type: string
                            description: '**URL** for the thumbnail image to be displayed for *this* attraction'
                          reviewCount:
                            type: integer
                            description: '**number** of reviews available for *this* attraction'
                          photoCount:
                            type: integer
                            description: '**number** of photos available for *this* attraction'
                          rating:
                            type: integer
                            description: '**average user rating** for *this* attraction'
                          destinationId:
                            type: integer
                            description: '**unique numeric identifier** for *this* attraction'
                          seoType:
                            type: string
                            description: '**indicator**: one of `''ATTRACTION''` or `''RECOMMENDATION''` depending on the type of *this* result'
                          pageTitle:
                            type: string
                            description: '**title** of the page for *this* attraction'
                          editorsPick:
                            type: boolean
                            description: '**indicator**: `true` if only the top (editor''s pick) attractions will be shown'
                          keywords:
                            type: array
                            items:
                              type: object
                              properties:
                                keyword:
                                  type: string
                                  description: '**natural-language keyword or phrase** that describes *this* attraction'
                                keywordId:
                                  type: number
                                  description: '**unique numeric identifier** for *this* keyword'
                          showPhotos:
                            type: boolean
                            description: '**indicator**: `true` if photos should be shown for *this* attraction'
                          primaryDestinationId:
                            type: integer
                            description: '**unique numeric identifier** for the primary destination associated with *this* attraction'
                          primaryDestinationName:
                            type: string
                            description: '**natural-language name** of the primary destination identified by `primaryDestinationId`'
                          thumbnailHiResURL:
                            type: string
                            description: '**URL** for the thumbnail image that should be used for *this* attraction'
                          tabTitle:
                            type: string
                            description: '**title** for the tab on which this attraction is displayed'
                          descriptionIntro:
                            description: '**natural-language introduction** for the description of *this* attraction'
                          descriptionText:
                            type: string
                            description: '**natural-language description** of *this* attraction'
                          showReviews:
                            type: boolean
                            description: '**indicator**: `true` if review should be shown'
                          attractionLatitude:
                            type: number
                            description: '**latitude component** of *this* attraction''s geolocation'
                          attractionLongitude:
                            type: number
                            description: '**longitude component** of *this* attraction''s geolocation'
                          attractionStreetAddress:
                            type: string
                            description: '**street address component** of *this* attraction''s address'
                          attractionCity:
                            type: string
                            description: '**city component** of *this* attraction''s address'
                          attractionState:
                            type: string
                            description: '**state component** of *this* attraction''s address'
                          keywordCount:
                            type: integer
                            description: '**number** of keywords for *this* result'
                          overviewSummary:
                            type: string
                            description: '**HTML-formatted overview summary** for *this* atraction'
                          pagePrimaryLanguage:
                            type: string
                            description: '**language code** for the language that this content is primarily expressed in'
              examples:
                '1':
                  $ref: '#/components/examples/search-attractions-example'
  /attraction:
    get:
      tags:
      - Attraction services
      summary: /attraction
      operationId: attraction
      description: 'This service returns the details of an attraction.


        **Note**:


        - Pages generated using data from this endpoint are subject to a **strict no-index policy**. If you are unsure about whether you are correctly following this rule, please reach out to your account manager for advice.


        **Aliases**:

        - /recommendation

        - /seo'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - in: query
        name: seoId
        description: '**unique numeric identifier** for the attraction to retrieve details for'
        example: 14235
        schema:
          type: integer
      - in: query
        name: currencyCode
        description: '**currency-code** for the currency in which to display pricing details for the desired attraction'
        example: EUR
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        panoramaCount:
                          type: integer
                          description: '**number of panoramas** available for this attraction'
                          example: 0
                        webURL:
                          $ref: '#/components/schemas/webURL'
                        userPhotos:
                          type: array
                          items:
                            type: object
                            properties:
                              sortOrder:
                                type: integer
                                description: '**sort order** for *this* result'
                              ownerName:
                                type: string
                                description: '**name** of the owner of *this* photograph'
                              ownerCountry:
                                type: string
                                description: '**natural-language name** of the country that the owner of this photo calls home'
                              productTitle:
                                type: string
                                description: '**title** of the product that *this* photo represents'
                              ownerAvatarURL:
                                type: string
                                description: '**URL** for the avatar image of the owner of this photo'
                              productCode:
                                type: string
                                description: '**unique alpha-numeric identifier** of the product that this photo represents'
                              title:
                                type: string
                                description: '**natural-language title** of the product that this photo represents'
                              caption:
                                type: string
                                description: '**HTML-formatted caption** for *this* photo'
                              thumbnailURL:
                                type: string
                                description: '**URL** for the thumbnail image of *this* photo'
                              ownerId:
                                type: integer
                                description: '**unique numeric identifier** of the owner of *this* photo'
                              editorsPick:
                                type: boolean
                                description: '**indicator**: `true` if this photo is an editor''s pick'
                              photoHiResURL:
                                type: string
                                description: '**URL** for the high-resolution version of *this* photo'
                              photoId:
                                type: integer
                                description: '**unique numeric identifier** for *this* photo'
                              photoURL:
                                type: string
                                description: '**URL** for *this* photo'
                              photoMediumResURL:
                                type: string
                                description: '**URL** for the medium-resolution version of *this* photo'
                              timeUploaded:
                                type: string
                                description: '**date** on which *this* photo was uploaded formatted according to the example'
                        reviews:
                          type: array
                          items:
                            type: object
                            properties:
                              sortOrder:
                                type: integer
                                description: '**sort order** for *this* result'
                              ownerName:
                                type: string
                              ownerCountry:
                                type: string
                                description: ignore (Viator only)
                              productTitle:
                                type: string
                                description: '**title** of the product that *this* photo represents'
                              ownerAvatarURL:
                                type: string
                                description: ignore (Viator only)
                              productCode:
                                type: string
                                description: '**unique alpha-numeric identifier** of the product that this photo represents'
                              review:
                                type: string
                                description: '**HTML-formatted text** of *this* review'
                              rating:
                                type: integer
                                description: '**numeric rating** given in *this* recommendation'
                              ownerId:
                                type: integer
                                description: '**unique numeric identifier** for the owner of *this* review'
                              viatorFeedback:
                                type: string
                                description: ignore (Viator only)
                              reviewId:
                                type: integer
                                description: '**unique numeric identifier** for *this* review'
                              submissionDate:
                                type: string
                                description: '**date** on which *this* review was submitted formatted according to the example'
                              publishedDate:
                                type: string
                                description: '**date** on which *this* review was published'
                              viatorNotes:
                                type: string
                                description: ignore (Viator only)
                        products:
                          type: array
                          items:
                            type: object
                            properties:
                              sortOrder:
                                type: integer
                                description: '**sort order** for *this* result'
                              supplierName:
                                type: string
                                description: ignore (Viator only)
                              currencyCode:
                                type: string
                                description: '**currency-code** for the currency in which pricing information is displayed'
                              catIds:
                                type: string
                                description: ignore (Viator only)
                              subCatIds:
                                type: string
                                description: ignore (Viator only)
                              webURL:
                                $ref: '#/components/schemas/webURL'
                              specialReservationDetails:
                                type: string
                                description: ignore (Viator only)
                              panoramaCount:
                                type: integer
                                description: ignore (Viator only)
                              merchantCancellable:
                                type: boolean
                                description: ignore (Viator only)
                              duration:
                                type: string
                                description: '**natural-language duration** of *this* tour formatted according to the example'
                              code:
                                type: string
                                description: '**unique alphanumeric identifier** for *this* product'
                              shortDescription:
                                type: string
                                description: '**short natural-language descriuption* of *this* product'
                              supplierCode:
                                type: string
                                description: '**unique numeric identifer** of the supplier of *this* product expressed as a string'
                              title:
                                type: string
                                description: '**natural-language title** of *this* product'
                              thumbnailURL:
                                type: string
                                description: '**URL** of the thumbnail image for *this* product'
                              specialReservation:
                                type: boolean
                                description: ignore (Viator only)
                              reviewCount:
                                type: integer
                                description: '**number of reviews** available for *this* product'
                              photoCount:
                                type: integer
                                description: '**number of photos** available for *this* product'
                              rating:
                                type: string
                                description: '**average user rating** for *this* product'
                              rrp:
                                type: number
                                description: '**recommended retail price** for *this* product in the currency specified in `countryCode`'
                              rrpformatted:
                                type: string
                                description: '**recommended retail price** for *this* product formatted according to the currency specified in `countryCode`'
                              savingAmount:
                                type: number
                                description: '**magnitude of the discount** applied to *this* product represented in the currency specified in `countryCode`'
                              savingAmountFormated:
                                type: string
                                description: '**magnitude of the discount** applied to *this* product represented and formatted according to the currency specified in `countryCode` (note misspelling - ''formated'')'
                              price:
                                type: number
                                description: '**numeric price** for *this* product respresented in the currency specified in `countryCode`'
                              videoCount:
                                type: number
                                description: ignore (Viator only) – videos are not available to partners
                              onSale:
                                type: boolean
                                description: '**indicator**: `true` if a discount has been applied to *this* product''s price'
                              shortTitle:
                                type: string
                                description: '**natural-language shortened title** of *this* product'
                              translationLevel:
                                type: integer
                                description: '**specifier** of the level of translation that has been applied to this product'
                              primaryDestinationId:
                                type: integer
                                description: '**unique numeric identifier** of the primary destination associated with *this* product'
                              primaryDestinationName:
                                type: string
                                description: '**natural-language name** of the destination associated with *this* product'
                              priceFormatted:
                                type: string
                                description: '**currency-formatted price** of the product'
                              merchantNetPriceFrom:
                                type: number
                                description: ignore (Viator only)
                              merchantNetPriceFromFormatted:
                                type: string
                                description: ignore (Viator only)
                              specialOfferAvailable:
                                type: boolean
                                description: ignore (Viator only)
                              thumbnailHiResURL:
                                type: string
                                description: '**URL** for the high-resolution version of the thumbnail image for this product'
                        infoPageOverview1:
                          type: string
                          description: '**HTML-formatted overview** for *this* attraction: part 1'
                        infoPageOverview2:
                          type: string
                          description: '**HTML-formatted overview** for this attraction: part 2'
                        attractionAdmission:
                          type: string
                          description: '**natural-language descrption** of the admission terms for the attraction'
                        attractionTransit:
                          type: string
                          description: ignore (Viator only)
                        attractionOpenHours:
                          type: string
                          description: '**natural-language description of the opening hours for *this* attraction'
                        infoPageOverviewTitle1:
                          type: string
                          description: '**first title** of overview info page'
                        infoPageOverviewTitle2:
                          type: string
                          description: '**first title** of overview info page'
                        seoId:
                          type: integer
                          description: '**unique numeric identifier** for *this* attraction'
                        productCount:
                          type: integer
                          description: '**number** of products available for *this* attraction'
                        title:
                          type: string
                          description: '**natural-language title** of *this* attraction'
                        thumbnailURL:
                          type: string
                          description: '**URL** of the thumbnail image for *this* attraction'
                        reviewCount:
                          type: integer
                          description: '**number** of reviews avaialable for *this* attraction'
                        photoCount:
                          type: integer
                          description: '**number** of photos available for *this* attraction'
                        rating:
                          type: integer
                          description: '**average user rating** for *this* attraction'
                        destinationId:
                          type: integer
                          description: '**unique numeric identifier** for *this* attraction'
                        seoType:
                          type: string
                          description: '**indicator**: one of `''recommendation''` or `''RECOMMENDATION''` depending on the type of *this* result'
                        pageTitle:
                          type: string
                          description: '**title** of the page for *this* attraction'
                        editorsPick:
                          type: string
                          description: ''
                        keywords:
                          type: array
                          items:
                            type: object
                            properties:
                              keyword:
                                type: string
                                description: '**natural-language keyword or phrase** that describes *this* recommendation'
                              keywordId:
                                type: number
                                description: '**unique numeric identifier** for *this* keyword'
                        showPhotos:
                          type: boolean
                          description: '**specifier**: `true` if photos are to be shown'
                        primaryDestinationId:
                          type: integer
                          description: '**unique numeric identifier** for the destination associated with *this* attraction'
                        primaryDestinationName:
                          type: string
                          description: '**name** of the primary destination associated with *this* attraction'
                        thumbnailHiResURL:
                          type: string
                          description: '**URL** for the high-resolution thumbnail image for *this* attraction'
                        tabTitle:
                          type: string
                          description: '**title** for the tab for *this* attraction'
                        descriptionIntro:
                          type: string
                          description: '**intro** for the description for *this* attraction'
                        descriptionText:
                          type: string
                          description: '**HTML-formatted description** of *this* attraction'
                        showReviews:
                          type: boolean
                          description: '**specifier**: `true` if reviews are to be shown'
                        attractionLatitude:
                          type: number
                          description: '**latitude component** of *this* attraction''s geolocation'
                        attractionLongitude:
                          type: number
                          description: '**longitude component** of *this* attraction''s geolocation'
                        attractionStreetAddress:
                          type: string
                          description: '**street address component** of *this* attraction''s address'
                        attractionCity:
                          type: string
                          description: '**city component** of *this* attraction''s address'
                        attractionState:
                          type: string
                          description: '**state component** of *this* attraction''s address'
                        keywordCount:
                          type: integer
                          description: '**number** of keywords in *this* response'
                        overviewSummary:
                          type: string
                          description: '**summary description** of *this* attraction'
                        pagePrimaryLanguage:
                          type: string
                          description: '**language-code** for the language that *this* attraction''s page is primarily expressed in'
              examples:
                '1':
                  $ref: '#/components/examples/attraction-example'
  /attraction/reviews:
    get:
      tags:
      - Attraction services
      summary: /attraction/reviews
      operationId: attractionReviews
      description: 'This service gets reviews related to an attraction. These reviews might be

        associated indirectly through the related products.


        **Note**:


        - Pages generated using data from this endpoint are subject to a **strict no-index policy**. If you are unsure about whether you are correctly following this rule, please reach out to your account manager for advice.


        **Aliases**:


        - /recommendation/reviews


        - /seo/reviews'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - in: query
        name: seoId
        description: '**unique numeric identifier** of the attraction for which to retrieve reviews'
        example: 14235
        schema:
          type: integer
      - in: query
        name: sortOrder
        description: 'Sort order for the results; one of:


          - `''SEO_REVIEW_RATING_D''` - sort by traveler rating (descending)

          - `''SEO_REVIEW_RATING_PUBLISHED_DATE_D''` - sort by date of publication (most recent first)

          '
        example: SEO_REVIEW_RATING_D
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          sortOrder:
                            type: integer
                            description: '**sort order** for *this* review'
                          ownerName:
                            type: string
                            description: '**name** of the owner of *this* review'
                          ownerCountry:
                            type: string
                            description: '**country** in which the owner of *this* review is located'
                          productTitle:
                            type: string
                            description: '**title** of the product that *this* review is about'
                          productUrlName:
                            type: string
                            description: '**URL-formatted name** of the product *this* review is about'
                          ownerAvatarURL:
                            type: string
                            description: ignore (Viator only)
                          sslSupported:
                            type: boolean
                            description: ignore (Viator only)
                          publishedDate:
                            type: string
                            description: '**date** on which *this* review was published'
                          productCode:
                            type: string
                            description: '**unique alphanumeric identifier** of the product that *this* review is about'
                          viatorNotes:
                            type: string
                            description: ignore (Viator only)
                          submissionDate:
                            type: string
                            description: '**date** on which *this* review was submitted'
                          rating:
                            type: integer
                            description: '**rating** given by the author of *this* review'
                          review:
                            type: string
                            description: '**text content** of *this* review'
                          ownerId:
                            type: integer
                            description: '**unique numeric identifier** of *this* review''s author'
                          viatorFeedback:
                            type: string
                            description: ignore (Viator only)
                          reviewId:
                            type: integer
                            description: '**unique numeric identifier** for *this* review'
              examples:
                '1':
                  $ref: '#/components/examples/attraction-reviews-example'
  /attraction/photos:
    get:
      tags:
      - Attraction services
      summary: /attraction/photos
      operationId: attractionPhotos
      description: 'This service returns photos that are related to an attraction. These may be

        associated indirectly if they are photos of products related to the

        attraction.


        **Note**:


        - Pages generated using data from this endpoint are subject to a **strict no-index policy**. If you are unsure about whether you are correctly following this rule, please reach out to your account manager for advice.


        **Aliases**:


        - /recommendation/photos


        - /seo/photos'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/topX'
      - in: query
        name: seoId
        description: '**unique numeric identifier** for the attraction to retrieve photos'
        example: 14235
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          sortOrder:
                            type: integer
                            description: '**sort order** for *this* photo'
                          ownerName:
                            type: string
                            description: '**name** of the owner of *this* photo'
                          ownerCountry:
                            type: string
                            description: '**country** in which the owner of *this* photo is located'
                          productTitle:
                            type: string
                            description: '**title** of the product that this photo depicts'
                          productUrlName:
                            type: string
                            description: '**URL-formatted title** of the product that this photo depicts'
                          ownerAvatarURL:
                            type: string
                            description: '**URL** of the avatar photo of the owner of *this* photo'
                          sslSupported:
                            type: boolean
                            description: ignore (Viator only)
                          title:
                            type: string
                            description: '**title** of *this* photo'
                          ownerId:
                            type: integer
                            description: '**unique numeric identifier** of the owner of *this* product'
                          productCode:
                            type: string
                            description: '**unique alphanumeric identifier** of the product that *this* photo depicts'
                          caption:
                            type: string
                            description: '**HTML-formatted caption** for *this* photo'
                          thumbnailURL:
                            type: string
                            description: '**URL** for the thumbnail version of *this* image'
                          timeUploaded:
                            type: string
                            description: '**date stamp** indicating when *this* photo was uploaded'
                          editorsPick:
                            type: boolean
                            description: '**indicator**: `true` if *this* photo has been selected as an editor''s pick'
                          photoId:
                            type: integer
                            description: '**unique numeric identifier** for *this* photo'
                          photoURL:
                            type: string
                            description: '**URL** at which *this* photo can be accessed'
                          photoHiResURL:
                            type: string
                            description: '**URL** at which the high-resolution version of *this* photo can be accessed'
                          photoMediumResURL:
                            type: string
                            description: '**URL** at which the medium-resolution version of *this* photo can be accessed'
              examples:
                '1':
                  $ref: '#/components/examples/attraction-photos-example'
  /attraction/products:
    get:
      tags:
      - Attraction services
      summary: /attraction/products
      operationId: attractionProducts
      description: 'This service gets attraction-related products (for cross-selling purposes)


        **Aliases**:

        - /recommendation/products

        - /seo/products'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - in: query
        name: seoId
        description: '**unique numeric identifier** for the attraction'
        example: 14235
        schema:
          type: integer
      - $ref: '#/components/parameters/topX'
      - in: query
        name: sortOrder
        description: "Sort order for the results; one of:\n\n  - `'SEO_PRODUCT_TOP_SELLERS'` – top sellers (**Note**: What Viator gets paid impacts this sort order)\n  - `'SEO_PRODUCT_REVIEW_AVG_RATING_A'` – traveller rating (low->high)\n  - `'SEO_PRODUCT_REVIEW_AVG_RATING_D'` – traveller rating (high->low)\n  - `'SEO_PRODUCT_PRICE_FROM_A'` – price (low->high) \n  - `'SEO_PRODUCT_PRICE_FROM_D'` – price (high->low)\n"
        example: SEO_PRODUCT_TOP_SELLERS
        schema:
          type: string
      - in: query
        name: currencyCode
        description: '**currency-code** for the currency in which to display pricing details for the products related to the specified attraction.


          **Note:**

          - You must have multiple currencies enabled in order to set the currency using this parameter. Please speak to your account manager if you wish to have this enabled.

          - If you omit this parameter; or, if you do not have multiple currencies enabled, pricing will be returned in the default currency for your account.

          '
        example: EUR
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          sortOrder:
                            type: integer
                            description: '**sort order** for *this* product'
                          supplierName:
                            type: string
                            description: '**name** of the supplier of *this* product'
                          currencyCode:
                            $ref: '#/components/schemas/currencyCode'
                          catIds:
                            type: array
                            description: '**array of numeric identifiers** for the categories *this* product falls into'
                            items:
                              type: integer
                          subCatIds:
                            type: array
                            description: '**array of numeric identifiers** for the subcategories *this* product falls into'
                            items:
                              type: integer
                          webURL:
                            $ref: '#/components/schemas/webURL'
                          specialReservationDetails:
                            type: string
                            description: ignore (Viator only)
                          sslSupported:
                            type: boolean
                            description: '**ignore (Viator only)**'
                          panoramaCount:
                            type: integer
                            description: '**number** of panoramas available for *this* product'
                          merchantCancellable:
                            type: boolean
                            description: ignore (Viator only)
                          bookingEngineId:
                            $ref: '#/components/schemas/bookingEngineId'
                          onRequestPeriod:
                            type: string
                            description: ignore (Viator only)
                          primaryGroupId:
                            type: string
                            description: ignore (Viator only)
                          pas:
                            type: string
                            description: ignore (Viator only)
                          available:
                            type: boolean
                            description: ignore (Viator only)
                          productUrlName:
                            type: string
                            description: '**URL-formatted name** of *this* product'
                          primaryDestinationUrlName:
                            type: string
                            description: '**URL-formatted name** of the primary destination of *this* product'
                          title:
                            type: string
                            description: '**natural-lannguage title** of *this* product'
                          videoCount:
                            type: integer
                            description: ignore (Viator only) – videos are not available to partners
                          rating:
                            type: number
                            description: '**average user rating** of *this* product'
                          supplierCode:
                            type: string
                            description: '**alphanumeric identifier** for the supplier of *this* product'
                          shortTitle:
                            type: string
                            description: '**title (short)** of *this* product'
                          specialOfferAvailable:
                            $ref: '#/components/schemas/specialOfferAvailable'
                          price:
                            $ref: '#/components/schemas/price'
                          priceFormatted:
                            $ref: '#/components/schemas/priceFormatted'
                          rrp:
                            type: integer
                            $ref: '#/components/schemas/rrp'
                          rrpformatted:
                            $ref: '#/components/schemas/rrpFormatted'
                          onSale:
                            $ref: '#/components/schemas/onSale'
                          savingAmount:
                            $ref: '#/components/schemas/savingAmount'
                          savingAmountFormated:
                            $ref: '#/components/schemas/savingAmountFormated'
                          translationLevel:
                            type: integer
                            description: '**translation level** of the foreign-language translation (if any) for *this* product'
                          thumbnailHiResURL:
                            type: string
                            description: '**URL** for the high-resolution thumbnail image for *this* product'
                          primaryDestinationName:
                            type: string
                            description: '**name** of the primary destination for *this* product'
                          thumbnailURL:
                            type: string
                            description: '**URL** for the thumbnail image for *this* product'
                          photoCount:
                            type: integer
                            description: '**number** of photos available for *this* product'
                          reviewCount:
                            type: integer
                            description: '**number** of reviews available for *this* product'
                          primaryDestinationId:
                            type: integer
                            description: '**numeric identifier** for *this* product''s primary destination'
                          merchantNetPriceFrom:
                            type: integer
                            description: ignore (Viator only)
                          specialReservation:
                            type: integer
                            description: ignore (Viator only)
                          uniqueShortdescription:
                            type: boolean
                            description: ignore (Viator only)
                          merchantNetPriceFromFormatted:
                            type: string
                            description: ignore (Viator only)
                          essential:
                            type: string
                            description: ignore (Viator only)
                          admission:
                            type: string
                            description: ignore (Viator only)
                          shortdescription:
                            type: string
                            description: '**short description** of *this* product'
                          duration:
                            type: string
                            description: '**duration** of this product'
                          code:
                            type: string
                            description: '**unique alphanumeric identifier** for this product'
              examples:
                '1':
                  $ref: '#/components/examples/attraction-products-example'
components:
  schemas:
    onSale:
      type: boolean
      description: '**indicator**: `true` if the product is ''on sale'' and a discount has been applied to the price. When a product is on sale, the `price` and `priceFormatted` fields give the discounted price, `rrp` and `rrpFormatted` give the original price, and `savingAmount`, `savingAmountFormated` give the difference between the discount and original prices. See [Special offers and on-sale pricing](#section/Key-concepts/Special-offers-and-on-sale-pricing) for more information.'
    price:
      description: '**suggested sell (''from'') price** for this product in the currency set in the `currencyCode` parameter. This is the cheapest sell price, taking into consideration off-peak periods and discounts on larger groups.

        '
      type: number
    specialOfferAvailable:
      type: boolean
      description: '**indicator**: `true` if a special offer is available for *this* product. See [Special offers and on-sale pricing](#section/Key-concepts/Special-offers-and-on-sale-pricing) for more information.'
    bookingEngineId:
      type: string
      description: ignore (relevant only to merchant and transactional-affiliate partners)
    savingAmount:
      type: integer
      description: '**numeric price difference** of the price of this product (`price`) while on sale (`onSale` is `true`) compared to the product''s original price (`rrp`). See [Special offers and on-sale pricing](#section/Key-concepts/Special-offers-and-on-sale-pricing) for more information.'
    rrpFormatted:
      type: string
      description: '**currency-formatted original price** for this product if the product is on special / a discount has been applied. Empty string if there is no discount on this product. See [Special offers and on-sale pricing](#section/Key-concepts/Special-offers-and-on-sale-pricing) for more information.'
    currencyCode:
      type: string
      description: '**currency code** for the currency to use for pricing fields

        - **Note**: See [Supported currency codes](#section/Appendices/Supported-currency-codes) for available currencies

        - **Default**: the default currency set up for your account

        '
      example: USD
    rrp:
      type: integer
      description: '**numeric original price** for this product if the product is on special / a discount has been applied. `0` if there is no discount on this product. See [Special offers and on-sale pricing](#section/Key-concepts/Special-offers-and-on-sale-pricing) for more information.'
    priceFormatted:
      type: string
      description: '**currency-formatted suggested sell (''from'') price** for this product in the currency set in the `currencyCode` parameter

        '
    basicErrorModel:
      type: object
      properties:
        errorReference:
          type: string
          example: null
          description: '**reference number** of *this* error'
        dateStamp:
          type: string
          example: 2017-11-24T21:30:47+0000
          description: '**timestamp** of *this* response'
        errorType:
          type: string
          description: '**code** specifying the type of error'
          example: null
        errorCodes:
          type: array
          description: '**array** of error codes pertaining to *this* error

            - See: [Exception error codes](#section/Appendices/Exception-error-codes) for a list of possible error codes

            '
          items:
            type: string
          example: []
        errorMessage:
          type: array
          description: '**array** of error message strings'
          example: null
        errorName:
          type: string
          example: null
          description: '**name** of *this* type of error'
        extraInfo:
          type: object
          description: ignore (Viator only)
        extraObject:
          type: object
          description: ignore (Viator only)
        success:
          type: boolean
          example: true
          description: '**boolean indicator** of *this* request''s outcome

            - `true`: the request was successful with no errors

            - `false`: an error was encountered

            '
        totalCount:
          type: integer
          example: 1
          description: '**number** of results available for *this* service

            '
        errorMessageText:
          type: string
          example: null
          description: '**array** of error message strings in plain text'
        vmid:
          type: string
          example: '321050'
          description: '**unique numeric id** of the server that processed *this* request'
    savingAmountFormated:
      type: string
      description: "\n**currency-formatted price difference** of the price of this product (`price`) while on sale (`onSale` is `true`) compared to the product's original price (`rrp`)\n- if no discount has been applied, the value will be empty \n- Note: There is a typo in the spelling of this field name ('formated')\n- See [Special offers and on-sale pricing](#section/Key-concepts/Special-offers-and-on-sale-pricing) for more information.\n"
      example: ''
    webURL:
      type: string
      description: "**URL** to forward users to in order to complete their purchase on the Viator site\n\nExample: \n* http://es.live.rc.viator.com/tours/Sydney/Sydney-and-Bondi-Hop-on-Hop-off-Tour/d357-5010SYDNEY?eap=brand-subbrand-24251&aid=vba24251es\n"
    topX:
      type: string
      description: "**start and end rows** to return in the format {start}-{end}\n- e.g. `'1-10'`, `'11-20'`\n- maximum number of rows per request is 100 \n- therefore, `'100-400'` will return the same as `'100-200'`\n- if `topX` is not specified, the default is `'1-100'`\n"
      example: 1-3
  examples:
    attraction-example:
      summary: /attraction
      value:
        errorReference: null
        data:
          webURL: http://shop.live.rc.viator.com/Las-Vegas-attractions/Shark-Reef-Aquarium-at-Mandalay-Bay/d684-a14235?eap=brand-subbrand-17895&aid=vba17895en
          pageUrlName: Shark-Reef-Aquarium-at-Mandalay-Bay
          primaryDestinationUrlName: Las-Vegas
          publishedDate: '2020-02-27'
          panoramaCount: 0
          userName: ''
          userPhotos:
          - sortOrder: 1
            ownerName: Viator Insider
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/09/viator-insider-account_9179657-45sq.jpg
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/3f/viator_photographer_394507-jpg-photo_29347647-1536tall.jpg
            productCode: 5156SHARK
            caption: Shark Reef Aquarium at Mandalay Bay.
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/3f/viator_photographer_394507-jpg-photo_29347647-133sq.jpg
            ownerId: 9179657
            timeUploaded: '2017-12-05'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/3f/viator_photographer_394507-jpg-photo_29347647-770tall.jpg
            photoId: 29347647
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/3f/viator_photographer_394507-jpg-photo_29347647-260tall.jpg
            title: Viator_Photographer_394507.jpg
          - sortOrder: 2
            ownerName: Viator Insider
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/09/viator-insider-account_9179657-45sq.jpg
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/3a/viator_photographer_394530-jpg-photo_29347642-1536tall.jpg
            productCode: 5156SHARK
            caption: Shark Reef Aquarium at Mandalay Bay.
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/3a/viator_photographer_394530-jpg-photo_29347642-133sq.jpg
            ownerId: 9179657
            timeUploaded: '2017-12-05'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/3a/viator_photographer_394530-jpg-photo_29347642-770tall.jpg
            photoId: 29347642
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/3a/viator_photographer_394530-jpg-photo_29347642-260tall.jpg
            title: Viator_Photographer_394530.jpg
          - sortOrder: 3
            ownerName: Viator Insider
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/09/viator-insider-account_9179657-45sq.jpg
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/2b/viator_photographer_394518-jpg-photo_29347627-1536tall.jpg
            productCode: 5156SHARK
            caption: A stingray swimming around the Shark Reef Aquarium at Mandalay Bay.
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/2b/viator_photographer_394518-jpg-photo_29347627-133sq.jpg
            ownerId: 9179657
            timeUploaded: '2017-12-05'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/2b/viator_photographer_394518-jpg-photo_29347627-770tall.jpg
            photoId: 29347627
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/2b/viator_photographer_394518-jpg-photo_29347627-260tall.jpg
            title: Viator_Photographer_394518.jpg
          - sortOrder: 4
            ownerName: Viator Insider
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/09/viator-insider-account_9179657-45sq.jpg
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/27/viator_photographer_394499-jpg-photo_29347623-1536tall.jpg
            productCode: 5156SHARK
            caption: Hammerhead shark at the Shark Reef Aquarium at Mandalay Bay.
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/27/viator_photographer_394499-jpg-photo_29347623-133sq.jpg
            ownerId: 9179657
            timeUploaded: '2017-12-05'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/27/viator_photographer_394499-jpg-photo_29347623-770tall.jpg
            photoId: 29347623
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/27/viator_photographer_394499-jpg-photo_29347623-260tall.jpg
            title: Viator_Photographer_394499.jpg
          - sortOrder: 5
            ownerName: Viator Insider
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/09/viator-insider-account_9179657-45sq.jpg
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/1e/viator_photographer_394526-jpg-photo_29347614-1536tall.jpg
            productCode: 5156SHARK
            caption: Jellyfish at the Shark Reef Aquarium at Mandalay Bay.
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/1e/viator_photographer_394526-jpg-photo_29347614-133sq.jpg
            ownerId: 9179657
            timeUploaded: '2017-12-05'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/1e/viator_photographer_394526-jpg-photo_29347614-770tall.jpg
            photoId: 29347614
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/1e/viator_photographer_394526-jpg-photo_29347614-260tall.jpg
            title: Viator_Photographer_394526.jpg
          - sortOrder: 6
            ownerName: Viator Insider
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/09/viator-insider-account_9179657-45sq.jpg
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/0f/viator_photographer_394532-jpg-photo_29347599-1536tall.jpg
            productCode: 5156SHARK
            caption: Shark swimming at the Shark Reef Aquarium at Mandalay Bay.
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/0f/viator_photographer_394532-jpg-photo_29347599-133sq.jpg
            ownerId: 9179657
            timeUploaded: '2017-12-05'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/0f/viator_photographer_394532-jpg-photo_29347599-770tall.jpg
            photoId: 29347599
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/0f/viator_photographer_394532-jpg-photo_29347599-260tall.jpg
            title: Viator_Photographer_394532.jpg
          - sortOrder: 7
            ownerName: Anonymous
            ownerCountry: null
            productTitle: null
            productUrlName: null
            ownerAvatarURL: null
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/48/fish-are-friends-not-food-photo_11060808-1536tall.jpg
            productCode: null
            caption: Fishy faces
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/48/fish-are-friends-not-food-photo_11060808-133sq.jpg
            ownerId: 2
            timeUploaded: '2015-01-09'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/48/fish-are-friends-not-food-photo_11060808-770tall.jpg
            photoId: 11060808
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/48/fish-are-friends-not-food-photo_11060808-260tall.jpg
            title: Fish are friends, not food
          - sortOrder: 8
            ownerName: Anonymous
            ownerCountry: null
            productTitle: null
            productUrlName: null
            ownerAvatarURL: null
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/29/shark-reef-photo_11060777-1536tall.jpg
            productCode: null
            caption: Make a fishy face!
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/29/shark-reef-photo_11060777-133sq.jpg
            ownerId: 2
            timeUploaded: '2015-01-09'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/29/shark-reef-photo_11060777-770tall.jpg
            photoId: 11060777
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/29/shark-reef-photo_11060777-260tall.jpg
            title: Shark Reef
          - sortOrder: 9
            ownerName: Anonymous
            ownerCountry: null
            productTitle: null
            productUrlName: null
            ownerAvatarURL: null
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/04/statue-photo_11060740-1536tall.jpg
            productCode: null
            caption: Underwater at the aquarium
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/04/statue-photo_11060740-133sq.jpg
            ownerId: 2
            timeUploaded: '2015-01-09'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/04/statue-photo_11060740-770tall.jpg
            photoId: 11060740
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/04/statue-photo_11060740-260tall.jpg
            title: Statue
          - sortOrder: 10
            ownerName: Anonymous
            ownerCountry: null
            productTitle: null
            productUrlName: null
            ownerAvatarURL: null
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/f8/fish-photo_11060728-1536tall.jpg
            productCode: null
            caption: Fish and sharks at the Shark Reef Aquarium
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/f8/fish-photo_11060728-133sq.jpg
            ownerId: 2
            timeUploaded: '2015-01-09'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/f8/fish-photo_11060728-770tall.jpg
            photoId: 11060728
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/f8/fish-photo_11060728-260tall.jpg
            title: Fish
          - sortOrder: 11
            ownerName: Anonymous
            ownerCountry: null
            productTitle: null
            productUrlName: null
            ownerAvatarURL: null
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/f0/shark-reef-photo_11060720-1536tall.jpg
            productCode: null
            caption: At Mandalay Bay Hotel and Casino
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/f0/shark-reef-photo_11060720-133sq.jpg
            ownerId: 2
            timeUploaded: '2015-01-09'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/f0/shark-reef-photo_11060720-770tall.jpg
            photoId: 11060720
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/f0/shark-reef-photo_11060720-260tall.jpg
            title: Shark Reef
          - sortOrder: 12
            ownerName: Anonymous
            ownerCountry: null
            productTitle: null
            productUrlName: null
            ownerAvatarURL: null
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/8d/admiring-the-sharks-photo_11060621-1536tall.jpg
            productCode: null
            caption: Lots of sharks and marine creatures in this exhibit
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/8d/admiring-the-sharks-photo_11060621-133sq.jpg
            ownerId: 2
            timeUploaded: '2015-01-09'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/8d/admiring-the-sharks-photo_11060621-770tall.jpg
            photoId: 11060621
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/8d/admiring-the-sharks-photo_11060621-260tall.jpg
            title: Admiring the sharks
          - sortOrder: 13
            ownerName: Anonymous
            ownerCountry: null
            productTitle: null
            productUrlName: null
            ownerAvatarURL: null
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/81/mandalay-bay-hotel-and-casino-photo_11060609-1536tall.jpg
            productCode: null
            caption: Aquarium
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/81/mandalay-bay-hotel-and-casino-photo_11060609-133sq.jpg
            ownerId: 2
            timeUploaded: '2015-01-09'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/81/mandalay-bay-hotel-and-casino-photo_11060609-770tall.jpg
            photoId: 11060609
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/81/mandalay-bay-hotel-and-casino-photo_11060609-260tall.jpg
            title: Mandalay Bay Hotel and Casino
          - sortOrder: 14
            ownerName: Anonymous
            ownerCountry: null
            productTitle: null
            productUrlName: null
            ownerAvatarURL: null
            sslSupported: false
            photoHiResURL: http://cache-graphicslib.viator.com/graphicslib/media/7a/excited-to-see-the-fishies-photo_11060602-1536tall.jpg
            productCode: null
            caption: On the escalator heading up to the aquarium
            thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/media/7a/excited-to-see-the-fishies-photo_11060602-133sq.jpg
            ownerId: 2
            timeUploaded: '2015-01-09'
            editorsPick: false
            photoURL: http://cache-graphicslib.viator.com/graphicslib/media/7a/excited-to-see-the-fishies-photo_11060602-770tall.jpg
            photoId: 11060602
            photoMediumResURL: http://cache-graphicslib.viator.com/graphicslib/media/7a/excited-to-see-the-fishies-photo_11060602-260tall.jpg
            title: Excited to see the fishies!
          reviews:
          - sortOrder: 1
            ownerName: gutschows
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2020-03-12'
            rating: 5
            review: <p>Great place to spend a afternoon.  Beautiful fish, sharks, jelly fish, turtles and so much more.   Touching a stingray was fun too.</p>
            publishedDate: '2020-03-12'
            ownerId: 23894614
            viatorFeedback: null
            viatorNotes: null
            reviewId: 71654393
          - sortOrder: 2
            ownerName: vicki28uk
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2020-02-26'
            rating: 5
            review: <p>Great place to see different sharks and fish, great experience. Really enjoyed it as I was travelling alone</p>
            publishedDate: '2020-02-26'
            ownerId: 1889937
            viatorFeedback: null
            viatorNotes: null
            reviewId: 70802193
          - sortOrder: 3
            ownerName: shivleeng
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2020-02-11'
            rating: 5
            review: <p>Wonderful I thinks the word well maintained. Beautiful and a great way to spend time . Loved the vibe there</p>
            publishedDate: '2020-02-11'
            ownerId: 67665869
            viatorFeedback: null
            viatorNotes: null
            reviewId: 69662485
          - sortOrder: 4
            ownerName: Anthony B
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2019-10-14'
            rating: 5
            review: <p>Grandparents and granddaughter and great grandson time together. We had a good time and will visit again. Thank you</p>
            publishedDate: '2019-10-14'
            ownerId: 59040249
            viatorFeedback: null
            viatorNotes: null
            reviewId: 62243787
          - sortOrder: 5
            ownerName: graffiti.rytr
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2019-09-02'
            rating: 5
            review: <p>The aquarium was a bit too short although I took lots of photos/videos. Don't get me wrong the aquarium was over all awesome. I would recommend to anyone</p>
            publishedDate: '2019-09-02'
            ownerId: 58547163
            viatorFeedback: null
            viatorNotes: null
            reviewId: 59023869
          - sortOrder: 6
            ownerName: Isabel F
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2019-07-22'
            rating: 5
            review: '<p>It''s worth going to the Shark Reef Aquarium. It''s spectacular and very educational. The beauty of the ocean is incomparable. You get to feel as if you''re under the sea. The bonus of using your ticket to enter the Mandalay Beach Pool<br/>

              Is a definite plus. Great experience fabulous time!</p>'
            publishedDate: '2019-07-22'
            ownerId: 1913702
            viatorFeedback: null
            viatorNotes: null
            reviewId: 55258497
          - sortOrder: 7
            ownerName: Donna S
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2019-07-03'
            rating: 5
            review: <p>This is a wonderful experience for the entire family, the price was right and the views where awesome.This is a must see while in town.</p>
            publishedDate: '2019-07-03'
            ownerId: 44851193
            viatorFeedback: null
            viatorNotes: null
            reviewId: 53531115
          - sortOrder: 8
            ownerName: pepper34chin
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2018-02-22'
            rating: 5
            review: <p>Really nice aquarium.  Enjoyed reading the different plaques about certain sealife.  Liked touching the little sting rays/ horseshoe crabs.</p>
            publishedDate: '2018-02-22'
            ownerId: 30511118
            viatorFeedback: null
            viatorNotes: null
            reviewId: 30649951
          - sortOrder: 9
            ownerName: john w
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-11-05'
            rating: 5
            review: <p>must do this it is so brilliant.  a  must do.  thank you</p>
            publishedDate: '2017-11-05'
            ownerId: 15708306
            viatorFeedback: null
            viatorNotes: null
            reviewId: 28866080
          - sortOrder: 10
            ownerName: docproc67
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-10-24'
            rating: 5
            review: <p>Some great tanks.</p>
            publishedDate: '2017-10-24'
            ownerId: 27956292
            viatorFeedback: null
            viatorNotes: null
            reviewId: 28640398
          - sortOrder: 11
            ownerName: Betty L
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-10-11'
            rating: 5
            review: <p>Very interesting, enjoyed all the the different species</p>
            publishedDate: '2017-10-11'
            ownerId: 24024207
            viatorFeedback: null
            viatorNotes: null
            reviewId: 28357817
          - sortOrder: 12
            ownerName: Colin C
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-09-30'
            rating: 5
            review: <p>excellent venue loved it</p>
            publishedDate: '2017-09-30'
            ownerId: 20748734
            viatorFeedback: null
            viatorNotes: null
            reviewId: 28104861
          - sortOrder: 13
            ownerName: lindasiegel1
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-09-25'
            rating: 5
            review: <p>It was a wonderful experience. You see all the different types of sharks, and many other breeds.   Highly recommended.</p>
            publishedDate: '2017-09-25'
            ownerId: 24424327
            viatorFeedback: null
            viatorNotes: null
            reviewId: 27984575
          - sortOrder: 14
            ownerName: Raelita G
            ownerCountry: United States of America
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-09-09'
            rating: 5
            review: <p>Small aquarium but spectacular.  You see the sea life close up. One section the fish SWIM over you. This was the first time that I have been able to see shark teeth.  All of the animals seem healthy.  This aquarium is great for children but adults like it as well.</p>
            publishedDate: '2017-09-09'
            ownerId: 6940192
            viatorFeedback: null
            viatorNotes: null
            reviewId: 27597846
          - sortOrder: 15
            ownerName: MISTY W
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-08-16'
            rating: 5
            review: <p>This was the highlight tour while in Vegas! Mandalay Bay Hotel is by far the best landscaped grounds on The Strip and the staff was wonderful.  We went on a Wednesday afternoon and the line was short but the sea life was long.  From the golden crocodile, to the glowing jelly fish and the incredible walk-under-the-sea through the curved glass tunnel, this was a simply amazing aquarium!</p>
            publishedDate: '2017-08-16'
            ownerId: 26171872
            viatorFeedback: null
            viatorNotes: null
            reviewId: 26972816
          - sortOrder: 16
            ownerName: Paul B
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-08-12'
            rating: 5
            review: <p>There are some negative reviews around, but we thought it was great. Yes it's not huge but I'm not sure what people expect. It's well done and it is impressive. My kids loved seeing all in here, but especially the sharks and jellyfish. And the discounted price using viator was excellent compared to the 'on the door' price. We went around 8pm and it was quite quiet and not packed</p>
            publishedDate: '2017-08-12'
            ownerId: 23667319
            viatorFeedback: null
            viatorNotes: null
            reviewId: 26841792
          - sortOrder: 17
            ownerName: kbobeen
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-08-01'
            rating: 5
            review: <p>This tour was great and well worth our time.  Loved this experience and getting to touch a stingray.</p>
            publishedDate: '2017-08-01'
            ownerId: 23800289
            viatorFeedback: null
            viatorNotes: null
            reviewId: 26520861
          - sortOrder: 18
            ownerName: Barney
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-07-25'
            rating: 5
            review: <p>Granddaughter loved the exhibit.  A worthwhile adventure for your family.</p>
            publishedDate: '2017-07-25'
            ownerId: 24710299
            viatorFeedback: null
            viatorNotes: null
            reviewId: 26345271
          - sortOrder: 19
            ownerName: rose C
            ownerCountry: United States of America
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-05-24'
            rating: 5
            review: <p>So much fun,be aware the shark reef is at the very very end of the hotel, got a lot of great pictures of fish and jellyfish,sharks- there is also a tidal pool.</p>
            publishedDate: '2017-05-24'
            ownerId: 18107176
            viatorFeedback: null
            viatorNotes: null
            reviewId: 24602048
          - sortOrder: 20
            ownerName: Sergio S
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/33/sergio-s-account_18104627-45sq.jpg
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-04-22'
            rating: 5
            review: <p>It is a great place to see some great ocean and river Critters. If you show up at the right time, you can watch them feed the animals and not to mention the touch pool with Stingrays,horseshoe crabs. Great for all ages and you go at your own speed so you can watch the jellyfish or see the sharks in a shipwreck!!</p>
            publishedDate: '2017-04-22'
            ownerId: 18104627
            viatorFeedback: null
            viatorNotes: null
            reviewId: 23858904
          - sortOrder: 21
            ownerName: Fernando D
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/7e/fernando-d-account_22330494-45sq.jpg
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-03-24'
            rating: 5
            review: <p>Amazing sea animals to see.</p>
            publishedDate: '2017-03-24'
            ownerId: 22330494
            viatorFeedback: null
            viatorNotes: null
            reviewId: 23161710
          - sortOrder: 22
            ownerName: Marie S
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/f9/marie-s-account_22521337-45sq.jpg
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2017-02-20'
            rating: 5
            review: <p>My husband and I often check out aquariums in our travels.  This was better than others in this country that we've seen.  It wasn't huge, but what it had to show, it certainly did and in a great way!  We thoroughly enjoyed ourselves!</p>
            publishedDate: '2017-02-20'
            ownerId: 22521337
            viatorFeedback: null
            viatorNotes: null
            reviewId: 22560267
          - sortOrder: 23
            ownerName: Luri22
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: null
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2016-12-26'
            rating: 5
            review: <p>Great variety of aquatic animals to see, fun for the whole family</p>
            publishedDate: '2016-12-26'
            ownerId: 18171461
            viatorFeedback: null
            viatorNotes: null
            reviewId: 21698952
          - sortOrder: 24
            ownerName: Christina H
            ownerCountry: null
            productTitle: Shark Reef at Mandalay Bay Hotel and Casino
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/f0/christina-h-account_20040176-45sq.jpg
            sslSupported: false
            productCode: 5156SHARK
            submissionDate: '2016-10-31'
            rating: 5
            review: <p>When we went to the Shark Reef, there were not a lot of people.  I hear it can get crowded.  It was awesome because some trainers were answering questions about the caged creatures.  The hands on sting ray/ horseshoe crab area was a HUGE hit!  You can touch these things and learn a lot about them from the trained staff member that is there to answer any questions you may have.   The shark display is neat, as you surround them and they surround you.</p>
            publishedDate: '2016-10-31'
            ownerId: 20040176
            viatorFeedback: null
            viatorNotes: null
            reviewId: 20934157
          products:
          - sortOrder: 2
            supplierName: MGM Resorts International
            currencyCode: USD
            catIds: null
            subCatIds: null
            webURL: http://shop.live.rc.viator.com/tours/Las-Vegas/Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino/d684-5156SHARK?eap=brand-subbrand-17895&aid=vba17895en
            specialReservationDetails: null
            sslSupported: false
            panoramaCount: 0
            merchantCancellable: false
            bookingEngineId: FreesaleBE
            onRequestPeriod: null
            primaryGroupId: null
            pas: null
            available: true
            productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
            primaryDestinationUrlName: Las-Vegas
            shortDescription: Marvel at the incredible Shark Reef Aquarium in the heart of the desert at Mandalay Bay Hotel and Casino on the Las Vegas Strip. Explore the 14 exhibits containing exotic and endangered fish, reptiles and — of course — sharks. Enjoy up-close views of more than 100 sharks, including 30 in the 1.3 million-gallon (4.9 million-liter) main tank, one of the largest in the US. By walking through two underwater tunnels, get an even better sense of what it's like to be under the sea.
            price: 22.49
            supplierCode: '5156'
            translationLevel: 0
            thumbnailHiResURL: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/07/01/34/63.jpg
            onSale: false
            photoCount: 6
            reviewCount: 98
            primaryDestinationId: 684
            merchantNetPriceFrom: 0
            primaryDestinationName: Las Vegas
            thumbnailURL: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/07/01/34/63.jpg
            priceFormatted: $22.49
            rrp: 0
            rrpformatted: ''
            videoCount: 0
            rating: 4.5
            essential: '1'
            admission: '1'
            uniqueShortDescription: null
            merchantNetPriceFromFormatted: ''
            savingAmount: 0
            savingAmountFormated: ''
            specialReservation: false
            shortTitle: Shark Reef Aquarium at Mandalay Bay Hotel in Las Vegas
            specialOfferAvailable: false
            duration: 10 hours
            title: Shark Reef at Mandalay Bay Hotel and Casino
            code: 5156SHARK
          ratingCounts:
            '1': 3
            '2': 7
            '3': 14
            '4': 24
            '5': 48
          infoPageOverviewTitle1: ''
          infoPageOverviewTitle2: ''
          infoPageOverview1: '<div style="">Get up close and personal with some of the most fearsome creatures of the deep at Mandalay Bay’s Shark Reef Aquarium. Designed to be a total sensory experience—with two underwater tunnels and multiple tanks and exhibits—the aquarium is home to more than 2,000 animals, including many species of sharks.</div><div style=""><br></div><div style=""><b>The Basics</b></div><div style="">Wander through a viewing tunnel at the Shark Reef Aquarium’s largest exhibit, a shipwreck surrounded by 1.3 million gallons (4.9 million liters) of water. In addition to sharks, you’ll see salt- and freshwater fish, as well as sea turtles, golden crocodiles, giant rays, and more. The touch pool is a favorite among younger visitors, while certified divers have the opportunity to scuba dive in the tanks.</div><div style=""><br></div><div style="">Admission to the aquarium is included in some multi-attraction Las Vegas sightseeing passes.</div><div style=""><br></div><div style=""><b>Things to Know Before You Go</b></div><div style=""><ul><li>Most visitors spend around 45 to 60 minutes at the Shark Reef Aquarium.</li><li>An audio guide is available in English and Spanish.</li><li>Guests staying at the Mandalay Bay Resort can watch the Shark Reef channel on TV.</li></ul></div><div style=""><br></div><div style=""><b>How to Get There</b></div><div style="">The Shark Reef Aquarium is located near the South Convention Center in the Mandalay Bay Resort, at the southern end of Las Vegas Boulevard. You can easily get to the resort by car, taxi, shuttle, or the free Excalibur–Luxor–Mandalay Bay tram.&nbsp;</div><div style=""><br></div><div style=""><b>When to Get There</b></div><div style="">The aquarium is open daily, usually with extended hours on weekends and over the summer. Last entry is an hour before closing. There’s no set schedule for animal feedings, but they often take place between 10am and 4pm.</div><div style=""><b><br></b></div><div style=""><b>Aquariums in Las Vegas</b></div><div style="">Las Vegas has more than 10 aquariums, some of which can be found inside casinos. Besides the Shark Reef, check out these other popular aquariums: the Tank at the Golden Nugget, SeaQuest Las Vegas, the Aquarium at the Silverton Hotel, and the Atlantis Aquarium at the Forum Shops at Caesars Palace.</div>'
          infoPageOverview2: ''
          attractionAdmission: Varies
          attractionTransit: ''
          attractionOpenHours: ''
          keywordCount: 1
          showReviews: true
          tabTitle: Shark Reef
          descriptionIntro: Shark Reef
          keywords:
          - keywordId: 623401
            keyword: Hotel
          reviewCount: 97
          seoType: ATTRACTION
          pageTitle: Shark Reef Aquarium at Mandalay Bay
          editorsPick: false
          showPhotos: true
          descriptionText: "<p>Inside the Mandalay Bay Hotel and Casino is the Shark Reef Aquarium, showcasing more than 2,000 animals displayed in 14 different exhibits and almost 1.6 million gallons of water.</p><p>\n \nThe Shark Reef Aquarium was designed to be a “total sensory experience,” and part of that is achieved by leading visitors through an acrylic tunnel with water nearly surrounding them. This exhibit alone includes 15 different species of sharks along with all the other sea life in the tank.</p><p>\n \nOther species in the aquarium include golden crocodiles, sea turtles and piranhas, none of which are included in the touching pools where visitors can find out what some of the other sea creatures feel like.</p>"
          overviewSummary: '<div style="">Get up close and personal with some of the most fearsome creatures of the deep at Mandalay Bay’s Shark Reef Aquarium. Designed to be a total sensory experience—with two underwater tunnels and multiple tanks and exhibits—the aquarium is home to more than 2,000 animals, including many species of sharks.</div><div style=""><br></div><div style=""><b>The Basics</b></div><div style="">Wander through a viewing tunnel at the Shark Reef Aquarium’s largest exhibit, a shipwreck surrounded by 1.3 million gallons (4.9 million liters) of water. In addition to sharks, you’ll see salt- and freshwater fish, as well as sea turtles, golden crocodiles, giant rays, and more. The touch pool is a favorite among younger visitors, while certified divers have the opportunity to scuba dive in the tanks.</div><div style=""><br></div><div style="">Admission to the aquarium is included in some multi-attraction Las Vegas sightseeing passes.</div><div style=""><br></div><div style=""><b>Things to Know Before You Go</b></div><div style=""><ul><li>Most visitors spend around 45 to 60 minutes at the Shark Reef Aquarium.</li><li>An audio guide is available in English and Spanish.</li><li>Guests staying at the Mandalay Bay Resort can watch the Shark Reef channel on TV.</li></ul></div><div style=""><br></div><div style=""><b>How to Get There</b></div><div style="">The Shark Reef Aquarium is located near the South Convention Center in the Mandalay Bay Resort, at the southern end of Las Vegas Boulevard. You can easily get to the resort by car, taxi, shuttle, or the free Excalibur–Luxor–Mandalay Bay tram.&nbsp;</div><div style=""><br></div><div style=""><b>When to Get There</b></div><div style="">The aquarium is open daily, usually with extended hours on weekends and over the summer. Last entry is an hour before closing. There’s no set schedule for animal feedings, but they often take place between 10am and 4pm.</div><div style=""><b><br></b></div><div style=""><b>Aquariums in Las Vegas</b></div><div style="">Las Vegas has more than 10 aquariums, some of which can be found inside casinos. Besides the Shark Reef, check out these other popular aquariums: the Tank at the Golden Nugget, SeaQuest Las Vegas, the Aquarium at the Silverton Hotel, and the Atlantis Aquarium at the Forum Shops at Caesars Palace.</div>'
          pagePrimaryLanguage: en
          attractionLatitude: 36.09215
          attractionLongitude: -115.17665
          attractionStreetAddress: 3950 Las Vegas Blvd South
          attractionCity: Las Vegas
          attractionState: Nevada
          destinationId: 684
          thumbnailHiResURL: http://cache-graphicslib.viator.com/graphicslib/page-images/742x525/563331_Viator_Photographer_394530.jpg
          photoCount: 14
          primaryDestinationId: 684
          seoId: 14235
          productCount: 1
          primaryDestinationName: Las Vegas
          thumbnailURL: http://cache-graphicslib.viator.com/graphicslib/page-images/563331_Viator_Photographer_394530.jpg
          rating: 4.5
          title: Shark Reef Aquarium at Mandalay Bay
        dateStamp: 2020-04-20T22:23:44+0000
        errorType: null
        errorCodes: []
        errorMessage: null
        errorName: null
        extraInfo: {}
        extraObject: null
        success: true
        totalCount: 1
        errorMessageText: null
        vmid: '331003'
    attraction-photos-example:
      summary: attraction/photos
      value:
        errorReference: null
        data:
        - sortOrder: 1
          ownerName: Viator Insider
          ownerCountry: null
          productTitle: Shark Reef at Mandalay Bay Hotel and Casino
          productUrlName: Shark-Reef-at-Mandalay-Bay-Hotel-and-Casino
          ownerAvatarURL: http://cache-graphicslib.viator.com/graphicslib/media/09/viator-insider-account_9179657-45sq.jpg
[...]
