openapi: 3.2.0
info:
  title: Viator Partner Bookings API
  description: 'code { white-space: nowrap; }

    a { font-weight: bold; }


    figure {

    width: 100%;

    text-align: center;

    font-style: italic;

    font-size: smaller;

    text-indent: 0;

    border: thin silver solid;

    margin: 0.5em;

    padding: 0.5em;

    }


    ## Updates


    ### Latest updates:


    | Date | Description…'
  version: '2.0'
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au/
servers:
- url: https://api.viator.com/partner
  description: Production server (uses live data)
- url: https://api.sandbox.viator.com/partner
  description: Sandbox server (uses test data)
security:
- API-key: []
tags:
- name: Bookings
paths:
  /bookings/cart/hold:
    post:
      tags:
      - Bookings
      operationId: bookingsCartHold
      summary: /bookings/cart/hold
      description: 'Requests the creation of a hold for each item in the cart.


        A hold is a guarantee that either the price or availability (or both) of the product will be retained until a booking

        request is made using the /bookings/cart/book endpoint.


        A hold consists of two components - **availability** and **pricing**. The response to this service indicates whether one, both or neither has been granted, and until when for each item.


        - The length of time for which the availability hold will be granted is determined by the supplier, and therefore varies between products.

        - The length of time for the pricing hold is determined by Viator, and is therefore standard across all products.


        This endpoint must not be used to check availability of a product. Instead, always use the /availability/check endpoint to perform the final availability check.


        **Note**: This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BookingsCartHoldRequest'
            examples:
              viator-form:
                $ref: '#/components/examples/bookings-cart-hold-request-viator-form-example'
              partner-form:
                $ref: '#/components/examples/bookings-cart-hold-request-partner-form-example'
              merchant:
                $ref: '#/components/examples/bookings-cart-hold-request-merchant-example'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/BookingsCartHoldResponse'
              examples:
                viator-form:
                  $ref: '#/components/examples/bookings-cart-hold-response-viator-form-example'
                partner-form:
                  $ref: '#/components/examples/bookings-cart-hold-response-partner-form-example'
                merchant:
                  $ref: '#/components/examples/bookings-cart-hold-response-merchant-example'
                Extra Charges:
                  $ref: '#/components/examples/bookings-cart-hold-response-extra-charges-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bookings/cart/book:
    post:
      tags:
      - Bookings
      operationId: bookingsCartBook
      summary: /bookings/cart/book
      description: 'Requests a booking for each item in the cart.


        - As some products are booked on external supplier systems, it may take > 90s to receive a response from this endpoint. For this reason, we recommend setting your internal time-out for this service to **120s**.

        In the event that this service does time-out, or you receive a HTTP 500 error, you should check the status of the booking using the /bookings/status endpoint to ensure the booking was not created before you attempt to make the booking again.

        - The status of each item will indicate if the item booking:

        - is still awaiting confirmation (`PENDING`); or,

        - was `CONFIRMED` if it was eventually successful, or

        - was `REJECTED` if there are valid reasons why it could not be booked; such as, if it was booked-out or other changes to availability occurred; or,

        - failed for an unknown reason if it did eventually fail. In this scenario, a new booking can be attempted using a new `partnerBookingRef`


        **Note**: This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BookingsCartBookRequest'
            examples:
              viator-form:
                $ref: '#/components/examples/bookings-cart-book-request-viator-form-example'
              partner-form:
                $ref: '#/components/examples/bookings-cart-book-request-partner-form-example'
              merchant:
                $ref: '#/components/examples/bookings-cart-book-request-merchant-example'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/BookingsCartBookResponse'
              examples:
                viator-form:
                  $ref: '#/components/examples/bookings-cart-book-response-viator-form-example'
                partner-form:
                  $ref: '#/components/examples/bookings-cart-book-response-partner-form-example'
                merchant:
                  $ref: '#/components/examples/bookings-cart-book-response-merchant-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bookings/hold:
    post:
      tags:
      - Bookings
      description: '**Note**: This endpoint is only available to merchant partners.


        Requests the creation of a booking-hold - a guarantee that either the price

        or availability (or both) of the product will be retained until a booking

        request is made using the /bookings/book

        endpoint.


        The booking-hold consists of two components - **availability** and

        **pricing**. The response to this service indicates whether one, both or

        neither has been granted, and until when.


        - The length of time for which the availability hold will be granted is determined by the supplier, and therefore varies between products.


        - The length of time for the pricing-hold is determined by Viator, and is therefore standard across all products.


        This endpoint must not be used to check availability of a product. Instead, always use the /availability/check endpoint to perform the final availability check.


        (Response sample generated on: 2020-08-25)'
      operationId: bookingsHold
      summary: /bookings/hold
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/exp-demo'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BookingHoldRequest'
            example:
              productCode: 3857NYCNIA
              productOptionCode: NIA
              travelDate: '2021-04-01'
              currency: AUD
              startTime: 06:30
              paxMix:
              - ageBand: ADULT
                numberOfTravelers: 2
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/BookingHoldResponse'
              examples:
                '1':
                  $ref: '#/components/examples/bookings-hold-example'
                extra charges:
                  $ref: '#/components/examples/bookings-hold-extra-charges-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bookings/book:
    post:
      tags:
      - Bookings
      summary: /bookings/book
      description: 'Requests a booking for a product.


        **Note**:

        - This endpoint is only available to merchant partners.

        - The amount that you will be invoiced for the sale of this tour (in the specified currency) is given in the `totalPrice` element in the response from this endpoint.

        - As some products are booked on external supplier systems, it may take > 90s to receive a response from this endpoint. For this reason, we recommend setting your internal time-out for this service to **120s**. In the event that this service does time-out, or you receive a HTTP 500 error, you should check the status of the booking using the /bookings/status endpoint to ensure the booking was not created before you attempt to make the booking again.

        - The booking status will indicate if the booking:

        - is still awaiting confirmation (`"PENDING"`); or,

        - was `"CONFIRMED"` if it was eventually successful, or

        - was `"REJECTED"` if there are valid reasons why it could not be booked; such as, if it was booked-out or other changes to availability occurred; or,

        - failed for an unknown reason if it did eventually fail. In this scenario, a new booking can be attempted using a new `"partnerBookingRef"`


        (Response sample generated on: 2020-08-25)'
      operationId: bookingsBook
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/exp-demo'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BookingBookRequest'
            example:
              productCode: 5010SYDNEY
              productOptionCode: 48HOUR
              currency: AUD
              partnerBookingRef: BR-581567752
              travelDate: '2020-11-30'
              paxMix:
              - ageBand: ADULT
                numberOfTravelers: 1
              languageGuide:
                type: AUDIO
                language: en
                legacyGuide: en/SERVICE_AUDIO
              bookingRef: BR-581567752
              bookerInfo:
                firstName: Simon
                lastName: Nettle
              bookingQuestionAnswers:
              - question: AGEBAND
                answer: ADULT
                travelerNum: 1
              - question: FULL_NAMES_LAST
                answer: Nettle
                travelerNum: 1
              - question: FULL_NAMES_FIRST
                answer: Simon
                travelerNum: 1
              - question: SPECIAL_REQUIREMENTS
                answer: 'NO'
                travelerNum: 1
              communication:
                email: snettle@tripadvisor.com
                phone: +61 431532778
              additionalBookingDetails:
                voucherDetails:
                  companyName: Booking King
                  email: support@bookingking.com
                  phone: '+61400500600'
                  voucherText: For any enquiries, please visit our customer support page at https://support.bookingking.com
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/BookingBookResponse'
              examples:
                '1':
                  $ref: '#/components/examples/bookings-book-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bookings/status:
    post:
      tags:
      - Bookings
      summary: /bookings/status
      description: '**Note**: This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.


        Requests the status of an existing booking using either the Viator-generated booking reference (`bookingRef`) or the reference generated by the partner (`partnerBookingRef`). For bookings made through v1 endpoints, only Viator-generated booking reference is supported.


        Checking the status of a booking is only necessary to retrieve updates on:


        - manual confirmation products status

        - bookings that were left in `"PENDING"`/`"IN_PROGRESS"` status at time of /booking call for other reasons

        - bookings that timed out at time of /booking call

        - amendments that were left in `"IN_PROGRESS"` status at time of /amend call


        The endpoint should only be called intermittently and based on the cadence recommended at nextPollAt. To avoid unnecessary calls, do not poll the endpoint before the next recommended polling time, as no updates will be returned.


        (Response sample generated on: 2020-11-10)'
      operationId: bookingsStatus
      parameters:
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/optionalAcceptLanguage'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BookingStatusRequest'
            example:
              bookingRef: BR-791143912
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/BookingStatusResponse'
              examples:
                '1':
                  $ref: '#/components/examples/bookings-status-example'
                '2':
                  $ref: '#/components/examples/bookings-status-pending-example'
                '3':
                  $ref: '#/components/examples/bookings-status-example-2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bookings/cancel-reasons:
    get:
      tags:
      - Bookings
      description: 'Retrieves a dictionary of unique identification codes (`cancellationReasonCode`) and their associated natural-language descriptions (`cancellationReasonText`). Cancellation reasons should be cached and refreshed monthly.

        **Note**:

        - This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.

        - As the data returned by this endpoint may change from time to time, it is recommended that you retrieve the latest cancellation reasons at a fixed cadence – we recommend monthly. For more information, see: Update frequency.


        (Response sample generated on: 2022-07-22)'
      operationId: bookingsCancelReasons
      summary: /bookings/cancel-reasons
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      - name: type
        in: query
        description: 'Specifies which set of cancellation reasons to retrieve; one of:


          - `"CUSTOMER"` – (default) gets the set of **customer**-initiated cancellation reasons (for use with the [/bookings/{booking-reference}/cancel](#operation/bookingsCancel) endpoint)

          - `"SUPPLIER"` – gets the set of **supplier**-initiated cancellation reasons (for use with the [/bookings/modified-since](#operation/bookingsModifiedSince) endpoint)

          '
        required: false
        schema:
          type: string
          default: CUSTOMER
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/CancellationReasonsResponse'
              examples:
                '1':
                  $ref: '#/components/examples/bookings-cancel-reasons-example'
                '2':
                  $ref: '#/components/examples/bookings-cancel-reasons-example-2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bookings/{booking-reference}/cancel-quote:
    get:
      tags:
      - Bookings
      description: 'Gets the cancellation quote for an existing booking.


        **Note**: This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.


        For more information about how to perform cancellations using this API, see the Cancellation API workflow section and our in-depth guide about cancellation policies and how to handle cancellations: All you need to know about cancellation policies.


        (Response sample generated on: 2020-08-25)'
      operationId: bookingsCancelQuote
      summary: /bookings/{booking-reference}/cancel-quote
      parameters:
      - $ref: '#/components/parameters/accept'
      - name: booking-reference
        in: path
        required: true
        description: 'The booking reference code (in format `BR-123456789`, which is generated by Viator and returned in the `bookingRef` element in the response from [/bookings/book](#operation/bookingsBook)) of the booking for which to retrieve a cancellation quote

          '
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/CancelBookingQuoteResponse'
              examples:
                '1':
                  $ref: '#/components/examples/bookings-cancel-quote-example'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bookings/{booking-reference}/cancel:
    post:
      tags:
      - Bookings
      description: 'Cancels existing booking with given Viator-generated booking-reference


        **Note**: This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.


        For more information about how to perform cancellations using this API, see the Cancellation API workflow section and our in-depth guide about cancellation policies and how to handle cancellations: All you need to know about cancellation policies.


        (Response sample generated on: 2020-08-25)'
      operationId: bookingsCancel
      summary: /bookings/{booking-reference}/cancel
      parameters:
      - name: booking-reference
        in: path
        required: true
        description: 'The booking reference code (in format `BR-123456789`, which is generated by Viator and returned in the `bookingRef` element in the response from [/bookings/book](#operation/bookingsBook)) of the booking for which to request cancellation

          '
        schema:
          type: string
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/CancellationRequest'
            example:
              reasonCode: Customer_Service.I_canceled_my_entire_trip
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/CancelBookingResponse'
              examples:
                '1':
                  $ref: '#/components/examples/bookings-cancel-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bookings/modified-since:
    get:
      tags:
      - Bookings
      summary: /bookings/modified-since
      description: 'Gets all booking-event notifications relevant to the partner since a point in time indicated by a timestamp or pagination cursor. This endpoint should be polled hourly, except in supplier cancellation scenarios, in which case polling should occur every 5 minutes.


        **Merchant partners only:** In order to stop notification emails sent by Viator for **supplier cancellations of bookings made through the API** you must **poll this endpoint every 5 minutes** and send an acknowledge using

        /bookings/modified-since/acknowledge endpoint. See the guide on how to automate the flow for supplier cancellations in this article: Automating supplier cancellations in V.2 Partner API.

        Viator will not send notification emails to partners for customer-initiated cancellations.


        **Affiliate partners only:** affiliate partners with API access level Basic or Full will only have access to events of bookings made past September 2025. Whitelabel affiliate partners will only have access to events of bookings made past December 2025.'
      operationId: bookingsModifiedSince
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      - name: modified-since
        in: query
        description: "Only retrieve booking events that have occurred since the point in time indicated by this timestamp.\n\n**Note**: \n\n- As this is a query parameter, colons (i.e., `:`) in the timestamp should be URL-encoded as `%3A`; e.g.: \"`2020-09-30T00%3A00%3A01.737043Z`\"\n- Using this parameter is <u>not recommended</u> as the standard pagination method; instead, we recommend using the `cursor` parameter to ensure all booking event notifications are captured.\n"
        required: false
        schema:
          type: string
          format: date-time
          pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9])\%3A([0-5][0-9])\%3A([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$
      - name: cursor
        in: query
        description: 'Pagination cursor received from a previous call to **this** endpoint that points to the starting point for the next page of results.


          **Note**: Pagination will come into play when the number of results exceeds the figure given in the `count` parameter. In this case, pass the content of the `nextCursor` element for the value of `cursor` to receive the next page of results. The final page of results will not include the `nextCursor` element.

          '
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: 'Specifies the maximum number of booking events to be included in each page of results returned from this endpoint.

          '
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 50
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/BookingsModifiedSinceResponse'
              examples:
                '1':
                  $ref: '#/components/examples/bookings-modified-since-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /bookings/modified-since/acknowledge:
    post:
      tags:
      - Bookings
      summary: /bookings/modified-since/acknowledge
      description: 'Acknowledges receipt of one or more booking event notifications returned by the /bookings/modified-since endpoint. Merchants who wish to assume control of the customer service workflow surrounding booking change events must carry out this step before the time indicated in the `bookings[].acknowledgeBy` field, otherwise Viator will automatically send a cancellation notification to the email address provided by the partner for cancellation notifications.

        This endpoint should be called in order to stop notification emails from being sent by Viator. See the guide on how to automate the flow for supplier cancellations in this article: Automating supplier cancellations in V.2 Partner API


        **Note**: This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.'
      operationId: bookingsModifiedSinceAcknowledge
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/EventsAcknowledgementRequest'
            example:
              transactionRefs:
              - PBE-e60bb92c-f1fc-11ec-b939-0242ac120002
              - PBE-e60bb92c-f1fc-11ec-b939-0242ac120003
      responses:
        '204':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not Found
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - type: object
                  properties:
                    unknownTransactionRefs:
                      description: 'List of transaction references that could not be found


                        **Example**: `unknownTransactionRefs: [''foo'',''bar'']`

                        '
                      type: array
                      items:
                        type: string
                    code:
                      description: 'Code for this error type


                        **Example**: `"NOT_FOUND"`

                        '
                    message:
                      description: 'Details of this error


                        **Example**: `"The specified resource was not found"`

                        '
                - type: object
                  example:
                    code: NOT_FOUND
                    message: The specified resource was not found
                    timestamp: '2019-09-17T03:20:45.737043Z'
                    unknownTransactionRefs:
                    - foo
                    - bar
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /amendment/check/{booking-reference}:
    get:
      tags:
      - Bookings
      summary: /amendment/check/{booking-reference}
      description: 'Returns the amendability status of a given `bookingRef`, along with a list of booking components (e.g., booking details, traveller info, pickup location) that can be amended.


        **Notes**:

        - Only bookings made after July 2025 are eligible to be amended.

        - This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.'
      operationId: amendmentCheck
      parameters:
      - $ref: '#/components/parameters/bookingReference'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/AmendmentCheckResponse'
              examples:
                amendable:
                  $ref: '#/components/examples/amendment-check-response-amendable'
                amendable-with-questions-unanswered:
                  $ref: '#/components/examples/amendment-check-response-amendable-with-questions-unanswered'
                partially-amendable:
                  $ref: '#/components/examples/amendment-check-response-partially-amendable'
                not-amendable:
                  $ref: '#/components/examples/amendment-check-response-not-amendable'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /amendment/quote:
    post:
      tags:
      - Bookings
      summary: /amendment/quote
      description: 'Gets the amendment quote for an existing booking.


        **Notes**:

        - Only one amendmentType can be updated per request.

        - This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.'
      operationId: amendmentQuote
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/AmendmentQuoteRequest'
            examples:
              booking-details:
                $ref: '#/components/examples/amendment-quote-request-booking-details'
              update-pax-mix:
                $ref: '#/components/examples/amendment-quote-request-update-pax-mix'
              per-traveler-questions:
                $ref: '#/components/examples/amendment-quote-request-per-traveler-questions'
              per-booking-questions:
                $ref: '#/components/examples/amendment-quote-request-per-booking-questions'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/AmendmentQuoteResponse'
              examples:
                price-changed:
                  $ref: '#/components/examples/amendment-quote-response-price-changed'
                same-price:
                  $ref: '#/components/examples/amendment-quote-response-same-price'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /amendment/amend/{quote-reference}:
    post:
      tags:
      - Bookings
      summary: /amendment/amend/{quote-reference}
      description: 'Amends existing booking with given Viator-generated `quoteRef`


        **Note**: This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.'
      operationId: amendmentAmend
      parameters:
      - $ref: '#/components/parameters/quoteReference'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/AmendmentAmendResponse'
              examples:
                amended:
                  $ref: '#/components/examples/amendment-amend-response-amended'
                amended-no-voucher:
                  $ref: '#/components/examples/amendment-amend-response-amended-no-voucher-info'
                rejected:
                  $ref: '#/components/examples/amendment-amend-response-rejected'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  headers:
    RateLimit-Reset:
      required: true
      schema:
        type: string
        description: 'The fixed window in time, in seconds, which represents when a limit is fully replenished. For informational purposes only.

          '
    Retry-After:
      required: true
      schema:
        type: string
        description: 'The fixed window in time, in seconds, which represents when a limit is fully replenished. For informational purposes only.

          '
    RateLimit-Remaining:
      required: true
      schema:
        type: string
        description: 'Remaining requests for this endpoint for a given window. For informational purposes only

          '
    XUniqueId:
      required: true
      schema:
        type: string
        description: 'Tracking identifier for this response. Please include the value of this field when making help requests.

          - **Example**: `"0A871A13:DE2A_0A8712F9:01BB_5DCCC98C_260DAA:0D5B"`

          '
    RateLimit-Limit:
      required: true
      schema:
        type: string
        description: 'Total limit of requests for this endpoint for a given window. For informational purposes only.

          '
  examples:
    bookings-cart-book-response-merchant-example:
      summary: Merchant
      value:
        cartRef: CR-d79993d2c97048940def455f6d4c4adb
        partnerCartRef: PYU2vBfV
        currency: AUD
        items:
        - partnerBookingRef: C6gF8U5g
          bookingRef: BR-593037231
          status: CONFIRMED
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 365.58
                partnerNetPrice: 361.92
          itemTotalPrice:
            price:
              recommendedRetailPrice: 365.58
              partnerNetPrice: 361.92
              bookingFee: 0
              commission: 3.66
              partnerTotalPrice: 361.92
          cancellationPolicy:
            type: STANDARD
            description: For a full refund, cancel at least 24 hours before the scheduled departure time.
            cancelIfBadWeather: false
            cancelIfInsufficientTravelers: false
            refundEligibility:
            - dayRangeMin: 1
              percentageRefundable: 100
              startTimestamp: '2023-07-21T01:49:17Z'
              endTimestamp: '2023-08-19T11:59:59Z'
            - dayRangeMin: 0
              dayRangeMax: 1
              percentageRefundable: 0
              startTimestamp: '2023-08-19T12:00:00Z'
              endTimestamp: '2023-08-20T12:00:00Z'
          voucherInfo:
            url: https://shop.live.rc.viator.com/ticket?code=1006658118:1176d4aed0e88ffec7faf11e67183edc0cd40d5b5244b30b0cd08aab14f72b4b
            format: HTML
            type: STANDARD
        voucherInfo:
          url: https://shop.live.rc.viator.com/ticket?code=1006658118:1176d4aed0e88ffec7faf11e67183edc0cd40d5b5244b30b0cd08aab14f72b4b
          format: HTML
          type: STANDARD
        totalConfirmedPrice:
          price:
            recommendedRetailPrice: 365.58
            partnerNetPrice: 361.92
            bookingFee: 0
            commission: 3.66
            partnerTotalPrice: 361.92
        totalPendingPrice:
          price:
            recommendedRetailPrice: 0
            partnerNetPrice: 0
            bookingFee: 0
            commission: 0
            partnerTotalPrice: 0
    amendment-check-response-partially-amendable:
      summary: Partially Amendable
      value:
        bookingRef: BR-000000001
        isAmendable: true
        amendmentTypes:
        - BOOKING_DETAILS
        - PER_BOOKING_QUESTIONS
    amendment-quote-request-per-booking-questions:
      summary: Per booking questions
      value:
        bookingRef: BR-123456789
        perBookingQuestions:
        - question: TRANSFER_AIR_ARRIVAL_AIRLINE
          answer: Qantas
        - question: TRANSFER_AIR_ARRIVAL_FLIGHT_NO
          answer: QA123
        - question: TRANSFER_ARRIVAL_TIME
          answer: 09:00
        - question: TRANSFER_ARRIVAL_MODE
          answer: AIR
        - question: TRANSFER_ARRIVAL_DROP_OFF
          answer: Dump in the sea
          unit: FREETEXT
        - question: PICKUP_POINT
          answer: LOC-6eKJ+or5y8o99Qw0C8xWyBUjh6pMvKC4jOdy64DW0Qo=
          unit: LOCATION_REFERENCE
        voucherFormat: HTML
    amendment-amend-response-rejected:
      summary: Amendment Rejected
      value:
        status: REJECTED
        rejectionReasonCode: ISSUE_WITH_PICKUP
    bookings-cart-book-request-partner-form-example:
      summary: Partner Form
      value:
        cartRef: CR-5eeac311d6cdd74472bc80b4bfaed558
        bookerInfo:
          firstName: Jane
          lastName: Doe
        communication:
          email: jane.doe@example.com
          phone: +61 444444444
        items:
        - bookingRef: BR-593036817
          bookingQuestionAnswers:
          - question: SPECIAL_REQUIREMENTS
            answer: No blue M&Ms
          languageGuide:
            type: GUIDE
            language: cmn
            legacyGuide: cmn/SERVICE_GUIDE
        paymentToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
    bookings-cart-hold-request-partner-form-example:
      summary: Partner Form
      value:
        currency: AUD
        partnerCartRef: NK1ECYpu
        items:
        - partnerBookingRef: SMN94A9b
          productCode: 172432P20
          productOptionCode: TG2
          startTime: 09:00
          travelDate: '2023-08-20'
          paxMix:
          - ageBand: ADULT
            numberOfTravelers: 2
        paymentDataSubmissionMode: PARTNER_FORM
    bookings-cart-book-request-merchant-example:
      summary: Merchant
      value:
        cartRef: CR-d79993d2c97048940def455f6d4c4adb
        bookerInfo:
          firstName: Jane
          lastName: Doe
        communication:
          email: jane.doe@example.com
          phone: +61 444444444
        items:
        - bookingRef: BR-593037231
          bookingQuestionAnswers:
          - question: SPECIAL_REQUIREMENTS
            answer: No blue M&Ms
          - question: AGEBAND
            answer: ADULT
            travelerNum: 1
          - question: AGEBAND
            answer: ADULT
            travelerNum: 2
          - question: DATE_OF_BIRTH
            answer: '1970-01-01'
            travelerNum: 1
          - question: DATE_OF_BIRTH
            answer: '1970-01-01'
            travelerNum: 2
          - question: FULL_NAMES_FIRST
            answer: Traveler First
            travelerNum: 1
          - question: FULL_NAMES_FIRST
            answer: Traveler First
            travelerNum: 2
          - question: FULL_NAMES_LAST
            answer: Traveler Last
            travelerNum: 1
          - question: FULL_NAMES_LAST
            answer: Traveler Last
            travelerNum: 2
          languageGuide:
            type: GUIDE
            language: en
            legacyGuide: en/SERVICE_GUIDE
    bookings-cart-hold-response-merchant-example:
      summary: Merchant
      value:
        cartRef: CR-d79993d2c97048940def455f6d4c4adb
        partnerCartRef: PYU2vBfV
        currency: AUD
        items:
        - partnerBookingRef: C6gF8U5g
          bookingRef: BR-593037231
          status: BOOKABLE
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 365.58
                partnerNetPrice: 361.92
          itemTotalPrice:
            price:
              recommendedRetailPrice: 365.58
              partnerNetPrice: 361.92
              bookingFee: 0
              commission: 3.66
              partnerTotalPrice: 361.92
          bookingHoldInfo:
            availability:
              status: HOLD_NOT_PROVIDED
            pricing:
              status: HOLDING
              validUntil: '2023-07-21T02:47:42.324852Z'
        totalHeldPrice:
          price:
            recommendedRetailPrice: 365.58
            partnerNetPrice: 361.92
            bookingFee: 0
            commission: 3.66
            partnerTotalPrice: 361.92
    bookings-cancel-reasons-example-2:
      summary: type="SUPPLIER"
      value:
        reasons:
        - cancellationReasonText: Supplier unable to fulfill booking
          cancellationReasonCode: Supplier_Support.Default
        - cancellationReasonText: Minimum number of passenger not met
          cancellationReasonCode: Supplier_Support.Minimum_number_of_passenger_not_met
        - cancellationReasonText: Date not available
          cancellationReasonCode: Supplier_Support.Date_not_available
        - cancellationReasonText: Time not available
          cancellationReasonCode: Supplier_Support.Time_not_available
        - cancellationReasonText: Product no longer available
          cancellationReasonCode: Supplier_Support.Product_no_longer_available
        - cancellationReasonText: Customer requested a cancellation
          cancellationReasonCode: Supplier_Support.Customer_requested_a_cancellation
        - cancellationReasonText: Tour was sold out
          cancellationReasonCode: Supplier_Support.Tour_was_sold_out
        - cancellationReasonText: Duplicate booking
          cancellationReasonCode: Supplier_Support.Duplicate_booking
        - cancellationReasonText: Significant global event/force Majeure
          cancellationReasonCode: Supplier_Support.Significant_global_event_Force_majeure
        - cancellationReasonText: Weather
          cancellationReasonCode: Supplier_Support.Weather
        - cancellationReasonText: Booking was not received via API
          cancellationReasonCode: Supplier_Support.Booking_was_not_received_via_API
    bookings-cart-book-response-partner-form-example:
      summary: Partner Form
      value:
        cartRef: CR-5eeac311d6cdd74472bc80b4bfaed558
        partnerCartRef: NK1ECYpu
        currency: AUD
        items:
        - partnerBookingRef: SMN94A9b
          bookingRef: BR-593036817
          status: CONFIRMED
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 13.6
                partnerNetPrice: 12.52
          itemTotalPrice:
            price:
              recommendedRetailPrice: 13.6
              partnerNetPrice: 12.52
              bookingFee: 0
              commission: 1.08
              partnerTotalPrice: 12.52
          cancellationPolicy:
            type: STANDARD
            description: For a full refund, cancel at least 24 hours before the scheduled departure time.
            cancelIfBadWeather: true
            cancelIfInsufficientTravelers: false
            refundEligibility:
            - dayRangeMin: 1
              percentageRefundable: 100
              startTimestamp: '2023-07-21T01:28:33Z'
              endTimestamp: '2023-08-18T22:59:59Z'
            - dayRangeMin: 0
              dayRangeMax: 1
              percentageRefundable: 0
              startTimestamp: '2023-08-18T23:00:00Z'
              endTimestamp: '2023-08-19T23:00:00Z'
          voucherInfo:
            url: https://shop.live.rc.viator.com/ticket?code=1006658118:1176d4aed0e88ffec7faf11e67183edc0cd40d5b5244b30b0cd08aab14f72b4b
            format: HTML
            type: STANDARD
        voucherInfo:
          url: https://shop.live.rc.viator.com/ticket?code=1006658118:1176d4aed0e88ffec7faf11e67183edc0cd40d5b5244b30b0cd08aab14f72b4b
          format: HTML
          type: STANDARD
        totalConfirmedPrice:
          price:
            recommendedRetailPrice: 13.6
            partnerNetPrice: 12.52
            bookingFee: 0
            commission: 1.08
            partnerTotalPrice: 12.52
        totalPendingPrice:
          price:
            recommendedRetailPrice: 0
            partnerNetPrice: 0
            bookingFee: 0
            commission: 0
            partnerTotalPrice: 0
    amendment-quote-request-booking-details:
      summary: Booking Details
      value:
        bookingRef: BR-123456789
        bookingDetails:
          startTime: '14:00'
          travelDate: '2023-08-20'
          productOptionCode: TG1
        voucherFormat: PDF
    bookings-cart-hold-response-viator-form-example:
      summary: Viator Form
      value:
        cartRef: CR-cb9c9d63017a63c96454e4a5b0b153eb
        partnerCartRef: lW83mqyU
        currency: AUD
        items:
        - partnerBookingRef: irk5vCJ7
          bookingRef: BR-593038025
          status: BOOKABLE
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 13.6
                partnerNetPrice: 12.52
          itemTotalPrice:
            price:
              recommendedRetailPrice: 13.6
              partnerNetPrice: 12.52
              bookingFee: 0
              commission: 1.08
              partnerTotalPrice: 12.52
          bookingHoldInfo:
            availability:
              status: HOLD_NOT_PROVIDED
            pricing:
              status: HOLDING
              validUntil: '2023-07-21T03:17:37.494535Z'
        totalHeldPrice:
          price:
            recommendedRetailPrice: 13.6
            partnerNetPrice: 12.52
            bookingFee: 0
            commission: 1.08
            partnerTotalPrice: 12.52
        paymentSessionToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6ImVlZTgzNTdmLTJjMWMtNGFmOS1iNGY5LTMzZDgzMGIzODI2ZCJ9.eyJjaGVja291dFNlc3Npb25JZCI6IkNTSS1TLWE1c3ZvNDdub3ZhNHRkc2VidWg2aWkzd2JtIiwibWVyY2hhbnRJZCI6Ik1FUi1WSUFUT1IiLCJjbGllbnRJZCI6IlBBUlRORVI6QVBJLWVuOkFGRklMSUFURTo4MjAxNiIsImFtb3VudCI6MTIuNTIsImN1cnJlbmN5IjoiQVVEIiwibG9jYWxlIjoiZW4iLCJjcmVkaXRDYXJkRW50cnlVcmwiOiJodHRwczovL2FwaS5zdGFnaW5nLnRhcGF5bWVudHMuY29tL3VpL3YxL2NoZWNrb3V0L0NTSS1TLWE1c3ZvNDdub3ZhNHRkc2VidWg2aWkzd2JtL2NjZW50cnkiLCJhdWdtZW50VG9rZW5VcmwiOiJodHRwczovL2NoZWNrb3V0LWFwaS1oYXJlLnBheW1lbnRzLWRldi50YW1nLmNsb3VkL3YxL2NoZWNrb3V0L2F1Z21lbnRlZFBheW1lbnRTZXNzaW9uIiwidGhyZWVEU0RhdGFVcmwiOiJodHRwczovL2NoZWNrb3V0LWFwaS1oYXJlLnBheW1lbnRzLWRldi50YW1nLmNsb3VkL3YxL2NoZWNrb3V0LzNkcyIsImxvZ2dpbmdVcmwiOiJodHRwczovL2NoZWNrb3V0LWFwaS1oYXJlLnBheW1lbnRzLWRldi50YW1nLmNsb3VkL3YxL2NoZWNrb3V0L2xvZyIsImZpbmdlcnByaW50U3VibWlzc2lvblVybCI6Imh0dHBzOi8vY2hlY2tvdXQtYXBpLWhhcmUucGF5bWVudHMtZGV2LnRhbWcuY2xvdWQvdjEvY2hlY2tvdXQvZGV2aWNlRmluZ2VycHJpbnQiLCJwcm9maWxpbmdDb25maWd1cmF0aW9uIjp7ImNsaWVudElkIjoiVmdaZ0ZSMF9SMmhhVVBKV0F6OFlsemZGa2NNIiwiaG9zdG5hbWUiOiJ0ZXN0LmFjY2RhYi5uZXQiLCJmaW5nZXJwcmludElkIjoiSU5BVVRILTlhNTlkMTI4LWQzYjQtNDUyOS1iNmE2LTVmYjk3OWQwNTc3YiJ9LCJwdXJjaGFzZUNvbnRleHRzIjpbXX0.BgBJadCdH95l3Re1ohYujYjHwSaVTds5MQ_H7WfUeMpuuXbTEzIvPF8YtBlDQ-aL66yBirrorol8RetAUb_phhLXO6scsAgsZEmgTPe6-dqbrjB3IkdJcf5bbdUDbyykUkY2Tf4vhYZc3UhR0fOCc_Ibdhpkt7bfA0O7bnTrAHGaE6Tl1328xuGthdSggFBdaNSVPoeEl4CTb2Q1tYotuFlUcLawzQgravgWWfMvPN9V6sDiP17bROSigXw0f3IBKs5JYKKMYpHLSJ370DasuMTJ8_5kXUXq8thXEHJOh0cGurOhx32gDUUuCAuRwBRa9HeEgig7RrN0UmlSs7_iEQ
    bookings-modified-since-example:
      summary: /bookings/modified-since
      value:
        bookings:
        - transactionRef: '1234'
          eventType: CANCELLATION
          acknowledgeBy: '2022-04-08T09:22:48Z'
          bookingRef: BR-204104077
          partnerBookingRef: BK2041040771234567
          lastUpdated: '2022-04-07T13:25:00Z'
          bookedItem:
            productCode: 281620P2
            productOptionCode: TG1
            travelDate: '2022-05-12'
            travelTime: 09:30
          cancellation:
            cancellationReasonCode: Supplier_Support.Significant_global_event
            refundDetails:
              itemPrice: 59.4
              refundAmount: 59.4
              refundPercentage: 100
              currencyCode: AUD
        - transactionRef: '1235'
          eventType: CANCELLATION
          acknowledgeBy: '2022-04-08T09:22:48Z'
          bookingRef: BR-204104078
          partnerBookingRef: BK2041040771234568
          lastUpdated: '2022-04-08T09:17:48Z'
          bookedItem:
            productCode: 172432P11
            productOptionCode: TG1
            travelDate: '2022-05-14'
            travelTime: 09:30
          cancellation:
            cancellationReasonCode: Supplier_Support.Weather
            refundDetails:
              itemPrice: 120
              refundAmount: 120
              refundPercentage: 100
              currencyCode: EUR
        nextCursor: MTYxMjc2OTM4NXwxNTU5MTlQMXxJTkFDVElWRQ==
    amendment-amend-response-amended-no-voucher-info:
      summary: Amended without voucher info
      value:
        status: PENDING
        initialBookingPrice: 75
        quotePriceDifference:
          recommendedRetailPrice: 0
          partnerNetPrice: 0
          bookingFee: 0
          commission: 0
          partnerTotalPrice: 0
        amendedBookingPrice:
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 1
            subtotalPrice:
              price:
                recommendedRetailPrice: 75
                partnerNetPrice: 75
          totalPrice:
            price:
              recommendedRetailPrice: 75
              partnerNetPrice: 75
        currency: EUR
        paymentMethod:
          type: CARD
          identifierType: CARD_LAST_FOUR
          identifier: 7
    amendment-quote-response-same-price:
      summary: Amended (same price)
      value:
        bookingRef: BR-123456789
        quoteRef: QR-4891fddc-7e2e-4203-9517-ec75703daa8a
        status: CONFIRMED
        quoteExpiresAt: '2023-07-21T03:17:37.494535Z'
        initialBookingPrice: 75
        quotePriceDifference:
          recommendedRetailPrice: 0
          partnerNetPrice: 0
          bookingFee: 0
          commission: 0
          partnerTotalPrice: 0
        amendedBookingPrice:
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 1
            subtotalPrice:
              price:
                recommendedRetailPrice: 75
                partnerNetPrice: 75
          totalPrice:
            price:
              recommendedRetailPrice: 75
              partnerNetPrice: 75
              bookingFee: 0
              commission: 15
              partnerTotalPrice: 60
        currency: EUR
        paymentMethod:
          type: CARD
          identifierType: CARD_LAST_FOUR
          identifier: 7
    bookings-cart-hold-response-extra-charges-example:
      summary: Extra Charges
      value:
        cartRef: CR-b54b65e9796a1b825c2bfbdf1c8fc561
        partnerCartRef: gHJBEkWL
        currency: USD
        items:
        - partnerBookingRef: kSmyaN8Y
          bookingRef: BR-204279587
          status: BOOKABLE
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 3
            subtotalPrice:
              price:
                recommendedRetailPrice: 2175
                partnerNetPrice: 2001
          itemTotalPrice:
            price:
              recommendedRetailPrice: 2175
              partnerNetPrice: 2001
              bookingFee: 0
              commission: 174
              partnerTotalPrice: 2001
          bookingHoldInfo:
            availability:
              status: HOLD_NOT_PROVIDED
            pricing:
              status: HOLDING
              validUntil: '2025-03-18T12:06:58.861994308Z'
          extraChargesSummary:
            price:
              recommendedRetailPrice: 2304.87
            mandatory:
              totalExtraCharges: 129.87
              items:
              - name: Test fee 1 - Per Person
                numberOfUnits: 3
                amountPerUnit: 6.78
                totalAmount: 20.35
                inDestination:
                  amountPerUnit: 1000
                  totalAmount: 3000
                  currency: JPY
              - name: Test fee 2 - Fixed
                numberOfUnits: 1
                amountPerUnit: 109.52
                totalAmount: 109.52
                inDestination:
                  amountPerUnit: 100
                  totalAmount: 100
                  currency: EUR
        totalHeldPrice:
          price:
            recommendedRetailPrice: 2175
            partnerNetPrice: 2001
            bookingFee: 0
            commission: 174
            partnerTotalPrice: 2001
        paymentSessionToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6ImVlZTgzNTdmLTJjMWMtNGFmOS1iNGY5LTMzZDgzMGIzODI2ZCJ9.eyJjaGVja291dFNlc3Npb25JZCI6IkNTSS1TLXVzMmdjd3hwNXZiMmZldm43NmFpb253NzZtIiwibWVyY2hhbnRJZCI6Ik1FUi1WSUFUT1IiLCJjbGllbnRJZCI6IlAwMDEwODk1MCIsImFtb3VudCI6MCwiY3VycmVuY3kiOiJVU0QiLCJsb2NhbGUiOiJlbiIsImNyZWRpdENhcmRFbnRyeVVybCI6Imh0dHBzOi8vYXBpLnN0YWdpbmcudGFwYXltZW50cy5jb20vdWkvdjEvY2hlY2tvdXQvQ1NJLVMtdXMyZ2N3eHA1dmIyZmV2bjc2YWlvbnc3Nm0vY2NlbnRyeSIsInBheW1lbnREYXRhU3VibWlzc2lvblVybCI6Imh0dHBzOi8vYXBpLnN0YWdpbmcudGFwYXltZW50cy5jb20vdjEvY2hlY2tvdXRzZXNzaW9ucy9DU0ktUy11czJnY3d4cDV2YjJmZXZuNzZhaW9udzc2bS9wYXltZW50YWNjb3VudHMiLCJhdWdtZW50VG9rZW5VcmwiOiJodHRwczovL2NoZWNrb3V0LWFwaS1oYXJlLnBheW1lbnRzLWRldi50YW1nLmNsb3VkL3YxL2NoZWNrb3V0L2F1Z21lbnRlZFBheW1lbnRTZXNzaW9uIiwidGhyZWVEU0RhdGFVcmwiOiJodHRwczovL2NoZWNrb3V0LWFwaS1oYXJlLnBheW1lbnRzLWRldi50YW1nLmNsb3VkL3YxL2NoZWNrb3V0LzNkcyIsImxvZ2dpbmdVcmwiOiJodHRwczovL2NoZWNrb3V0LWFwaS1oYXJlLnBheW1lbnRzLWRldi50YW1nLmNsb3VkL3YxL2NoZWNrb3V0L2xvZyIsImZpbmdlcnByaW50U3VibWlzc2lvblVybCI6Imh0dHBzOi8vY2hlY2tvdXQtYXBpLWhhcmUucGF5bWVudHMtZGV2LnRhbWcuY2xvdWQvdjEvY2hlY2tvdXQvZGV2aWNlRmluZ2VycHJpbnQiLCJwcm9maWxpbmdDb25maWd1cmF0aW9uIjp7ImNsaWVudElkIjoiVmdaZ0ZSMF9SMmhhVVBKV0F6OFlsemZGa2NNIiwiaG9zdG5hbWUiOiJ0ZXN0LmFjY2RhYi5uZXQiLCJmaW5nZXJwcmludElkIjoiSU5BVVRILTNmNTdiNzA3LThlNTYtNDExNC1hNzU5LTU3MDViZjc0MjUxOCJ9LCJwdXJjaGFzZUNvbnRleHRzIjpbeyJzdXBwbGllcklkIjoiMTI4MjE2Iiwic3VwcGxpZXJMb2NhdGlvbiI6eyJjb3VudHJ5IjoiRUcifSwic3VwcGxpZXJKdXJpc2RpY3Rpb24iOiJOT05FIn1dfQ.OZ8uTgTHsQ8pEEjgHZ9-iiF3D_-lqjkAE8xto5vm2VpZRRJaNXgRJCXujndieX7g-qhUuY41APjTbgL7zMmVchIX7Mh7xhseQQ-FXaxTiq69vazETPSqvAx2GBks7eqN-JH5bebiV-VVsWqKEE3FDkHwqUtCYsZ9p4S7Ygh_K7zt5ei87XHceZQ61WQ5JZt2mVKjHkO-eLEeWUyYxXoBjTjzfGzD_v4R9x9WZvWZIFbd0Q5HzxRzXyXF8LCqZdCR7onz9jUypOdlswynnu8K7IleMNRNjgkvq4xPDsdpKT6NZUhNjOhkKy0fu2IO3lDVGRkOHbUY8uuj7mj0m6ZQcQ
        paymentDataSubmissionUrl: https://api.staging.tapayments.com/v1/checkoutsessions/CSI-S-us2gcwxp5vb2fevn76aionw76m/paymentaccounts
        extraChargesSummary:
          price:
            recommendedRetailPrice: 2304.87
          totalExtraCharges: 129.87
        translationInfo:
          containsMachineTranslatedText: false
          translationSource: ORIGINAL
    bookings-cart-hold-request-viator-form-example:
      summary: Viator Form
      value:
        currency: AUD
        partnerCartRef: lW83mqyU
        items:
        - partnerBookingRef: irk5vCJ7
          productCode: 172432P20
          productOptionCode: TG2
          startTime: 09:00
          travelDate: '2023-08-20'
          paxMix:
          - ageBand: ADULT
            numberOfTravelers: 2
        paymentDataSubmissionMode: VIATOR_FORM
        hostingUrl: https://www.partner-example-hosting-url.com
    amendment-check-response-not-amendable:
      summary: Not Amendable
      value:
        bookingRef: BR-000000001
        isAmendable: false
        reason: UNSUPPORTED_PRODUCT
    bookings-cart-book-response-viator-form-example:
      summary: Viator Form
      value:
        cartRef: CR-cb9c9d63017a63c96454e4a5b0b153eb
        partnerCartRef: lW83mqyU
        currency: AUD
        items:
        - partnerBookingRef: irk5vCJ7
          bookingRef: BR-593038025
          status: CONFIRMED
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 13.6
                partnerNetPrice: 12.52
          itemTotalPrice:
            price:
              recommendedRetailPrice: 13.6
              partnerNetPrice: 12.52
              bookingFee: 0
              commission: 1.08
              partnerTotalPrice: 12.52
          cancellationPolicy:
            type: STANDARD
            description: For a full refund, cancel at least 24 hours before the scheduled departure time.
            cancelIfBadWeather: true
            cancelIfInsufficientTravelers: false
            refundEligibility:
            - dayRangeMin: 1
              percentageRefundable: 100
              startTimestamp: '2023-07-21T02:19:02Z'
              endTimestamp: '2023-08-18T22:59:59Z'
            - dayRangeMin: 0
              dayRangeMax: 1
              percentageRefundable: 0
              startTimestamp: '2023-08-18T23:00:00Z'
              endTimestamp: '2023-08-19T23:00:00Z'
          voucherInfo:
            url: https://shop.live.rc.viator.com/ticket?code=1006658118:1176d4aed0e88ffec7faf11e67183edc0cd40d5b5244b30b0cd08aab14f72b4b
            format: HTML
            type: STANDARD
        voucherInfo:
          url: https://shop.live.rc.viator.com/ticket?code=1006658118:1176d4aed0e88ffec7faf11e67183edc0cd40d5b5244b30b0cd08aab14f72b4b
          format: HTML
          type: STANDARD
        totalConfirmedPrice:
          price:
            recommendedRetailPrice: 13.6
            partnerNetPrice: 12.52
            bookingFee: 0
            commission: 1.08
            partnerTotalPrice: 12.52
        totalPendingPrice:
          price:
            recommendedRetailPrice: 0
            partnerNetPrice: 0
            bookingFee: 0
            commission: 0
            partnerTotalPrice: 0
    bookings-hold-extra-charges-example:
      summary: /bookings/hold - ExtraCharges
      value:
        bookingRef: BR-204279583
        bookingHoldInfo:
          availability:
            status: HOLD_NOT_PROVIDED
          pricing:
            status: HOLDING
            validUntil: '2025-03-18T10:58:47.644585048Z'
        currency: USD
        lineItems:
        - ageBand: ADULT
          numberOfTravelers: 3
          subtotalPrice:
            price:
              recommendedRetailPrice: 2175
              partnerNetPrice: 2153.25
        totalPrice:
          price:
            recommendedRetailPrice: 2175
            partnerNetPrice: 2153.25
            bookingFee: 0
            commission: 21.75
            partnerTotalPrice: 2153.25
        extraChargesSummary:
          price:
            recommendedRetailPrice: 2304.87
          mandatory:
            totalExtraCharges: 129.87
            items:
            - name: Test fee 1 - Per Person
              numberOfUnits: 3
              amountPerUnit: 6.78
              totalAmount: 20.35
              inDestination:
                amountPerUnit: 1000
                totalAmount: 3000
                currency: JPY
            - name: Test fee 2 - Fixed
              numberOfUnits: 1
              amountPerUnit: 109.52
              totalAmount: 109.52
              inDestination:
                amountPerUnit: 100
                totalAmount: 100
                currency: EUR
        translationInfo:
          containsMachineTranslatedText: false
          translationSource: ORIGINAL
    amendment-quote-request-per-traveler-questions:
      summary: Per traveler booking questions
      value:
        bookingRef: BR-123456789
        perTravelerQuestions:
        - travelerNum: 1
          bookingQuestions:
          - question: DATE_OF_BIRTH
            answer: '1970-01-01'
          - question: FULL_NAMES_FIRST
            answer: John
          - question: FULL_NAMES_LAST
            answer: Doe
        - travelerNum: 2
          bookingQuestions:
          - question: DATE_OF_BIRTH
            answer: '1971-10-11'
          - question: FULL_NAMES_FIRST
            answer: Jane
          - question: FULL_NAMES_LAST
            answer: Doe
    bookings-status-pending-example:
      summary: Pending booking
      value:
        status: PENDING
        bookingRef: BR-784007177
        partnerBookingRef: PR-784007177
        currency: USD
        lineItems:
        - ageBand: ADULT
          numberOfTravelers: 3
          subtotalPrice:
            price:
              recommendedRetailPrice: 510
              partnerNetPrice: 504.9
        totalPrice:
          price:
            recommendedRetailPrice: 510
            partnerNetPrice: 504.9
            bookingFee: 0
            commission: 5.1
            partnerTotalPrice: 504.9
        cancellationPolicy:
          type: CUSTOM
          description: If you cancel at least 2 full day(s) before the scheduled departure time, you will receive a full refund. If you cancel within 2 day(s) of the scheduled departure, you will receive a 0% refund.
          cancelIfBadWeather: false
          cancelIfInsufficientTravelers: false
          refundEligibility:
          - dayRangeMin: 2
            percentageRefundable: 100
            startTimestamp: '2025-07-22T09:23:54Z'
            endTimestamp: '2025-07-27T07:59:59Z'
          - dayRangeMin: 0
            dayRangeMax: 2
            percentageRefundable: 0
            startTimestamp: '2025-07-27T08:00:00Z'
            endTimestamp: '2025-07-29T08:00:00Z'
        nextPollAt: '2025-07-22T11:24:05.764088Z'
    bookings-status-example-2:
      summary: Canceled booking
      value:
        bookingRef: BR-582323272
        status: CANCELED
        partnerBookingRef: test-partner-ref-aejsmont-num-1604985575
    amendment-amend-response-amended:
      summary: Amended
      value:
        status: AMENDED
        initialBookingPrice: 75
        quotePriceDifference:
          recommendedRetailPrice: 100
          partnerNetPrice: 100
          bookingFee: 0
          commission: 20
          partnerTotalPrice: 80
        amendedBookingPrice:
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 1
            subtotalPrice:
              price:
                recommendedRetailPrice: 75
                partnerNetPrice: 75
                bookingFee: 0
          - ageBand: ADULT
            numberOfTravelers: 1
            subtotalPrice:
              price:
                recommendedRetailPrice: 100
                partnerNetPrice: 100
          totalPrice:
            price:
              recommendedRetailPrice: 175
              partnerNetPrice: 175
              bookingFee: 0
              commission: 35
              partnerTotalPrice: 140
        currency: EUR
        paymentMethod:
          type: CARD
          identifierType: CARD_LAST_FOUR
          identifier: 7
        voucherInfo:
          url: https://shop.live.rc.viator.com/ticket?code=1006658118:1176d4aed0e88ffec7faf11e67183edc0cd40d5b5244b30b0cd08aab14f72b4b
          format: HTML
          type: STANDARD
    bookings-book-example:
      summary: /bookings/book
      value:
        status: CONFIRMED
        bookingRef: BR-581567752
        partnerBookingRef: BR-581567752
        currency: AUD
        lineItems:
        - ageBand: ADULT
          numberOfTravelers: 1
          subtotalPrice:
            price:
              recommendedRetailPrice: 71.1
              partnerNetPrice: 56.79
        totalPrice:
          price:
            recommendedRetailPrice: 71.1
            partnerNetPrice: 56.79
            bookingFee: 3.41
            partnerTotalPrice: 60.2
        cancellationPolicy:
          type: STANDARD
          description: For a full refund, cancel at least 24 hours before the scheduled departure time.
          cancelIfBadWeather: false
          cancelIfInsufficientTravelers: false
          refundEligibility:
          - dayRangeMin: 1
            percentageRefundable: 100
            startTimestamp: '2020-08-25T00:36:49.69005Z'
            endTimestamp: '2020-11-28T13:00:00Z'
          - dayRangeMin: 0
            dayRangeMax: 1
            percentageRefundable: 0
            startTimestamp: '2020-11-28T13:00:00Z'
            endTimestamp: '2020-11-29T13:00:00Z'
        voucherInfo:
          url: https://shop.live.rc.viator.com/ticket?code=1006658118:1176d4aed0e88ffec7faf11e67183edc0cd40d5b5244b30b0cd08aab14f72b4b
          format: HTML
          type: STANDARD
    bookings-cancel-reasons-example:
      summary: type="CUSTOMER"
      value:
        reasons:
        - cancellationReasonText: Supplier No Show
          cancellationReasonCode: Customer_Service.Supplier_no_show
        - cancellationReasonText: Chose a different/cheaper tour
          cancellationReasonCode: Customer_Service.Chose_a_different_cheaper_tour
        - cancellationReasonText: Unexpected medical circumstances
          cancellationReasonCode: Customer_Service.Unexpected_medical_circumstances
        - cancellationReasonText: Weather
          cancellationReasonCode: Customer_Service.Weather
        - cancellationReasonText: Booked wrong tour date
          cancellationReasonCode: Customer_Service.Booked_wrong_tour_date
        - cancellationReasonText: Duplicate Booking
          cancellationReasonCode: Customer_Service.Duplicate_Booking
        - cancellationReasonText: Significant global event
          cancellationReasonCode: Customer_Service.Significant_global_event
        - cancellationReasonText: I canceled my entire trip
          cancellationReasonCode: Customer_Service.I_canceled_my_entire_trip
    amendment-quote-request-update-pax-mix:
      summary: Add/Remove PaxMix
      value:
        updatePaxMix:
          removePaxMix:
          - travelerNum: 1
          - travelerNum: 2
          addPaxMix:
          - travelerNum: 4
            ageBand: ADULT
            bookingQuestions:
            - question: DATE_OF_BIRTH
              answer: '1986-05-25'
            - question: FULL_NAMES_FIRST
              answer: Alice
            - question: FULL_NAMES_LAST
              answer: Doe
    bookings-cancel-quote-example:
      summary: /bookings/{product-code}/cancel-quote
      value:
        bookingId: BR-581567752
        refundDetails:
          itemPrice: 60.2
          refundAmount: 60.2
          refundPercentage: 100
          currencyCode: AUD
        status: CANCELLABLE
    bookings-cancel-example:
      summary: /bookings/{product-code}/cancel
      value:
        bookingId: BR-581567752
        status: ACCEPTED
    amendment-quote-response-price-changed:
      summary: Amended (price changed)
      value:
        bookingRef: BR-123456789
        quoteRef: QR-4891fddc-7e2e-4203-9517-ec75703daa8a
        status: CONFIRMED
        quoteExpiresAt: '2023-07-21T03:17:37.494535Z'
        initialBookingPrice: 75
        quotePriceDifference:
          recommendedRetailPrice: 100
          partnerNetPrice: 100
          bookingFee: 0
          commission: 20
          partnerTotalPrice: 80
        amendedBookingPrice:
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 1
            subtotalPrice:
              price:
                recommendedRetailPrice: 75
                partnerNetPrice: 75
          - ageBand: ADULT
            numberOfTravelers: 1
            subtotalPrice:
              price:
                recommendedRetailPrice: 100
                partnerNetPrice: 100
          totalPrice:
            price:
              recommendedRetailPrice: 175
              partnerNetPrice: 175
              bookingFee: 0
              commission: 35
              partnerTotalPrice: 140
        currency: EUR
        paymentMethod:
          type: CARD
          identifierType: CARD_LAST_FOUR
          identifier: 7
    bookings-cart-hold-request-merchant-example:
      summary: Merchant
      value:
        currency: AUD
        partnerCartRef: PYU2vBfV
        items:
        - partnerBookingRef: C6gF8U5g
          productCode: 101116P3
          startTime: '14:00'
          travelDate: '2023-08-20'
          paxMix:
          - ageBand: ADULT
            numberOfTravelers: 2
    bookings-cart-book-request-viator-form-example:
      summary: Viator Form
      value:
        cartRef: CR-cb9c9d63017a63c96454e4a5b0b153eb
        bookerInfo:
          firstName: Jane
          lastName: Doe
        communication:
          email: jane.doe@example.com
          phone: +61 444444444
        items:
        - bookingRef: BR-593038025
          bookingQuestionAnswers:
          - question: SPECIAL_REQUIREMENTS
            answer: No blue M&Ms
          languageGuide:
            type: GUIDE
            language: cmn
            legacyGuide: cmn/SERVICE_GUIDE
        paymentToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
    bookings-hold-example:
      summary: /bookings/hold
      value:
        bookingRef: BR-788161184
        bookingHoldInfo:
          availability:
            status: HOLD_NOT_PROVIDED
          pricing:
            status: HOLDING
            validUntil: '2020-09-21T00:18:47.233Z'
        currency: AUD
        lineItems:
        - ageBand: ADULT
          numberOfTravelers: 2
          subtotalPrice:
            price:
              recommendedRetailPrice: 601.68
              partnerNetPrice: 463.3
        totalPrice:
          price:
            recommendedRetailPrice: 601.68
            partnerNetPrice: 463.3
            bookingFee: 27.8
            partnerTotalPrice: 491.1
    amendment-check-response-amendable:
      summary: Amendable
      value:
        bookingRef: BR-000000001
        isAmendable: true
        amendmentTypes:
        - BOOKING_DETAILS
        - UPDATE_PAX_MIX
        - PER_TRAVELER_QUESTIONS
        - PER_BOOKING_QUESTIONS
        paxMixSummary:
        - travelerNum: 1
          ageBand: ADULT
          bookingQuestions:
          - question: FULL_NAMES_FIRST
            answer: John
          - question: FULL_NAMES_LAST
            answer: Smith
          - question: WEIGHT
            answer: '80'
            unit: KG
        - travelerNum: 2
          ageBand: ADULT
          bookingQuestions:
          - question: FULL_NAMES_FIRST
            answer: Mary
          - question: FULL_NAMES_LAST
            answer: Smith
          - question: WEIGHT
            answer: '60'
            unit: KG
        - travelerNum: 3
          ageBand: CHILD
          bookingQuestions:
          - question: FULL_NAMES_FIRST
            answer: Jane
          - question: FULL_NAMES_LAST
            answer: Smith
          - question: WEIGHT
            answer: '40'
            unit: KG
    bookings-cart-hold-response-partner-form-example:
      summary: Partner Form
      value:
        cartRef: CR-5eeac311d6cdd74472bc80b4bfaed558
        partnerCartRef: NK1ECYpu
        currency: AUD
        items:
        - partnerBookingRef: SMN94A9b
          bookingRef: BR-593036817
          status: BOOKABLE
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 13.6
                partnerNetPrice: 12.52
          itemTotalPrice:
            price:
              recommendedRetailPrice: 13.6
              partnerNetPrice: 12.52
              bookingFee: 0
              commission: 1.08
              partnerTotalPrice: 12.52
          bookingHoldInfo:
            availability:
              status: HOLD_NOT_PROVIDED
            pricing:
              status: HOLDING
              validUntil: '2023-07-21T02:23:32.711043Z'
        totalHeldPrice:
          price:
            recommendedRetailPrice: 13.6
            partnerNetPrice: 12.52
            bookingFee: 0
            commission: 1.08
            partnerTotalPrice: 12.52
        paymentSessionToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6ImVlZTgzNTdmLTJjMWMtNGFmOS1iNGY5LTMzZDgzMGIzODI2ZCJ9.eyJjaGVja291dFNlc3Npb25JZCI6IkNTSS1TLWJ0aTQ0b2hrZHZhd3ZndWYycWI2bmFwZ2RxIiwibWVyY2hhbnRJZCI6Ik1FUi1WSUFUT1IiLCJjbGllbnRJZCI6IlBBUlRORVI6QVBJLWVuOkFGRklMSUFURTo4MjAxNiIsImFtb3VudCI6MCwiY3VycmVuY3kiOiJBVUQiLCJsb2NhbGUiOiJlbiIsImNyZWRpdENhcmRFbnRyeVVybCI6Imh0dHBzOi8vYXBpLnN0YWdpbmcudGFwYXltZW50cy5jb20vdWkvdjEvY2hlY2tvdXQvQ1NJLVMtYnRpNDRvaGtkdmF3dmd1ZjJxYjZuYXBnZHEvY2NlbnRyeSIsInBheW1lbnREYXRhU3VibWlzc2lvblVybCI6Imh0dHBzOi8vYXBpLnN0YWdpbmcudGFwYXltZW50cy5jb20vdjEvY2hlY2tvdXRzZXNzaW9ucy9DU0ktUy1idGk0NG9oa2R2YXd2Z3VmMnFiNm5hcGdkcS9wYXltZW50YWNjb3VudHMiLCJhdWdtZW50VG9rZW5VcmwiOiJodHRwczovL2NoZWNrb3V0LWFwaS1oYXJlLnBheW1lbnRzLWRldi50YW1nLmNsb3VkL3YxL2NoZWNrb3V0L2F1Z21lbnRlZFBheW1lbnRTZXNzaW9uIiwidGhyZWVEU0RhdGFVcmwiOiJodHRwczovL2NoZWNrb3V0LWFwaS1oYXJlLnBheW1lbnRzLWRldi50YW1nLmNsb3VkL3YxL2NoZWNrb3V0LzNkcyIsImxvZ2dpbmdVcmwiOiJodHRwczovL2NoZWNrb3V0LWFwaS1oYXJlLnBheW1lbnRzLWRldi50YW1nLmNsb3VkL3YxL2NoZWNrb3V0L2xvZyIsImZpbmdlcnByaW50U3VibWlzc2lvblVybCI6Imh0dHBzOi8vY2hlY2tvdXQtYXBpLWhhcmUucGF5bWVudHMtZGV2LnRhbWcuY2xvdWQvdjEvY2hlY2tvdXQvZGV2aWNlRmluZ2VycHJpbnQiLCJwcm9maWxpbmdDb25maWd1cmF0aW9uIjp7ImNsaWVudElkIjoiVmdaZ0ZSMF9SMmhhVVBKV0F6OFlsemZGa2NNIiwiaG9zdG5hbWUiOiJ0ZXN0LmFjY2RhYi5uZXQiLCJmaW5nZXJwcmludElkIjoiSU5BVVRILWMzZjdiZTM1LTRhMDMtNGFjZC1hMTc1LTA5ZGQ0YjkxNGYxMCJ9LCJwdXJjaGFzZUNvbnRleHRzIjpbXX0.5hQwDidxiUi6ySjRUVto4LYHdrD2WIQxTX_2_o0D66kGsFi0XpiSNYo2MYcbVb0aVKPkRSUnnww5zJWiP9T4qlhmldOw0qhDWpqXUlIGeDCM3CkcFISDg5FZzLr3iwFGK90WZMwJevq-pmiJ8efFGLtqlrnozylHdSDBVwumExJnfcrPflNfhlwNlj4khkeRMRTHt0FfB0Ief0PUeSw5uQ1cvuS0J8n4WEhcryEhAF4ZumgrTUMbPpuY0e-CxDuZnUg6l2bKxXg7No3PRUmF98V34RUIj9_4Wf7NIjxNJQjAaTkxy6ujwk6Y5BS4pExoAsGr8Obz1KWvtAb9pHocrw
        paymentDataSubmissionUrl: https://api.staging.tapayments.com/v1/checkoutsessions/CSI-S-bti44ohkdvawvguf2qb6napgdq/paymentaccounts
    amendment-check-response-amendable-with-questions-unanswered:
      summary: Amendable with questions unanswered
      value:
        bookingRef: BR-000000001
        isAmendable: true
        amendmentTypes:
        - BOOKING_DETAILS
        - UPDATE_PAX_MIX
        - PER_TRAVELER_QUESTIONS
        - PER_BOOKING_QUESTIONS
        paxMixSummary:
        - travelerNum: 1
          ageBand: ADULT
          bookingQuestions:
          - question: FULL_NAMES_FIRST
          - question: FULL_NAMES_LAST
          - question: WEIGHT
        - travelerNum: 2
          ageBand: ADULT
          bookingQuestions:
          - question: FULL_NAMES_FIRST
          - question: FULL_NAMES_LAST
          - question: WEIGHT
        - travelerNum: 3
          ageBand: CHILD
          bookingQuestions:
          - question: FULL_NAMES_FIRST
          - question: FULL_NAMES_LAST
          - question: WEIGHT
    bookings-status-example:
      summary: Confirmed booking
      value:
        status: CONFIRMED
        bookingRef: BR-791143912
        partnerBookingRef: BR-791143912
        currency: USD
        lineItems:
        - ageBand: ADULT
          numberOfTravelers: 2
          subtotalPrice:
            price:
              recommendedRetailPrice: 21.4
              partnerNetPrice: 20.52
        totalPrice:
          price:
            recommendedRetailPrice: 21.4
            partnerNetPrice: 20.52
            bookingFee: 1.23
            partnerTotalPrice: 21.75
        cancellationPolicy:
          type: STANDARD
          description: For a full refund, cancel at least 24 hours before the scheduled departure time.
          cancelIfBadWeather: false
          cancelIfInsufficientTravelers: false
          refundEligibility:
          - dayRangeMin: 2
            percentageRefundable: 100
            startTimestamp: '2020-11-10T02:04:15Z'
            endTimestamp: '2021-03-30T23:00:00Z'
          - dayRangeMin: 0
            dayRangeMax: 1
            percentageRefundable: 0
            startTimestamp: '2021-03-31T23:00:00Z'
            endTimestamp: '2021-04-01T23:00:00Z'
        voucherInfo:
          url: https://www.viator.com/ticket?code=1187186744:8ac3e6308555ab632fe89e8a6b83c41620e840a3bc485f6e0d836192eae1ffc4
          format: HTML
          type: STANDARD
  schemas:
    BookingStatusRequest:
      type: object
      properties:
        bookingRef:
          type: string
          description: The booking reference code (in format `BR-123456789`, which is generated by Viator and returned in the `bookingRef` element in the response from [/bookings/hold](#operation/bookingsHold)) for the booking for which to retrieve status information
        partnerBookingRef:
          description: The booking reference code generated by you (the partner) that was provided in in the request to [/bookings/book](#operation/bookingsBook)) for the booking for which to retrieve status information
          type: string
          pattern: (?s).*[\S].*
          maxLength: 100
        voucherFormat:
          type: string
          description: 'File format of the voucher; one of:

            - `PDF`

            - `HTML`


            Default is `HTML` if not specified.

            '
    AmendmentQuoteResponseConfirmed:
      allOf:
      - $ref: '#/components/schemas/AmendmentQuoteResponseCommon'
      - type: object
        required:
        - quoteRef
        - quoteExpiresAt
        - initialBookingPrice
        - quotePriceDifference
        - amendedBookingPrice
        - currency
        properties:
          quoteRef:
            $ref: '#/components/schemas/QuoteReference'
          quoteExpiresAt:
            $ref: '#/components/schemas/QuoteValidUntil'
          initialBookingPrice:
            $ref: '#/components/schemas/QuoteInitialPrice'
          quotePriceDifference:
            $ref: '#/components/schemas/QuotePriceDifference'
          amendedBookingPrice:
            $ref: '#/components/schemas/QuoteAmendedPrice'
          currency:
            type: string
            description: 'Currency in which the amendment will be processed.

              **Merchant Partners:** One of `USD`, `EUR`, `GBP`, `AUD`, `CAD`


              **Affiliate Partners with API access level "Full Access + Booking":** One of `USD`, `EUR`, `GBP`, `AUD`, `CAD`,

              `CHF`, `DKK`, `FJD`, `HKD`, `JPY`, `NOK`, `NZD`, `SEK`, `SGD`, `THB`, `ZAR`, `INR`, `BRL`, `TWD`, `MXN`, `CLP`, `IDR`, `ILS`, `KRW`, `PHP`, `PLN`, `TRY`


              **Note:** The currency for all price values will always match the currency used in the original booking.

              '
          paymentMethod:
            $ref: '#/components/schemas/PaymentMethod'
    PricingLineItemPriceSubtotal:
      type: object
      required:
      - price
      properties:
        price:
          description: The current price.
          allOf:
          - $ref: '#/components/schemas/PriceSubtotal'
        priceBeforeDiscount:
          description: Non-discounted price if `price` has a discount applied to it.
          allOf:
          - $ref: '#/components/schemas/PriceSubtotal'
    BookingHoldInfo:
      type: object
      description: Availability and pricing hold information.
      required:
      - availability
      - pricing
      properties:
        availability:
          description: Availability hold information.
          allOf:
          - $ref: '#/components/schemas/HoldInfo'
        pricing:
          description: Pricing hold information.
          allOf:
          - $ref: '#/components/schemas/HoldInfo'
    BookingQuestionAnswers-2:
      type: array
      description: 'Answers to booking questions required for this booking.


        **See:** [Booking concepts – Booking questions](#section/Booking-concepts/Booking-questions) for more information.

        '
      items:
        $ref: '#/components/schemas/BookingQuestionAnswers'
    BookingEventItem:
      type: object
      required:
      - productCode
      - travelDate
      properties:
        productCode:
          type: string
          description: 'Unique identification code for the product to which this booking event pertains

            '
        productOptionCode:
          type: string
          description: 'Identification code for the product option of the product identified by `productCode` to which this booking event pertains


            For more information about product options, see: [Key-concepts – Product Options](#section/Key-concepts/Product-options)

            '
        travelDate:
          type: string
          format: date
          description: 'The **date** on which the booked item was scheduled to operate


            **Example**: `2020-05-29`

            '
        travelTime:
          type: string
          format: time
          description: 'The **time of day** at which the booked item was scheduled to commence


            **Example**: `09:30`

            '
    NextPollAt:
      type: string
      format: date-time
      description: 'Timestamp (UTC) indicating the recommended time the endpoint should be hit again.


        Example: "2025-04-03T02:54:29.082753Z"

        '
    AdditionalBookingDetails:
      type: object
      properties:
        voucherDetails:
          $ref: '#/components/schemas/VoucherDetails'
        fraudPreventionDetails:
          $ref: '#/components/schemas/FraudPreventionDetails'
        loyaltyProgramDetails:
          $ref: '#/components/schemas/LoyaltyProgramDetails'
    PriceSubtotal:
      type: object
      required:
      - recommendedRetailPrice
      - partnerNetPrice
      properties:
        recommendedRetailPrice:
          $ref: '#/components/schemas/RecommendedRetailPrice-2'
        partnerNetPrice:
          $ref: '#/components/schemas/PartnerNetPrice-2'
    PaxMixItem-2:
      type: object
      required:
      - ageBand
      - numberOfTravelers
      properties:
        ageBand:
          $ref: '#/components/schemas/AgeBand-2'
        numberOfTravelers:
          type: integer
          description: Number of travelers/passengers in this age-band.
    BookingsCartBookRequestItem:
      type: object
      required:
      - bookingRef
      properties:
        bookingRef:
          $ref: '#/components/schemas/BookingReference'
        languageGuide:
          $ref: '#/components/schemas/LanguageGuide'
        bookingQuestionAnswers:
          $ref: '#/components/schemas/BookingQuestionAnswers-2'
    RecommendedRetailPrice:
      type: number
      description: The recommended retail price for the item and the price at which the product is sold on the Viator.com site
    BookingHoldRequest:
      allOf:
      - $ref: '#/components/schemas/BookingRequest'
    AmendmentTypes:
      type: array
      items:
        type: string
      uniqueItems: true
      description: "List of booking components that can be amended in this booking:\n  - `\"BOOKING_DETAILS\"`\n  - `\"UPDATE_PAX_MIX\"`\n  - `\"PER_TRAVELER_QUESTIONS\"`\n  - `\"PER_BOOKING_QUESTIONS\"`\n\n**Notes**:\n - Only one amendmentType can be updated per request\n - This field will not be present in the response if `isAmendable` is `false`\n - New values may be added over time, allowing flexibility for different use cases.\n"
    BookingStatusResponseConfirmed:
      allOf:
      - $ref: '#/components/schemas/BookingStatusResponseCommon'
      - type: object
        properties:
          amendmentStatus:
            $ref: '#/components/schemas/AmendmentStatus'
          amendmentRejectionReasonCode:
            $ref: '#/components/schemas/AmendmentRejectionReasonCode'
          currency:
            required: true
            type: string
            description: "One of the available billing currencies:\n\n  - `\"USD\"`\n  - `\"CAD\"`\n  - `\"GBP\"`\n  - `\"AUD\"`\n  - `\"EUR\"`\n"
          lineItems:
            type: array
            description: Array of pricing details for each traveler in this booking
            items:
              $ref: '#/components/schemas/PricingLineItem'
          totalPrice:
            description: Total price of this booking
            allOf:
            - $ref: '#/components/schemas/LineItemPriceObject'
          cancellationPolicy:
            $ref: '#/components/schemas/CancellationPolicy'
          voucherInfo:
            $ref: '#/components/schemas/VoucherInfo'
          nextPollAt:
            $ref: '#/components/schemas/NextPollAt'
        required:
        - currency
        - lineItems
        - totalPrice
        - cancellationPolicy
        - voucherInfo
    BookingReference:
      type: string
      description: Unique Viator-generated booking reference for this bookable item.
      example: BR-23345456
    QuoteInitialPrice:
      type: number
      description: Total price of the booking at the time of purchase.
    PartnerNetPrice-2:
      type: number
      description: 'The non-booking fee component of the amount that Viator will invoice the merchant.



        For affiliate partners with API access level "Full Access + Booking" this is the amount Viator charges exclusive of commission.

        '
    BookingEvent:
      type: object
      required:
      - transactionRef
      - eventType
      - acknowledgeBy
      - bookingRef
      - partnerBookingRef
      - lastUpdated
      - bookedItem
      properties:
        transactionRef:
          type: string
          description: "A unique reference code for this booking event notification. \n\nExample: `\"PBE-e60bb92c-f1fc-11ec-b939-0242ac120002\"`\n"
        campaignValue:
          type: string
          description: '**Affiliate partners only:** Specifies the campaign tracking identifier that was appended to the URL returned in productUrl as a query parameter. Campaigns allow you to track how specific links perform, with metrics such as sessions, bookings, and commission.

            '
        eventType:
          type: string
          description: "The type of this booking notification event\n\nOne of: \n  - `\"CONFIRMATION\"` - The booking was confirmed\n  - `\"REJECTION\"` - The booking was rejected by the supplier\n  - `\"AMENDMENT\"` - The booking was amended. Amendments actioned via /bookings/amendment/amend endpoint will not be returned\n  - `\"CANCELLATION\"` - The booking was canceled by the supplier\n  - `\"CUSTOMER_CANCELLATION\"` - The booking was canceled by the customer. Cancellations initiated by the Customer and actioned via [/bookings/{booking-reference}/cancel](#operation/bookingsCancel) endpoint will not be returned\n\nNotes: \n- By default, the response will **not** include events **initiated via the API.** Bookings, Cancellations and Amendments made through the API will not be returned. Rejections of API bookings are also excluded.\n"
        bookingRef:
          type: string
          description: 'The Viator-generated-booking-reference code for the booking to which this event notification pertains


            **Example**: `"BR-204104078"`

            '
        partnerBookingRef:
          type: string
          description: 'The partner-nominated-booking-reference code for the booking to which this event notification pertains


            **Note:** For Affiliates with Basic or Full API access, this returns the same value as `bookingRef`, without the `BR-` prefix

            '
        lastUpdated:
          type: string
          format: date-time
          description: 'Timestamp indicating when this booking event occurred. This can be used for the value of the `modified-since` query parameter in a request to this endpoint.

            '
        acknowledgeBy:
          type: string
          format: date-time
          description: 'Timestamp for the point in time before which this event notification must be acknowledged by the merchant partner (using the [/bookings/modified-since/acknowledge](#operation/bookingsModifiedSinceAcknowledge) endpoint) to take ownership of the customer-communications responsibilities resulting from this event. It only applies to Supplier cancellations.


            Notes:

            - It only applies to Supplier cancellations.

            - No action required for eventTypes: CONFIRMATION, REJECTION, AMENDMENT, CUSTOMER_CANCELLATION

            '
        bookedItem:
          allOf:
          - type: object
            description: Details about the booked item to which this event notification pertains
          - $ref: '#/components/schemas/BookingEventItem'
        cancellation:
          allOf:
          - type: object
            description: "Details about the supplier-initiated-booking-cancellation event\n\n**Notes**: \n- This element is only returned when `eventType` is `\"CANCELLATION\"`\n- This element is not returned for Affiliate with API access level Basic or Full\n"
          - $ref: '#/components/schemas/BookingEventCancellation'
    BookingsModifiedSinceResponse:
      type: object
      required:
      - bookings
      properties:
        bookings:
          type: array
          description: List of booking event notifications
          items:
            $ref: '#/components/schemas/BookingEvent'
        nextCursor:
          type: string
          description: 'The cursor to use to fetch the next page of booking notification events.


            **Example**: `MTU3NDA0NDczOQ==`

            '
    QuoteReference:
      type: string
      description: Unique Viator-generated quote reference for a booking.
      example: QR-4891fddc-7e2e-4203-9517-ec75703daa8a
    BookingsCartHoldRequestItem:
      type: object
      required:
      - partnerBookingRef
      - productCode
      - travelDate
      - paxMix
      properties:
        partnerBookingRef:
          $ref: '#/components/schemas/PartnerBookingReference'
        productCode:
          $ref: '#/components/schemas/ProductCode'
        productOptionCode:
          $ref: '#/components/schemas/ProductOptionCode'
        startTime:
          $ref: '#/components/schemas/StartTime'
        travelDate:
          $ref: '#/components/schemas/TravelDate'
        paxMix:
          type: array
          description: Passenger details.
          items:
            $ref: '#/components/schemas/PaxMixItem-2'
    AmendmentQuoteResponse:
      oneOf:
      - $ref: '#/components/schemas/AmendmentQuoteResponseConfirmed'
      - $ref: '#/components/schemas/AmendmentQuoteResponseRejected'
      discriminator:
        propertyName: status
        mapping:
          CONFIRMED: '#/components/schemas/AmendmentQuoteResponseConfirmed'
          REJECTED: '#/components/schemas/AmendmentQuoteResponseRejected'
    ExtraChargesItem:
      type: object
      description: List of extra charges. Partners can use this to build a breakdown list of costs.
      required:
      - name
      - numberOfUnits
      - amountPerUnit
      - totalAmount
      - inDestination
      properties:
        name:
          type: string
          description: Extra Charges description.
        numberOfUnits:
          type: number
          description: 'How many times the Extra Charges applies.


            If the Extra Charges value is to be charged per person this value will match `numberOfTravelers` passed in the request.


[...]
