openapi: 3.2.0
info:
  title: Viator API Documentation & Specification – Merchant…
  description: 'code { white-space: nowrap; }

    a { font-weight: bold; }


    figure {

    width: 100%;

    text-align: center;

    font-style: italic;

    font-size: smaller;

    text-indent: 0;

    border: thin silver solid;

    margin: 0.5em;

    padding: 0.5em;

    }


    ## Updates


    ### Latest update:


    | Date | Description |

    |------|-------------|

    | 23 Feb 2023 | Modified ''Building in the sandbox environment'' section of the Selling on-request products section |

    | 16 Nov 2022 | Mentioned need to verify whether a particular tour grade offers pickup…'
  version: 1.0.0
  contact:
    name: Viator Partner Support Team
    url: https://docs.viator.com/partner-api/merchant/#support-procedures-merchant/
    email: affiliateapi@tripadvisor.com
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au
servers:
- url: https://viatorapi.viator.com/service
  description: Production server (uses live data)
- url: https://viatorapi.sandbox.viator.com/service
  description: Sandbox server (uses test data)
security:
- API-key: []
- Legacy-API-key: []
tags:
- name: Deprecated services
  description: Deprecated services
paths:
  /merchant/cancellation:
    post:
      tags:
      - Deprecated services
      summary: /merchant/cancellation
      operationId: merchantCancellation
      deprecated: true
      description: 'Cancel a booking

        **Note**: This service has been replaced by the cancellationReasons, bookingQuote and cancelBooking endpoints'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                itineraryId:
                  type: integer
                  example: 1234655
                  description: '**numeric identifier** for the itinerary'
                distributorRef:
                  type: string
                  example: Jdp122
                  description: '**itinerary reference identifier** (partner defined) for the booking to cancel'
                cancelItems:
                  type: array
                  description: '**array** of objects detailing itinerary items to cancel'
                  items:
                    type: object
                    properties:
                      itemId:
                        type: integer
                        example: 330056
                        description: '**numeric identifier** of item to cancel in itinerary'
                      distributorItemRef:
                        type: string
                        example: JdpItin001
                        description: '**alphanumeric reference code** of the distributor item'
                      cancelCode:
                        type: string
                        example: '82'
                        description: '**cancellation code** that describes the reason for the cancellation

                          - see: [Suggested cancellation codes](#suggested-cancellation-codes)

                          '
                      cancelDescription:
                        type: string
                        example: ''
                        description: '**natural-language description** of the reason for cancellation (a reason must be provided if `cancelCode` is `62` or `66`)'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        itineraryId:
                          type: integer
                          example: 3331605
                          description: '**numeric** identifier for the itinerary'
                        cancelItems:
                          type: array
                          description: '**array** of items to be cancelled'
                          items:
                            type: object
                            properties:
                              cancellationResponseStatusCode:
                                type: string
                                example: Confirmed
                                description: See [cancellation response codes table](#cancellation-response-status-codes-and-their-meanings)
                              cancellationResponseDescription:
                                type: string
                                example: No further action required
                                description: See Response codes table
                              itemId:
                                type: string
                                example: '600088255'
                                description: '**numeric identifier** of the item to cancel'
                              distributorItemRef:
                                type: string
                                example: ItinItemRef012
                                description: '**alphanumeric reference code** of the distributor item'
                        distributorRef:
                          type: string
                          example: ItinRef012
                          description: '**reference code** for the distributor'
        '400':
          description: Error
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        cancellationResponseStatusCode:
                          type: string
                          example: Error.ItineraryUnknown
                          description: '**status code** for this response (see response codes table)'
                        cancellationResponseDescription:
                          type: string
                          example: Please double check the details or contact Viator Customer Service
                          description: '**natural-language description** for this response (see response codes table)'
                        itemId:
                          type: string
                          example: '600088255'
                          description: '**identifier** for the item to cancel'
                        distributorItemRef:
                          type: string
                          example: ItinItemRef012
                          description: '**alphanumeric reference code** of the distributor item'
components:
  parameters:
    acceptLanguage:
      in: header
      name: Accept-Language
      description: 'Specifies the language into which the natural-language fields in the response from this service will be translated (see [Accept-Language header](#section/Appendices/Accept-Language-header) for available language codes)

        '
      required: true
      schema:
        type: string
        example: en-US
  schemas:
    basicErrorModel:
      type: object
      properties:
        errorReference:
          type:
          - string
          - 'null'
          description: '**reference number** of *this* error'
        dateStamp:
          type:
          - string
          - 'null'
          description: '**timestamp** of *this* response'
        errorType:
          type:
          - string
          - 'null'
          description: '**code** specifying the type of error'
        errorCodes:
          type:
          - array
          - 'null'
          description: '**array** of error codes pertaining to *this* error

            - See: [Viator API error codes](#section/Appendices/Viator-API-error-codes) for a list of possible error codes

            '
          items:
            type: string
          example: []
        errorMessage:
          type:
          - array
          - 'null'
          description: '**array** of error message strings'
        errorName:
          type:
          - string
          - 'null'
          description: '**name** of *this* type of error'
        extraInfo:
          type:
          - object
          - 'null'
          description: ignore (Viator only)
        extraObject:
          type:
          - object
          - 'null'
          description: ignore (Viator only)
        success:
          type:
          - boolean
          - 'null'
          description: '**boolean indicator** of *this* request''s outcome

            - `true`: the request was successful with no errors

            - `false`: an error was encountered

            '
        totalCount:
          type:
          - integer
          - 'null'
          description: '**number** of results available for *this* service

            '
        errorMessageText:
          type:
          - string
          - 'null'
          description: '**array** of error message strings in plain text'
        vmid:
          type:
          - string
          - 'null'
          description: '**unique numeric id** of the server that processed *this* request'
  securitySchemes:
    API-key:
      type: apiKey
      in: header
      name: exp-api-key
    Legacy-API-key:
      type: apiKey
      in: query
      name: apiKey
