openapi: 3.2.0
info:
  title: Viator Partner Products API
  description: 'code { white-space: nowrap; }

    a { font-weight: bold; }


    figure {

    width: 100%;

    text-align: center;

    font-style: italic;

    font-size: smaller;

    text-indent: 0;

    border: thin silver solid;

    margin: 0.5em;

    padding: 0.5em;

    }


    ## Updates


    ### Latest updates:


    | Date | Description…'
  version: '2.0'
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au/
servers:
- url: https://api.viator.com/partner
  description: Production server (uses live data)
- url: https://api.sandbox.viator.com/partner
  description: Sandbox server (uses test data)
security:
- API-key: []
tags:
- name: Products
paths:
  /products/modified-since:
    get:
      tags:
      - Products
      summary: /products/modified-since
      operationId: productsModifiedSince
      description: 'Get full product details for all products modified since a specified time.

        Initiate a full ingestion only to establish your local copy; this should be a rare occurrence compared to regular updates. Fetch incremental updates through this endpoint on an hourly basis. You are welcome to poll for updates as frequently as every 15 minutes if desired. Be mindful that excessive frequency beyond these recommendations may trigger rate limits.


        **Note**:

        - See Ingesting and updating the product catalogue for instructions on how to use this service to ingest the full product catalogue and ensure that it remains up-to-date.

        - The response object utilizes polymorphism and differs markedly depending on whether the product is active or inactive. Click the drop-down selector in the `status` description to toggle between an `"ACTIVE"` and `"INACTIVE"` product response.


        **Examples:**


        Get all products in the Viator inventory with 500 products per response

        page:


        ```html

        GET https://api.sandbox.viator.com/partner/products/modified-since?count=500


        ```


        Get the next page of results:


        ```html

        GET https://api.sandbox.viator.com/partner/products/modified-since?count=500&cursor=MTU3NDA0MzU1NQ==


        ```


        Alternative pagination method (not recommended); e.g., if you have misplaced the cursor value or if for any other reason you wish to get all products modified since 2019-09-17T03:20:45.737043Z:


        ```html

        GET https://api.sandbox.viator.com/partner/products/modified-since?count=500&modified-since=2020-09-30T00%3A00%3A01.737043Z


        ```


        (Response sample generated on: 2020-10-06)'
      parameters:
      - name: cursor
        in: query
        description: "Pagination cursor received from a previous call to **this** endpoint that points to the desired starting point for the results. \n\n**Note**: Pagination will come into play when the number of results exceeds the figure given in the `count` parameter. In this case, pass the content of the `nextCursor` element for the value of `cursor` to receive the next page of results. The final page of results will not include the `nextCursor` element. For more information, see: [Ingesting and updating the product catalogue](#section/Workflows/Ingesting-and-updating-the-product-catalogue).\n- Example: `'MTU3NDA0MzU1NQ=='`\n"
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: 'Specifies the maximum number of product detail items to be returned in each response from this endpoint

          '
        required: true
        schema:
          type: integer
          minimum: 1
          maximum: 500
      - $ref: '#/components/parameters/campaignValueProduct'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/targetLander'
      - name: modified-since
        in: query
        description: "Only return products that have been modified since the date and time (UTC) specified by this timestamp\n\n**Note**: \n- As this is a query parameter, colons (i.e., `:`) in the timestamp should be URL-encoded as `%3A`; e.g.: \"`2020-09-30T00%3A00%3A01.737043Z`\"\n- Using this parameter is <u>not recommended</u> as the standard pagination method; rather, use the `cursor` parameter to ensure all product updates are captured during ingestion.\n"
        required: false
        schema:
          type: string
          format: date-time
          pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9])\%3A([0-5][0-9])\%3A([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ProductsResponse'
              examples:
                '1':
                  $ref: '#/components/examples/products-modified-since-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /products/bulk:
    post:
      tags:
      - Products
      summary: /products/bulk
      description: 'Get full product details for all requested products (limited to 500 products per request)


        **Note**:

        - This endpoint **should not** be used to ingest or update the product catalog. Instead, please use the /products/modified-since endpoint for that purpose.

        - The response object utilizes polymorphism and differs markedly depending on whether the product is active or inactive. Click the drop-down selector in the `status` description to toggle between an `"ACTIVE"` and `"INACTIVE"` product response.


        (Response sample generated on: 2020-10-06)'
      operationId: productsBulk
      parameters:
      - $ref: '#/components/parameters/campaignValueProduct'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/targetLander'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BulkProductRequest'
            example:
              productCodes:
              - 5010SYDNEY
              - 2050_PA
              - 2855KENNEDY_TKTS
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
              examples:
                '1':
                  $ref: '#/components/examples/products-bulk-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /products/{product-code}:
    get:
      tags:
      - Products
      summary: /products/{product-code}
      operationId: products
      description: 'Get full product details for a single product.


        **Note**:

        - This endpoint **should not** be used to ingest or update the product catalog. Instead, please use the /products/modified-since endpoint for that purpose.

        - The response object utilizes polymorphism and differs markedly depending on whether the product is active or inactive. Click the drop-down selector in the `status` description to toggle between an `"ACTIVE"` and `"INACTIVE"` product response.


        **Example:** Get details for "Big Bus Sydney and Bondi Hop-on Hop-off Tour"

        (product code: 5010SYDNEY):


        ```html

        GET https://api.sandbox.viator.com/partner/products/5010SYDNEY


        ```


        (Response samples generated on: 2021-03-29)'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/campaignValueProduct'
      - $ref: '#/components/parameters/targetLander'
      - name: product-code
        in: path
        description: Retrieve details of the product identified by this product code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/Product'
              examples:
                5010SYDNEY (HOP_ON_HOP_OFF):
                  $ref: '#/components/examples/products-5010SYDNEY-example'
                250380P1 (ACTIVITY):
                  $ref: '#/components/examples/products-250380P1-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /products/tags:
    get:
      tags:
      - Products
      summary: /products/tags
      operationId: productsTags
      description: 'Get details for all tags (includes all languages/localizations)

        Tags should be cached and refreshed weekly.


        To learn more about tags, see this article: Viator tags, explained


        **Note**: If no response is received for a given tag reference, this means

        that the tag was removed from our database and the associated product has

        not yet been updated with a replacement tag. If this occurs, please

        disregard the removed tag.


        **Note**: The example response has been truncated to five entries for brevity.


        (Response sample generated on: 2020-08-25)'
      parameters:
      - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/TagsResponse'
              examples:
                '1':
                  $ref: '#/components/examples/products-tags-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /products/booking-questions:
    get:
      tags:
      - Products
      summary: /products/booking-questions
      description: 'Get full details of all available preset booking questions.

        Booking questions should be cached and refreshed monthly.


        **Note**: This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.


        (Response sample generated on: 2020-08-25)'
      operationId: productsBookingQuestions
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/BookingQuestionsResponse'
              examples:
                '1':
                  $ref: '#/components/examples/products-booking-questions-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /products/search:
    post:
      tags:
      - Products
      description: 'Returns a list of filtered, ordered and sorted product summaries for products that match the given search criteria.

        This endpoint must not be used to ingest the catalog of products, the /products/modified-since endpoint must be used for that purpose.


        If you’re a Basic Access Affiliate Partner, this endpoint provides all the essential functionality that you need to implement in order to use the Viator API. The following article describes how to do this in the most efficient way: Golden Path – Basic Access Affiliate Partners.


        **Note**: At present, only active products are returned'
      operationId: productsSearch
      summary: /products/search
      parameters:
      - $ref: '#/components/parameters/campaignValueProduct'
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/targetLander'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/ProductSearchRequest'
            example:
              filtering:
                destination: '732'
                tags:
                - 21972
                flags:
                - LIKELY_TO_SELL_OUT
                - FREE_CANCELLATION
                lowestPrice: 5
                highestPrice: 500
                startDate: '2023-01-30'
                endDate: '2023-02-28'
                includeAutomaticTranslations: true
                confirmationType: INSTANT
                durationInMinutes:
                  from: 20
                  to: 360
                rating:
                  from: 3
                  to: 5
              sorting:
                sort: TRAVELER_RATING
                order: DESCENDING
              pagination:
                start: 1
                count: 5
              currency: USD
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ProductSearchResponse'
              examples:
                Affiliates:
                  $ref: '#/components/examples/products-search-example-affiliates'
                Merchants:
                  $ref: '#/components/examples/products-search-example-merchants'
                extra charges:
                  $ref: '#/components/examples/products-search-example-extra-charges'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /products/recommendations:
    post:
      tags:
      - Products
      summary: /products/recommendations
      description: 'Retrieve a list of sorted product-to-product recommendations that match the given search criteria.


        Recommendations are algorithm-generated based on various factors such as shared attributes, category, customer purchase patterns, browsing behavior, and other relevant metrics.


        This endpoint can be used to enhance product discovery, suggest alternatives, improve cross-selling by displaying related products to customers, etc...


        Notes:

        - The `recommendations` object may contain multiple recommendation types based on different algorithms or business logic.

        - New recommendation types can be added over time, allowing flexibility for different use cases.

        - Clients should handle cases where a recommendation category may be empty if no suitable products are found.

        - This endpoint is only available to affiliate partners with API access level "Full Access + Booking" and merchant partners.'
      operationId: productsRecommendations
      parameters:
      - $ref: '#/components/parameters/accept'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BulkProductRecommendationsRequest'
            example:
              productCodes:
              - 5010SYDNEY
              - 2050_PA
              - 2855KENNEDY_TKTS
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductRecommendation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  headers:
    RateLimit-Reset:
      required: true
      schema:
        type: string
        description: 'The fixed window in time, in seconds, which represents when a limit is fully replenished. For informational purposes only.

          '
    XUniqueId:
      required: true
      schema:
        type: string
        description: 'Tracking identifier for this response. Please include the value of this field when making help requests.

          - **Example**: `"0A871A13:DE2A_0A8712F9:01BB_5DCCC98C_260DAA:0D5B"`

          '
    Retry-After:
      required: true
      schema:
        type: string
        description: 'The fixed window in time, in seconds, which represents when a limit is fully replenished. For informational purposes only.

          '
    RateLimit-Remaining:
      required: true
      schema:
        type: string
        description: 'Remaining requests for this endpoint for a given window. For informational purposes only

          '
    RateLimit-Limit:
      required: true
      schema:
        type: string
        description: 'Total limit of requests for this endpoint for a given window. For informational purposes only.

          '
  responses:
    Forbidden:
      description: Forbidden
      headers:
        X-Unique-ID:
          $ref: '#/components/headers/XUniqueId'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              properties:
                code:
                  description: 'Code for this error type


                    **Example**: `"FORBIDDEN"`

                    '
                message:
                  description: 'Details of this error


                    **Example**: `"Request is forbidden"`

                    '
              example:
                code: FORBIDDEN
                message: Request is forbidden
                timestamp: '2019-09-17T03:20:45.737043Z'
    MethodNotAllowed:
      description: HTTP Method Not Allowed
      headers:
        X-Unique-ID:
          $ref: '#/components/headers/XUniqueId'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              properties:
                code:
                  description: 'Code for this error type


                    **Example**: `"METHOD_NOT_ALLOWED"`

                    '
                message:
                  description: 'Details of this error


                    **Example**: `"HTTP 405 Method Not Allowed"`

                    '
            - type: object
              example:
                code: METHOD_NOT_ALLOWED
                message: HTTP 405 Method Not Allowed
                timestamp: '2019-09-17T03:20:45.737043Z'
    TooManyRequests:
      description: Too Many Requests
      headers:
        X-Unique-ID:
          $ref: '#/components/headers/XUniqueId'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              properties:
                code:
                  description: 'Code for this error type


                    **Example**: `"TOO_MANY_REQUESTS"`


                    See [Workflows - Rate limiting](#section/Workflows/Rate-limiting) for more information about this error.

                    '
                message:
                  description: 'Details of this error


                    **Example**: `"Too many requests, please try again"`

                    '
            - type: object
              example:
                code: TOO_MANY_REQUESTS
                message: Too many requests
                timestamp: '2019-09-17T03:20:45.737043Z'
    InternalServerError:
      description: Internal Server Error
      headers:
        X-Unique-ID:
          $ref: '#/components/headers/XUniqueId'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              properties:
                code:
                  description: 'Code for this error type


                    **Example**: `"INTERNAL_SERVER_ERROR"`

                    '
                message:
                  description: 'Details of this error


                    **Example**: `"Internal server error"`

                    '
            - type: object
              example:
                code: INTERNAL_SERVER_ERROR
                message: Internal Server Error
                timestamp: '2019-09-17T03:20:45.737043Z'
    ServiceUnavailable:
      description: Service Unavailable
      headers:
        X-Unique-ID:
          $ref: '#/components/headers/XUniqueId'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              properties:
                code:
                  description: 'Code for this error type


                    **Example**: `"SERVICE_UNAVAILABLE"`

                    '
                message:
                  description: 'Details of this error


                    **Example**: `"Service unavailable"`

                    '
            - type: object
              example:
                code: SERVICE_UNAVAILABLE
                message: Service Unavailable
                timestamp: '2019-09-17T03:20:45.737043Z'
    BadRequest:
      description: Bad Request
      headers:
        X-Unique-ID:
          $ref: '#/components/headers/XUniqueId'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              properties:
                code:
                  description: 'Code for this error type


                    **Example**: `"BAD_REQUEST"`

                    '
                message:
                  description: 'Details of this error


                    **Example**: `"Invalid request"`

                    '
            - type: object
              example:
                code: BAD_REQUEST
                message: Invalid request
                timestamp: '2019-09-17T03:20:45.737043Z'
    NotFound:
      description: Not Found
      headers:
        X-Unique-ID:
          $ref: '#/components/headers/XUniqueId'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              properties:
                code:
                  description: 'Code for this error type


                    **Example**: `"NOT_FOUND"`

                    '
                message:
                  description: 'Details of this error


                    **Example**: `"The specified resource was not found"`

                    '
            - type: object
              example:
                code: NOT_FOUND
                message: The specified resource was not found
                timestamp: '2019-09-17T03:20:45.737043Z'
    Unauthorized:
      description: Unauthorized
      headers:
        X-Unique-ID:
          $ref: '#/components/headers/XUniqueId'
        RateLimit-Limit:
          $ref: '#/components/headers/RateLimit-Limit'
        RateLimit-Remaining:
          $ref: '#/components/headers/RateLimit-Remaining'
        RateLimit-Reset:
          $ref: '#/components/headers/RateLimit-Reset'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponse'
            - type: object
              properties:
                code:
                  description: 'Code for this error type


                    **Example**: `"UNAUTHORIZED"`

                    '
                message:
                  description: 'Details of this error


                    **Example**: `"Invalid API Key"`

                    '
            - type: object
              example:
                code: UNAUTHORIZED
                message: Invalid API Key
                timestamp: '2019-09-17T03:20:45.737043Z'
  schemas:
    ProgressiveVideoVariant:
      type: object
      description: Progressive video variant
      required:
      - format
      - quality
      - url
      properties:
        format:
          type: string
          description: File format of the video (e.g. `MP4`).
          example: MP4
        quality:
          type: string
          description: Fixed playback quality or resolution of the video (e.g. `1080`, `720`).
          example: '1080'
        url:
          type: string
          description: Direct URL to the video file.
          example: https://hare-dynamic-media-cdn.tripadvisor.com/media/video-v/31/1f/5b/68/vid-693-rome-2017-vatican_1080.mp4
    TranslationDetails:
      type: object
      description: Information about whether the text in this response was machine-translated
      required:
      - containsMachineTranslatedText
      - translationSource
      properties:
        containsMachineTranslatedText:
          type: boolean
          description: Indicates whether this product description utilizes text in any of its natural language fields that was automatically machine-translated with no human oversight
        translationSource:
          type: string
          description: "One of:\n- `\"MACHINE\"` – The text provided by the supplier is in a **different language** and has been **automatically translated** by our systems with no human oversight.\n- `\"ORIGINAL\"` – The text provided by the supplier is in the language that is standard for their locale.\n- `\"MANUAL\"` – The text provided by the supplier was in a different language to the standard for their locale; however, whether this is a direct translation of the original text (performed either by machine or human) or whether it is a customised description for speakers of this language is not known. \n"
        translationAttribution:
          type: string
          description: "Value specifying the machine-translation service vendor. At present, translation attribution is not a requirement.\n\n  - **Example**: `\"GOOGLE\"`\n"
    BookingQuestionFormatType:
      type: string
      description: "Machine-interpretable value encoding the required unit type for the answer to the booking question; one of:\n\n  - `\"STRING\"`\n  - `\"NUMBER_AND_UNIT\"`\n  - `\"DATE\"`\n  - `\"TIME\"`\n  - `\"LOCATION_REF_OR_FREE_TEXT\"`\n"
    ProductSearchPagination:
      type: object
      description: Pagination details specifying which search results to return based on start position and item count
      properties:
        start:
          type: integer
          minimum: 1
          default: 1
          description: Position of first filtered and ordered search result to be included in the response (1-based)
        count:
          type: integer
          minimum: 1
          default: 10
          maximum: 50
          description: Number of filtered and ordered search results to be returned in the response
    ProductRecommendation:
      type: object
      required:
      - productCode
      - recommendations
      properties:
        productCode:
          type: string
          pattern: (?s).*[\S].*
          description: The unique identifier of the product for which recommendations are being retrieved.
        recommendations:
          type: object
          description: "A map of recommended product lists, categorized by different recommendation types. \nThe keys being the recommendation type and the values being the list of recommended product codes.\n"
          additionalProperties:
            type: array
            items:
              type: string
            description: "Possible recommendation types:\n  - `IS_SIMILAR_TO`: A ranked list of product codes that are considered most similar to the requested product.\n"
    Image:
      type: object
      description: Image information
      required:
      - variants
      - isCover
      properties:
        imageSource:
          $ref: '#/components/schemas/ImageSourceType'
        caption:
          type: string
          description: 'Description of this photo

            - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter

            '
        isCover:
          type: boolean
          description: '`true` if this photo is considered to be the cover (leading) photo for this product from this `imageSource`'
        variants:
          type: array
          description: Dimension/resolution variants available for this image
          items:
            $ref: '#/components/schemas/ImageVariant'
    ItineraryDuration:
      type: object
      description: 'Duration information for this itinerary


        **Note**: Depending on whether this itinerary has a fixed or variable duration, this object will include either the `fixedValueInMinutes` element alone; or, both the `fromMinutes` and `toMinutes` elements, respectively.

        '
      properties:
        fixedDurationInMinutes:
          type: integer
          description: Duration of this itinerary (in minutes) in the case that it takes a fixed amount of time
        variableDurationFromMinutes:
          type: integer
          description: Lower limit of the duration of this itinerary (in minutes) in the case that this product's duration varies
        variableDurationToMinutes:
          type: integer
          description: Upper limit of the duration of this itinerary (in minutes) in the case that this product's duration varies
        unstructuredDuration:
          type: string
    ConfirmationType:
      type: string
      description: "Machine-interpretable value encoding when bookings for this product will be confirmed; one of: \n\n  - `\"INSTANT\"` (instantly) \n  - `\"MANUAL\"` (requires manual action prior to confirmation)\n  - `\"INSTANT_THEN_MANUAL\"` (combination – subject to cutoff time)\n"
    ProductSearchRequest:
      type: object
      required:
      - filtering
      - currency
      properties:
        filtering:
          $ref: '#/components/schemas/ProductSearchFiltering'
        sorting:
          $ref: '#/components/schemas/ProductSearchSorting'
        pagination:
          $ref: '#/components/schemas/ProductSearchPagination'
        currency:
          type: string
          format: currency
          description: "Currency code for all prices provided in the request; and, the currency in which all pricing will be denominated in the response.\n\nOne of: \n\n - `\"AED\"`\n - `\"ARS\"`\n - `\"AUD\"`\n - `\"BRL\"`\n - `\"CAD\"`\n - `\"CHF\"`\n - `\"CLP\"`\n - `\"CNY\"`\n - `\"COP\"`\n - `\"DKK\"`\n - `\"EUR\"`\n - `\"FJD\"`\n - `\"GBP\"`\n - `\"HKD\"`\n - `\"IDR\"`\n - `\"ILS\"`\n - `\"INR\"`\n - `\"ISK\"`\n - `\"JPY\"`\n - `\"KRW\"`\n - `\"MXN\"`\n - `\"MYR\"`\n - `\"NOK\"`\n - `\"NZD\"`\n - `\"PEN\"`\n - `\"PHP\"`\n - `\"PLN\"`\n - `\"RUB\"`\n - `\"SEK\"`\n - `\"SGD\"`\n - `\"THB\"`\n - `\"TRY\"`\n - `\"TWD\"`\n - `\"USD\"`\n - `\"VND\"`\n - `\"ZAR\"`\n\n \n**Note**: The currency you display to your users may not be the currency they see when they click through to the viator.com site. Instead, they will see the default currency for the locale from which they are accessing the site.\n"
    TagWithAllLocalizations:
      type: object
      description: Category/subcategory tag for this product
      required:
      - tagId
      properties:
        tagId:
          type: integer
          description: Unique identifier for this tag
          format: int32
        parentTagIds:
          type: array
          description: Unique identifiers for parent tags of this tag
          uniqueItems: true
          items:
            type: integer
            format: int32
        allNamesByLocale:
          type: object
          description: Dictionary of language codes to the description of this tag in that language
          additionalProperties:
            type: string
    ProductSummary:
      type: object
      required:
      - productCode
      - destinations
      - tags
      - flags
      properties:
        productCode:
          type: string
          description: 'Code that is the unique identifier for this product.


            - Example: `"5657BRIDGECLIMB"`

            '
        title:
          type: string
          description: "Natural-language title of this product\n\n  - **Example**: `\"Sydney BridgeClimb\"`\n  - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter\n"
        description:
          type: string
          description: 'Description of this product


            - **Example**: "Climb the Sydney Harbour Bridge with an expert guide for the ultimate Sydney experience..."

            - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          description: Images for this product.
        videos:
          type: array
          items:
            $ref: '#/components/schemas/Video'
          description: Videos for this product.
        reviews:
          $ref: '#/components/schemas/ProductReviews'
        duration:
          $ref: '#/components/schemas/ItineraryDuration'
        pricing:
          $ref: '#/components/schemas/ProductSearchPricing'
        productUrl:
          type: string
          description: "URL for this product on the viator.com site, where the customer will complete their booking.\n\nThis URL includes all the necessary information for viator to correctly attribute and pay commission for the sale to the referring partner.\n\nIf `campaign-value` is included in the request, this URL will also include the campaign tracking value that you set.\n\nFor more information, see our guide to [Affiliate Attribution](https://partnerresources.viator.com/travel-commerce/affiliate/attribution/) on the Viator Partner Resource Center.\n\n**Note**: \n\n- This element is only returned for affiliate partners. \n- **<mark>You must use the full URL and not modify it in any way – any changes could result in failure to attribute the sale to you, which means you <u>will not</u> be paid a commission for this sale.</mark>**\n- For whitelabel partners, the productUrl will dynamically retrieve the partners custom **domain URL**, instead of defaulting to viator.com\n\n**Example format**: https://www.viator.com/tours/Sydney/Sydney-and-Bondi-Hop-on-Hop-off-Tour/d357-5010SYDNEY?mcid=42383&pid=P00045135&medium=api&version=2.0&campaign=example\n"
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/Destination'
          description: 'Destinations in which this product operates.


            - **Note**: At present, only the primary destination ID is returned; i.e., the item in the `destinations` array of the product content response for which `primary` is `true`. Therefore, `primary` will always be `true` in this response. Furthermore, the destination given here may differ from the destination specified in the request.

            '
        tags:
          type: array
          items:
            type: integer
          description: "Array of numeric tag identifiers indicating the product categories into which this product falls \n\nTo retrieve details about which tags these identifiers refer to, please use the [/products/tags](#operation/productsTags) endpoint.\n\nSee the [Resolving references](#section/Workflows/Resolving-references) section and this article: [Viator tags, explained](https://partnerresources.viator.com/travel-commerce/tags?source=specs) for more information about tags.\n"
        flags:
          type: array
          items:
            $ref: '#/components/schemas/ProductSearchFlag'
          description: "List of product attribute flags specified in the request\n\nMay include any of:\n\n  - `\"NEW_ON_VIATOR\"` - products that have been added to Viator's catalogue within the past 270 days\n  - `\"FREE_CANCELLATION\"` – products that have a cancellation policy that allows for free cancellation (i.e., excludes products for which `cancellationPolicy.type` is `\"ALL_SALES_FINAL\"` in the product content response)\n  - `\"SKIP_THE_LINE\"` – products that allow participants to attend a location without having to obtain a separate ticket on the occasion itself (`itinerary.skipTheLine` is `true`)\n  - `\"PRIVATE_TOUR\"` – products where only the travelers who have booked the product will be present (`itinerary.privateTour` is `true`)\n  - `\"SPECIAL_OFFER\"` – products that have a pricing discount available (i.e., `summary.fromPriceBeforeDiscount` will be present in the response from [/availability/schedules/{product-code}](#operation/availabilitySchedules))\n  - `\"LIKELY_TO_SELL_OUT\"` - popular products that routinely sell out (this is equivalent to filtering by tag `20757`).\n"
        confirmationType:
          $ref: '#/components/schemas/ConfirmationType'
        itineraryType:
          $ref: '#/components/schemas/ItineraryType'
        translationInfo:
          $ref: '#/components/schemas/TranslationDetails'
    AvailabilityScheduleSummary:
      type: object
      description: 'Information about the lowest price available for this product


        **Note**: The pricing information given here is based on the recommended retail price (RRP). While affiliate partners must sell at this price, merchant partners set their own prices according to their own margins and booking fees; therefore, merchant partners must calculate their own from-price for display, rather than using these values, unless they have elected to sell at the RRP.

        '
      required:
      - fromPrice
      properties:
        fromPrice:
          type: number
          description: 'Lowest per-person retail price for this product, calculated according to the price for a group of at least two standard participants (or, the smallest bookable group if more than two participants are required) for a period not exceeding 384 days into the future.

            This value can be used to advertise a ''from''-price; e.g., "From $99 per person"

            '
        fromPriceBeforeDiscount:
          type: number
          description: 'If the product is presently discounted, this field shows what the value of `fromPrice` would be if no discount had been applied; otherwise, it will be absent.

            '
    ProductSearchResponse:
      type: object
      required:
      - products
      - total
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductSummary'
          description: List of products matching the filtering criteria, sorted and paginated as specified in the request
        totalCount:
          type: integer
          description: Total number of products matching the filtering criteria – these may be accessed via multiple calls to this service using the pagination feature.
    ProductSearchFiltering:
      type: object
      required:
      - destination
      description: 'Only return products that match **all** the criteria provided here.

        '
      properties:
        destination:
          type: string
          description: 'Only return products that include the destination indicated by this numeric destination reference (as listed in the `destinations` array in the product content response), regardless of whether it is the product''s primary destination.


            See [Resolving references](#section/Workflows/Resolving-references) for more information about destinations.


            **Note**: Specifying a ''country'' destination will include all ''city'' destinations within that country.

            '
        tags:
          type: array
          items:
            type: integer
          description: 'Only return products that include **all** tag identifiers provided here. Products with child tags of any parent tags specified here will also be returned.


            See the [Resolving references](#section/Workflows/Resolving-references) section and this article: [Viator tags, explained](https://partnerresources.viator.com/travel-commerce/tags?source=specs) for more information about tags.

            '
        flags:
          type: array
          items:
            $ref: '#/components/schemas/ProductSearchFlag'
          description: "Only return products that include **all** of the given attributes, which may include any of:\n\n  - `\"NEW_ON_VIATOR\"` - products that have been added to Viator's catalogue within the past 270 days\n  - `\"FREE_CANCELLATION\"` – products that have a cancellation policy that allows for free cancellation (i.e., excludes products for which `cancellationPolicy.type` is `\"ALL_SALES_FINAL\"` in the product content response)\n  - `\"SKIP_THE_LINE\"` – products that allow participants to attend a location without having to obtain a separate ticket on the occasion itself (`itinerary.skipTheLine` is `true`)\n  - `\"PRIVATE_TOUR\"` – products where only the travelers who have booked the product will be present (`itinerary.privateTour` is `true`)\n  - `\"SPECIAL_OFFER\"` – products that have a pricing discount available (i.e., `summary.fromPriceBeforeDiscount` will be present in the response from [/availability/schedules/{product-code}](#operation/availabilitySchedules))\n  - `\"LIKELY_TO_SELL_OUT\"` - popular products that routinely sell out (this is equivalent to filtering by tag `20757`).\n"
        confirmationType:
          type: string
          description: "Only return products with this confirmation type; one of:\n  \n  - `\"INSTANT\"` (instant confirmation)\n"
        rating:
          $ref: '#/components/schemas/SearchRatingInfo'
        durationInMinutes:
          $ref: '#/components/schemas/SearchDurationInfo'
        includeAutomaticTranslations:
          type: boolean
          description: Specifies whether results with machine translated content should be included or not
          default: true
        attractionId:
          type: integer
          description: 'Only return products that are associated with the **attraction** referenced by this unique numeric identifier, which is the value of the `seoId` property in the response from the [/attractions/search](#operation/attractionsSearch) endpoint.

            '
        lowestPrice:
          type: number
          minimum: 0
          description: Only return products that have a `fromPrice` that is higher than or equal to this price. If a date range is specified using `startDate` and `endDate`, pricing for the product only during this period will be considered.
        highestPrice:
          type: number
          description: Only return products that have a `fromPrice` that is lower than or equal to this price. If a date range is specified using `startDate` and `endDate`, pricing for the product only during this period will be considered.
          exclusiveMinimum: 0
        startDate:
          type: string
          format: date
          description: 'Only return products that are available during a period of time starting from this date.


            - **Format**: ISO-8601 (YYYY-MM-DD) in the time-zone of supplier

            - **Default**: date on which the request is made in the time-zone of supplier

            - **Note**: `startDate` cannot be in the past

            '
        endDate:
          type: string
          format: date
          description: "Only return products that are available during a period of time ending on this date. \n\n- **Format**: ISO-8601 (YYYY-MM-DD) in time-zone of supplier\n- **Default**: one year in advance of the date on which the request is made in the time-zone of supplier\n- **Note**:\n  - `endDate` cannot be in the past and is limited to one year from the date on which the request is made.  \n  - Multi-day tours that conclude after this date will still appear in the results, so long as the tour commences prior to this date, even if they conclude on a date that is further into the future than `endDate`. If you wish to exclude such products from the search results, the following options are available:\n    1. Exclude all multi-day tours from the search results by filtering out any items that contain `\"itineraryType\": \"MULTI_DAY_TOUR\"`\n    2. Implement your own logic to calculate whether a product concludes after the `endDate` specified in the request by requesting full product details for the multi-day tour using [/products/{product-code}](#operation/products), determining the duration of the tour in days by the length of the `itinerary.days[]` array, and filtering this product from the search results in the event that (`startDate` + duration) occurs after `endDate`.\n"
    ProductSearchFlag:
      type: string
      description: "One of:\n\n  - `\"NEW_ON_VIATOR\"` – products that have been added to Viator's catalogue within the past 270 days\n  - `\"SKIP_THE_LINE\"` – products that allow participants to attend a location without having to obtain a separate ticket on the occasion itself (`itinerary.skipTheLine` is `true`)\n  - `\"PRIVATE_TOUR\"` – products where only the travelers who have booked the product will be present (`itinerary.privateTour` is `true`)\n  - `\"SPECIAL_OFFER\"` – products that have a pricing discount available (i.e., `summary.fromPriceBeforeDiscount` will be present in the response from [/availability/schedules/{product-code}](#operation/availabilitySchedules))\n  - `\"LIKELY_TO_SELL_OUT\"` - popular products that routinely sell out (this is equivalent to filtering by tag `20757`).\n"
    ProductSearchSorting:
      type: object
      description: How the search results will be sorted
      properties:
        sort:
          type: string
          description: "Method by which product search results will be sorted; one of:\n  \n  - `\"DEFAULT\"`: the default sort, where 'featured' products appear first (**Note**: What Viator gets paid impacts this sort order). Custom ordering is not supported (therefore, the `order` field should be omitted when this sort order is chosen)\n  - `\"PRICE\"`: products are sorted by `fromPrice`, with ordering based on the value of the `order` field (default is `\"ASCENDING\"` if the `order` field is omitted)\n  - `\"TRAVELER_RATING\"`: Sort products by their average rating\n    - **Note**: This method can only be used with an `order` of `\"DESCENDING\"`\n  - `\"ITINERARY_DURATION\"` - Sort by how long the tour or activity lasts (in minutes)\n  - `\"DATE_ADDED\"` - Sort according to when the product was added to the viator catalogue\n"
        order:
          type: string
          description: "Ordering of product search results when `sort` is `\"PRICE\"`\n\nOne of: \n  - `\"ASCENDING\"`\n  - `\"DESCENDING\"`\n"
    BookingQuestionsResponse:
      type: object
      description: Information about this product's booking questions
      required:
      - bookingQuestions
      properties:
        bookingQuestions:
          type: array
          description: Booking questions for this product
          items:
            $ref: '#/components/schemas/BookingQuestion'
    ProductStatus:
      type: string
      description: "Machine-interpretable value indicating this product's current availablility; one of:\n\n  - `\"ACTIVE\"` - product is available for sale\n  - `\"INACTIVE\"` - product is not available for sale (remainder of object will be empty)\n"
    SearchDurationInfo:
      description: 'Only return products that have a duration that is in the range defined here.

        '
      type: object
      properties:
        from:
          type: integer
          minimum: 0
          description: 'Match products with durations equal or longer than this value.

            '
        to:
          type: integer
          minimum: 1
          description: 'Match products with durations equal or shorter than this value.

            '
    ItineraryType:
      type: string
      description: "Machine-interpretable value specifying the type of itinerary available for this product; one of:\n\n  - `\"STANDARD\"`\n  - `\"ACTIVITY\"`\n  - `\"MULTI_DAY_TOUR\"`\n  - `\"HOP_ON_HOP_OFF\"`\n  - `\"UNSTRUCTURED\"`\n"
    ImageVariant:
      type: object
      required:
      - height
      - width
      - url
      properties:
        height:
          type: integer
          description: "Height of this image in pixels\n\n  - Example: `'480'`\n"
        width:
          type: integer
          description: 'Width of this image in pixels

            - Example `''720''`

            '
        url:
          type: string
          pattern: (?s).*[\S].*
          description: 'URL from which this image can be retrieved.

            '
    Video:
      type: object
      description: Product video
      required:
      - variants
      properties:
        language:
          type: string
          description: "The language of the video content or audio track, expressed as a locale or language code (e.g., `\"en\"`, `\"es\"`, `\"fr\"`). \nIt enables localization, filtering, and correct playback selection based on user preferences.\n"
        variants:
          $ref: '#/components/schemas/VideoVariants'
    AvailabilityScheduleExtraChargesSummary:
      type: object
      description: Information about the lowest price with extra charges available for this product
      required:
      - fromPrice
      - extraCharges
      properties:
        fromPrice:
          type: number
          description: '`fromPrice` value including `extraCharges` value to be paid in destination by the traveler based on their age, day of the week, time of the year or any other criteria defined by the supplier.

            This value will only be returned if the product has Extra Charges in at least one `bookableItem`.

            '
        fromPriceBeforeDiscount:
          type: number
          description: 'If the product is presently discounted, this field shows what the value of `fromPrice` would be if no discount had been applied; otherwise, it will be absent.

            '
        extraCharges:
          type: number
          description: 'The highest amount that a traveler could be asked to pay in-destination based on their age, day of the week, time of the year or any other criteria defined by the supplier for the `bookableItem` used to calculate the starting price.

            '
    BookingQuestionGrouping:
      type: string
      description: "Machine-interpretable value specifying whether the booking question must be answered individually for each traveler or once per group of travelers in each booking; one of:\n\n  - `\"PER_TRAVELER\"`\n  - `\"PER_BOOKING\"`\n"
    BulkProductRequest:
      type: object
      required:
      - productCodes
      properties:
        productCodes:
          type: array
          description: List of product codes for which to retrieve full product details
          maxItems: 500
          items:
            type: string
            pattern: (?s).*[\S].*
    BookingQuestion:
      type: object
      description: A single booking question
      properties:
        legacyBookingQuestionId:
          type: integer
          description: Unique identifier of this booking question <mark>for use with legacy (V1) booking endpoint only</mark>
        id:
          type: string
          description: "Machine-interpretable value that identifies this booking question; one of:\nPossible values:\n\n  - `\"DATE_OF_BIRTH\"`\n  - `\"HEIGHT\"`\n  - `\"PASSPORT_EXPIRY\"`\n  - `\"PASSPORT_NATIONALITY\"`\n  - `\"PASSPORT_PASSPORT_NO\"`\n  - `\"PICKUP_POINT\"`\n  - `\"TRANSFER_AIR_ARRIVAL_AIRLINE\"`\n  - `\"TRANSFER_AIR_ARRIVAL_FLIGHT_NO\"`\n  - `\"TRANSFER_AIR_DEPARTURE_AIRLINE\"`\n  - `\"TRANSFER_AIR_DEPARTURE_FLIGHT_NO\"`\n  - `\"TRANSFER_ARRIVAL_DROP_OFF\"`\n  - `\"TRANSFER_ARRIVAL_TIME\"`\n  - `\"TRANSFER_DEPARTURE_DATE\"`\n  - `\"TRANSFER_DEPARTURE_PICKUP\"`\n  - `\"TRANSFER_DEPARTURE_TIME\"`\n  - `\"TRANSFER_PORT_ARRIVAL_TIME\"`\n  - `\"TRANSFER_PORT_CRUISE_SHIP\"`\n  - `\"TRANSFER_PORT_DEPARTURE_TIME\"`\n  - `\"TRANSFER_RAIL_ARRIVAL_LINE\"`\n  - `\"TRANSFER_RAIL_ARRIVAL_STATION\"`\n  - `\"TRANSFER_RAIL_DEPARTURE_LINE\"`\n  - `\"TRANSFER_RAIL_DEPARTURE_STATION\"`\n  - `\"WEIGHT\"`\n  - `\"FULL_NAMES_FIRST\"`\n  - `\"FULL_NAMES_LAST\"`\n  - `\"DISEMBARKATION_TIME\"`\n  - `\"SPECIAL_REQUIREMENTS\"`\n  - `\"AGEBAND\"`\n  - `\"TRANSFER_ARRIVAL_MODE\"`\n  - `\"TRANSFER_DEPARTURE_MODE\"`\n"
        type:
          $ref: '#/components/schemas/BookingQuestionFormatType'
        group:
          $ref: '#/components/schemas/BookingQuestionGrouping'
        label:
          type: string
          description: "Title of this booking question \n\n  - **Example**: \"Traveler height in feet or centimeters\"\n\n  - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter\n"
        hint:
          type: string
          description: "Hint (tooltip) for this booking question;\n\n  - **Example**: \"E.g. 14 July 2024, 25 May 2026\"\n\n  - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter\n"
        units:
          type: array
          description: Units that may be used when answering this booking question
          items:
            type: string
            description: "One of: \n\n  - `kg`\n  - `lbs`\n  - `cm`\n  - `ft`\n  - `LOCATION_REFERENCE`\n  - `FREETEXT`\n"
        allowedAnswers:
          type: array
          description: List of allowed answers for this booking question if the answer represents a selection from a set of specific answers
          items:
            type: string
        required:
          type: string
          example: MANDATORY
          description: "Key string indicating whether an answer must be provided to this question if it is included in the product's description\n\nOne of: \n\n  - `MANDATORY` - it is always mandatory to provide an answer to this question\n  - `OPTIONAL` - it is optional to provide an answer to this question\n  - `CONDITIONAL` - it is only mandatory to answer this question if it is made so by the presence of a related booking question. See [Key concepts - Booking questions](#section/Booking-concepts/Booking-questions) for more information.\n"
        maxLength:
          type: integer
          description: Maximum allowable input length for the answer, measured in characters (UTF-8)
    Destination:
      type: object
      description: 'Reference details about a destination associated with this product

        '
      required:
      - ref
      - primary
      properties:
        ref:
          type: string
          pattern: (?s).*[\S].*
          description: 'Unique numeric identifier for this destination

            - **Note**: Full details about the destination associated with this reference can be found in the response from the [/destinations](#operation/destinations) endpoint.

            '
        primary:
          type: boolean
          description: '**True** if this is the primary destination associated with this product'
    ProductReviewSource:
      type: object
      required:
      - provider
      - totalCount
      properties:
        provider:
          type: string
          description: "Source of the review; one of:\n  - `\"VIATOR\"`\n  - `\"TRIPADVISOR\"`\n"
        reviewCounts:
          type: array
          items:
            $ref: '#/components/schemas/ProductReviewCount'
          description: Breakdown of ratings and counts for reviews from this source for this product
        totalCount:
          type: integer
          description: Total number of reviews for all ratings of this product
          format: int64
        averageRating:
          description: 'Average rating across all reviews from this source for this product


            This average is equal to the sum of the product of each rating and its count divided by the sum of the counts.

            '
          type: number
          format: float
    VideoVariants:
      type: object
      description: 'An object of available video delivery options for the same content, structured by delivery strategy.

        Each variant defines how the video can be retrieved and played, optimized for different playback capabilities and network conditions.

        Clients should select the best-supported variant and ignore unknown variant keys for forward compatibility.

        '
      required:
      - streaming
      - progressive
      properties:
        streaming:
          type: array
          description: "Streaming-optimized video source, intended for real-time playback. \nStreaming variants provide a single entry point that allows the player to automatically select bitrate and resolution based on network conditions and device capabilities.\n"
          items:
            $ref: '#/components/schemas/StreamingVideoVariant'
        progressive:
          type: array
          description: Progressive download video source intended for immediate or offline playback
          items:
            $ref: '#/components/schemas/ProgressiveVideoVariant'
    StreamingVideoVariant:
      type: object
      description: Streaming video variant
      required:
      - protocol
      - format
      - url
      properties:
        protocol:
          type: string
          description: The streaming protocol used to deliver the video (e.g. `HLS`). This defines how the playlist and media segments are interpreted by the player.
          example: HLS
        format:
          type: string
          description: The playlist or manifest format for the streaming protocol (e.g. `M3U8`).
          example: M3U8
        url:
          type: string
          description: The URL of the streaming playlist that serves as the entry point for video playback.
          example: https://hare-dynamic-media-cdn.tripadvisor.com/media/video-v/31/1f/5b/68/vid-693-rome-2017-vatican_1080.m3u8
    ProductsResponse:
      type: object
      required:
      - products
      properties:
        products:
          type: array
          description: Products that fall within the search/filter criteria
          items:
            $ref: '#/components/schemas/Product'
        nextCursor:
          type: string
          description: 'Pagination cursor pointing to the next page of results

            - Example: `"MTU3NDA0NDczOQ=="`

            '
    SearchRatingInfo:
      description: 'Only return products that have a rating that is in the range defined here

        '
      type: object
      properties:
        from:
          type: integer
          minimum: 0
          description: 'Only return products with a rating greater than this value

            '
        to:
          type: integer
          minimum: 1
          description: 'Only return products with a rating less than this value

            '
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
          description: "Timestamp of the request. \n\n**Example**: `\"2019-09-17T03:20:45.737043Z\"`\n"
        trackingId:
          type: string
          description: "Tracking identifier for this error response. \n\n**Example**: `\"0A871A13:DE2A_0A8712F9:01BB_5DCCC98C_260DAA:0D5B\"`\n"
    ProductSearchPricing:
      type: object
      description: "High-level summary of product prices\n  \n  - **Note**: This price may not be available during the date range specified in the `filtering` section of the request\n"
      required:
      - fromPrice
      - currency
      properties:
        summary:
          allOf:
          - type: object
            properties:
              fromPriceBeforeDiscount:
                type: number
                description: If the product is presently discounted, this field shows what the value of `fromPrice` would be if no discount had been applied; otherwise, it will be equal to `fromPrice`.
          - $ref: '#/components/schemas/AvailabilityScheduleSummary'
        currency:
          type: string
          description: Currency code for the currency in which the prices in `summary` are denominated
        partnerNetFromPrice:
          type: number
          description: "Lowest per-person price for this product expressed as the amount (excluding the booking fee)that merchant partners using the markup/booking-fee pricing scheme would be invoiced. \n\nThis value is calculated according to the price for a group of at least two standard participants (or, the smallest bookable group if more than two participants are required) for a period not exceeding 384 days into the future.\n\n**Note**: This property is only relevant to you and will only be returned if you are a markup merchant partner (i.e., you are a merchant and are not using the commission-based pricing model).\n"
        extraChargesSummary:
          $ref: '#/components/schemas/AvailabilityScheduleExtraChargesSummary'
    BulkProductRecommendationsRequest:
      type: object
      required:
      - productCodes
      - recommendationTypes
      properties:
        productCodes:
          type: array
          items:
            type: string
            pattern: (?s).*[\S].*
          description: The unique identifier of the product(s) for which recommendations are being retrieved.
          maxItems: 50
        recommendationTypes:
          type: array
          items:
            type: string
          description: 'Types of recommendation. One of:

            - `IS_SIMILAR_TO`: returns products that are deemed similar to the requested product based on machine learning algorithms, considering attributes such as location, category, itinerary, price range and others.


            Note: New recommendation types can be added over time, allowing flexibility for different use cases.

            '
    ImageSourceType:
      type: string
      description: "Machine-interpretable value indicating the source of this image; one of:\n\n  - `\"SUPPLIER_PROVIDED\"`\n  - `\"PROFESSIONAL\"`\n"
    Product:
      type: object
      required:
      - productCode
      - status
      - createdAt
      properties:
        status:
          $ref: '#/components/schemas/ProductStatus'
        productCode:
          type: string
          pattern: (?s).*[\S].*
          description: "Code that is the unique identifier for this product.\n\n  - Example: `\"5657BRIDGECLIMB\"`\n"
        language:
          type: string
          description: Code indicating the language into which the natural-language fields in this response will be translated (if necessary)
        createdAt:
          type: string
          format: date-time
          description: "Timestamp (UTC) indicating when this product was originally created\n\n  - Example: `\"2019-04-03T02:54:29.082753Z\"`\n"
        lastUpdatedAt:
          type: string
          format: date-time
          description: "Timestamp (UTC) indicating the most recent occasion of this product's details being modified\n\n  - Example: `\"2020-06-11T09:16:39Z\"`\n"
      discriminator:
        propertyName: status
        mapping:
          ACTIVE: '#/components/schemas/ActiveProduct'
          INACTIVE: '#/components/schemas/InactiveProduct'
    ProductReviews:
      type: object
      description: "Summary of reviews and ratings for this product\n\n**Note**: \n\n  - Review data is updated daily; i.e., all reviews received on a day will be added and averages re-calculated in a single event.\n  - Viator performs checks on reviews - for more information, see [Key concepts - Review authenticity](#section/Key-concepts/Review-authenticity)\n"
      required:
      - totalReviews
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ProductReviewSource'
          description: Breakdown of ratings, counts and the sources of the reviews of this product
        reviewCountTotals:
          type: array
          items:
            $ref: '#/components/schemas/ProductReviewCount'
          description: Combined total number of reviews per rating across all sources for this product
        totalReviews:
          type: integer
          description: Total number of reviews from all sources for this product
          format: int64
        combinedAverageRating:
          description: Average rating for all reviews from all sources for this product
          type: number
          format: float
    ProductReviewCount:
      type: object
      description: Breakdown of number of reviews for each rating of this product
      required:
      - rating
      - count
      properties:
        rating:
          type: number
          description: Rating given in the review for this product
          format: float
        count:
          type: integer
          description: How many reviews of this product have this rating
          format: int64
    TagsResponse:
      type: object
      description: 'Numeric product category/subcategory tag identifiers for this product


        To retrieve details about which tags these identifiers refer to, please use the [/products/tags](#operation/productsTags) endpoint.

        '
      required:
      - tags
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagWithAllLocalizations'
  parameters:
    targetLander:
      name: target-lander
      in: query
      description: '**Affiliate partners only**: Specifies the type of landing page customers will be shown when opening the link provided in the `productUrl` field.


        Ordinarily, when customers follow the link in `productUrl`, they are redirected to a sales-conversion-optimized affiliate landing page. This default behavior can be disabled by setting this parameter to `"NONE"`, which will modify the `productUrl` query string such that when opened, the customer will instead land on the standard viator.com product display page, which is **not** optimized for affiliate-link sales.


        Available values:


        - `"NONE"`: Causes `target_lander=NONE` to be included in the `productUrl` query string, which will **disable** redirection to an affiliate landing page when the link is followed.


        Our recommendation is for you to **allow** the default behavior by **not** including this parameter, unless you have a specific technical or business requirement to do so.

        '
      required: false
      schema:
        type: string
    accept:
      in: header
      name: Accept
      description: 'Specifies the version of this API to access

        '
      required: true
      schema:
        type: string
        example: application/json;version=2.0
    campaignValueProduct:
      name: campaign-value
      in: query
      description: '**Affiliate partners only**: Specifies the campaign tracking identifier that will be appended to the URL returned in `productUrl` as a query parameter. Campaigns allow you to track how specific links perform, with metrics such as sessions, bookings, and commission. Reports are available via the Viator Partner Platform.


        **Note**: If you wish to use a campaign value that includes non-alphanumeric characters (e.g., ''+'', ''-'', etc.), you must URL-encode these characters.

        '
      required: false
      schema:
        type: string
        maxLength: 200
    acceptLanguage:
      in: header
      name: Accept-Language
      description: 'Specifies the language into which the natural-language fields in the response from this service will be translated (see [Accept-Language header](#section/Localization/Accept-Language-header-parameter) for available language codes)

        '
      required: true
      schema:
        type: string
        example: en-US
  examples:
    products-search-example-affiliates:
      summary: Affiliates
      value:
        products:
        - productCode: 62330P2
          title: Private 4 Hour Tour of Edinburgh in a Spacious 6-seater Mercedes
          description: "During your private 4-Hour Tour soak up the amazing sights of both the Old and New Town of Edinburgh. You will be shown around in a comfortable and spacious vehicle by one of our experienced driver-guides. \n\nThis private tour is perfect for the visitor who has limited time and who wants to see all of the major attractions. You will have time to get out, walk around and take photos and to learn about this beautiful medieval city from your guide. \n\nOr perhaps, you are a visitor who simply wants a shorter tour to orientate yourself to the layout of the city with hints and tips from your guide on the best places to visit, eat and shop in your own time. Here are just some of the places that you will be able to stop at on your tour:\n\nEdinburgh Castle\n\nGrassmarket\n\nGreyfriars Bobby\n\nRoyal Mile\n\nSt Giles Cathedral\n\nMercat Cross\n\nPalace of Holyrood House\n\nArthur's Seat\n\nCalton Hill\n\nWalter Scott Monument\n\nNew Town\n\nDean Village"
          images:
          - imageSource: SUPPLIER_PROVIDED
            caption: Your Guide and Vehicle
            isCover: true
            variants:
            - height: 50
              width: 50
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-50x50/06/71/ef/dc.jpg
            - height: 100
              width: 100
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-100x100/06/71/ef/dc.jpg
            - height: 200
              width: 200
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-200x200/06/71/ef/dc.jpg
            - height: 400
              width: 400
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-400x400/06/71/ef/dc.jpg
            - height: 40
              width: 60
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-60x40/06/71/ef/dc.jpg
            - height: 80
              width: 120
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-120x80/06/71/ef/dc.jpg
            - height: 120
              width: 180
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-180x120/06/71/ef/dc.jpg
            - height: 160
              width: 240
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-240x160/06/71/ef/dc.jpg
            - height: 240
              width: 360
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/06/71/ef/dc.jpg
            - height: 320
              width: 480
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/06/71/ef/dc.jpg
            - height: 360
              width: 540
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/06/71/ef/dc.jpg
            - height: 446
              width: 674
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/06/71/ef/dc.jpg
            - height: 480
              width: 720
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/06/71/ef/dc.jpg
            - height: 118
              width: 210
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-210x118/06/71/ef/dc.jpg
            - height: 75
              width: 75
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-75x75/06/71/ef/dc.jpg
            - height: 109
              width: 154
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/06/71/ef/dc.jpg
          reviews:
            sources:
            - provider: VIATOR
              totalCount: 9
              averageRating: 5
            - provider: TRIPADVISOR
              totalCount: 44
              averageRating: 5
            totalReviews: 53
            combinedAverageRating: 5
          duration:
            fixedDurationInMinutes: 240
          confirmationType: INSTANT
          itineraryType: STANDARD
          pricing:
            summary:
              fromPrice: 402.32
              fromPriceBeforeDiscount: 402.32
            currency: USD
          productUrl: https://shop.live.rc.viator.com/tours/Edinburgh/Private-4-Hour-Tour-of-Edinburgh-in-a-Spacious-6-seater-Mercedes/d739-62330P2?mcid=42383&pid=P00045135&medium=api&api_version=2.0
          destinations:
          - ref: '739'
            primary: true
          tags:
          - 21946
          - 11930
          - 21956
          - 21951
          - 21955
          - 21960
          - 12029
          - 11938
          - 20757
          - 21952
          - 22083
          - 11929
          - 12028
          - 11941
          - 21972
          flags:
          - FREE_CANCELLATION
          - PRIVATE_TOUR
          - LIKELY_TO_SELL_OUT
          translationInfo:
            containsMachineTranslatedText: false
            translationSource: ORIGINAL
        - productCode: 196210P1
          title: 'Award-winning circular cycle tour of Edinburgh! '
          description: This is a cycle tour you won't find anywhere else. I shall take you where other tourists will not know about. There are other cycle tours in Edinburgh, but as I take small groups, you will be able to go at your own pace, ask as many questions as you like and take numerous photos without pressure of being rushed. This tour requires you to be able to cycle for a maximum distance of 20 miles with regular stops and at a slow -steady pace. This tour is not suitable for under 12 years. From Craigmillar Caste, to the stunning Dean Village, Leith and Portobello, you will be cycling through all the 'must-see' parts of Edinburgh that are off the tourist trail. E-bikes can be hired at an additional cost of £15pp cash on the day. Please let me know if you would like this option. (If you think you would prefer a shorter tour, please check out our 'cycle tour to the coast' which is 12 miles, 3 hours)
          images:
          - imageSource: SUPPLIER_PROVIDED
            caption: 'Foothills of Arthur''s Seat, our extinct Volcano '
            isCover: true
            variants:
            - height: 50
              width: 50
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-50x50/09/2a/19/47.jpg
            - height: 100
              width: 100
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-100x100/09/2a/19/47.jpg
            - height: 200
              width: 200
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-200x200/09/2a/19/47.jpg
            - height: 400
              width: 400
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-400x400/09/2a/19/47.jpg
            - height: 40
              width: 60
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-60x40/09/2a/19/47.jpg
            - height: 80
              width: 120
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-120x80/09/2a/19/47.jpg
            - height: 120
              width: 180
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-180x120/09/2a/19/47.jpg
            - height: 160
              width: 240
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-240x160/09/2a/19/47.jpg
            - height: 240
              width: 360
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/09/2a/19/47.jpg
            - height: 320
              width: 480
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/09/2a/19/47.jpg
            - height: 360
              width: 540
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/09/2a/19/47.jpg
            - height: 446
              width: 674
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/09/2a/19/47.jpg
            - height: 480
              width: 720
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/09/2a/19/47.jpg
            - height: 118
              width: 210
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-210x118/09/2a/19/47.jpg
            - height: 75
              width: 75
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-75x75/09/2a/19/47.jpg
            - height: 109
              width: 154
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/09/2a/19/47.jpg
          reviews:
            sources:
            - provider: VIATOR
              totalCount: 2
              averageRating: 5
            - provider: TRIPADVISOR
              totalCount: 37
              averageRating: 5
            totalReviews: 39
            combinedAverageRating: 5
          duration:
            fixedDurationInMinutes: 270
          confirmationType: INSTANT
          itineraryType: ACTIVITY
          pricing:
            summary:
              fromPrice: 87.89
              fromPriceBeforeDiscount: 87.89
            currency: USD
          productUrl: https://shop.live.rc.viator.com/tours/Edinburgh/The-Ultimate-cycle-tour-of-Edinburgh/d739-196210P1?mcid=42383&pid=P00045135&medium=api&api_version=2.0
          destinations:
          - ref: '739'
            primary: true
          tags:
          - 21946
          - 22083
          - 12046
          - 21702
          - 21860
          - 21972
          - 11911
          flags:
          - FREE_CANCELLATION
          translationInfo:
            containsMachineTranslatedText: false
            translationSource: ORIGINAL
        - productCode: 196210P3
          title: 'Award-winning cycle tour to Edinburgh''s coast '
          description: "Leanne, your guide will ensure we go at your pace, ask as many questions as you like and enjoy the ride with your little ones, without the feeling of being rushed in a large group.\nLeanne can modify the route to suit your families' ability and the beauty of this ride is that is it mainly on dedicated cycle paths. This is a fun ride with the promise of an ice cream (or coffee!) on the beach or inside to warm up if in winter. It is a 10 mile round trip. \n"
          images:
          - imageSource: SUPPLIER_PROVIDED
            caption: ''
            isCover: true
            variants:
            - height: 50
              width: 50
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-50x50/09/9c/63/39.jpg
            - height: 100
              width: 100
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-100x100/09/9c/63/39.jpg
            - height: 200
              width: 200
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-200x200/09/9c/63/39.jpg
            - height: 400
              width: 400
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-400x400/09/9c/63/39.jpg
            - height: 40
              width: 60
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-60x40/09/9c/63/39.jpg
            - height: 80
              width: 120
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-120x80/09/9c/63/39.jpg
            - height: 120
              width: 180
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-180x120/09/9c/63/39.jpg
            - height: 160
              width: 240
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-240x160/09/9c/63/39.jpg
            - height: 240
              width: 360
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/09/9c/63/39.jpg
            - height: 320
              width: 480
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/09/9c/63/39.jpg
            - height: 360
              width: 540
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/09/9c/63/39.jpg
            - height: 446
              width: 674
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/09/9c/63/39.jpg
            - height: 480
              width: 720
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/09/9c/63/39.jpg
            - height: 118
              width: 210
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-210x118/09/9c/63/39.jpg
            - height: 75
              width: 75
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-75x75/09/9c/63/39.jpg
            - height: 109
              width: 154
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/09/9c/63/39.jpg
          reviews:
            sources:
            - provider: VIATOR
              totalCount: 2
              averageRating: 5
            - provider: TRIPADVISOR
              totalCount: 28
              averageRating: 5
            totalReviews: 30
            combinedAverageRating: 5
          duration:
            fixedDurationInMinutes: 180
          confirmationType: INSTANT
          itineraryType: ACTIVITY
          pricing:
            summary:
              fromPrice: 71.8
              fromPriceBeforeDiscount: 71.8
            currency: USD
          productUrl: https://shop.live.rc.viator.com/tours/Edinburgh/Family-friendly-cycle-tour-to-Edinburghs-coast/d739-196210P3?mcid=42383&pid=P00045135&medium=api&api_version=2.0
          destinations:
          - ref: '739'
            primary: true
          tags:
          - 21946
          - 22083
          - 12046
          - 21702
          - 21860
          - 21972
          - 11911
          flags:
          - FREE_CANCELLATION
          translationInfo:
            containsMachineTranslatedText: false
            translationSource: ORIGINAL
        - productCode: 3830P1
          title: Small-Group 90-minute Tour in Greyfriars Kirkyard
          description: "Visit the graves of some of the lesser-known characters buried in Greyfriars Kirkyard, including the lecturer who taught Charles Darwin, the actor buried in full theatrical costume, and the First World War ace pilot.\n\nDid you know Greyfriars cemetery has links to golf, the moon ... and turnips? Who was the mysterious Miss Cathcart? Who was the man who fought a duel in London's Hyde Park? Where is the bestselling novelist from the 1770s buried? \n\nAlthough not our main focus, we will also point out the graves with links to Harry Potter on this fascinating walk around Greyfriars cemetery. No pesky ghosts interrupting! "
          images:
          - imageSource: SUPPLIER_PROVIDED
            caption: ''
            isCover: true
            variants:
            - height: 50
              width: 50
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-50x50/0b/d1/b6/d2.jpg
            - height: 100
              width: 100
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-100x100/0b/d1/b6/d2.jpg
            - height: 200
              width: 200
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-200x200/0b/d1/b6/d2.jpg
            - height: 400
              width: 400
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-400x400/0b/d1/b6/d2.jpg
            - height: 40
              width: 60
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-60x40/0b/d1/b6/d2.jpg
            - height: 80
              width: 120
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-120x80/0b/d1/b6/d2.jpg
            - height: 120
              width: 180
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-180x120/0b/d1/b6/d2.jpg
            - height: 160
              width: 240
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-240x160/0b/d1/b6/d2.jpg
            - height: 240
              width: 360
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/0b/d1/b6/d2.jpg
            - height: 320
              width: 480
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/0b/d1/b6/d2.jpg
            - height: 360
              width: 540
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/0b/d1/b6/d2.jpg
            - height: 446
              width: 674
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/0b/d1/b6/d2.jpg
            - height: 480
              width: 720
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0b/d1/b6/d2.jpg
            - height: 118
              width: 210
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-210x118/0b/d1/b6/d2.jpg
            - height: 75
              width: 75
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-75x75/0b/d1/b6/d2.jpg
            - height: 109
              width: 154
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/0b/d1/b6/d2.jpg
          reviews:
            sources:
            - provider: TRIPADVISOR
              totalCount: 70
              averageRating: 5
            totalReviews: 70
            combinedAverageRating: 4.9857144
          duration:
            fixedDurationInMinutes: 90
          confirmationType: INSTANT
          itineraryType: STANDARD
          pricing:
            summary:
              fromPrice: 18.57
              fromPriceBeforeDiscount: 18.57
            currency: USD
          productUrl: https://shop.live.rc.viator.com/tours/Edinburgh/Edinburgh-Greyfriars-Cemetery-Tour/d739-3830P1?mcid=42383&pid=P00045135&medium=api&api_version=2.0
          destinations:
          - ref: '739'
            primary: true
          tags:
          - 21953
          - 21956
          - 22107
          - 21951
          - 12029
          - 21959
          - 21954
          - 21510
          - 21952
          - 12046
          - 21860
          - 12028
          - 21972
          flags:
          - FREE_CANCELLATION
          translationInfo:
            containsMachineTranslatedText: false
            translationSource: ORIGINAL
        - productCode: 195458P1
          title: The Chocolatarium Chocolate Tour Experience in Edinburgh
          description: "A chocolate experience to remember! \n\nSee and touch the fruit of the chocolate tree, and learn all about how the beans are transformed into delicious chocolate.\n\nHave fun making your own Scottish-themed chocolate to take home! You can even make a chocolate Greyfriar's Bobby, a chocolate Nessie or a chocolate Edinburgh Castle!\n\nNext, come to the tasting room with a wide selection of chocolates from both Scottish and international chocolate makers. There are over 30 varieties to choose from including Haggis chocolate, Japanese chocolate, chilli chocolate, gin chocolate and many, many more. \n\nFinally, wrap your delicious chocolates to take home to enjoy or give as a gift.\n\nChocolate samples are provided throughout the tour. Vegan or milk-free options are available. \n\nSuitable for adults and children aged 6+.\n(Not suitable for children under 6)"
          images:
          - imageSource: SUPPLIER_PROVIDED
            caption: ''
            isCover: true
            variants:
            - height: 50
              width: 50
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-50x50/0b/39/1c/ce.jpg
            - height: 100
              width: 100
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-100x100/0b/39/1c/ce.jpg
            - height: 200
              width: 200
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-200x200/0b/39/1c/ce.jpg
            - height: 400
              width: 400
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-400x400/0b/39/1c/ce.jpg
            - height: 40
              width: 60
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-60x40/0b/39/1c/ce.jpg
            - height: 80
              width: 120
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-120x80/0b/39/1c/ce.jpg
            - height: 120
              width: 180
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-180x120/0b/39/1c/ce.jpg
            - height: 160
              width: 240
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-240x160/0b/39/1c/ce.jpg
            - height: 240
              width: 360
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/0b/39/1c/ce.jpg
            - height: 320
              width: 480
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/0b/39/1c/ce.jpg
            - height: 360
              width: 540
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/0b/39/1c/ce.jpg
            - height: 446
              width: 674
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/0b/39/1c/ce.jpg
            - height: 480
              width: 720
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0b/39/1c/ce.jpg
            - height: 118
              width: 210
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-210x118/0b/39/1c/ce.jpg
            - height: 75
              width: 75
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-75x75/0b/39/1c/ce.jpg
            - height: 109
              width: 154
              url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/0b/39/1c/ce.jpg
          reviews:
            sources:
            - provider: VIATOR
              totalCount: 119
              averageRating: 5
            - provider: TRIPADVISOR
              totalCount: 1736
              averageRating: 5
            totalReviews: 1855
            combinedAverageRating: 4.967116
          duration:
            fixedDurationInMinutes: 90
          confirmationType: INSTANT
          itineraryType: ACTIVITY
          pricing:
            summary:
              fromPrice: 27.23
              fromPriceBeforeDiscount: 27.23
            currency: USD
          productUrl: https://shop.live.rc.viator.com/tours/Edinburgh/The-Chocolatarium-Chocolate-Tour-Experience/d739-195458P1?mcid=42383&pid=P00045135&medium=api&api_version=2.0
          destinations:
          - ref: '739'
            primary: true
          tags:
          - 21571
          - 20757
          - 20205
          - 22083
          - 11890
          - 21860
          - 21972
          - 22097
          flags:
          - FREE_CANCELLATION
          - LIKELY_TO_SELL_OUT
          translationInfo:
            containsMachineTranslatedText: false
            translationSource: ORIGINAL
        totalCount: 14
    products-tags-example:
      summary: /products/tags
[...]
