openapi: 3.2.0
info:
  title: Viator Partner Availability API
  description: 'code { white-space: nowrap; }

    a { font-weight: bold; }


    figure {

    width: 100%;

    text-align: center;

    font-style: italic;

    font-size: smaller;

    text-indent: 0;

    border: thin silver solid;

    margin: 0.5em;

    padding: 0.5em;

    }


    ## Updates


    ### Latest updates:


    | Date | Description…'
  version: '2.0'
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au/
servers:
- url: https://api.viator.com/partner
  description: Production server (uses live data)
- url: https://api.sandbox.viator.com/partner
  description: Sandbox server (uses test data)
security:
- API-key: []
tags:
- name: Availability
paths:
  /availability/check:
    post:
      tags:
      - Availability
      summary: /availability/check
      description: 'Check real-time availability and pricing for a product depending on the date, pax-mix, start time and/or product option.


        We recommend using the pricing information returned by this endpoint as the source of truth for the amount you will be invoiced by Viator for the sale of the product in question.


        The third response example – 265910P1 (commission payment model) – shows the alternative PriceObject for merchants using the commission payment model.


        **Note**: This service should only be used to determine the availability of a product immediately prior to booking. Bulk operations pertaining to product availability; e.g., generating a calendar of availability for a product, should use the availability schedule endpoints.


        (Response sample generated on: 2021-04-06)'
      operationId: availabilityCheck
      parameters:
      - $ref: '#/components/parameters/accept'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/CheckAvailabilityRequest'
            examples:
              5010SYDNEY:
                value:
                  productCode: 5010SYDNEY
                  travelDate: '2020-12-12'
                  currency: AUD
                  paxMix:
                  - ageBand: ADULT
                    numberOfTravelers: 2
                  - ageBand: CHILD
                    numberOfTravelers: 2
              46334P42:
                value:
                  productCode: 46334P42
                  travelDate: '2020-12-30'
                  currency: AUD
                  paxMix:
                  - ageBand: TRAVELER
                    numberOfTravelers: 7
              265910P1:
                value:
                  productCode: 265910P1
                  travelDate: '2020-11-30'
                  currency: AUD
                  paxMix:
                  - ageBand: ADULT
                    numberOfTravelers: 2
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/CheckAvailabilityResponse'
              examples:
                5010SYDNEY:
                  $ref: '#/components/examples/availability-check-example-5010SYDNEY'
                46334P422:
                  $ref: '#/components/examples/availability-check-example-46334P42'
                265910P1 (comnmission pricing model):
                  $ref: '#/components/examples/availability-check-example-265910P1'
                128216P66 (extra charges):
                  $ref: '#/components/examples/availability-check-example-128216P66'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Not Found
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ErrorResponse'
                - type: object
                  properties:
                    code:
                      description: 'Code for this error type


                        **Example**: `"NOT_FOUND"`

                        '
                    message:
                      description: 'Details of this error


                        **Example**: `"No bookable items found for the request"`

                        '
                - type: object
                  example:
                    code: NOT_FOUND
                    message: No bookable items found for the request
                    timestamp: '2019-09-17T03:20:45.737043Z'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /availability/schedules/{product-code}:
    get:
      tags:
      - Availability
      summary: /availability/schedules/{product-code}
      description: 'Get availability and pricing details for all product options of the requested product. The pricing is returned in the supplier''s currency. We recommend using the /exchange-rates endpoint to get the Viator exchange rates and apply them for pricing conversion.


        **Note**: This endpoint **should not** be used for ingesting or updating the availability and pricing details for the entire catalog of Viator products. Instead, please use the /availability/schedules/modified-since endpoint for that purpose.


        (Response sample generated on: 2021-03-12)'
      operationId: availabilitySchedules
      parameters:
      - $ref: '#/components/parameters/accept'
      - name: product-code
        in: path
        description: Retrieve availability details for the product identified by this product code
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ProductAvailabilitySchedule'
              examples:
                5010SYDNEY:
                  $ref: '#/components/examples/availability-schedules-5010SYDNEY-example'
                10175P18 (timed entry):
                  $ref: '#/components/examples/availability-schedules-46334P42-example'
                265910P1 (with discount):
                  $ref: '#/components/examples/availability-schedules-265910P1-example'
                128216P66 (extra charges):
                  $ref: '#/components/examples/availability-schedules-128216P66-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /availability/schedules/bulk:
    post:
      tags:
      - Availability
      summary: /availability/schedules/bulk
      description: 'Get availability and pricing details for all product options of all requested products. The pricing is returned in the supplier''s currency. We recommend using the /exchange-rates endpoint to get the Viator exchange rates and apply them for pricing conversion.


        **Note**: This endpoint **should not** be used for ingesting or updating the availability and pricing details for the entire catalog of Viator products. Instead, please use the /availability/schedules/modified-since endpoint for that purpose.


        (Response sample generated on: 2021-03-12)'
      operationId: availabilitySchedulesBulk
      parameters:
      - $ref: '#/components/parameters/accept'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BulkAvailabilityScheduleRequest'
            example:
              productCodes:
              - 265910P1
              - 5010SYDNEY
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/BulkAvailabilityScheduleResponse'
              examples:
                '1':
                  $ref: '#/components/examples/availability-schedules-bulk-example'
                extra charges:
                  $ref: '#/components/examples/availability-schedules-bulk-extra-charges-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /availability/schedules/modified-since:
    get:
      tags:
      - Availability
      summary: /availability/schedules/modified-since
      description: 'Get full future availability details for all products modified since the specified time. The pricing is returned in the supplier''s currency. We recommend using the /exchange-rates endpoint to get the Viator exchange rates and apply them for pricing conversion. Initiate a full ingestion only to establish your local copy; this should be a rare occurrence compared to regular updates. Fetch incremental updates through this endpoint on an hourly basis. You are welcome to poll for updates as frequently as every 15 minutes if desired. Be mindful that excessive frequency beyond these recommendations may trigger rate limits.


        (Response sample generated on: 2021-03-12)'
      operationId: availabilitySchedulesModifiedSince
      parameters:
      - name: cursor
        in: query
        description: 'Pagination cursor received from a previous call to **this** endpoint that

          points to the desired starting point for the results.


          **Note**: Pagination will come into play when the number of results

          exceeds the figure given in the `count` parameter. In this case, pass

          the content of the `nextCursor` element for the value of `cursor` to

          receive the next page of results. The final page of results will not

          include the `nextCursor` element. For more information, see: [Ingesting

          and updating availability schedules](#section/Workflows/Ingesting-and-updating-availability-schedules).

          - Example: `''MTYwNTA2ODAwOXw1NjcyUDk=''`

          '
        required: false
        schema:
          type: string
      - name: count
        in: query
        description: "The maximum number of products to be returned in response. \n- Maximum allowed and default value: `500`\n"
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
      - name: modified-since
        in: query
        description: "Only retrieve availabilty schedules that have been modified since the date and time (UTC) specified by this timestamp\n\n**Note**: \n- As this is a query parameter, colons (i.e., `:`) in the timestamp should be URL-encoded as `%3A`; e.g.: \"`2020-09-30T00%3A00%3A01.737043Z`\"\n- Using this parameter is <u>not recommended</u> as the standard pagination method; rather, use the `cursor` parameter to ensure all availability schedule updates are captured during ingestion.\n"
        required: false
        schema:
          type: string
          format: date-time
          pattern: ^(-?(?:[1-9][0-9]*)?[0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9])\%3A([0-5][0-9])\%3A([0-5][0-9])(\.[0-9]+)?(Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$
      - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/AvailabilitySchedulesResponse'
              examples:
                '1':
                  $ref: '#/components/examples/availability-schedules-modified-since-example'
                24380P927 (extra charges):
                  $ref: '#/components/examples/availability-schedules-modified-since-extra-charges-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  headers:
    RateLimit-Reset:
      required: true
      schema:
        type: string
        description: 'The fixed window in time, in seconds, which represents when a limit is fully replenished. For informational purposes only.

          '
    XUniqueId:
      required: true
      schema:
        type: string
        description: 'Tracking identifier for this response. Please include the value of this field when making help requests.

          - **Example**: `"0A871A13:DE2A_0A8712F9:01BB_5DCCC98C_260DAA:0D5B"`

          '
    Retry-After:
      required: true
      schema:
        type: string
        description: 'The fixed window in time, in seconds, which represents when a limit is fully replenished. For informational purposes only.

          '
    RateLimit-Remaining:
      required: true
      schema:
        type: string
        description: 'Remaining requests for this endpoint for a given window. For informational purposes only

          '
    RateLimit-Limit:
      required: true
      schema:
        type: string
        description: 'Total limit of requests for this endpoint for a given window. For informational purposes only.

          '
  examples:
    availability-check-example-46334P42:
      summary: 46334P42
      value:
        currency: USD
        productCode: 46334P42
        travelDate: '2020-12-30'
        bookableItems:
        - productOptionCode: TG5
          startTime: '16:15'
          available: false
          unavailableReason: SOLD_OUT
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 270.1
                partnerNetPrice: 212.28
                bookingFee: 12.74
                partnerTotalPrice: 225.02
          totalPrice:
            price:
              recommendedRetailPrice: 270.1
              partnerNetPrice: 212.27
              bookingFee: 12.74
              partnerTotalPrice: 225.01
        - productOptionCode: TG5
          startTime: '16:45'
          available: false
          unavailableReason: SOLD_OUT
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 270.1
                partnerNetPrice: 212.28
                bookingFee: 12.74
                partnerTotalPrice: 225.02
          totalPrice:
            price:
              recommendedRetailPrice: 270.1
              partnerNetPrice: 212.27
              bookingFee: 12.74
              partnerTotalPrice: 225.01
        - productOptionCode: TG5
          startTime: '17:15'
          available: false
          unavailableReason: SOLD_OUT
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 270.1
                partnerNetPrice: 212.28
                bookingFee: 12.74
                partnerTotalPrice: 225.02
          totalPrice:
            price:
              recommendedRetailPrice: 270.1
              partnerNetPrice: 212.27
              bookingFee: 12.74
              partnerTotalPrice: 225.01
        - productOptionCode: TG5
          startTime: '17:45'
          available: false
          unavailableReason: SOLD_OUT
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 270.1
                partnerNetPrice: 212.28
                bookingFee: 12.74
                partnerTotalPrice: 225.02
          totalPrice:
            price:
              recommendedRetailPrice: 270.1
              partnerNetPrice: 212.27
              bookingFee: 12.74
              partnerTotalPrice: 225.01
        - productOptionCode: TG5
          startTime: '18:15'
          available: false
          unavailableReason: SOLD_OUT
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 270.1
                partnerNetPrice: 212.28
                bookingFee: 12.74
                partnerTotalPrice: 225.02
          totalPrice:
            price:
              recommendedRetailPrice: 270.1
              partnerNetPrice: 212.27
              bookingFee: 12.74
              partnerTotalPrice: 225.01
    availability-schedules-128216P66-example:
      summary: /availability/schedule/128216P66 - ExtraCharges
      value:
        productCode: 128216P66
        bookableItems:
        - productOptionCode: DEFAULT
          seasons:
          - startDate: '2025-12-15'
            endDate: '2026-01-06'
            pricingRecords:
            - daysOfWeek:
              - MONDAY
              - TUESDAY
              - WEDNESDAY
              - THURSDAY
              - FRIDAY
              - SATURDAY
              - SUNDAY
              timedEntries:
              - startTime: 08:00
              - startTime: 09:00
              - startTime: 06:00
              - startTime: '11:30'
              - startTime: 07:00
              pricingDetails:
              - pricingPackageType: PER_PERSON
                minTravelers: 0
                maxTravelers: 15
                ageBand: INFANT
                price:
                  original:
                    recommendedRetailPrice: 200
                    partnerNetPrice: 184
                    bookingFee: 0
                    commission: 16
                    partnerTotalPrice: 184
              - pricingPackageType: PER_PERSON
                minTravelers: 0
                maxTravelers: 15
                ageBand: CHILD
                price:
                  original:
                    recommendedRetailPrice: 625
                    partnerNetPrice: 575
                    bookingFee: 0
                    commission: 50
                    partnerTotalPrice: 575
              - pricingPackageType: PER_PERSON
                minTravelers: 1
                maxTravelers: 1
                ageBand: ADULT
                price:
                  original:
                    recommendedRetailPrice: 890
                    partnerNetPrice: 818.8
                    bookingFee: 0
                    commission: 71.2
                    partnerTotalPrice: 818.8
              - pricingPackageType: PER_PERSON
                minTravelers: 2
                maxTravelers: 15
                ageBand: ADULT
                price:
                  original:
                    recommendedRetailPrice: 725
                    partnerNetPrice: 667
                    bookingFee: 0
                    commission: 58
                    partnerTotalPrice: 667
          - startDate: '2025-09-11'
            endDate: '2025-12-14'
            pricingRecords:
            - daysOfWeek:
              - MONDAY
              - TUESDAY
              - WEDNESDAY
              - THURSDAY
              - FRIDAY
              - SATURDAY
              - SUNDAY
              timedEntries:
              - startTime: '12:00'
              - startTime: 09:30
              - startTime: '11:00'
              - startTime: 08:00
              - startTime: 09:00
              - startTime: 08:30
              - startTime: '10:00'
              - startTime: 06:00
              - startTime: '11:30'
              - startTime: 07:00
              - startTime: '10:30'
              - startTime: 06:30
              - startTime: 07:30
              pricingDetails:
              - pricingPackageType: PER_PERSON
                minTravelers: 0
                maxTravelers: 15
                ageBand: INFANT
                price:
                  original:
                    recommendedRetailPrice: 200
                    partnerNetPrice: 184
                    bookingFee: 0
                    commission: 16
                    partnerTotalPrice: 184
              - pricingPackageType: PER_PERSON
                minTravelers: 0
                maxTravelers: 15
                ageBand: CHILD
                price:
                  original:
                    recommendedRetailPrice: 420
                    partnerNetPrice: 386.4
                    bookingFee: 0
                    commission: 33.6
                    partnerTotalPrice: 386.4
              - pricingPackageType: PER_PERSON
                minTravelers: 2
                maxTravelers: 15
                ageBand: ADULT
                price:
                  original:
                    recommendedRetailPrice: 520
                    partnerNetPrice: 478.4
                    bookingFee: 0
                    commission: 41.6
                    partnerTotalPrice: 478.4
              - pricingPackageType: PER_PERSON
                minTravelers: 1
                maxTravelers: 1
                ageBand: ADULT
                price:
                  original:
                    recommendedRetailPrice: 890
                    partnerNetPrice: 818.8
                    bookingFee: 0
                    commission: 71.2
                    partnerTotalPrice: 818.8
          - startDate: '2025-04-26'
            endDate: '2025-09-10'
            pricingRecords:
            - daysOfWeek:
              - MONDAY
              - TUESDAY
              - WEDNESDAY
              - THURSDAY
              - FRIDAY
              - SATURDAY
              - SUNDAY
              timedEntries:
              - startTime: '12:00'
              - startTime: 09:30
              - startTime: '11:00'
              - startTime: 08:00
              - startTime: 09:00
              - startTime: 08:30
              - startTime: '10:00'
              - startTime: 06:00
              - startTime: '11:30'
              - startTime: 07:00
              - startTime: '10:30'
              - startTime: 06:30
              - startTime: 07:30
              pricingDetails:
              - pricingPackageType: PER_PERSON
                minTravelers: 0
                maxTravelers: 15
                ageBand: INFANT
                price:
                  original:
                    recommendedRetailPrice: 100
                    partnerNetPrice: 92
                    bookingFee: 0
                    commission: 8
                    partnerTotalPrice: 92
              - pricingPackageType: PER_PERSON
                minTravelers: 0
                maxTravelers: 15
                ageBand: CHILD
                price:
                  original:
                    recommendedRetailPrice: 290
                    partnerNetPrice: 266.8
                    bookingFee: 0
                    commission: 23.2
                    partnerTotalPrice: 266.8
              - pricingPackageType: PER_PERSON
                minTravelers: 1
                maxTravelers: 1
                ageBand: ADULT
                price:
                  original:
                    recommendedRetailPrice: 690
                    partnerNetPrice: 634.8
                    bookingFee: 0
                    commission: 55.2
                    partnerTotalPrice: 634.8
              - pricingPackageType: PER_PERSON
                minTravelers: 2
                maxTravelers: 15
                ageBand: ADULT
                price:
                  original:
                    recommendedRetailPrice: 349
                    partnerNetPrice: 321.08
                    bookingFee: 0
                    commission: 27.92
                    partnerTotalPrice: 321.08
          - startDate: '2025-03-08'
            endDate: '2025-04-25'
            pricingRecords:
            - daysOfWeek:
              - MONDAY
              - TUESDAY
              - WEDNESDAY
              - THURSDAY
              - FRIDAY
              - SATURDAY
              - SUNDAY
              timedEntries:
              - startTime: '12:00'
              - startTime: 09:30
              - startTime: '11:00'
              - startTime: 08:00
              - startTime: 09:00
              - startTime: 08:30
              - startTime: '10:00'
              - startTime: 06:00
              - startTime: '11:30'
              - startTime: 07:00
              - startTime: '10:30'
              - startTime: 06:30
              - startTime: 07:30
              pricingDetails:
              - pricingPackageType: PER_PERSON
                minTravelers: 0
                maxTravelers: 15
                ageBand: INFANT
                price:
                  original:
                    recommendedRetailPrice: 100
                    partnerNetPrice: 92
                    bookingFee: 0
                    commission: 8
                    partnerTotalPrice: 92
              - pricingPackageType: PER_PERSON
                minTravelers: 0
                maxTravelers: 15
                ageBand: CHILD
                price:
                  original:
                    recommendedRetailPrice: 315
                    partnerNetPrice: 289.8
                    bookingFee: 0
                    commission: 25.2
                    partnerTotalPrice: 289.8
              - pricingPackageType: PER_PERSON
                minTravelers: 1
                maxTravelers: 1
                ageBand: ADULT
                price:
                  original:
                    recommendedRetailPrice: 790
                    partnerNetPrice: 726.8
                    bookingFee: 0
                    commission: 63.2
                    partnerTotalPrice: 726.8
              - pricingPackageType: PER_PERSON
                minTravelers: 2
                maxTravelers: 15
                ageBand: ADULT
                price:
                  original:
                    recommendedRetailPrice: 475
                    partnerNetPrice: 437
                    bookingFee: 0
                    commission: 38
                    partnerTotalPrice: 437
        currency: USD
        summary:
          fromPrice: 349
        extraChargesSummary:
          fromPrice: 354.86
          extraCharges: 5.86
    availability-schedules-modified-since-extra-charges-example:
      summary: /availability/schedules/modified-since - ExtraCharges
      value:
        availabilitySchedules:
        - productCode: 24380P927
          bookableItems:
          - productOptionCode: TG1
            seasons:
            - startDate: '2022-01-12'
              pricingRecords:
              - daysOfWeek:
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
                - SUNDAY
                timedEntries:
                - startTime: 09:00
                - startTime: '11:30'
                - startTime: '12:30'
                - startTime: 09:30
                - startTime: '13:00'
                - startTime: '10:00'
                - startTime: '15:30'
                  unavailableDates:
                  - date: '2025-04-01'
                    reason: SOLD_OUT
                  - date: '2025-03-28'
                    reason: SOLD_OUT
                  - date: '2025-03-21'
                    reason: SOLD_OUT
                  - date: '2025-05-13'
                    reason: SOLD_OUT
                  - date: '2025-07-05'
                    reason: SOLD_OUT
                  - date: '2025-03-26'
                    reason: SOLD_OUT
                  - date: '2025-03-19'
                    reason: SOLD_OUT
                  - date: '2025-12-06'
                    reason: SOLD_OUT
                  - date: '2025-06-28'
                    reason: SOLD_OUT
                  - date: '2025-06-21'
                    reason: SOLD_OUT
                  - date: '2025-03-31'
                    reason: SOLD_OUT
                  - date: '2025-03-24'
                    reason: SOLD_OUT
                  - date: '2025-12-10'
                    reason: SOLD_OUT
                  - date: '2025-05-09'
                    reason: SOLD_OUT
                  - date: '2025-05-07'
                    reason: SOLD_OUT
                  - date: '2025-07-06'
                    reason: SOLD_OUT
                  - date: '2025-03-17'
                    reason: SOLD_OUT
                  - date: '2025-06-25'
                    reason: SOLD_OUT
                  - date: '2025-05-02'
                    reason: SOLD_OUT
                  - date: '2025-12-08'
                    reason: SOLD_OUT
                  - date: '2025-03-29'
                    reason: SOLD_OUT
                  - date: '2025-03-22'
                    reason: SOLD_OUT
                  - date: '2025-03-20'
                    reason: SOLD_OUT
                  - date: '2025-12-05'
                    reason: SOLD_OUT
                  - date: '2025-03-27'
                    reason: SOLD_OUT
                  - date: '2025-03-18'
                    reason: SOLD_OUT
                  - date: '2025-04-14'
                    reason: SOLD_OUT
                  - date: '2025-10-27'
                    reason: SOLD_OUT
                  - date: '2025-10-01'
                    reason: SOLD_OUT
                  - date: '2025-12-07'
                    reason: SOLD_OUT
                  - date: '2025-09-24'
                    reason: SOLD_OUT
                  - date: '2025-04-02'
                    reason: SOLD_OUT
                  - date: '2025-03-25'
                    reason: SOLD_OUT
                  - date: '2025-07-04'
                    reason: SOLD_OUT
                  - date: '2025-06-01'
                    reason: SOLD_OUT
                  - date: '2025-10-10'
                    reason: SOLD_OUT
                  - date: '2025-03-23'
                    reason: SOLD_OUT
                  - date: '2025-03-30'
                    reason: SOLD_OUT
                  - date: '2025-07-09'
                    reason: SOLD_OUT
                  - date: '2025-06-10'
                    reason: SOLD_OUT
                  - date: '2025-05-01'
                    reason: SOLD_OUT
                  - date: '2025-12-09'
                    reason: SOLD_OUT
                - startTime: '12:00'
                - startTime: '13:30'
                - startTime: '14:00'
                - startTime: '16:00'
                  unavailableDates:
                  - date: '2025-03-21'
                    reason: SOLD_OUT
                  - date: '2025-04-01'
                    reason: SOLD_OUT
                  - date: '2025-07-05'
                    reason: SOLD_OUT
                  - date: '2025-03-28'
                    reason: SOLD_OUT
                  - date: '2025-05-13'
                    reason: SOLD_OUT
                  - date: '2025-12-08'
                    reason: SOLD_OUT
                  - date: '2025-03-30'
                    reason: SOLD_OUT
                  - date: '2025-06-25'
                    reason: SOLD_OUT
                  - date: '2025-03-23'
                    reason: SOLD_OUT
                  - date: '2025-03-17'
                    reason: SOLD_OUT
                  - date: '2025-05-01'
                    reason: SOLD_OUT
                  - date: '2025-05-02'
                    reason: SOLD_OUT
                  - date: '2025-12-10'
                    reason: SOLD_OUT
                  - date: '2025-05-09'
                    reason: SOLD_OUT
                  - date: '2025-04-14'
                    reason: SOLD_OUT
                  - date: '2025-03-31'
                    reason: SOLD_OUT
                  - date: '2025-03-24'
                    reason: SOLD_OUT
                  - date: '2025-03-19'
                    reason: SOLD_OUT
                  - date: '2025-10-01'
                    reason: SOLD_OUT
                  - date: '2025-03-26'
                    reason: SOLD_OUT
                  - date: '2025-12-05'
                    reason: SOLD_OUT
                  - date: '2025-10-27'
                    reason: SOLD_OUT
                  - date: '2025-06-01'
                    reason: SOLD_OUT
                  - date: '2025-04-02'
                    reason: SOLD_OUT
                  - date: '2025-12-07'
                    reason: SOLD_OUT
                  - date: '2025-03-20'
                    reason: SOLD_OUT
                  - date: '2025-03-27'
                    reason: SOLD_OUT
                  - date: '2025-07-06'
                    reason: SOLD_OUT
                  - date: '2025-05-07'
                    reason: SOLD_OUT
                  - date: '2025-06-10'
                    reason: SOLD_OUT
                  - date: '2025-10-10'
                    reason: SOLD_OUT
                  - date: '2025-12-09'
                    reason: SOLD_OUT
                  - date: '2025-03-29'
                    reason: SOLD_OUT
                  - date: '2025-03-22'
                    reason: SOLD_OUT
                  - date: '2025-03-25'
                    reason: SOLD_OUT
                  - date: '2025-07-09'
                    reason: SOLD_OUT
                  - date: '2025-09-24'
                    reason: SOLD_OUT
                  - date: '2025-03-18'
                    reason: SOLD_OUT
                  - date: '2025-07-04'
                    reason: SOLD_OUT
                  - date: '2025-12-06'
                    reason: SOLD_OUT
                  - date: '2025-06-21'
                    reason: SOLD_OUT
                  - date: '2025-06-28'
                    reason: SOLD_OUT
                - startTime: '10:30'
                - startTime: 08:30
                - startTime: '16:30'
                  unavailableDates:
                  - date: '2025-12-10'
                    reason: SOLD_OUT
                  - date: '2025-05-01'
                    reason: SOLD_OUT
                  - date: '2025-07-09'
                    reason: SOLD_OUT
                  - date: '2025-09-24'
                    reason: SOLD_OUT
                  - date: '2025-10-27'
                    reason: SOLD_OUT
                  - date: '2025-12-05'
                    reason: SOLD_OUT
                  - date: '2025-04-14'
                    reason: SOLD_OUT
                  - date: '2025-03-18'
                    reason: SOLD_OUT
                  - date: '2025-03-25'
                    reason: SOLD_OUT
                  - date: '2025-07-04'
                    reason: SOLD_OUT
                  - date: '2025-12-06'
                    reason: SOLD_OUT
                  - date: '2025-03-20'
                    reason: SOLD_OUT
                  - date: '2025-03-27'
                    reason: SOLD_OUT
                  - date: '2025-12-08'
                    reason: SOLD_OUT
                  - date: '2025-06-25'
                    reason: SOLD_OUT
                  - date: '2025-07-06'
                    reason: SOLD_OUT
                  - date: '2025-05-07'
                    reason: SOLD_OUT
                  - date: '2025-03-29'
                    reason: SOLD_OUT
                  - date: '2025-03-22'
                    reason: SOLD_OUT
                  - date: '2025-03-24'
                    reason: SOLD_OUT
                  - date: '2025-05-09'
                    reason: SOLD_OUT
                  - date: '2025-05-02'
                    reason: SOLD_OUT
                  - date: '2025-03-31'
                    reason: SOLD_OUT
                  - date: '2025-03-17'
                    reason: SOLD_OUT
                  - date: '2025-10-01'
                    reason: SOLD_OUT
                  - date: '2025-03-19'
                    reason: SOLD_OUT
                  - date: '2025-03-26'
                    reason: SOLD_OUT
                  - date: '2025-06-28'
                    reason: SOLD_OUT
                  - date: '2025-06-01'
                    reason: SOLD_OUT
                  - date: '2025-06-21'
                    reason: SOLD_OUT
                  - date: '2025-03-28'
                    reason: SOLD_OUT
                  - date: '2025-04-02'
                    reason: SOLD_OUT
                  - date: '2025-03-21'
                    reason: SOLD_OUT
                  - date: '2025-04-01'
                    reason: SOLD_OUT
                  - date: '2025-12-07'
                    reason: SOLD_OUT
                  - date: '2025-07-05'
                    reason: SOLD_OUT
                  - date: '2025-05-13'
                    reason: SOLD_OUT
                  - date: '2025-03-30'
                    reason: SOLD_OUT
                  - date: '2025-03-23'
                    reason: SOLD_OUT
                  - date: '2025-06-10'
                    reason: SOLD_OUT
                  - date: '2025-10-10'
                    reason: SOLD_OUT
                  - date: '2025-12-09'
                    reason: SOLD_OUT
                - startTime: '14:30'
                - startTime: '15:00'
                  unavailableDates:
                  - date: '2025-03-24'
                    reason: SOLD_OUT
                  - date: '2025-05-09'
                    reason: SOLD_OUT
                  - date: '2025-05-07'
                    reason: SOLD_OUT
                  - date: '2025-03-31'
                    reason: SOLD_OUT
                  - date: '2025-03-17'
                    reason: SOLD_OUT
                  - date: '2025-07-06'
                    reason: SOLD_OUT
                  - date: '2025-03-22'
                    reason: SOLD_OUT
                  - date: '2025-06-10'
                    reason: SOLD_OUT
                  - date: '2025-05-02'
                    reason: SOLD_OUT
                  - date: '2025-12-09'
                    reason: SOLD_OUT
                  - date: '2025-10-10'
                    reason: SOLD_OUT
                  - date: '2025-03-29'
                    reason: SOLD_OUT
                  - date: '2025-03-28'
                    reason: SOLD_OUT
                  - date: '2025-12-05'
                    reason: SOLD_OUT
                  - date: '2025-05-13'
                    reason: SOLD_OUT
                  - date: '2025-03-21'
                    reason: SOLD_OUT
                  - date: '2025-10-27'
                    reason: SOLD_OUT
                  - date: '2025-10-01'
                    reason: SOLD_OUT
                  - date: '2025-04-14'
                    reason: SOLD_OUT
                  - date: '2025-03-26'
                    reason: SOLD_OUT
                  - date: '2025-12-07'
                    reason: SOLD_OUT
                  - date: '2025-07-05'
                    reason: SOLD_OUT
                  - date: '2025-04-02'
                    reason: SOLD_OUT
                  - date: '2025-06-01'
                    reason: SOLD_OUT
                  - date: '2025-03-19'
                    reason: SOLD_OUT
                  - date: '2025-05-01'
                    reason: SOLD_OUT
                  - date: '2025-12-10'
                    reason: SOLD_OUT
                  - date: '2025-07-09'
                    reason: SOLD_OUT
                  - date: '2025-06-25'
                    reason: SOLD_OUT
                  - date: '2025-12-08'
                    reason: SOLD_OUT
                  - date: '2025-03-30'
                    reason: SOLD_OUT
                  - date: '2025-03-23'
                    reason: SOLD_OUT
                  - date: '2025-07-04'
                    reason: SOLD_OUT
                  - date: '2025-03-20'
                    reason: SOLD_OUT
                  - date: '2025-04-01'
                    reason: SOLD_OUT
                  - date: '2025-03-27'
                    reason: SOLD_OUT
                  - date: '2025-06-21'
                    reason: SOLD_OUT
                  - date: '2025-09-24'
                    reason: SOLD_OUT
                  - date: '2025-03-18'
                    reason: SOLD_OUT
                  - date: '2025-03-25'
                    reason: SOLD_OUT
                  - date: '2025-12-06'
                    reason: SOLD_OUT
                  - date: '2025-06-28'
                    reason: SOLD_OUT
                - startTime: '11:00'
                pricingDetails:
                - pricingPackageType: PER_PERSON
                  minTravelers: 1
                  maxTravelers: 1
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 275
                      partnerNetPrice: 253
                      bookingFee: 0
                      commission: 22
                      partnerTotalPrice: 253
                - pricingPackageType: PER_PERSON
                  minTravelers: 7
                  maxTravelers: 7
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 41
                      partnerNetPrice: 37.72
                      bookingFee: 0
                      commission: 3.28
                      partnerTotalPrice: 37.72
                - pricingPackageType: PER_PERSON
                  minTravelers: 5
                  maxTravelers: 5
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 55
                      partnerNetPrice: 50.6
                      bookingFee: 0
                      commission: 4.4
                      partnerTotalPrice: 50.6
                - pricingPackageType: PER_PERSON
                  minTravelers: 8
                  maxTravelers: 8
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 35
                      partnerNetPrice: 32.2
                      bookingFee: 0
                      commission: 2.8
                      partnerTotalPrice: 32.2
                - pricingPackageType: PER_PERSON
                  minTravelers: 6
                  maxTravelers: 6
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 46
                      partnerNetPrice: 42.32
                      bookingFee: 0
                      commission: 3.68
                      partnerTotalPrice: 42.32
                - pricingPackageType: PER_PERSON
                  minTravelers: 2
                  maxTravelers: 2
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 138
                      partnerNetPrice: 126.96
                      bookingFee: 0
                      commission: 11.04
                      partnerTotalPrice: 126.96
                - pricingPackageType: PER_PERSON
                  minTravelers: 4
                  maxTravelers: 4
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 71
                      partnerNetPrice: 65.32
                      bookingFee: 0
                      commission: 5.68
                      partnerTotalPrice: 65.32
                - pricingPackageType: PER_PERSON
                  minTravelers: 3
                  maxTravelers: 3
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 92
                      partnerNetPrice: 84.64
                      bookingFee: 0
                      commission: 7.36
                      partnerTotalPrice: 84.64
          currency: EUR
          summary:
            fromPrice: 138
          extraChargesSummary:
            fromPrice: 157
            extraCharges: 19
        nextCursor: MTc0MjE1NjczMnwzNDkwMTNQMQ==
    availability-check-example-5010SYDNEY:
      summary: 5010SYDNEY
      value:
        currency: AUD
        productCode: 5010SYDNEY
        travelDate: '2021-12-12'
        bookableItems:
        - productOptionCode: TG3
          available: true
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 118.5
                partnerNetPrice: 93.46
                bookingFee: 5.61
                partnerTotalPrice: 99.07
          - ageBand: CHILD
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 82
                partnerNetPrice: 64.7
                bookingFee: 3.88
                partnerTotalPrice: 68.58
          totalPrice:
            price:
              recommendedRetailPrice: 200.5
              partnerNetPrice: 158.16
              bookingFee: 9.49
              partnerTotalPrice: 167.65
        - productOptionCode: 48HOUR
          available: true
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 149.4
                partnerNetPrice: 117.9
                bookingFee: 7.07
                partnerTotalPrice: 124.97
          - ageBand: CHILD
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 91.1
                partnerNetPrice: 71.88
                bookingFee: 4.32
                partnerTotalPrice: 76.2
          totalPrice:
            price:
              recommendedRetailPrice: 240.5
              partnerNetPrice: 189.78
              bookingFee: 11.39
              partnerTotalPrice: 201.17
        - productOptionCode: TG1
          available: true
          lineItems:
          - ageBand: ADULT
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 200.5
                partnerNetPrice: 158.16
                bookingFee: 9.49
                partnerTotalPrice: 167.65
          - ageBand: CHILD
            numberOfTravelers: 2
            subtotalPrice:
              price:
                recommendedRetailPrice: 131.6
                partnerNetPrice: 103.84
                bookingFee: 6.23
                partnerTotalPrice: 110.07
          totalPrice:
            price:
              recommendedRetailPrice: 332.1
              partnerNetPrice: 262
              bookingFee: 15.72
              partnerTotalPrice: 277.72
    availability-schedules-bulk-extra-charges-example:
      summary: /availability/schedules/bulk - ExtraCharges
      value:
        availabilitySchedules:
        - productCode: 128216P66
          bookableItems:
          - productOptionCode: DEFAULT
            seasons:
            - startDate: '2025-12-15'
              endDate: '2026-01-06'
              pricingRecords:
              - daysOfWeek:
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
                - SUNDAY
                timedEntries:
                - startTime: 08:00
                - startTime: 09:00
                - startTime: 06:00
                - startTime: '11:30'
                - startTime: 07:00
                pricingDetails:
                - pricingPackageType: PER_PERSON
                  minTravelers: 0
                  maxTravelers: 15
                  ageBand: INFANT
                  price:
                    original:
                      recommendedRetailPrice: 200
                      partnerNetPrice: 184
                      bookingFee: 0
                      commission: 16
                      partnerTotalPrice: 184
                - pricingPackageType: PER_PERSON
                  minTravelers: 0
                  maxTravelers: 15
                  ageBand: CHILD
                  price:
                    original:
                      recommendedRetailPrice: 625
                      partnerNetPrice: 575
                      bookingFee: 0
                      commission: 50
                      partnerTotalPrice: 575
                - pricingPackageType: PER_PERSON
                  minTravelers: 1
                  maxTravelers: 1
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 890
                      partnerNetPrice: 818.8
                      bookingFee: 0
                      commission: 71.2
                      partnerTotalPrice: 818.8
                - pricingPackageType: PER_PERSON
                  minTravelers: 2
                  maxTravelers: 15
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 725
                      partnerNetPrice: 667
                      bookingFee: 0
                      commission: 58
                      partnerTotalPrice: 667
            - startDate: '2025-09-11'
              endDate: '2025-12-14'
              pricingRecords:
              - daysOfWeek:
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
                - SUNDAY
                timedEntries:
                - startTime: '12:00'
                - startTime: 09:30
                - startTime: '11:00'
                - startTime: 08:00
                - startTime: 09:00
                - startTime: 08:30
                - startTime: '10:00'
                - startTime: 06:00
                - startTime: '11:30'
                - startTime: 07:00
                - startTime: '10:30'
                - startTime: 06:30
                - startTime: 07:30
                pricingDetails:
                - pricingPackageType: PER_PERSON
                  minTravelers: 0
                  maxTravelers: 15
                  ageBand: INFANT
                  price:
                    original:
                      recommendedRetailPrice: 200
                      partnerNetPrice: 184
                      bookingFee: 0
                      commission: 16
                      partnerTotalPrice: 184
                - pricingPackageType: PER_PERSON
                  minTravelers: 0
                  maxTravelers: 15
                  ageBand: CHILD
                  price:
                    original:
                      recommendedRetailPrice: 420
                      partnerNetPrice: 386.4
                      bookingFee: 0
                      commission: 33.6
                      partnerTotalPrice: 386.4
                - pricingPackageType: PER_PERSON
                  minTravelers: 2
                  maxTravelers: 15
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 520
                      partnerNetPrice: 478.4
                      bookingFee: 0
                      commission: 41.6
                      partnerTotalPrice: 478.4
                - pricingPackageType: PER_PERSON
                  minTravelers: 1
                  maxTravelers: 1
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 890
                      partnerNetPrice: 818.8
                      bookingFee: 0
                      commission: 71.2
                      partnerTotalPrice: 818.8
            - startDate: '2025-04-26'
              endDate: '2025-09-10'
              pricingRecords:
              - daysOfWeek:
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
                - SUNDAY
                timedEntries:
                - startTime: '12:00'
                - startTime: 09:30
                - startTime: '11:00'
                - startTime: 08:00
                - startTime: 09:00
                - startTime: 08:30
                - startTime: '10:00'
                - startTime: 06:00
                - startTime: '11:30'
                - startTime: 07:00
                - startTime: '10:30'
                - startTime: 06:30
                - startTime: 07:30
                pricingDetails:
                - pricingPackageType: PER_PERSON
                  minTravelers: 0
                  maxTravelers: 15
                  ageBand: INFANT
                  price:
                    original:
                      recommendedRetailPrice: 100
                      partnerNetPrice: 92
                      bookingFee: 0
                      commission: 8
                      partnerTotalPrice: 92
                - pricingPackageType: PER_PERSON
                  minTravelers: 0
                  maxTravelers: 15
                  ageBand: CHILD
                  price:
                    original:
                      recommendedRetailPrice: 290
                      partnerNetPrice: 266.8
                      bookingFee: 0
                      commission: 23.2
                      partnerTotalPrice: 266.8
                - pricingPackageType: PER_PERSON
                  minTravelers: 1
                  maxTravelers: 1
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 690
                      partnerNetPrice: 634.8
                      bookingFee: 0
                      commission: 55.2
                      partnerTotalPrice: 634.8
                - pricingPackageType: PER_PERSON
                  minTravelers: 2
                  maxTravelers: 15
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 349
                      partnerNetPrice: 321.08
                      bookingFee: 0
                      commission: 27.92
                      partnerTotalPrice: 321.08
            - startDate: '2025-03-08'
              endDate: '2025-04-25'
              pricingRecords:
              - daysOfWeek:
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
                - SUNDAY
                timedEntries:
                - startTime: '12:00'
                - startTime: 09:30
                - startTime: '11:00'
                - startTime: 08:00
                - startTime: 09:00
                - startTime: 08:30
                - startTime: '10:00'
                - startTime: 06:00
                - startTime: '11:30'
                - startTime: 07:00
                - startTime: '10:30'
                - startTime: 06:30
                - startTime: 07:30
                pricingDetails:
                - pricingPackageType: PER_PERSON
                  minTravelers: 0
                  maxTravelers: 15
                  ageBand: INFANT
                  price:
                    original:
                      recommendedRetailPrice: 100
                      partnerNetPrice: 92
                      bookingFee: 0
                      commission: 8
                      partnerTotalPrice: 92
                - pricingPackageType: PER_PERSON
                  minTravelers: 0
                  maxTravelers: 15
                  ageBand: CHILD
                  price:
                    original:
                      recommendedRetailPrice: 315
                      partnerNetPrice: 289.8
                      bookingFee: 0
                      commission: 25.2
                      partnerTotalPrice: 289.8
                - pricingPackageType: PER_PERSON
                  minTravelers: 1
                  maxTravelers: 1
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 790
                      partnerNetPrice: 726.8
                      bookingFee: 0
                      commission: 63.2
                      partnerTotalPrice: 726.8
                - pricingPackageType: PER_PERSON
                  minTravelers: 2
                  maxTravelers: 15
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 475
                      partnerNetPrice: 437
                      bookingFee: 0
                      commission: 38
                      partnerTotalPrice: 437
          currency: USD
          summary:
            fromPrice: 349
          extraChargesSummary:
            fromPrice: 354.86
            extraCharges: 5.86
        - productCode: 281620P1
          bookableItems:
          - productOptionCode: TG1
            seasons:
            - startDate: '2020-08-31'
              pricingRecords:
              - daysOfWeek:
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
                - SUNDAY
                timedEntries:
                - startTime: 08:00
                pricingDetails:
                - pricingPackageType: PER_PERSON
                  minTravelers: 0
                  ageBand: YOUTH
                  price:
                    original:
                      recommendedRetailPrice: 18.22
                      partnerNetPrice: 16.76
                      bookingFee: 0
                      commission: 1.46
                      partnerTotalPrice: 16.76
                - pricingPackageType: PER_PERSON
                  minTravelers: 1
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 20.25
                      partnerNetPrice: 18.63
                      bookingFee: 0
                      commission: 1.62
                      partnerTotalPrice: 18.63
          currency: AUD
          summary:
            fromPrice: 20.25
          extraChargesSummary:
            fromPrice: 29.29
            extraCharges: 9.04
        - productCode: 24380P927
          bookableItems:
          - productOptionCode: TG1
            seasons:
            - startDate: '2022-01-12'
              pricingRecords:
              - daysOfWeek:
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
                - SUNDAY
                timedEntries:
                - startTime: 09:00
                - startTime: '11:30'
                - startTime: '12:30'
                - startTime: 09:30
                - startTime: '13:00'
                - startTime: '10:00'
                - startTime: '15:30'
                  unavailableDates:
                  - date: '2025-04-01'
                    reason: SOLD_OUT
                  - date: '2025-03-28'
                    reason: SOLD_OUT
                  - date: '2025-03-21'
                    reason: SOLD_OUT
                  - date: '2025-05-13'
                    reason: SOLD_OUT
                  - date: '2025-07-05'
                    reason: SOLD_OUT
                  - date: '2025-03-26'
                    reason: SOLD_OUT
                  - date: '2025-03-19'
                    reason: SOLD_OUT
                  - date: '2025-12-06'
                    reason: SOLD_OUT
                  - date: '2025-06-28'
                    reason: SOLD_OUT
                  - date: '2025-06-21'
                    reason: SOLD_OUT
                  - date: '2025-03-31'
                    reason: SOLD_OUT
                  - date: '2025-03-24'
                    reason: SOLD_OUT
                  - date: '2025-12-10'
                    reason: SOLD_OUT
                  - date: '2025-05-09'
                    reason: SOLD_OUT
                  - date: '2025-05-07'
                    reason: SOLD_OUT
                  - date: '2025-07-06'
                    reason: SOLD_OUT
                  - date: '2025-03-17'
                    reason: SOLD_OUT
                  - date: '2025-06-25'
                    reason: SOLD_OUT
                  - date: '2025-05-02'
                    reason: SOLD_OUT
                  - date: '2025-12-08'
                    reason: SOLD_OUT
                  - date: '2025-03-29'
                    reason: SOLD_OUT
                  - date: '2025-03-22'
                    reason: SOLD_OUT
                  - date: '2025-03-20'
                    reason: SOLD_OUT
                  - date: '2025-12-05'
                    reason: SOLD_OUT
                  - date: '2025-03-27'
                    reason: SOLD_OUT
                  - date: '2025-03-18'
                    reason: SOLD_OUT
                  - date: '2025-04-14'
                    reason: SOLD_OUT
                  - date: '2025-10-27'
                    reason: SOLD_OUT
                  - date: '2025-10-01'
                    reason: SOLD_OUT
                  - date: '2025-12-07'
                    reason: SOLD_OUT
                  - date: '2025-09-24'
                    reason: SOLD_OUT
                  - date: '2025-04-02'
                    reason: SOLD_OUT
                  - date: '2025-03-25'
                    reason: SOLD_OUT
                  - date: '2025-07-04'
                    reason: SOLD_OUT
                  - date: '2025-06-01'
                    reason: SOLD_OUT
                  - date: '2025-10-10'
                    reason: SOLD_OUT
                  - date: '2025-03-23'
                    reason: SOLD_OUT
                  - date: '2025-03-30'
                    reason: SOLD_OUT
                  - date: '2025-07-09'
                    reason: SOLD_OUT
                  - date: '2025-06-10'
                    reason: SOLD_OUT
                  - date: '2025-05-01'
                    reason: SOLD_OUT
                  - date: '2025-12-09'
                    reason: SOLD_OUT
                - startTime: '12:00'
                - startTime: '13:30'
                - startTime: '14:00'
                - startTime: '16:00'
                  unavailableDates:
                  - date: '2025-03-21'
                    reason: SOLD_OUT
                  - date: '2025-04-01'
                    reason: SOLD_OUT
                  - date: '2025-07-05'
                    reason: SOLD_OUT
                  - date: '2025-03-28'
                    reason: SOLD_OUT
                  - date: '2025-05-13'
                    reason: SOLD_OUT
                  - date: '2025-12-08'
                    reason: SOLD_OUT
                  - date: '2025-03-30'
                    reason: SOLD_OUT
                  - date: '2025-06-25'
                    reason: SOLD_OUT
                  - date: '2025-03-23'
                    reason: SOLD_OUT
                  - date: '2025-03-17'
                    reason: SOLD_OUT
                  - date: '2025-05-01'
                    reason: SOLD_OUT
                  - date: '2025-05-02'
                    reason: SOLD_OUT
                  - date: '2025-12-10'
                    reason: SOLD_OUT
                  - date: '2025-05-09'
                    reason: SOLD_OUT
                  - date: '2025-04-14'
                    reason: SOLD_OUT
                  - date: '2025-03-31'
                    reason: SOLD_OUT
                  - date: '2025-03-24'
                    reason: SOLD_OUT
                  - date: '2025-03-19'
                    reason: SOLD_OUT
                  - date: '2025-10-01'
                    reason: SOLD_OUT
                  - date: '2025-03-26'
                    reason: SOLD_OUT
                  - date: '2025-12-05'
                    reason: SOLD_OUT
                  - date: '2025-10-27'
                    reason: SOLD_OUT
                  - date: '2025-06-01'
                    reason: SOLD_OUT
                  - date: '2025-04-02'
                    reason: SOLD_OUT
                  - date: '2025-12-07'
                    reason: SOLD_OUT
                  - date: '2025-03-20'
                    reason: SOLD_OUT
                  - date: '2025-03-27'
                    reason: SOLD_OUT
                  - date: '2025-07-06'
                    reason: SOLD_OUT
                  - date: '2025-05-07'
                    reason: SOLD_OUT
                  - date: '2025-06-10'
                    reason: SOLD_OUT
                  - date: '2025-10-10'
                    reason: SOLD_OUT
                  - date: '2025-12-09'
                    reason: SOLD_OUT
                  - date: '2025-03-29'
                    reason: SOLD_OUT
                  - date: '2025-03-22'
                    reason: SOLD_OUT
                  - date: '2025-03-25'
                    reason: SOLD_OUT
                  - date: '2025-07-09'
                    reason: SOLD_OUT
                  - date: '2025-09-24'
                    reason: SOLD_OUT
                  - date: '2025-03-18'
                    reason: SOLD_OUT
                  - date: '2025-07-04'
                    reason: SOLD_OUT
                  - date: '2025-12-06'
                    reason: SOLD_OUT
                  - date: '2025-06-21'
                    reason: SOLD_OUT
                  - date: '2025-06-28'
                    reason: SOLD_OUT
                - startTime: '10:30'
                - startTime: 08:30
                - startTime: '16:30'
                  unavailableDates:
                  - date: '2025-12-10'
                    reason: SOLD_OUT
                  - date: '2025-05-01'
                    reason: SOLD_OUT
                  - date: '2025-07-09'
                    reason: SOLD_OUT
                  - date: '2025-09-24'
                    reason: SOLD_OUT
                  - date: '2025-10-27'
                    reason: SOLD_OUT
                  - date: '2025-12-05'
                    reason: SOLD_OUT
                  - date: '2025-04-14'
                    reason: SOLD_OUT
                  - date: '2025-03-18'
                    reason: SOLD_OUT
                  - date: '2025-03-25'
                    reason: SOLD_OUT
                  - date: '2025-07-04'
                    reason: SOLD_OUT
                  - date: '2025-12-06'
                    reason: SOLD_OUT
                  - date: '2025-03-20'
                    reason: SOLD_OUT
                  - date: '2025-03-27'
                    reason: SOLD_OUT
                  - date: '2025-12-08'
                    reason: SOLD_OUT
                  - date: '2025-06-25'
                    reason: SOLD_OUT
                  - date: '2025-07-06'
                    reason: SOLD_OUT
                  - date: '2025-05-07'
                    reason: SOLD_OUT
                  - date: '2025-03-29'
                    reason: SOLD_OUT
                  - date: '2025-03-22'
                    reason: SOLD_OUT
                  - date: '2025-03-24'
                    reason: SOLD_OUT
                  - date: '2025-05-09'
                    reason: SOLD_OUT
                  - date: '2025-05-02'
                    reason: SOLD_OUT
                  - date: '2025-03-31'
                    reason: SOLD_OUT
                  - date: '2025-03-17'
                    reason: SOLD_OUT
                  - date: '2025-10-01'
                    reason: SOLD_OUT
                  - date: '2025-03-19'
                    reason: SOLD_OUT
                  - date: '2025-03-26'
                    reason: SOLD_OUT
                  - date: '2025-06-28'
                    reason: SOLD_OUT
                  - date: '2025-06-01'
                    reason: SOLD_OUT
                  - date: '2025-06-21'
                    reason: SOLD_OUT
                  - date: '2025-03-28'
                    reason: SOLD_OUT
                  - date: '2025-04-02'
                    reason: SOLD_OUT
                  - date: '2025-03-21'
                    reason: SOLD_OUT
                  - date: '2025-04-01'
                    reason: SOLD_OUT
                  - date: '2025-12-07'
                    reason: SOLD_OUT
                  - date: '2025-07-05'
                    reason: SOLD_OUT
                  - date: '2025-05-13'
                    reason: SOLD_OUT
                  - date: '2025-03-30'
                    reason: SOLD_OUT
                  - date: '2025-03-23'
                    reason: SOLD_OUT
                  - date: '2025-06-10'
                    reason: SOLD_OUT
                  - date: '2025-10-10'
                    reason: SOLD_OUT
                  - date: '2025-12-09'
                    reason: SOLD_OUT
                - startTime: '14:30'
                - startTime: '15:00'
                  unavailableDates:
                  - date: '2025-03-24'
                    reason: SOLD_OUT
                  - date: '2025-05-09'
                    reason: SOLD_OUT
                  - date: '2025-05-07'
                    reason: SOLD_OUT
                  - date: '2025-03-31'
                    reason: SOLD_OUT
                  - date: '2025-03-17'
                    reason: SOLD_OUT
                  - date: '2025-07-06'
                    reason: SOLD_OUT
                  - date: '2025-03-22'
                    reason: SOLD_OUT
                  - date: '2025-06-10'
                    reason: SOLD_OUT
                  - date: '2025-05-02'
                    reason: SOLD_OUT
                  - date: '2025-12-09'
                    reason: SOLD_OUT
                  - date: '2025-10-10'
                    reason: SOLD_OUT
                  - date: '2025-03-29'
                    reason: SOLD_OUT
                  - date: '2025-03-28'
                    reason: SOLD_OUT
                  - date: '2025-12-05'
                    reason: SOLD_OUT
                  - date: '2025-05-13'
                    reason: SOLD_OUT
                  - date: '2025-03-21'
                    reason: SOLD_OUT
                  - date: '2025-10-27'
                    reason: SOLD_OUT
                  - date: '2025-10-01'
                    reason: SOLD_OUT
                  - date: '2025-04-14'
                    reason: SOLD_OUT
                  - date: '2025-03-26'
                    reason: SOLD_OUT
                  - date: '2025-12-07'
                    reason: SOLD_OUT
                  - date: '2025-07-05'
                    reason: SOLD_OUT
                  - date: '2025-04-02'
                    reason: SOLD_OUT
                  - date: '2025-06-01'
                    reason: SOLD_OUT
                  - date: '2025-03-19'
                    reason: SOLD_OUT
                  - date: '2025-05-01'
                    reason: SOLD_OUT
                  - date: '2025-12-10'
                    reason: SOLD_OUT
                  - date: '2025-07-09'
                    reason: SOLD_OUT
                  - date: '2025-06-25'
                    reason: SOLD_OUT
                  - date: '2025-12-08'
                    reason: SOLD_OUT
                  - date: '2025-03-30'
                    reason: SOLD_OUT
                  - date: '2025-03-23'
                    reason: SOLD_OUT
                  - date: '2025-07-04'
                    reason: SOLD_OUT
                  - date: '2025-03-20'
                    reason: SOLD_OUT
                  - date: '2025-04-01'
                    reason: SOLD_OUT
                  - date: '2025-03-27'
                    reason: SOLD_OUT
                  - date: '2025-06-21'
                    reason: SOLD_OUT
                  - date: '2025-09-24'
                    reason: SOLD_OUT
                  - date: '2025-03-18'
                    reason: SOLD_OUT
                  - date: '2025-03-25'
                    reason: SOLD_OUT
                  - date: '2025-12-06'
                    reason: SOLD_OUT
                  - date: '2025-06-28'
                    reason: SOLD_OUT
                - startTime: '11:00'
                pricingDetails:
                - pricingPackageType: PER_PERSON
                  minTravelers: 1
                  maxTravelers: 1
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 275
                      partnerNetPrice: 253
                      bookingFee: 0
                      commission: 22
                      partnerTotalPrice: 253
                - pricingPackageType: PER_PERSON
                  minTravelers: 7
                  maxTravelers: 7
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 41
                      partnerNetPrice: 37.72
                      bookingFee: 0
                      commission: 3.28
                      partnerTotalPrice: 37.72
                - pricingPackageType: PER_PERSON
                  minTravelers: 5
                  maxTravelers: 5
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 55
                      partnerNetPrice: 50.6
                      bookingFee: 0
                      commission: 4.4
                      partnerTotalPrice: 50.6
                - pricingPackageType: PER_PERSON
                  minTravelers: 8
                  maxTravelers: 8
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 35
                      partnerNetPrice: 32.2
                      bookingFee: 0
                      commission: 2.8
                      partnerTotalPrice: 32.2
                - pricingPackageType: PER_PERSON
                  minTravelers: 6
                  maxTravelers: 6
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 46
                      partnerNetPrice: 42.32
                      bookingFee: 0
                      commission: 3.68
                      partnerTotalPrice: 42.32
                - pricingPackageType: PER_PERSON
                  minTravelers: 2
                  maxTravelers: 2
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 138
                      partnerNetPrice: 126.96
                      bookingFee: 0
                      commission: 11.04
                      partnerTotalPrice: 126.96
                - pricingPackageType: PER_PERSON
                  minTravelers: 4
                  maxTravelers: 4
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 71
                      partnerNetPrice: 65.32
                      bookingFee: 0
                      commission: 5.68
                      partnerTotalPrice: 65.32
                - pricingPackageType: PER_PERSON
                  minTravelers: 3
                  maxTravelers: 3
                  ageBand: ADULT
                  price:
                    original:
                      recommendedRetailPrice: 92
                      partnerNetPrice: 84.64
                      bookingFee: 0
                      commission: 7.36
                      partnerTotalPrice: 84.64
          currency: EUR
          summary:
            fromPrice: 138
          extraChargesSummary:
            fromPrice: 157
            extraCharges: 19
    availability-schedules-46334P42-example:
      summary: /availability/schedules/46334P42
      value:
        productCode: 46334P42
        bookableItems:
        - productOptionCode: TG5
          seasons:
          - startDate: '2020-11-01'
            pricingRecords:
            - daysOfWeek:
              - TUESDAY
              - WEDNESDAY
              - THURSDAY
              - FRIDAY
              timedEntries:
              - startTime: '16:45'
                unavailableDates:
                - date: '2020-12-29'
                  reason: SOLD_OUT
                - date: '2021-03-16'
                  reason: SOLD_OUT
                - date: '2021-03-25'
                  reason: SOLD_OUT
                - date: '2021-04-07'
                  reason: SOLD_OUT
                - date: '2020-11-19'
                  reason: SOLD_OUT
                - date: '2021-01-05'
                  reason: SOLD_OUT
                - date: '2020-12-01'
                  reason: SOLD_OUT
                - date: '2020-12-10'
                  reason: SOLD_OUT
                - date: '2021-01-06'
                  reason: SOLD_OUT
                - date: '2021-04-16'
                  reason: SOLD_OUT
                - date: '2021-03-26'
                  reason: SOLD_OUT
                - date: '2020-11-20'
                  reason: SOLD_OUT
                - date: '2021-01-15'
                  reason: SOLD_OUT
                - date: '2021-02-24'
                  reason: SOLD_OUT
                - date: '2021-03-24'
                  reason: SOLD_OUT
                - date: '2020-11-18'
                  reason: SOLD_OUT
                - date: '2021-03-17'
                  reason: SOLD_OUT
                - date: '2020-12-02'
                  reason: SOLD_OUT
                - date: '2021-02-25'
                  reason: SOLD_OUT
                - date: '2020-12-09'
                  reason: SOLD_OUT
                - date: '2021-04-08'
                  reason: SOLD_OUT
                - date: '2021-04-15'
                  reason: SOLD_OUT
                - date: '2021-02-04'
                  reason: SOLD_OUT
                - date: '2020-12-30'
                  reason: SOLD_OUT
                - date: '2021-03-09'
                  reason: SOLD_OUT
                - date: '2020-11-26'
                  reason: SOLD_OUT
                - date: '2021-04-28'
                  reason: SOLD_OUT
                - date: '2021-01-26'
                  reason: SOLD_OUT
                - date: '2021-01-12'
                  reason: SOLD_OUT
                - date: '2021-04-14'
                  reason: SOLD_OUT
                - date: '2021-03-23'
                  reason: SOLD_OUT
                - date: '2021-02-17'
                  reason: SOLD_OUT
                - date: '2020-12-17'
                  reason: SOLD_OUT
                - date: '2021-02-03'
                  reason: SOLD_OUT
                - date: '2020-12-03'
                  reason: SOLD_OUT
                - date: '2020-11-27'
                  reason: SOLD_OUT
                - date: '2020-12-31'
                  reason: SOLD_OUT
                - date: '2021-05-06'
                  reason: SOLD_OUT
                - date: '2021-04-06'
                  reason: SOLD_OUT
                - date: '2021-04-13'
                  reason: SOLD_OUT
                - date: '2021-04-27'
                  reason: SOLD_OUT
                - date: '2021-04-20'
                  reason: SOLD_OUT
                - date: '2020-12-25'
                  reason: SOLD_OUT
                - date: '2021-02-02'
                  reason: SOLD_OUT
                - date: '2021-05-05'
                  reason: SOLD_OUT
                - date: '2021-02-16'
                  reason: SOLD_OUT
                - date: '2021-02-09'
                  reason: SOLD_OUT
                - date: '2021-02-23'
                  reason: SOLD_OUT
                - date: '2020-12-18'
                  reason: SOLD_OUT
                - date: '2020-12-04'
                  reason: SOLD_OUT
                - date: '2020-12-11'
                  reason: SOLD_OUT
                - date: '2021-04-21'
                  reason: SOLD_OUT
                - date: '2021-03-02'
                  reason: SOLD_OUT
                - date: '2021-03-11'
                  reason: SOLD_OUT
                - date: '2021-01-19'
                  reason: SOLD_OUT
                - date: '2021-03-30'
                  reason: SOLD_OUT
                - date: '2020-12-15'
                  reason: SOLD_OUT
                - date: '2020-11-24'
                  reason: SOLD_OUT
                - date: '2021-02-10'
                  reason: SOLD_OUT
                - date: '2021-03-12'
                  reason: SOLD_OUT
                - date: '2021-04-02'
                  reason: SOLD_OUT
                - date: '2021-05-04'
                  reason: SOLD_OUT
                - date: '2021-01-29'
                  reason: SOLD_OUT
                - date: '2021-01-20'
                  reason: SOLD_OUT
                - date: '2020-12-24'
                  reason: SOLD_OUT
                - date: '2021-01-01'
                  reason: SOLD_OUT
                - date: '2021-04-30'
                  reason: SOLD_OUT
                - date: '2020-11-25'
                  reason: SOLD_OUT
                - date: '2021-03-31'
                  reason: SOLD_OUT
                - date: '2021-03-03'
                  reason: SOLD_OUT
                - date: '2021-03-10'
                  reason: SOLD_OUT
                - date: '2021-04-01'
                  reason: SOLD_OUT
                - date: '2020-12-16'
                  reason: SOLD_OUT
                - date: '2020-12-23'
                  reason: SOLD_OUT
                - date: '2021-04-22'
                  reason: SOLD_OUT
                - date: '2021-02-11'
                  reason: SOLD_OUT
                - date: '2021-04-29'
                  reason: SOLD_OUT
                - date: '2021-02-18'
                  reason: SOLD_OUT
                - date: '2020-11-17'
                  reason: SOLD_OUT
                - date: '2020-12-22'
                  reason: SOLD_OUT
                - date: '2020-12-08'
                  reason: SOLD_OUT
                - date: '2021-03-04'
                  reason: SOLD_OUT
                - date: '2021-03-18'
                  reason: SOLD_OUT
                - date: '2021-04-09'
                  reason: SOLD_OUT
                - date: '2021-01-22'
                  reason: SOLD_OUT
                - date: '2021-01-13'
                  reason: SOLD_OUT
                - date: '2021-03-19'
                  reason: SOLD_OUT
                - date: '2021-03-05'
                  reason: SOLD_OUT
                - date: '2021-01-08'
                  reason: SOLD_OUT
                - date: '2021-01-27'
                  reason: SOLD_OUT
                - date: '2021-04-23'
                  reason: SOLD_OUT
                - date: '2021-02-05'
                  reason: SOLD_OUT
                - date: '2021-02-12'
                  reason: SOLD_OUT
                - date: '2021-02-19'
                  reason: SOLD_OUT
                - date: '2021-02-26'
                  reason: SOLD_OUT
                - date: '2021-01-07'
                  reason: SOLD_OUT
                - date: '2021-01-28'
                  reason: SOLD_OUT
                - date: '2021-01-14'
                  reason: SOLD_OUT
                - date: '2021-01-21'
                  reason: SOLD_OUT
              - startTime: '17:45'
                unavailableDates:
                - date: '2021-02-16'
                  reason: SOLD_OUT
                - date: '2021-04-08'
                  reason: SOLD_OUT
                - date: '2020-12-02'
                  reason: SOLD_OUT
                - date: '2020-12-11'
                  reason: SOLD_OUT
                - date: '2021-03-26'
                  reason: SOLD_OUT
                - date: '2021-01-06'
                  reason: SOLD_OUT
                - date: '2020-12-30'
                  reason: SOLD_OUT
                - date: '2020-11-20'
                  reason: SOLD_OUT
                - date: '2021-03-16'
                  reason: SOLD_OUT
                - date: '2021-04-27'
                  reason: SOLD_OUT
                - date: '2021-01-15'
                  reason: SOLD_OUT
                - date: '2021-02-26'
                  reason: SOLD_OUT
                - date: '2021-02-17'
                  reason: SOLD_OUT
                - date: '2021-04-07'
                  reason: SOLD_OUT
                - date: '2020-12-01'
                  reason: SOLD_OUT
                - date: '2021-02-24'
                  reason: SOLD_OUT
                - date: '2020-12-22'
                  reason: SOLD_OUT
                - date: '2021-03-25'
                  reason: SOLD_OUT
                - date: '2021-04-28'
                  reason: SOLD_OUT
                - date: '2021-01-14'
                  reason: SOLD_OUT
                - date: '2021-03-18'
                  reason: SOLD_OUT
                - date: '2020-12-29'
                  reason: SOLD_OUT
                - date: '2020-11-19'
                  reason: SOLD_OUT
                - date: '2021-01-07'
                  reason: SOLD_OUT
                - date: '2020-12-04'
                  reason: SOLD_OUT
                - date: '2021-01-27'
                  reason: SOLD_OUT
                - date: '2021-04-01'
                  reason: SOLD_OUT
                - date: '2021-05-06'
                  reason: SOLD_OUT
                - date: '2020-11-27'
                  reason: SOLD_OUT
                - date: '2021-04-29'
                  reason: SOLD_OUT
                - date: '2021-01-13'
                  reason: SOLD_OUT
                - date: '2021-04-15'
                  reason: SOLD_OUT
                - date: '2021-03-23'
                  reason: SOLD_OUT
                - date: '2021-02-05'
                  reason: SOLD_OUT
                - date: '2021-02-19'
                  reason: SOLD_OUT
                - date: '2021-03-09'
                  reason: SOLD_OUT
                - date: '2021-04-23'
                  reason: SOLD_OUT
                - date: '2021-01-05'
                  reason: SOLD_OUT
                - date: '2021-04-30'
                  reason: SOLD_OUT
                - date: '2021-04-16'
                  reason: SOLD_OUT
                - date: '2021-01-12'
                  reason: SOLD_OUT
                - date: '2021-01-26'
                  reason: SOLD_OUT
                - date: '2021-01-19'
                  reason: SOLD_OUT
                - date: '2021-04-09'
                  reason: SOLD_OUT
                - date: '2021-04-02'
                  reason: SOLD_OUT
                - date: '2021-03-31'
                  reason: SOLD_OUT
                - date: '2021-02-04'
                  reason: SOLD_OUT
                - date: '2021-02-11'
                  reason: SOLD_OUT
                - date: '2021-03-17'
                  reason: SOLD_OUT
                - date: '2021-03-24'
                  reason: SOLD_OUT
                - date: '2021-03-10'
                  reason: SOLD_OUT
                - date: '2021-02-18'
                  reason: SOLD_OUT
                - date: '2021-02-25'
                  reason: SOLD_OUT
                - date: '2021-03-03'
                  reason: SOLD_OUT
                - date: '2021-03-12'
                  reason: SOLD_OUT
                - date: '2021-01-20'
                  reason: SOLD_OUT
                - date: '2021-05-04'
                  reason: SOLD_OUT
                - date: '2020-12-25'
                  reason: SOLD_OUT
                - date: '2021-02-02'
                  reason: SOLD_OUT
                - date: '2020-12-16'
                  reason: SOLD_OUT
                - date: '2021-04-22'
                  reason: SOLD_OUT
                - date: '2021-02-12'
                  reason: SOLD_OUT
                - date: '2021-03-30'
                  reason: SOLD_OUT
                - date: '2020-11-24'
                  reason: SOLD_OUT
                - date: '2021-01-01'
                  reason: SOLD_OUT
                - date: '2021-04-13'
                  reason: SOLD_OUT
                - date: '2021-01-29'
                  reason: SOLD_OUT
                - date: '2021-03-02'
                  reason: SOLD_OUT
                - date: '2021-03-11'
                  reason: SOLD_OUT
                - date: '2020-12-08'
                  reason: SOLD_OUT
                - date: '2021-01-21'
                  reason: SOLD_OUT
                - date: '2021-04-14'
                  reason: SOLD_OUT
                - date: '2021-03-04'
                  reason: SOLD_OUT
                - date: '2021-01-28'
                  reason: SOLD_OUT
                - date: '2021-02-03'
                  reason: SOLD_OUT
                - date: '2021-04-21'
                  reason: SOLD_OUT
                - date: '2020-11-26'
                  reason: SOLD_OUT
                - date: '2020-12-15'
                  reason: SOLD_OUT
                - date: '2021-02-10'
                  reason: SOLD_OUT
                - date: '2021-05-05'
                  reason: SOLD_OUT
                - date: '2020-12-09'
                  reason: SOLD_OUT
                - date: '2021-03-05'
                  reason: SOLD_OUT
                - date: '2020-12-18'
                  reason: SOLD_OUT
                - date: '2020-12-23'
                  reason: SOLD_OUT
                - date: '2021-02-23'
                  reason: SOLD_OUT
                - date: '2021-03-19'
                  reason: SOLD_OUT
                - date: '2021-02-09'
                  reason: SOLD_OUT
                - date: '2020-11-17'
                  reason: SOLD_OUT
                - date: '2021-01-08'
                  reason: SOLD_OUT
                - date: '2021-04-20'
                  reason: SOLD_OUT
                - date: '2021-04-06'
                  reason: SOLD_OUT
                - date: '2021-01-22'
                  reason: SOLD_OUT
                - date: '2020-12-24'
                  reason: SOLD_OUT
                - date: '2020-12-17'
                  reason: SOLD_OUT
                - date: '2020-12-31'
                  reason: SOLD_OUT
                - date: '2020-12-10'
                  reason: SOLD_OUT
                - date: '2020-12-03'
                  reason: SOLD_OUT
                - date: '2020-11-18'
                  reason: SOLD_OUT
                - date: '2020-11-25'
                  reason: SOLD_OUT
              - startTime: '16:15'
                unavailableDates:
                - date: '2021-02-02'
                  reason: SOLD_OUT
                - date: '2021-01-29'
                  reason: SOLD_OUT
                - date: '2020-12-25'
                  reason: SOLD_OUT
                - date: '2021-05-04'
                  reason: SOLD_OUT
                - date: '2020-12-16'
                  reason: SOLD_OUT
                - date: '2021-03-12'
                  reason: SOLD_OUT
                - date: '2021-04-22'
                  reason: SOLD_OUT
                - date: '2021-01-20'
                  reason: SOLD_OUT
                - date: '2021-02-11'
                  reason: SOLD_OUT
                - date: '2021-01-01'
                  reason: SOLD_OUT
                - date: '2021-04-13'
                  reason: SOLD_OUT
                - date: '2021-03-02'
                  reason: SOLD_OUT
                - date: '2021-03-30'
                  reason: SOLD_OUT
                - date: '2021-03-11'
                  reason: SOLD_OUT
                - date: '2021-01-19'
                  reason: SOLD_OUT
                - date: '2020-11-24'
                  reason: SOLD_OUT
                - date: '2020-12-17'
                  reason: SOLD_OUT
                - date: '2021-04-02'
                  reason: SOLD_OUT
                - date: '2021-02-19'
                  reason: SOLD_OUT
                - date: '2021-02-12'
                  reason: SOLD_OUT
                - date: '2021-04-23'
                  reason: SOLD_OUT
                - date: '2020-12-24'
                  reason: SOLD_OUT
                - date: '2021-04-30'
                  reason: SOLD_OUT
                - date: '2021-03-03'
                  reason: SOLD_OUT
                - date: '2021-03-31'
                  reason: SOLD_OUT
                - date: '2021-03-10'
                  reason: SOLD_OUT
                - date: '2020-11-25'
                  reason: SOLD_OUT
                - date: '2021-04-01'
                  reason: SOLD_OUT
                - date: '2021-04-15'
                  reason: SOLD_OUT
                - date: '2021-02-09'
                  reason: SOLD_OUT
                - date: '2021-02-23'
                  reason: SOLD_OUT
                - date: '2020-11-27'
                  reason: SOLD_OUT
                - date: '2021-02-18'
                  reason: SOLD_OUT
                - date: '2021-05-06'
                  reason: SOLD_OUT
                - date: '2020-12-04'
                  reason: SOLD_OUT
                - date: '2020-12-18'
                  reason: SOLD_OUT
                - date: '2021-02-04'
                  reason: SOLD_OUT
                - date: '2020-11-26'
                  reason: SOLD_OUT
                - date: '2021-04-06'
                  reason: SOLD_OUT
                - date: '2021-01-26'
                  reason: SOLD_OUT
                - date: '2021-04-29'
                  reason: SOLD_OUT
                - date: '2021-03-09'
                  reason: SOLD_OUT
                - date: '2021-01-12'
                  reason: SOLD_OUT
                - date: '2021-03-23'
                  reason: SOLD_OUT
                - date: '2021-04-20'
                  reason: SOLD_OUT
                - date: '2021-05-05'
                  reason: SOLD_OUT
                - date: '2021-02-17'
                  reason: SOLD_OUT
                - date: '2021-02-10'
                  reason: SOLD_OUT
                - date: '2021-02-03'
                  reason: SOLD_OUT
                - date: '2021-02-24'
                  reason: SOLD_OUT
                - date: '2021-04-28'
                  reason: SOLD_OUT
                - date: '2021-04-21'
                  reason: SOLD_OUT
                - date: '2021-04-07'
                  reason: SOLD_OUT
                - date: '2021-04-14'
                  reason: SOLD_OUT
                - date: '2020-12-02'
                  reason: SOLD_OUT
                - date: '2021-02-25'
                  reason: SOLD_OUT
                - date: '2021-04-08'
                  reason: SOLD_OUT
                - date: '2021-02-16'
                  reason: SOLD_OUT
                - date: '2021-01-06'
                  reason: SOLD_OUT
                - date: '2020-11-20'
                  reason: SOLD_OUT
                - date: '2021-03-26'
                  reason: SOLD_OUT
                - date: '2020-12-11'
                  reason: SOLD_OUT
                - date: '2021-01-15'
                  reason: SOLD_OUT
                - date: '2021-03-16'
                  reason: SOLD_OUT
                - date: '2020-12-30'
                  reason: SOLD_OUT
                - date: '2021-03-25'
                  reason: SOLD_OUT
                - date: '2021-01-05'
                  reason: SOLD_OUT
                - date: '2020-11-19'
                  reason: SOLD_OUT
                - date: '2021-04-27'
                  reason: SOLD_OUT
                - date: '2021-04-09'
                  reason: SOLD_OUT
                - date: '2020-12-10'
                  reason: SOLD_OUT
                - date: '2021-04-16'
                  reason: SOLD_OUT
                - date: '2020-12-03'
                  reason: SOLD_OUT
                - date: '2021-02-26'
                  reason: SOLD_OUT
                - date: '2020-12-31'
                  reason: SOLD_OUT
                - date: '2020-11-18'
                  reason: SOLD_OUT
                - date: '2021-03-17'
                  reason: SOLD_OUT
                - date: '2021-03-24'
                  reason: SOLD_OUT
                - date: '2021-01-22'
                  reason: SOLD_OUT
                - date: '2021-01-13'
                  reason: SOLD_OUT
                - date: '2020-12-09'
                  reason: SOLD_OUT
                - date: '2021-03-05'
                  reason: SOLD_OUT
                - date: '2021-03-19'
                  reason: SOLD_OUT
                - date: '2021-01-08'
                  reason: SOLD_OUT
                - date: '2021-01-27'
                  reason: SOLD_OUT
                - date: '2020-11-17'
                  reason: SOLD_OUT
                - date: '2021-02-05'
                  reason: SOLD_OUT
                - date: '2020-12-23'
                  reason: SOLD_OUT
                - date: '2021-03-04'
                  reason: SOLD_OUT
                - date: '2021-03-18'
                  reason: SOLD_OUT
                - date: '2021-01-14'
                  reason: SOLD_OUT
                - date: '2021-01-07'
                  reason: SOLD_OUT
                - date: '2021-01-28'
                  reason: SOLD_OUT
                - date: '2021-01-21'
                  reason: SOLD_OUT
[...]
