openapi: 3.2.0
info:
  title: Viator API Documentation & Specification – Merchant…
  description: 'code { white-space: nowrap; }

    a { font-weight: bold; }


    figure {

    width: 100%;

    text-align: center;

    font-style: italic;

    font-size: smaller;

    text-indent: 0;

    border: thin silver solid;

    margin: 0.5em;

    padding: 0.5em;

    }


    ## Updates


    ### Latest update:


    | Date | Description |

    |------|-------------|

    | 23 Feb 2023 | Modified ''Building in the sandbox environment'' section of the Selling on-request products section |

    | 16 Nov 2022 | Mentioned need to verify whether a particular tour grade offers pickup…'
  version: 1.0.0
  contact:
    name: Viator Partner Support Team
    url: https://docs.viator.com/partner-api/merchant/#support-procedures-merchant/
    email: affiliateapi@tripadvisor.com
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au
servers:
- url: https://viatorapi.viator.com/service
  description: Production server (uses live data)
- url: https://viatorapi.sandbox.viator.com/service
  description: Sandbox server (uses test data)
security:
- API-key: []
- Legacy-API-key: []
tags:
- name: General services
  description: General services
paths:
  /health/check:
    get:
      tags:
      - General services
      summary: /health/check
      operationId: healthCheck
      description: 'Health check

        Use this service to determine whether the Viator API is presently online and that your API key is valid. You should receive a response identical to the example shown. If you have not yet received an API key, please request one from your business development partner. If you have not yet signed up as a Viator merchant partner and would like to, please visit our distribution partner website."'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  allGood:
                    type:
                    - boolean
                    - 'null'
                    description: '**indicator**: `true` signifies health'
                  dbOk:
                    type:
                    - boolean
                    - 'null'
                    description: '**indicator**: `true` signifies health'
                  memcachedOk:
                    type:
                    - boolean
                    - 'null'
                    description: '**indicator**: `true` signifies health'
                  capiOk:
                    type:
                    - boolean
                    - 'null'
                    description: '**indicator**: `true` signifies health'
                  message:
                    type:
                    - string
                    - 'null'
                    description: '**natural-language description** of any issues regarding the health of the API'
              examples:
                '1':
                  $ref: '#/components/examples/health-check-example'
components:
  examples:
    health-check-example:
      summary: health check example
      value:
        allGood: true
        dbOk: true
        memcachedOk: true
        capiOk: true
        message: null
  parameters:
    acceptLanguage:
      in: header
      name: Accept-Language
      description: 'Specifies the language into which the natural-language fields in the response from this service will be translated (see [Accept-Language header](#section/Appendices/Accept-Language-header) for available language codes)

        '
      required: true
      schema:
        type: string
        example: en-US
  securitySchemes:
    API-key:
      type: apiKey
      in: header
      name: exp-api-key
    Legacy-API-key:
      type: apiKey
      in: query
      name: apiKey
