openapi: 3.2.0
info:
  title: Viator API Documentation & Specification - Affiliate…
  description: 'code { white-space: nowrap; }

    a { font-weight: bold; }


    figure {

    width: 100%;

    text-align: center;

    font-style: italic;

    font-size: smaller;

    text-indent: 0;

    border: thin silver solid;

    margin: 0.5em;

    padding: 0.5em;

    }


    ## Updates


    | Date | Description |

    |------|-------------|

    | 26 May 2022 | Added advice about review authenticity: Key concepts - Review authenticity |

    | 11 Feb 2022 | Added note about no-index policy to /attraction, /attraction/photos, /attraction/reviews and /search/attractions…'
  version: '1.0'
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au
  contact:
    name: Viator Partner Support Team
    email: affiliateapi@tripadvisor.com
servers:
- url: https://viatorapi.viator.com/service
  description: Production server
security:
- API-key: []
- Legacy-API-key: []
tags:
- name: Support Services
  description: Support services
paths:
  /support/customercare:
    get:
      tags:
      - Support Services
      summary: /support/customercare
      operationId: supportCustomercare
      description: This endpoint returns the URL to the Viator help page.
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/basicErrorModel'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        url:
                          type: string
                          description: '**URL** for the Viator help page'
                          example: http://www.viator.com/customer-care?eap=brand-subbrand-16721&aid=vba16721en
              examples:
                '1':
                  $ref: '#/components/examples/support-customercare-example'
components:
  examples:
    support-customercare-example:
      summary: /support/customercare
      value:
        errorReference: null
        data:
          url: '"http://www.viator.com/customer-care?eap=brand-subbrand-16721&aid=vba16721en'
        dateStamp: 2020-04-21T17:05:27+0000
        errorType: null
        errorCodes: []
        errorMessage: null
        errorName: null
        extraInfo: {}
        extraObject: null
        success: true
        totalCount: 1
        errorMessageText: null
        vmid: '331002'
  parameters:
    acceptLanguage:
      in: header
      name: Accept-Language
      description: 'Specifies the language into which the natural-language fields in the response from this service will be translated (see [Accept-Language header](#section/Appendices/Accept-Language-header) for available language codes)

        '
      required: true
      schema:
        type: string
  schemas:
    basicErrorModel:
      type: object
      properties:
        errorReference:
          type: string
          example: null
          description: '**reference number** of *this* error'
        dateStamp:
          type: string
          example: 2017-11-24T21:30:47+0000
          description: '**timestamp** of *this* response'
        errorType:
          type: string
          description: '**code** specifying the type of error'
          example: null
        errorCodes:
          type: array
          description: '**array** of error codes pertaining to *this* error

            - See: [Exception error codes](#section/Appendices/Exception-error-codes) for a list of possible error codes

            '
          items:
            type: string
          example: []
        errorMessage:
          type: array
          description: '**array** of error message strings'
          example: null
        errorName:
          type: string
          example: null
          description: '**name** of *this* type of error'
        extraInfo:
          type: object
          description: ignore (Viator only)
        extraObject:
          type: object
          description: ignore (Viator only)
        success:
          type: boolean
          example: true
          description: '**boolean indicator** of *this* request''s outcome

            - `true`: the request was successful with no errors

            - `false`: an error was encountered

            '
        totalCount:
          type: integer
          example: 1
          description: '**number** of results available for *this* service

            '
        errorMessageText:
          type: string
          example: null
          description: '**array** of error message strings in plain text'
        vmid:
          type: string
          example: '321050'
          description: '**unique numeric id** of the server that processed *this* request'
  securitySchemes:
    Legacy-API-key:
      type: apiKey
      in: query
      name: apiKey
    API-key:
      type: apiKey
      in: header
      name: exp-api-key
