openapi: 3.2.0
info:
  title: Viator Partner Auxiliary API
  description: 'code { white-space: nowrap; }

    a { font-weight: bold; }


    figure {

    width: 100%;

    text-align: center;

    font-style: italic;

    font-size: smaller;

    text-indent: 0;

    border: thin silver solid;

    margin: 0.5em;

    padding: 0.5em;

    }


    ## Updates


    ### Latest updates:


    | Date | Description…'
  version: '2.0'
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/au/
servers:
- url: https://api.viator.com/partner
  description: Production server (uses live data)
- url: https://api.sandbox.viator.com/partner
  description: Sandbox server (uses test data)
security:
- API-key: []
tags:
- name: Auxiliary
paths:
  /search/freetext:
    post:
      tags:
      - Auxiliary
      description: 'Perform a search for products, attractions and/or destinations that contain a free-text search term. Product results can be filtered and sorted according to various criteria.

        This endpoint must not be used to ingest the catalog of products, the /products/modified-since endpoint must be used for that purpose.


        **Note**: Only **active** products are returned in the response from this endpoint.'
      operationId: searchFreeText
      summary: /search/freetext
      parameters:
      - name: Accept-Language
        in: header
        description: 'Specifies the language into which the natural-language fields in the response from this service will be translated.

          '
        required: true
        schema:
          type: string
        example: en, en-AU
      - $ref: '#/components/parameters/campaignValueProduct'
      - name: target-lander
        in: query
        description: 'Target lander page for affiliate productUrl

          '
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreetextSearchRequest'
            example:
              searchTerm: big
              productFiltering:
                destination: '77'
                dateRange:
                  from: '2023-01-01'
                  to: '2023-01-31'
                price:
                  from: 0
                  to: 1000
                rating:
                  from: 0
                  to: 5
                durationInMinutes:
                  from: 0
                  to: 1000
                tags:
                - 21972
                flags:
                - LIKELY_TO_SELL_OUT
                includeAutomaticTranslations: true
              productSorting:
                sort: PRICE
                order: DESCENDING
              searchTypes:
              - searchType: PRODUCTS
                pagination:
                  start: 1
                  count: 3
              - searchType: ATTRACTIONS
                pagination:
                  start: 1
                  count: 1
              - searchType: DESTINATIONS
                pagination:
                  start: 1
                  count: 1
              currency: USD
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/FreetextSearchResponse'
              examples:
                '1':
                  $ref: '#/components/examples/search-freetext-example'
                extra charges:
                  $ref: '#/components/examples/search-freetext-extra-charges-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /locations/bulk:
    post:
      tags:
      - Auxiliary
      summary: /locations/bulk
      description: 'Get full location details for the requested location references. Locations should be cached and refreshed monthly. Additionally, the /locations/bulk endpoint should be used on demand for any new location references returned in the product content response.


        **Note**: If no response is received for a given location reference, this means that the location was either removed from our database or replaced by a different one. If this occurs, please disregard the removed location reference and make sure you update the associated product information.


        (Response sample generated on: 2020-08-25)'
      operationId: locationsBulk
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BulkLocationReferencesRequest'
            example:
              locations:
              - LOC-f698f2a1-a53a-46bb-8708-3d45bf740f59
              - LOC-9e88ac35-2e2c-4ecc-af8d-10b76770785f
              - LOC-453b3cd4-4afa-414d-a8d8-bedb458d73fe
              - CONTACT_SUPPLIER_LATER
              - MEET_AT_DEPARTURE_POINT
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/LocationsResponse'
              examples:
                '1':
                  $ref: '#/components/examples/locations-bulk-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /exchange-rates:
    post:
      tags:
      - Auxiliary
      summary: /exchange-rates
      description: 'This endpoint gets the exchange rates for conversions between specified currencies.

        Exchange rates should be cached and refreshed based on the expiry timestamp (at the moment daily).


        In this API, all pricing is denominated in the currency of the supplier. For example, if a tour operates in Thailand, its prices will be given in Thai Baht (THB).


        Not all supplier currencies are supported, but many are. They comprise:


        - AED, ARS, AUD, BRL, CAD, CHF, CLP, CNY, COP, DKK, EUR, FJD, GBP

        - HKD, IDR, ILS, INR, ISK, JPY, KRW, MXN, MYR, NOK, NZD, PEN, PHP, PLN,

        - RUB, SEK, SGD, THB, TRY, TWD, USD, VND, ZAR


        While pricing can be in any of the currencies listed above, payments for bookings can only be made using the following four currencies:


        - GBP (British Pound)

        - EUR (Euros)

        - USD (US Dollars)

        - AUD (Australian dollars)


        In order that you display the correct price to the user and charge accordingly, it is important that you perform the currency conversion based on the exchange rates given in the response from this endpoint and that these conversion rates are valid at the time of conversion (as given in the `expiry` field).


        In doing so, you ensure the amount that you, the merchant, will be invoiced by Viator for this product matches your records. Discrepancies are bound to occur if you perform the calculations using expired exchange rates or those from an alternative source.


        An additional measure to ensure that you charge your customer accurately is to confirm that the pricing details returned by the /availability/check endpoint (in the billing currency specified in the request) conform to your expectations. The information provided by this service is the definitive source of truth with regard to product pricing.


        **Note:** If you attempt to use an unsupported currency when making a booking request, you will receive the following error:


        ```javascript

        Incorrect currency code provided

        ```


        **Note**: In order to reduce the number of calls made to this service, we recommend retrieving the exchange rate for the currency pair in question just once for the time period during which it is valid, and then applying that rate to all products with pricing denominated in that currency rather than calling this endpoint for each product requiring currency conversion.


        Learn more about calculating product pricing in this article: Calculating Product Pricing


        (Response sample generated on: 2020-09-17)'
      operationId: exchangeRates
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/ExchangeRatesRequest'
            example:
              sourceCurrencies:
              - AUD
              - EUR
              - USD
              - GBP
              targetCurrencies:
              - AUD
              - EUR
              - USD
              - GBP
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ExchangeRatesResponse'
              examples:
                '1':
                  $ref: '#/components/examples/exchange-rates-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /reviews/product:
    post:
      tags:
      - Auxiliary
      description: 'Retrieves and filters reviews for a **single** product

        Reviews should be cached and refreshed weekly, as well as on-demand when you see that the product content endpoint returns a different review count than saved in your database for the product.


        **Non-indexing of reviews**


        - Review content is protected proprietary information; therefore, you may not allow review content to be indexed by search engines. In order for your site to be certified, you will need to demonstrate that you have implemented systems to ensure that review content is non-indexed. For more information, see Key concepts - Protecting unique content.


        **Availability of reviews**


        - Occasionally, reviews are deleted due to inauthenticity, offensive language, etc. Furthermore, we cannot guarantee that non-Viator reviews (i.e., those for which the `provider` is not `"VIATOR"`) will remain available in future (however, you will receive a notification email to inform you should this occurr). As such, we require that you implement a mechanism by which locally-cached reviews are automatically deleted from your records (and are not displayed on your site) if they do not appear in the most recent response from this endpoint.


        **Viator performs checks on reviews**


        - For more information, see Key concepts - Review authenticity


        Note: Changing `Accept-Language`, `showMachineTranslated`, or `reviewsForNonPrimaryLocale` may change review ordering, pagination, and the apparent set of reviews returned for the same product. Partners should not assume stable pagination across different locale/translation settings.'
      operationId: reviewsProduct
      summary: /reviews/product
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/ProductReviewsRequest'
            example:
              productCode: 5010SYDNEY
              provider: ALL
              count: 10
              start: 1
              showMachineTranslated: true
              reviewsForNonPrimaryLocale: true
              ratings:
              - 1
              - 2
              - 3
              - 4
              - 5
              sortBy: MOST_RECENT_PER_LOCALE
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/ProductReviewsResponse'
              examples:
                '1':
                  $ref: '#/components/examples/products-reviews-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /suppliers/search/product-codes:
    post:
      tags:
      - Auxiliary
      summary: /suppliers/search/product-codes
      description: 'Gets a collection of supplier information objects for the provided products. Limited to 500 products per request.

        Supplier details should be cached and refreshed weekly.'
      operationId: suppliersSearchProductCodes
      requestBody:
        content:
          application/json;version=2.0:
            schema:
              $ref: '#/components/schemas/BulkSupplierProductRequest'
            example:
              productCodes:
              - 2855KENNEDY_TKTS
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/SupplierProductResponse'
              examples:
                Certified Business:
                  $ref: '#/components/examples/suppliers-search-product-codes-certified-business-example'
                Business:
                  $ref: '#/components/examples/suppliers-search-product-codes-business-example'
                Individual:
                  $ref: '#/components/examples/suppliers-search-product-codes-individual-example'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /destinations:
    get:
      tags:
      - Auxiliary
      operationId: destinations
      summary: /destinations
      description: 'Get details of all destinations supported by the API. Destinations should be refreshed weekly (in addition to on-demand updates when a new destination is returned in the product content response).


        **Note**:


        - Returns a complete list of Viator destinations, including destination names and parent identifiers

        - Used to provide navigation through drill down lists or combo boxes

        - Use the data received from this endpoint to resolve the destination identifier(s) in the `destinations[].ref` element in the product content response'
      parameters:
      - $ref: '#/components/parameters/acceptLanguage'
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/campaignValueDestination'
      responses:
        '200':
          description: Success
          headers:
            X-Unique-ID:
              $ref: '#/components/headers/XUniqueId'
            RateLimit-Limit:
              $ref: '#/components/headers/RateLimit-Limit'
            RateLimit-Remaining:
              $ref: '#/components/headers/RateLimit-Remaining'
            RateLimit-Reset:
              $ref: '#/components/headers/RateLimit-Reset'
          content:
            application/json;version=2.0:
              schema:
                $ref: '#/components/schemas/DestinationsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  headers:
    RateLimit-Reset:
      required: true
      schema:
        type: string
        description: 'The fixed window in time, in seconds, which represents when a limit is fully replenished. For informational purposes only.

          '
    XUniqueId:
      required: true
      schema:
        type: string
        description: 'Tracking identifier for this response. Please include the value of this field when making help requests.

          - **Example**: `"0A871A13:DE2A_0A8712F9:01BB_5DCCC98C_260DAA:0D5B"`

          '
    RateLimit-Remaining:
      required: true
      schema:
        type: string
        description: 'Remaining requests for this endpoint for a given window. For informational purposes only

          '
    Retry-After:
      required: true
      schema:
        type: string
        description: 'The fixed window in time, in seconds, which represents when a limit is fully replenished. For informational purposes only.

          '
    RateLimit-Limit:
      required: true
      schema:
        type: string
        description: 'Total limit of requests for this endpoint for a given window. For informational purposes only.

          '
  schemas:
    ExchangeRateItem:
      type: object
      properties:
        sourceCurrency:
          type: string
          description: Base currency for this conversion rate
        targetCurrency:
          type: string
          description: Target currency for this conversion rate
        rate:
          type: number
          description: Value of `targetCurrency` per unit of `sourceCurrency`
        lastUpdated:
          type: string
          format: date-time
          description: 'Timestamp (UTC) indicating the last time this currency exchange rate was updated

            '
        expiry:
          type: string
          format: date-time
          description: 'Timestamp (UTC) indicating until when this rate will apply

            '
    ProgressiveVideoVariant:
      type: object
      description: Progressive video variant
      required:
      - format
      - quality
      - url
      properties:
        format:
          type: string
          description: File format of the video (e.g. `MP4`).
          example: MP4
        quality:
          type: string
          description: Fixed playback quality or resolution of the video (e.g. `1080`, `720`).
          example: '1080'
        url:
          type: string
          description: Direct URL to the video file.
          example: https://hare-dynamic-media-cdn.tripadvisor.com/media/video-v/31/1f/5b/68/vid-693-rome-2017-vatican_1080.mp4
    ReviewPhotoInfo:
      type: object
      required:
      - photoVersions
      properties:
        photoVersions:
          type: array
          description: Width and height variants of this review image and associated URLs
          items:
            $ref: '#/components/schemas/ReviewPhoto'
    LocationCenter:
      type: object
      description: Geographic coordinates (latitude/longitude) for this location
      properties:
        latitude:
          type: number
          description: "Latitude of this location\n\n  - **Example**: `-33.870037`\n"
        longitude:
          type: number
          description: "Longitude of this location\n\n  - **Example**: `151.20955`\n"
    ReviewPhoto:
      type: object
      required:
      - height
      - width
      - url
      properties:
        height:
          type: integer
          format: int32
          description: Height of image in pixels
        width:
          type: integer
          format: int32
          description: Width of image in pixels
        url:
          type: string
          description: URL at which this image is located
    LocationsResponse:
      type: object
      required:
      - locations
      properties:
        locations:
          type: array
          description: Locations
          items:
            $ref: '#/components/schemas/Location'
    ContactDetails:
      type: object
      properties:
        email:
          type: string
          description: Email address of this supplier (for the office managing this product)
        address:
          type: string
          description: Address of this supplier (for the office managing this product)
        phone:
          type: string
          description: Phone number of this supplier (for the office managing this product)
        countryCode:
          type: string
          description: Country code of this supplier (for the office managing this product)
    TranslationDetails:
      type: object
      description: Information about whether the text in this response was machine-translated
      required:
      - containsMachineTranslatedText
      - translationSource
      properties:
        containsMachineTranslatedText:
          type: boolean
          description: Indicates whether this product description utilizes text in any of its natural language fields that was automatically machine-translated with no human oversight
        translationSource:
          type: string
          description: "One of:\n- `\"MACHINE\"` – The text provided by the supplier is in a **different language** and has been **automatically translated** by our systems with no human oversight.\n- `\"ORIGINAL\"` – The text provided by the supplier is in the language that is standard for their locale.\n- `\"MANUAL\"` – The text provided by the supplier was in a different language to the standard for their locale; however, whether this is a direct translation of the original text (performed either by machine or human) or whether it is a customised description for speakers of this language is not known. \n"
        translationAttribution:
          type: string
          description: "Value specifying the machine-translation service vendor. At present, translation attribution is not a requirement.\n\n  - **Example**: `\"GOOGLE\"`\n"
    ProductSearchPagination:
      type: object
      description: Pagination details specifying which search results to return based on start position and item count
      properties:
        start:
          type: integer
          minimum: 1
          default: 1
          description: Position of first filtered and ordered search result to be included in the response (1-based)
        count:
          type: integer
          minimum: 1
          default: 10
          maximum: 50
          description: Number of filtered and ordered search results to be returned in the response
    SearchType:
      type: object
      properties:
        searchType:
          type: string
          description: 'Specifies a domain within which the search should be performed


            One of:

            - `"ATTRACTIONS"`

            - `"DESTINATIONS"`

            - `"PRODUCTS"`

            '
        pagination:
          $ref: '#/components/schemas/ProductSearchPagination'
    ProductReviews:
      type: object
      description: "Summary of reviews and ratings for this product\n\n**Note**: \n\n  - Review data is updated daily; i.e., all reviews received on a day will be added and averages re-calculated in a single event.\n  - Viator performs checks on reviews - for more information, see [Key concepts - Review authenticity](#section/Key-concepts/Review-authenticity)\n"
      required:
      - totalReviews
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ProductReviewSource'
          description: Breakdown of ratings, counts and the sources of the reviews of this product
        reviewCountTotals:
          type: array
          items:
            $ref: '#/components/schemas/ProductReviewCount'
          description: Combined total number of reviews per rating across all sources for this product
        totalReviews:
          type: integer
          description: Total number of reviews from all sources for this product
          format: int64
        combinedAverageRating:
          description: Average rating for all reviews from all sources for this product
          type: number
          format: float
    Image:
      type: object
      description: Image information
      required:
      - variants
      - isCover
      properties:
        imageSource:
          $ref: '#/components/schemas/ImageSourceType'
        caption:
          type: string
          description: 'Description of this photo

            - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter

            '
        isCover:
          type: boolean
          description: '`true` if this photo is considered to be the cover (leading) photo for this product from this `imageSource`'
        variants:
          type: array
          description: Dimension/resolution variants available for this image
          items:
            $ref: '#/components/schemas/ImageVariant'
    DestinationsResponse:
      type: object
      properties:
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/DestinationDetails'
        totalCount:
          type: integer
          format: int32
          description: Total count of Destinations returned
    ItineraryDuration:
      type: object
      description: 'Duration information for this itinerary


        **Note**: Depending on whether this itinerary has a fixed or variable duration, this object will include either the `fixedValueInMinutes` element alone; or, both the `fromMinutes` and `toMinutes` elements, respectively.

        '
      properties:
        fixedDurationInMinutes:
          type: integer
          description: Duration of this itinerary (in minutes) in the case that it takes a fixed amount of time
        variableDurationFromMinutes:
          type: integer
          description: Lower limit of the duration of this itinerary (in minutes) in the case that this product's duration varies
        variableDurationToMinutes:
          type: integer
          description: Upper limit of the duration of this itinerary (in minutes) in the case that this product's duration varies
        unstructuredDuration:
          type: string
    ProductReview:
      type: object
      required:
      - reviewReference
      - language
      - publishedDate
      - text
      - title
      - machineTranslated
      - provider
      - helpfulVotes
      properties:
        reviewReference:
          type: string
          pattern: (?s).*[\S].*
          description: Unique identification code for this review
        language:
          type: string
          pattern: (?s).*[\S].*
          description: Language code for the language in which this review is written
        avatarUrl:
          type: string
          description: URL for the avatar image (if available) for the reviewer that authored this review
        publishedDate:
          type: string
          format: date-time
          description: 'Date-time stamp indicating when this review was published


            E.g.: `2021-01-02T11:17:12Z`

            '
        userName:
          type: string
          description: Username of the reviewer who submitted this review
        rating:
          type: integer
          format: int32
          description: Star-rating for this product given by this reviewer in this review
        text:
          type: string
          pattern: (?s).*[\S].*
          description: 'Main text of this review


            - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter.

            '
        title:
          type: string
          pattern: (?s).*[\S].*
          description: 'Title of this review


            - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter.

            '
        machineTranslated:
          type: boolean
          description: Indicates whether the natural-language elements of this review have been machine translated
        provider:
          type: string
          pattern: (?s).*[\S].*
          description: "Provider for this review; one of:\n\n  - `\"VIATOR\"`\n  - `\"TRIPADVISOR\"`\n"
        ownerResponse:
          type: object
          description: Response to this review from the supplier of this product if available
          required:
          - reviewReference
          - language
          - publishedDate
          - text
          - machineTranslated
          properties:
            reviewReference:
              type: string
              description: Unique identification code for this owner-response-review
            language:
              type: string
              description: Language code for the language in which this owner-response-review is written
            publishedDate:
              type: string
              format: date-time
              description: 'Date-time stamp indicating when this owner-response-review was published


                E.g.: `2021-01-02T11:17:12Z`

                '
            userName:
              type: string
              description: Username of the supplier who submitted this owner-response-review
            text:
              type: string
              description: 'Main text of this owner-response-review


                - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter.

                '
            machineTranslated:
              type: boolean
              description: Indicates whether the natural-language elements of this review have been machine translated
        helpfulVotes:
          type: integer
          format: int32
          description: Number of times this review has been labeled 'helpful' by other users
        photosInfo:
          type: array
          description: Information about any photographs that were submitted with this review
          items:
            $ref: '#/components/schemas/ReviewPhotoInfo'
    ConfirmationType:
      type: string
      description: "Machine-interpretable value encoding when bookings for this product will be confirmed; one of: \n\n  - `\"INSTANT\"` (instantly) \n  - `\"MANUAL\"` (requires manual action prior to confirmation)\n  - `\"INSTANT_THEN_MANUAL\"` (combination – subject to cutoff time)\n"
    ProductReviewsSummarySource:
      type: object
      required:
      - provider
      - totalCount
      properties:
        provider:
          type: string
          description: 'Provider for this set of reviews; one of:

            - `"VIATOR"`

            - `"TRIPADVISOR"`

            '
        reviewCounts:
          type: array
          description: Breakdown of number of reviews per rating for reviews sourced from this provider
          items:
            $ref: '#/components/schemas/ProductReviewsSummaryCount'
        totalCount:
          type: integer
          format: int64
          description: Total number of reviews for this product sourced from this provider
    FreetextSearchProductFiltering:
      type: object
      required:
      - searchTerm
      description: 'Criteria by which to filter product search results (i.e., when `searchTypes` includes `"PRODUCTS"`)

        '
      properties:
        destination:
          type: string
          description: 'Match results that are assigned this destination.

            Only Viator destination integer ID is accepted for now.

            '
        dateRange:
          type: object
          description: 'Match products that are available to be booked on one or more of the days included in this date range

            '
          properties:
            from:
              type: string
              format: date
              description: 'Match results that are available from `from` to `to`.


                - **Format**: ISO-8601 (YYYY-MM-DD) in time-zone of supplier and cannot be in the past.

                '
              example: '2020-05-29'
            to:
              type: string
              format: date
              description: "Match results that are available from `from` to `to`.\n\n- **Format**: ISO-8601 (YYYY-MM-DD) in time-zone of supplier\n- **Note**:\n  - `to` cannot be in the past and is limited to one year from the date on which the request is made.  \n  - Multi-day tours that conclude after this date will still appear in the results, so long as the tour commences prior to this date, even if they conclude on a date that is further into the future than `to`. If you wish to exclude such products from the search results, the following options are available:\n    1. Exclude all multi-day tours from the search results by filtering out any items that contain `\"itineraryType\": \"MULTI_DAY_TOUR\"`\n    2. Implement your own logic to calculate whether a product concludes after the `endDate` specified in the request by requesting full product details for the multi-day tour using [/products/{product-code}](#operation/products), determining the duration of the tour in days by the length of the `itinerary.days[]` array, and filtering this product from the search results in the event that (`from` + duration) occurs after `to`.\n"
              example: '2020-06-29'
        price:
          type: object
          description: 'Match products which have a ''from price'' within the range indicated here

            '
          properties:
            from:
              type: number
              minimum: 0
              description: 'Match results that with price within `from` to `to`

                '
            to:
              type: number
              minimum: 0.01
              description: 'Match results that with price within `from` to `to`

                '
        rating:
          type: object
          description: 'Match products that have an average rating within the range indicated here

            '
          properties:
            from:
              type: number
              minimum: 0
              description: 'Match results that with rating within `from` to `to`

                '
            to:
              type: number
              minimum: 0.01
              description: 'Match results that with rating within `from` to `to`

                '
        durationInMinutes:
          type: object
          description: 'Match products that have a duration (length of time the experience lasts) within the range indicated here

            '
          properties:
            from:
              type: integer
              minimum: 0
              description: 'Match results that with duration within `from` to `to`

                '
            to:
              type: integer
              minimum: 1
              description: 'Match results that with duration within `from` to `to`

                '
        tags:
          type: array
          items:
            type: integer
          description: 'Only return products that include **all** tag identifiers provided here. Products with child tags of any parent tags specified here will also be returned.


            See the [Resolving references](#section/Workflows/Resolving-references) section and this article: [Viator tags, explained](https://partnerresources.viator.com/travel-commerce/tags?source=specs) for more information about tags.

            '
        flags:
          type: array
          description: "Match products that have the following attributes:\n\nAny of:\n\n  - `\"NEW_ON_VIATOR\"` – products that have been added to Viator's catalogue within the past 270 days\n  - `\"SKIP_THE_LINE\"` – products that allow participants to attend a location without having to obtain a separate ticket on the occasion itself (`itinerary.skipTheLine` is `true`)\n  - `\"PRIVATE_TOUR\"` – products where only the travelers who have booked the product will be present (`itinerary.privateTour` is `true`)\n  - `\"LIKELY_TO_SELL_OUT\"` - popular products that routinely sell out (this is equivalent to filtering by tag `20757`).\n"
          items:
            $ref: '#/components/schemas/ProductSearchFlag'
        includeAutomaticTranslations:
          type: boolean
          description: 'Specifies whether proucts with automatically machine-translated content (no human oversight) should be included in the results

            '
          default: true
    FreetextSearchResponse:
      type: object
      properties:
        destinations:
          type: object
          description: 'Destinations that include the `searchTerm` when `"DESTINATIONS"` results are requested via `searchTypes`

            '
          properties:
            totalCount:
              type: integer
              format: int64
              description: Total number of destinations that may be returned if pagination is not specified in the request.
            results:
              type: array
              description: 'List of matching destinations

                '
              items:
                $ref: '#/components/schemas/DestinationSearchResult'
        attractions:
          type: object
          description: 'Attractions that include the `searchTerm` when `"ATTRACTIONS"` results are requested via `searchTypes`

            '
          properties:
            totalCount:
              type: integer
              format: int64
              description: Total number of attractions that may be returned if pagination is not specified in the request.
            results:
              type: array
              description: 'List of matching attractions

                '
              items:
                $ref: '#/components/schemas/AttractionResult'
        products:
          type: object
          description: 'Products that include the `searchTerm` when `"PRODUCTS"` results are requested via `searchTypes`

            '
          properties:
            totalCount:
              type: integer
              format: int64
              description: Total number of products that may be returned if pagination is not specified in the request.
            results:
              description: 'List of matching products

                '
              type: array
              items:
                $ref: '#/components/schemas/ProductSummary'
    ProductSummary:
      type: object
      required:
      - productCode
      - destinations
      - tags
      - flags
      properties:
        productCode:
          type: string
          description: 'Code that is the unique identifier for this product.


            - Example: `"5657BRIDGECLIMB"`

            '
        title:
          type: string
          description: "Natural-language title of this product\n\n  - **Example**: `\"Sydney BridgeClimb\"`\n  - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter\n"
        description:
          type: string
          description: 'Description of this product


            - **Example**: "Climb the Sydney Harbour Bridge with an expert guide for the ultimate Sydney experience..."

            - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
          description: Images for this product.
        videos:
          type: array
          items:
            $ref: '#/components/schemas/Video'
          description: Videos for this product.
        reviews:
          $ref: '#/components/schemas/ProductReviews'
        duration:
          $ref: '#/components/schemas/ItineraryDuration'
        pricing:
          $ref: '#/components/schemas/ProductSearchPricing'
        productUrl:
          type: string
          description: "URL for this product on the viator.com site, where the customer will complete their booking.\n\nThis URL includes all the necessary information for viator to correctly attribute and pay commission for the sale to the referring partner.\n\nIf `campaign-value` is included in the request, this URL will also include the campaign tracking value that you set.\n\nFor more information, see our guide to [Affiliate Attribution](https://partnerresources.viator.com/travel-commerce/affiliate/attribution/) on the Viator Partner Resource Center.\n\n**Note**: \n\n- This element is only returned for affiliate partners. \n- **<mark>You must use the full URL and not modify it in any way – any changes could result in failure to attribute the sale to you, which means you <u>will not</u> be paid a commission for this sale.</mark>**\n- For whitelabel partners, the productUrl will dynamically retrieve the partners custom **domain URL**, instead of defaulting to viator.com\n\n**Example format**: https://www.viator.com/tours/Sydney/Sydney-and-Bondi-Hop-on-Hop-off-Tour/d357-5010SYDNEY?mcid=42383&pid=P00045135&medium=api&version=2.0&campaign=example\n"
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/Destination'
          description: 'Destinations in which this product operates.


            - **Note**: At present, only the primary destination ID is returned; i.e., the item in the `destinations` array of the product content response for which `primary` is `true`. Therefore, `primary` will always be `true` in this response. Furthermore, the destination given here may differ from the destination specified in the request.

            '
        tags:
          type: array
          items:
            type: integer
          description: "Array of numeric tag identifiers indicating the product categories into which this product falls \n\nTo retrieve details about which tags these identifiers refer to, please use the [/products/tags](#operation/productsTags) endpoint.\n\nSee the [Resolving references](#section/Workflows/Resolving-references) section and this article: [Viator tags, explained](https://partnerresources.viator.com/travel-commerce/tags?source=specs) for more information about tags.\n"
        flags:
          type: array
          items:
            $ref: '#/components/schemas/ProductSearchFlag'
          description: "List of product attribute flags specified in the request\n\nMay include any of:\n\n  - `\"NEW_ON_VIATOR\"` - products that have been added to Viator's catalogue within the past 270 days\n  - `\"FREE_CANCELLATION\"` – products that have a cancellation policy that allows for free cancellation (i.e., excludes products for which `cancellationPolicy.type` is `\"ALL_SALES_FINAL\"` in the product content response)\n  - `\"SKIP_THE_LINE\"` – products that allow participants to attend a location without having to obtain a separate ticket on the occasion itself (`itinerary.skipTheLine` is `true`)\n  - `\"PRIVATE_TOUR\"` – products where only the travelers who have booked the product will be present (`itinerary.privateTour` is `true`)\n  - `\"SPECIAL_OFFER\"` – products that have a pricing discount available (i.e., `summary.fromPriceBeforeDiscount` will be present in the response from [/availability/schedules/{product-code}](#operation/availabilitySchedules))\n  - `\"LIKELY_TO_SELL_OUT\"` - popular products that routinely sell out (this is equivalent to filtering by tag `20757`).\n"
        confirmationType:
          $ref: '#/components/schemas/ConfirmationType'
        itineraryType:
          $ref: '#/components/schemas/ItineraryType'
        translationInfo:
          $ref: '#/components/schemas/TranslationDetails'
    AvailabilityScheduleSummary:
      type: object
      description: 'Information about the lowest price available for this product


        **Note**: The pricing information given here is based on the recommended retail price (RRP). While affiliate partners must sell at this price, merchant partners set their own prices according to their own margins and booking fees; therefore, merchant partners must calculate their own from-price for display, rather than using these values, unless they have elected to sell at the RRP.

        '
      required:
      - fromPrice
      properties:
        fromPrice:
          type: number
          description: 'Lowest per-person retail price for this product, calculated according to the price for a group of at least two standard participants (or, the smallest bookable group if more than two participants are required) for a period not exceeding 384 days into the future.

            This value can be used to advertise a ''from''-price; e.g., "From $99 per person"

            '
        fromPriceBeforeDiscount:
          type: number
          description: 'If the product is presently discounted, this field shows what the value of `fromPrice` would be if no discount had been applied; otherwise, it will be absent.

            '
    FreetextSearchRequest:
      type: object
      required:
      - searchTerm
      - currency
      - searchTypes
      properties:
        searchTerm:
          type: string
          description: 'Return results that contain this free-text search term

            '
        productFiltering:
          $ref: '#/components/schemas/FreetextSearchProductFiltering'
        productSorting:
          $ref: '#/components/schemas/FreetextSearchProductSorting'
        searchTypes:
          type: array
          description: 'Specifies the domain(s) in which to search for the `searchTerm` and the respective pagination details for each type of search results

            '
          minItems: 1
          maxItems: 3
          items:
            $ref: '#/components/schemas/SearchType'
        currency:
          type: string
          format: currency
          description: 'Currency code of price range in request filter and the prices in response.


            One of: `"AED"`, `"ARS"`, `"AUD"`, `"BRL"`, `"CAD"`, `"CHF"`, `"CLP"`, `"CNY"`, `"COP"`, `"DKK"`, `"EUR"`, `"FJD"`, `"GBP"`, `"HKD"`, `"IDR"`, `"ILS"`, `"INR"`, `"ISK"`, `"JPY"`, `"KRW"`, `"MXN"`, `"MYR"`, `"NOK"`, `"NZD"`, `"PEN"`, `"PHP"`, `"PLN"`, `"RUB"`, `"SEK"`, `"SGD"`, `"THB"`, `"TRY"`, `"TWD"`, `"USD"`, `"VND"`, `"ZAR"`.

            '
    Location:
      type: object
      description: Location detail
      required:
      - reference
      - provider
      properties:
        reference:
          type: string
          pattern: (?s).*[\S].*
          description: Unique identifier for this location as given in the request
        provider:
          $ref: '#/components/schemas/LocationProvider'
      discriminator:
        propertyName: provider
        mapping:
          TRIPADVISOR: '#/components/schemas/ResolvedLocation'
          GOOGLE: '#/components/schemas/ProvidedLocation'
    ProductSearchFlag:
      type: string
      description: "One of:\n\n  - `\"NEW_ON_VIATOR\"` – products that have been added to Viator's catalogue within the past 270 days\n  - `\"SKIP_THE_LINE\"` – products that allow participants to attend a location without having to obtain a separate ticket on the occasion itself (`itinerary.skipTheLine` is `true`)\n  - `\"PRIVATE_TOUR\"` – products where only the travelers who have booked the product will be present (`itinerary.privateTour` is `true`)\n  - `\"SPECIAL_OFFER\"` – products that have a pricing discount available (i.e., `summary.fromPriceBeforeDiscount` will be present in the response from [/availability/schedules/{product-code}](#operation/availabilitySchedules))\n  - `\"LIKELY_TO_SELL_OUT\"` - popular products that routinely sell out (this is equivalent to filtering by tag `20757`).\n"
    DestinationDetails:
      type: object
      required:
      - destinations
      - destinationId
      - name
      - type
      - parentDestinationId
      - images
      - lookupId
      properties:
        destinationId:
          type: integer
          format: int64
          description: 'Unique numeric identifier of the destination


            Use this value as the `destinationId` input field for other Partner API services. It matches the `destinations[].ref` in /products endpoints.

            '
        name:
          type: string
          description: Name of the destination
        type:
          type: string
          description: 'Destination type specifier. One of:

            - `"AREA"`

            - `"CITY"`

            - `"COUNTRY"`

            - `"COUNTY"`

            - `"DISTRICT"`

            - `"HAMLET"`

            - `"ISLAND"`

            - `"NATIONAL PARK"`

            - `"NEIGHBORHOOD"`

            - `"PENINSULA"`

            - `"PROVINCE"`

            - `"REGION"`

            - `"STATE"`

            - `"TOWN"`

            - `"UNION TERRITORY"`

            - `"VILLAGE"`

            - `"WARD"`


            **Note**: New values can be added and consumers should be prepared to handle this in a future-proof manner.

            '
        parentDestinationId:
          type: integer
          format: int64
          description: Unique numeric identifier of the destination's parent destination
        lookupId:
          type: string
          description: 'Hierarchy location specifier for the destination that is a concatenation of all parentDestinationId and destinationId codes. Hierarchy has no limitation as to the amount of levels.

            - **Example**: `"8.77.278.672.59070"` for Honolulu

            - **Format**: [top level parentDestinationId].[any additional parentDestinationId].[destinationId]

            '
        destinationUrl:
          type: string
          description: "**URL** to forward users to in order to complete their purchase on the Viator site\n\nThis URL includes all the necessary information for Viator to correctly attribute and pay commission for the sale to the referring partner.\n\nIf `campaign-value` is included in the request, this URL will also include the campaign tracking value that you set.\n\nFor more information, see our guide to <a href=\"https://partnerresources.viator.com/blog/attribution/\">Affiliate Attribution</a> on the Viator Partner Resource Center.\n\n**Note**:\n  - This element is only returned for affiliate partners.\n  - **You must use the full URL and not modify it in any way – any changes could result in failure to attribute the sale to you, which means you will not be paid a commission for this sale.**\n  - For whitelabel partners, the destinationUrl will dynamically retrieve the partners custom **domain URL**, instead of defaulting to viator.com\n\nExample:\n  - https://www.viator.com/Las-Vegas/d684-ttd?mcid=42383&pid=P00045135&medium=api&version=2.0&campaign=example\n"
        defaultCurrencyCode:
          type: string
          description: 'Main currency used in the destination


            - Example: `"EUR"`

            '
        timeZone:
          type: string
          pattern: (?s).*[\S].*
          description: 'Main time zone of the destination


            - Example: `"US/Pacific"`

            '
        iataCodes:
          type: array
          items:
            type: string
          description: 'IATA airport code(s) for the destination: a three-letter code defined by the International Air Transport Association (IATA) used to identify many airports around the world


            - **Example**: [`"VCE"`]

            - **Note**: if `type` is `"COUNTRY"` this field will return all available IATA codes in destination child items.

            '
        countryCallingCode:
          type: string
          description: 'International call prefix used to call phone numbers in this destination.


            - Example: `"+351"`

            '
        languages:
          type: array
          items:
            type: string
          description: 'Official language(s) of this destination.


            If more than one languages spoken, they’ll be concatenated in the response


            **Note**: it uses <a href="https://www.iso.org/iso-639-language-code">ISO-639 Set 1</a> and <a href="https://www.iso.org/iso-3166-country-codes.html">ISO-3166 Alpha-2</a> (optional) standards


            - Example: [`"en-GB"`, `"es"`]

            '
        center:
          $ref: '#/components/schemas/LocationCenter'
    LocationProvider:
      type: string
      description: "Name of the location services provider, one of:\n\n  - `\"TRIPADVISOR\"` – location details will be provided in this response\n  - `\"GOOGLE\"` – in order to retrieve details for these locations, you will need to use [Google's Places API](https://cloud.google.com/maps-platform/places).\n"
    ItineraryType:
      type: string
      description: "Machine-interpretable value specifying the type of itinerary available for this product; one of:\n\n  - `\"STANDARD\"`\n  - `\"ACTIVITY\"`\n  - `\"MULTI_DAY_TOUR\"`\n  - `\"HOP_ON_HOP_OFF\"`\n  - `\"UNSTRUCTURED\"`\n"
    SupplierProductResponse:
      type: object
      required:
      - suppliers
      description: Supplier details for the given product code
      properties:
        suppliers:
          type: array
          items:
            $ref: '#/components/schemas/SupplierProductInfo'
    ExchangeRatesRequest:
      type: object
      properties:
        sourceCurrencies:
          type: array
          description: List of three-letter currency codes for the source currencies for which to retrieve exchange rate data
          items:
            type: string
        targetCurrencies:
          type: array
          description: List of three-letter currency codes for the target currencies for which to retrieve exchange rate data
          items:
            type: string
    ImageVariant:
      type: object
      required:
      - height
      - width
      - url
      properties:
        height:
          type: integer
          description: "Height of this image in pixels\n\n  - Example: `'480'`\n"
        width:
          type: integer
          description: 'Width of this image in pixels

            - Example `''720''`

            '
        url:
          type: string
          pattern: (?s).*[\S].*
          description: 'URL from which this image can be retrieved.

            '
    BulkLocationReferencesRequest:
      type: object
      required:
      - locations
      properties:
        locations:
          type: array
          maxItems: 500
          description: 'List of location reference identifiers for which to retrieve full location details.

            '
          items:
            type: string
            pattern: (?s).*[\S].*
    Video:
      type: object
      description: Product video
      required:
      - variants
      properties:
        language:
          type: string
          description: "The language of the video content or audio track, expressed as a locale or language code (e.g., `\"en\"`, `\"es\"`, `\"fr\"`). \nIt enables localization, filtering, and correct playback selection based on user preferences.\n"
        variants:
          $ref: '#/components/schemas/VideoVariants'
    ProductReviewsSummaryCount:
      type: object
      required:
      - rating
      - count
      properties:
        rating:
          type: number
          description: This object refers to reviews with this star-rating
          format: float
        count:
          type: integer
          description: Number of reviews for this product with a star-rating of `rating`
          format: int64
    FreetextSearchProductSorting:
      type: object
      description: 'Specify the sorting method for product results (i.e., when `searchTypes` includes `"PRODUCTS"`)

        '
      properties:
        sort:
          type: string
          description: "The method of sorting product search results. One of:\n- `\"DEFAULT\"`: sorts based on search term to result relevancy in descending order.\n  - **Note**: What Viator gets paid impacts this sort order). Custom ordering is not supported; therefore, the `order` field should be omitted when this sort order is chosen.\n- `\"ITINERARY_DURATION\"`: sort by `duration`. Allow custom order.\n- `\"PRICE\"`: sort by `fromPrice`. Allow custom order.\n- `\"REVIEW_AVG_RATING\"`: sort by average review ratings in descending order . Custom order is not allowed.\n- `\"DATE_ADDED\"`: sort according to when the product was added to the viator catalogue. Allow custom order.\n"
        order:
          type: string
          description: "The direction of sorting search results.\nOne of: \n- `\"ASCENDING\"`\n- `\"DESCENDING\"`\n"
    DestinationSearchResult:
      type: object
      properties:
        id:
          type: integer
          description: "**unique numeric identifier** of the destination\n - use this value as the `destination` input field for other Viator API services.\n"
          format: int64
        name:
          type: string
          description: '**natural-language name** of the destination

            '
        parentDestinationId:
          type: integer
          format: int64
          description: '**unique numeric identifier** of the destination''s parent destination

            '
        parentDestinationName:
          type: string
          description: '**natural-language name** of the destination''s parent destination

            '
        translationInfo:
          $ref: '#/components/schemas/TranslationDetails'
        url:
          type: string
          description: 'URL of destination

            '
    AvailabilityScheduleExtraChargesSummary:
      type: object
      description: Information about the lowest price with extra charges available for this product
      required:
      - fromPrice
      - extraCharges
      properties:
        fromPrice:
          type: number
          description: '`fromPrice` value including `extraCharges` value to be paid in destination by the traveler based on their age, day of the week, time of the year or any other criteria defined by the supplier.

            This value will only be returned if the product has Extra Charges in at least one `bookableItem`.

            '
        fromPriceBeforeDiscount:
          type: number
          description: 'If the product is presently discounted, this field shows what the value of `fromPrice` would be if no discount had been applied; otherwise, it will be absent.

            '
        extraCharges:
          type: number
          description: 'The highest amount that a traveler could be asked to pay in-destination based on their age, day of the week, time of the year or any other criteria defined by the supplier for the `bookableItem` used to calculate the starting price.

            '
    ProductReviewsRequest:
      type: object
      required:
      - productCode
      - start
      - count
      - provider
      properties:
        productCode:
          type: string
          description: Retrieve reviews for the product identified by this product code
        count:
          type: integer
          format: int32
          description: Number of reviews to be returned in the response; used for pagination
        start:
          type: integer
          format: int32
          description: Position of first review to be returned in the response; used for pagination
        provider:
          type: string
          description: 'Limit the reviews returned in the response to those associated with this provider; one of:


            - `"VIATOR"` – only include reviews submitted on viator.com

            - `"TRIPADVISOR"` – only include reviews submitted on tripdavisor.com

            - `"ALL"` - include reviews from all providers

            '
        sortBy:
          type: string
          description: 'One of:


            - `"HIGHEST_RATING_PER_LOCALE"` – sort by rating (descending) *for each locale*

            - `"MOST_RECENT_PER_LOCALE"` – sort by publication date (descending) *for each locale*

            - `"MOST_HELPFUL_PER_LOCALE"` – sort by the number of ''helpful'' votes (descending) *for each locale*

            - `"HIGHEST_RATING"` –  sort by rating (descending) *across all locales*

            - `"MOST_RECENT"` – sort by publication date (descending) *across all locales*

            - `"MOST_HELPFUL"` – sort by the number of ''helpful'' votes (descending) *across all locales*


            If this element is omitted, the default sort option is `"MOST_RECENT"`

            '
        reviewsForNonPrimaryLocale:
          type: boolean
          description: 'Controls whether reviews that cannot be provided in the requested language are included.


            When `false`, returns only reviews that can be provided in the requested language, either originally or via machine translation.

            When `true`, additional reviews may be returned in their original language when no requested-language version is available.

            '
        showMachineTranslated:
          type: boolean
          description: 'When `true`, returns machine-translated review text in the requested language, where available, based on `Accept-Language`. When `false`, reviews are returned in their original language, even if a machine translation exists. This does not filter reviews by their original language.

            '
        ratings:
          type: array
          description: 'Only include reviews with these ratings


            **Example**: `[3,4,5]` to receive reviews with a rating of 3 or above

            '
          items:
            type: integer
            format: int32
    ProductReviewsResponse:
      type: object
      required:
      - reviews
      - totalReviewsSummary
      - totalReviewCount
      - filteredReviewCountByProvider
      properties:
        reviews:
          type: array
          description: 'Reviews and review metadata for this product, from `start` to (`start`+`count`)

            '
          items:
            $ref: '#/components/schemas/ProductReview'
        totalReviewsSummary:
          type: object
          description: Summary of the set of all reviews available for this product
          properties:
            sources:
              type: array
              description: Breakdown of review summaries for each review source
              items:
                $ref: '#/components/schemas/ProductReviewsSummarySource'
            reviewCountTotals:
              type: array
              description: Breakdown of number of reviews per rating for all reviews of this product from all sources
              items:
                $ref: '#/components/schemas/ProductReviewsSummaryCount'
            totalReviews:
              description: Total number of reviews available for this product from all sources
              type: integer
              format: int64
        filteredReviewsSummary:
          type: object
          description: Summary of the set of reviews available for this product filtered by `provider`, `ratings`, `reviewsForNonPrimaryLocale` and `showMachineTranslated` in the request
          properties:
            sources:
              type: array
              description: Breakdown of review summaries for each review source
              items:
                type: object
                properties:
                  provider:
                    type: string
                    description: 'Provider for this set of reviews; one of:

                      - `"VIATOR"`

                      - `"TRIPADVISOR"`

                      '
                  totalCount:
                    type: integer
                    format: int64
                    description: Total number of reviews for this product sourced from this provider
            totalReviews:
              description: Total number of reviews available for this product from all sources
              type: integer
              format: int64
    SupplierProductInfo:
      type: object
      required:
      - reference
      - name
      - type
      - productCode
      properties:
        reference:
          type: string
          pattern: (?s).*[\S].*
          description: Unique reference code for this supplier
        name:
          type: string
          pattern: (?s).*[\S].*
          description: Name of this supplier
        supplierInfoVerified:
          type: boolean
          description: Supplier has passed Viator's 'know your business customer' checks required by the DSA.
        supplierAgreedToLegalCompliance:
          type: boolean
          description: 'The operator has self-certified that they are committed to only offer services that comply with applicable laws, including EU law


            Note: If no information is passed, it means Supplier is still going through self-certification

            '
        registrationCountry:
          type: string
          pattern: (?s).*[\S].*
          description: Country where the supplier is registered (if supplier operates through a registered business entity)
        tradeRegisterName:
          type: string
          pattern: (?s).*[\S].*
          description: Name of business register (if supplier operates through a registered business entity)
        registeredBusinessNumber:
          type: string
          pattern: (?s).*[\S].*
          description: A unique identifier assigned to a business entity by a government authority for the purpose of regulatory compliance, taxation, and other official transactions
        type:
          type: string
          pattern: (?s).*[\S].*
          description: "Whether this supplier is a business or an individual\n\nOne of:\n  - `\"BUSINESS\"`\n  - `\"INDIVIDUAL\"`\n\nNote: BUSINESS includes individuals who are acting as sole traders\n"
        logo:
          type: string
          pattern: (?s).*[\S].*
          description: Supplier logo / trademark
        productCode:
          type: string
          pattern: (?s).*[\S].*
          description: Product code to which this supplier search result pertains
        contact:
          $ref: '#/components/schemas/ContactDetails'
    Destination:
      type: object
      description: 'Reference details about a destination associated with this product

        '
      required:
      - ref
      - primary
      properties:
        ref:
          type: string
          pattern: (?s).*[\S].*
          description: 'Unique numeric identifier for this destination

            - **Note**: Full details about the destination associated with this reference can be found in the response from the [/destinations](#operation/destinations) endpoint.

            '
        primary:
          type: boolean
          description: '**True** if this is the primary destination associated with this product'
    ExchangeRatesResponse:
      type: object
      properties:
        rates:
          type: array
          description: Currency exchange rates
          items:
            $ref: '#/components/schemas/ExchangeRateItem'
    ProductReviewSource:
      type: object
      required:
      - provider
      - totalCount
      properties:
        provider:
          type: string
          description: "Source of the review; one of:\n  - `\"VIATOR\"`\n  - `\"TRIPADVISOR\"`\n"
        reviewCounts:
          type: array
          items:
            $ref: '#/components/schemas/ProductReviewCount'
          description: Breakdown of ratings and counts for reviews from this source for this product
        totalCount:
          type: integer
          description: Total number of reviews for all ratings of this product
          format: int64
        averageRating:
          description: 'Average rating across all reviews from this source for this product


            This average is equal to the sum of the product of each rating and its count divided by the sum of the counts.

            '
          type: number
          format: float
    VideoVariants:
      type: object
      description: 'An object of available video delivery options for the same content, structured by delivery strategy.

        Each variant defines how the video can be retrieved and played, optimized for different playback capabilities and network conditions.

        Clients should select the best-supported variant and ignore unknown variant keys for forward compatibility.

        '
      required:
      - streaming
      - progressive
      properties:
        streaming:
          type: array
          description: "Streaming-optimized video source, intended for real-time playback. \nStreaming variants provide a single entry point that allows the player to automatically select bitrate and resolution based on network conditions and device capabilities.\n"
          items:
            $ref: '#/components/schemas/StreamingVideoVariant'
        progressive:
          type: array
          description: Progressive download video source intended for immediate or offline playback
          items:
            $ref: '#/components/schemas/ProgressiveVideoVariant'
    StreamingVideoVariant:
      type: object
      description: Streaming video variant
      required:
      - protocol
      - format
      - url
      properties:
        protocol:
          type: string
          description: The streaming protocol used to deliver the video (e.g. `HLS`). This defines how the playlist and media segments are interpreted by the player.
          example: HLS
        format:
          type: string
          description: The playlist or manifest format for the streaming protocol (e.g. `M3U8`).
          example: M3U8
        url:
          type: string
          description: The URL of the streaming playlist that serves as the entry point for video playback.
          example: https://hare-dynamic-media-cdn.tripadvisor.com/media/video-v/31/1f/5b/68/vid-693-rome-2017-vatican_1080.m3u8
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
          description: "Timestamp of the request. \n\n**Example**: `\"2019-09-17T03:20:45.737043Z\"`\n"
        trackingId:
          type: string
          description: "Tracking identifier for this error response. \n\n**Example**: `\"0A871A13:DE2A_0A8712F9:01BB_5DCCC98C_260DAA:0D5B\"`\n"
    ProductSearchPricing:
      type: object
      description: "High-level summary of product prices\n  \n  - **Note**: This price may not be available during the date range specified in the `filtering` section of the request\n"
      required:
      - fromPrice
      - currency
      properties:
        summary:
          allOf:
          - type: object
            properties:
              fromPriceBeforeDiscount:
                type: number
                description: If the product is presently discounted, this field shows what the value of `fromPrice` would be if no discount had been applied; otherwise, it will be equal to `fromPrice`.
          - $ref: '#/components/schemas/AvailabilityScheduleSummary'
        currency:
          type: string
          description: Currency code for the currency in which the prices in `summary` are denominated
        partnerNetFromPrice:
          type: number
          description: "Lowest per-person price for this product expressed as the amount (excluding the booking fee)that merchant partners using the markup/booking-fee pricing scheme would be invoiced. \n\nThis value is calculated according to the price for a group of at least two standard participants (or, the smallest bookable group if more than two participants are required) for a period not exceeding 384 days into the future.\n\n**Note**: This property is only relevant to you and will only be returned if you are a markup merchant partner (i.e., you are a merchant and are not using the commission-based pricing model).\n"
        extraChargesSummary:
          $ref: '#/components/schemas/AvailabilityScheduleExtraChargesSummary'
    ProductReviewsSummary:
      type: object
      description: "Summary of reviews and ratings for this attraction\n\n**Note**:\n  - Review data is updated daily; i.e., all reviews received on a day will be added and averages re-calculated in a single event.\n  - Viator performs checks on reviews - for more information, see [Review authenticity](#section/Key-concepts/Review-authenticity)\n"
      required:
      - totalReviews
      properties:
        sources:
          type: array
          description: Breakdown of review summaries for each review source
          items:
            $ref: '#/components/schemas/ProductReviewsSummarySource'
        reviewCountTotals:
          type: array
          description: Breakdown of number of reviews per rating for all reviews of this product
          items:
            $ref: '#/components/schemas/ProductReviewsSummaryCount'
        totalReviews:
          description: Total number of reviews available for this product from all sources
          type: integer
          format: int64
        combinedAverageRating:
          description: Combined average rating for this product across all reviews from all sources
          type: number
          format: float
    ImageSourceType:
      type: string
      description: "Machine-interpretable value indicating the source of this image; one of:\n\n  - `\"SUPPLIER_PROVIDED\"`\n  - `\"PROFESSIONAL\"`\n"
    BulkSupplierProductRequest:
      type: object
      required:
      - productCodes
      properties:
        productCodes:
          type: array
          items:
            type: string
            pattern: (?s).*[\S].*
            description: Product code of the product you wish to find the supplier information for
    ProductReviewCount:
      type: object
      description: Breakdown of number of reviews for each rating of this product
      required:
      - rating
      - count
      properties:
        rating:
          type: number
          description: Rating given in the review for this product
          format: float
        count:
          type: integer
          description: How many reviews of this product have this rating
          format: int64
    AttractionResult:
      type: object
      properties:
        id:
          type: integer
          description: unique numeric identifier of the attraction
        name:
          type: string
          description: 'natural-language title of the attraction


            **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter

            '
        primaryDestinationId:
          type: integer
          description: unique numeric identifier of this attraction's primary destination
        description:
          type: string
          description: "natural-language descriptive text for this attraction\n\n**Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter\n  - Access to this information is only available if it is enabled for your account. Please [reach out to our support team](#section/Support) if you would like to take advantage of our unique content.\n  - You must ensure that your site is configured such that **no Viator Unique Content is indexed by any search engine**. This is a requirement for site certification. For more information, see [Key concepts – Protecting unique content](#section/Key-concepts/Protecting-unique-content)\n"
        destinationName:
          type: string
          description: 'natural-language name of the primary destination associated with this attraction


            **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter

            '
        productsCount:
          type: integer
          description: Number of products associated with this attraction
        translationInfo:
          $ref: '#/components/schemas/TranslationDetails'
        reviews:
          $ref: '#/components/schemas/ProductReviewsSummary'
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image'
  examples:
    suppliers-search-product-codes-individual-example:
      summary: Individual - Supplier agreed to legal compliance
      value:
        suppliers:
        - reference: SUPPLIER-Ydyu2Yd4RacdUHUUwvWuQA==
          name: Phú Lành Travel
          supplierAgreedToLegalCompliance: true
          type: INDIVIDUAL
          productCode: 383247P2
    search-freetext-example:
      summary: /search/freetext
      value:
        destinations:
          totalCount: 1
          results:
          - id: 50762
            name: Big Bear
            parentDestinationId: 272
            parentDestinationName: California
            translationInfo:
              containsMachineTranslatedText: false
        attractions:
          totalCount: 1174
          results:
          - id: 10674
            name: Big Sur
            primaryDestinationId: 5250
            description: <p>Big Sur, a stunning 71-mile (114-kilometer) stretch of California’s Central Coast, boasts epic views of the mighty Pacific and jagged, dramatic coastline. Running from the Carmel Highlands to San Simeon, the unincorporated area is very lightly populated—in fact it’s the longest stretch of undeveloped coastline in the lower United States.</p>
            destinationName: Monterey & Carmel
            productsCount: 41
            translationInfo:
              containsMachineTranslatedText: false
            reviews:
              sources:
              - provider: VIATOR
                reviewCounts:
                - rating: 1
                  count: 3
                - rating: 2
                  count: 1
                - rating: 3
                  count: 0
                - rating: 4
                  count: 4
                - rating: 5
                  count: 9
                totalCount: 17
                averageRating: 3.882353
              reviewCountTotals:
              - rating: 1
                count: 3
              - rating: 2
                count: 1
              - rating: 3
                count: 0
              - rating: 4
                count: 4
              - rating: 5
                count: 9
              totalReviews: 17
              combinedAverageRating: 3.882353
            images:
            - imageSource: SUPPLIER_PROVIDED
              isCover: true
              variants:
              - height: 800
                width: 3200
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-content--1x-1/0b/27/ac/ce.jpg
              - height: 400
                width: 1600
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-content--1x-1/0b/27/ac/ce.jpg
              - height: 720
                width: 1200
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-content--1x-1/0b/27/ac/ce.jpg
              - height: 248
                width: 414
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-content--1x-1/0b/27/ac/ce.jpg
              - height: 50
                width: 50
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-50x50/0b/27/ac/d0.jpg
              - height: 100
                width: 100
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-100x100/0b/27/ac/d0.jpg
              - height: 200
                width: 200
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-200x200/0b/27/ac/d0.jpg
              - height: 400
                width: 400
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-400x400/0b/27/ac/d0.jpg
              - height: 40
                width: 60
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-60x40/0b/27/ac/d0.jpg
              - height: 80
                width: 120
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-120x80/0b/27/ac/d0.jpg
              - height: 120
                width: 180
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-180x120/0b/27/ac/d0.jpg
              - height: 160
                width: 240
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-240x160/0b/27/ac/d0.jpg
              - height: 240
                width: 360
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/0b/27/ac/d0.jpg
              - height: 320
                width: 480
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/0b/27/ac/d0.jpg
              - height: 360
                width: 540
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/0b/27/ac/d0.jpg
              - height: 446
                width: 674
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/0b/27/ac/d0.jpg
              - height: 480
                width: 720
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0b/27/ac/d0.jpg
              - height: 118
                width: 210
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-210x118/0b/27/ac/d0.jpg
              - height: 75
                width: 75
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-75x75/0b/27/ac/d0.jpg
              - height: 109
                width: 154
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/0b/27/ac/d0.jpg
        products:
          totalCount: 184
          results:
          - productCode: 318847P2
            title: Sunset Cruise & Manta Night Snorkeling Charter
            description: You enjoy sunset cruising, and then, You enjoy the world famous Manta ray night snorkeling by private charter on our comfortable Luxury boat. It will be a wonderful and unforgettable experience of your life!
            images:
            - imageSource: SUPPLIER_PROVIDED
              caption: ''
              isCover: true
              variants:
              - height: 50
                width: 50
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-50x50/0c/0c/0a/16.jpg
              - height: 100
                width: 100
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-100x100/0c/0c/0a/16.jpg
              - height: 200
                width: 200
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-200x200/0c/0c/0a/16.jpg
              - height: 400
                width: 400
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-400x400/0c/0c/0a/16.jpg
              - height: 40
                width: 60
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-60x40/0c/0c/0a/16.jpg
              - height: 80
                width: 120
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-120x80/0c/0c/0a/16.jpg
              - height: 120
                width: 180
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-180x120/0c/0c/0a/16.jpg
              - height: 160
                width: 240
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-240x160/0c/0c/0a/16.jpg
              - height: 240
                width: 360
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/0c/0c/0a/16.jpg
              - height: 320
                width: 480
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/0c/0c/0a/16.jpg
              - height: 360
                width: 540
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/0c/0c/0a/16.jpg
              - height: 446
                width: 674
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/0c/0c/0a/16.jpg
              - height: 480
                width: 720
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0c/0c/0a/16.jpg
              - height: 118
                width: 210
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-210x118/0c/0c/0a/16.jpg
              - height: 75
                width: 75
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-75x75/0c/0c/0a/16.jpg
              - height: 109
                width: 154
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/0c/0c/0a/16.jpg
            reviews:
              sources:
              - provider: TRIPADVISOR
                totalCount: 1
                averageRating: 5
              totalReviews: 1
              combinedAverageRating: 5
            duration:
              fixedDurationInMinutes: 180
            confirmationType: INSTANT
            itineraryType: ACTIVITY
            pricing:
              summary:
                fromPrice: 990
                fromPriceBeforeDiscount: 990
              partnerNetFromPrice: 822.39
              currency: USD
            destinations:
            - ref: '669'
              primary: true
            tags:
            - 21956
            - 21951
            - 21949
            - 22049
            - 21959
            - 21954
            - 22144
            - 21464
            - 20757
            - 21442
            - 11912
            - 21952
            - 22083
            - 12052
            flags:
            - FREE_CANCELLATION
            - PRIVATE_TOUR
            - LIKELY_TO_SELL_OUT
            translationInfo:
              containsMachineTranslatedText: false
              translationSource: ORIGINAL
          - productCode: 35441P11
            title: Jackson Hole & Grand Teton Park - Full-Day Wildlife Tour
            description: 'Join us for an Amazing day in Jackson Hole as we explore the wildlife sweet spots of the area to search for Elk, Big Horn Sheep, Moose, Bison, Bald Eagles, Coyotes, Foxes and maybe more!  Your guide will pick you up in one of our tall, comfortable vans or SUVs at 8:00am from your lodging in Teton Village or the Town of Jackson, WY and drop you back off around 4:00pm.  Your guide will educate you on the many features of the area including the history, wildlife & more.


              Cost includes:  Transportation, Tour Guide, Light Breakfast, Lunch, Park Entry Fee, Elk Refuge Sleigh Ride (Dec 15-Apr 5) and use of Binoculars.  Guide gratuity not included. '
            images:
            - imageSource: SUPPLIER_PROVIDED
              caption: ''
              isCover: true
              variants:
              - height: 50
                width: 50
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-50x50/0b/9b/c1/b3.jpg
              - height: 100
                width: 100
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-100x100/0b/9b/c1/b3.jpg
              - height: 200
                width: 200
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-200x200/0b/9b/c1/b3.jpg
              - height: 400
                width: 400
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-400x400/0b/9b/c1/b3.jpg
              - height: 40
                width: 60
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-60x40/0b/9b/c1/b3.jpg
              - height: 80
                width: 120
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-120x80/0b/9b/c1/b3.jpg
              - height: 120
                width: 180
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-180x120/0b/9b/c1/b3.jpg
              - height: 160
                width: 240
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-240x160/0b/9b/c1/b3.jpg
              - height: 240
                width: 360
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/0b/9b/c1/b3.jpg
              - height: 320
                width: 480
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/0b/9b/c1/b3.jpg
              - height: 360
                width: 540
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/0b/9b/c1/b3.jpg
              - height: 446
                width: 674
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/0b/9b/c1/b3.jpg
              - height: 480
                width: 720
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0b/9b/c1/b3.jpg
              - height: 118
                width: 210
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-210x118/0b/9b/c1/b3.jpg
              - height: 75
                width: 75
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-75x75/0b/9b/c1/b3.jpg
              - height: 109
                width: 154
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/0b/9b/c1/b3.jpg
            reviews:
              sources:
              - provider: TRIPADVISOR
                totalCount: 3
                averageRating: 5
              totalReviews: 3
              combinedAverageRating: 5
            duration:
              fixedDurationInMinutes: 480
            confirmationType: INSTANT
            itineraryType: UNSTRUCTURED
            pricing:
              summary:
                fromPrice: 975
                fromPriceBeforeDiscount: 975
              partnerNetFromPrice: 809.93
              currency: USD
            destinations:
            - ref: '51006'
              primary: true
            tags:
            - 12029
            - 21946
            - 20757
            - 22083
            - 21860
            - 12028
            flags:
            - LIKELY_TO_SELL_OUT
            translationInfo:
              containsMachineTranslatedText: false
              translationSource: ORIGINAL
          - productCode: 30433P3
            title: Kona Sport-Fishing Private Charter - 6 Hours
            description: Enjoy 6 hours out on the water off the Kona Coast on this private chartered fishing and boating excursion. Sit back, relax and drink in the amazing blue scenery or, pole in hands, wait to hopefully catch a big one. All fishing equipment is complimentary so it doesn't matter if you're a beginner or an expert. Not into fishing? Then request a fishing and snorkeling combo which makes for a fun-family excursion.
            images:
            - imageSource: SUPPLIER_PROVIDED
              caption: Mahimahi
              isCover: true
              variants:
              - height: 50
                width: 50
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-50x50/06/e5/a5/4e.jpg
              - height: 100
                width: 100
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-100x100/06/e5/a5/4e.jpg
              - height: 200
                width: 200
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-200x200/06/e5/a5/4e.jpg
              - height: 400
                width: 400
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-400x400/06/e5/a5/4e.jpg
              - height: 40
                width: 60
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-60x40/06/e5/a5/4e.jpg
              - height: 80
                width: 120
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-120x80/06/e5/a5/4e.jpg
              - height: 120
                width: 180
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-180x120/06/e5/a5/4e.jpg
              - height: 160
                width: 240
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-240x160/06/e5/a5/4e.jpg
              - height: 240
                width: 360
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-360x240/06/e5/a5/4e.jpg
              - height: 320
                width: 480
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-480x320/06/e5/a5/4e.jpg
              - height: 360
                width: 540
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-540x360/06/e5/a5/4e.jpg
              - height: 446
                width: 674
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/06/e5/a5/4e.jpg
              - height: 480
                width: 720
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/06/e5/a5/4e.jpg
              - height: 118
                width: 210
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-210x118/06/e5/a5/4e.jpg
              - height: 75
                width: 75
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-75x75/06/e5/a5/4e.jpg
              - height: 109
                width: 154
                url: https://hare-media-cdn.tripadvisor.com/media/attractions-splice-spp-154x109/06/e5/a5/4e.jpg
            reviews:
              sources:
              - provider: VIATOR
                totalCount: 1
                averageRating: 5
              - provider: TRIPADVISOR
                totalCount: 19
                averageRating: 4
              totalReviews: 20
              combinedAverageRating: 4.2
            duration:
              fixedDurationInMinutes: 360
            confirmationType: INSTANT
            itineraryType: STANDARD
            pricing:
              summary:
                fromPrice: 969.41
                fromPriceBeforeDiscount: 969.41
              partnerNetFromPrice: 774.31
              currency: USD
            destinations:
            - ref: '669'
              primary: true
            tags:
            - 21946
            - 20757
            - 11889
            - 22083
            - 11929
            - 11941
            - 20255
            flags:
            - FREE_CANCELLATION
            - PRIVATE_TOUR
            - LIKELY_TO_SELL_OUT
            translationInfo:
              containsMachineTranslatedText: false
              translationSource: ORIGINAL
    products-reviews-example:
      summary: /products/reviews
      value:
        reviews:
        - reviewReference: REV-q6mwlHKh14wicyE6pG4nptLgIzdbv1Mmpuq6xA1q7hc=
          language: en
          publishedDate: '2021-06-05T03:28:52Z'
          userName: junehV5012PE
          rating: 5
          text: We thoroughly  enjoyed  our  2 days on the  bus. James and the other two  drivers  were  so friendly  and  helpful  with  where we  wanted  to  go.  Can't  recommend  them  highly  enough.  The  online  price  was  great  too
          title: Great  way  to  see  Sydney
          machineTranslated: false
          provider: TRIPADVISOR
          ownerResponse:
            reviewReference: REV-Nf8eTVCosx7+S3kjeNef6f4akSq5yUt+15A5Xvv+fCQ=
            language: en
            publishedDate: '2021-06-15T03:06:31Z'
            userName: PamelaS3823
            text: 'Thank you for joining the Big Bus tours and for your feedback: I will be certain to pass on your compliments to the drivers. '
            machineTranslated: false
          helpfulVotes: 0
        - reviewReference: REV-9TpCW7MX6+wdcvBsEvCaNbYGb/umSSBgT1YYS/a4PnI=
[...]
